<div class="modal-header" (contextmenu)="__elementSelectionService.select('1516337914',$event)" [ngStyle]="__elementSelectionService.getStyles('1516337914')"(click)='__elementSelectionService.clear()'>
    <h4 class="modal-title" id="showHealthLabel" (contextmenu)="__elementSelectionService.select('1449145239',$event)" [ngStyle]="__elementSelectionService.getStyles('1449145239')">
		{{'health.indicator.' + baseName(currentHealth.name) | translate}}
        {{subSystemName(currentHealth.name)}}
    </h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')" (contextmenu)="__elementSelectionService.select('1167079627',$event)" [ngStyle]="__elementSelectionService.getStyles('1167079627')"><span aria-hidden="true" (contextmenu)="__elementSelectionService.select('1859702889',$event)" [ngStyle]="__elementSelectionService.getStyles('1859702889')">&#215;</span>
    </button>
</div>
<div class="modal-body pad" (contextmenu)="__elementSelectionService.select('1556116409',$event)" [ngStyle]="__elementSelectionService.getStyles('1556116409')"(click)='__elementSelectionService.clear()'>
    <div *ngIf="currentHealth.details" (contextmenu)="__elementSelectionService.select('228142231',$event)" [ngStyle]="__elementSelectionService.getStyles('228142231')">
        <h5 jhiTranslate="health.details.properties" (contextmenu)="__elementSelectionService.select('1521633848',$event)" [ngStyle]="__elementSelectionService.getStyles('1521633848')">Properties</h5>
        <div class="table-responsive" (contextmenu)="__elementSelectionService.select('513832901',$event)" [ngStyle]="__elementSelectionService.getStyles('513832901')">
            <table class="table table-striped" aria-describedby="showHealthLabel" (contextmenu)="__elementSelectionService.select('911456224',$event)" [ngStyle]="__elementSelectionService.getStyles('911456224')">
                <thead (contextmenu)="__elementSelectionService.select('1927989289',$event)" [ngStyle]="__elementSelectionService.getStyles('1927989289')">
                    <tr (contextmenu)="__elementSelectionService.select('985776070',$event)" [ngStyle]="__elementSelectionService.getStyles('985776070')">
                        <th scope="col" class="text-left" jhiTranslate="health.details.name" (contextmenu)="__elementSelectionService.select('667089156',$event)" [ngStyle]="__elementSelectionService.getStyles('667089156')">Name</th>
                        <th scope="col" class="text-left" jhiTranslate="health.details.value" (contextmenu)="__elementSelectionService.select('201696939',$event)" [ngStyle]="__elementSelectionService.getStyles('201696939')">Value</th>
                    </tr>
                </thead>
                <tbody (contextmenu)="__elementSelectionService.select('671779970',$event)" [ngStyle]="__elementSelectionService.getStyles('671779970')">
                    <tr *ngFor="let entry of currentHealth.details.details | keys" (contextmenu)="__elementSelectionService.select('520235466',$event)" [ngStyle]="__elementSelectionService.getStyles('520235466')">
                        <td class="text-left" (contextmenu)="__elementSelectionService.select('792259063',$event)" [ngStyle]="__elementSelectionService.getStyles('792259063')">{{entry.key}}</td>
                        <td class="text-left" (contextmenu)="__elementSelectionService.select('237580869',$event)" [ngStyle]="__elementSelectionService.getStyles('237580869')">{{readableValue(entry.value)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="currentHealth.error" (contextmenu)="__elementSelectionService.select('1924911518',$event)" [ngStyle]="__elementSelectionService.getStyles('1924911518')">
        <h4 jhiTranslate="health.details.error" (contextmenu)="__elementSelectionService.select('2088364666',$event)" [ngStyle]="__elementSelectionService.getStyles('2088364666')">Error</h4>
            <pre (contextmenu)="__elementSelectionService.select('342283091',$event)" [ngStyle]="__elementSelectionService.getStyles('342283091')">{{currentHealth.error}}</pre>
    </div>
</div>
<div class="modal-footer" (contextmenu)="__elementSelectionService.select('351330914',$event)" [ngStyle]="__elementSelectionService.getStyles('351330914')"(click)='__elementSelectionService.clear()'>
    <button data-dismiss="modal" class="btn btn-secondary float-left" type="button" (click)="activeModal.dismiss('closed')" (contextmenu)="__elementSelectionService.select('1394237568',$event)" [ngStyle]="__elementSelectionService.getStyles('1394237568')">Done</button>
</div>
