<div (contextmenu)="__elementSelectionService.select('503354529',$event)" [ngStyle]="__elementSelectionService.getStyles('503354529')"(click)='__elementSelectionService.clear()'>
    <h2 (contextmenu)="__elementSelectionService.select('2006581486',$event)" [ngStyle]="__elementSelectionService.getStyles('2006581486')">
        <span id="health-page-heading" jhiTranslate="health.title" (contextmenu)="__elementSelectionService.select('1839540000',$event)" [ngStyle]="__elementSelectionService.getStyles('1839540000')">Health Checks</span>
        <button class="btn btn-primary float-right" (click)="refresh()" (contextmenu)="__elementSelectionService.select('803302762',$event)" [ngStyle]="__elementSelectionService.getStyles('803302762')">
            <fa-icon [icon]="'sync'" (contextmenu)="__elementSelectionService.select('2094517925',$event)" [ngStyle]="__elementSelectionService.getStyles('2094517925')"></fa-icon> <span jhiTranslate="health.refresh.button" (contextmenu)="__elementSelectionService.select('1533885601',$event)" [ngStyle]="__elementSelectionService.getStyles('1533885601')">Refresh</span>
        </button>
    </h2>
    <div class="table-responsive" (contextmenu)="__elementSelectionService.select('531995851',$event)" [ngStyle]="__elementSelectionService.getStyles('531995851')">
        <table id="healthCheck" class="table table-striped" aria-describedby="health-page-heading" (contextmenu)="__elementSelectionService.select('1000028266',$event)" [ngStyle]="__elementSelectionService.getStyles('1000028266')">
            <thead (contextmenu)="__elementSelectionService.select('2038135642',$event)" [ngStyle]="__elementSelectionService.getStyles('2038135642')">
                <tr (contextmenu)="__elementSelectionService.select('1262602464',$event)" [ngStyle]="__elementSelectionService.getStyles('1262602464')">
                    <th scope="col" jhiTranslate="health.table.service" (contextmenu)="__elementSelectionService.select('2015446663',$event)" [ngStyle]="__elementSelectionService.getStyles('2015446663')">Service Name</th>
                    <th scope="col" class="text-center" jhiTranslate="health.table.status" (contextmenu)="__elementSelectionService.select('446392705',$event)" [ngStyle]="__elementSelectionService.getStyles('446392705')">Status</th>
                    <th scope="col" class="text-center" jhiTranslate="health.details.details" (contextmenu)="__elementSelectionService.select('949510179',$event)" [ngStyle]="__elementSelectionService.getStyles('949510179')">Details</th>
                </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('2103163160',$event)" [ngStyle]="__elementSelectionService.getStyles('2103163160')">
                <tr *ngFor="let health of healthData" (contextmenu)="__elementSelectionService.select('264035658',$event)" [ngStyle]="__elementSelectionService.getStyles('264035658')">
                    <td (contextmenu)="__elementSelectionService.select('1319795293',$event)" [ngStyle]="__elementSelectionService.getStyles('1319795293')">{{'health.indicator.' + baseName(health.name) | translate}} {{subSystemName(health.name)}}</td>
                    <td class="text-center" (contextmenu)="__elementSelectionService.select('893948627',$event)" [ngStyle]="__elementSelectionService.getStyles('893948627')">
                        <span class="badge" [ngClass]="getBadgeClass(health.status)" jhiTranslate="{{'health.status.' + health.status}}" (contextmenu)="__elementSelectionService.select('360414747',$event)" [ngStyle]="__elementSelectionService.getStyles('360414747')">
                            {{health.status}}
                        </span>
                    </td>
                    <td class="text-center" (contextmenu)="__elementSelectionService.select('2084878195',$event)" [ngStyle]="__elementSelectionService.getStyles('2084878195')">
                        <a class="hand" (click)="showHealth(health)" *ngIf="health.details || health.error" (contextmenu)="__elementSelectionService.select('1629569588',$event)" [ngStyle]="__elementSelectionService.getStyles('1629569588')">
                            <fa-icon [icon]="'eye'" (contextmenu)="__elementSelectionService.select('277777097',$event)" [ngStyle]="__elementSelectionService.getStyles('277777097')"></fa-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
