<div class="modal-header" (contextmenu)="__elementSelectionService.select('1865367491',$event)" [ngStyle]="__elementSelectionService.getStyles('1865367491')"(click)='__elementSelectionService.clear()'>
    <h4 class="modal-title" id="showHealthLabel" (contextmenu)="__elementSelectionService.select('693273152',$event)" [ngStyle]="__elementSelectionService.getStyles('693273152')">
		{{'health.indicator.' + baseName(currentHealth.name) | translate}}
        {{subSystemName(currentHealth.name)}}
    </h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')" (contextmenu)="__elementSelectionService.select('1682899043',$event)" [ngStyle]="__elementSelectionService.getStyles('1682899043')"><span aria-hidden="true" (contextmenu)="__elementSelectionService.select('986793973',$event)" [ngStyle]="__elementSelectionService.getStyles('986793973')">&#215;</span>
    </button>
</div>
<div class="modal-body pad" (contextmenu)="__elementSelectionService.select('225174320',$event)" [ngStyle]="__elementSelectionService.getStyles('225174320')"(click)='__elementSelectionService.clear()'>
    <div *ngIf="currentHealth.details" (contextmenu)="__elementSelectionService.select('917027842',$event)" [ngStyle]="__elementSelectionService.getStyles('917027842')">
        <h5 jhiTranslate="health.details.properties" (contextmenu)="__elementSelectionService.select('198535189',$event)" [ngStyle]="__elementSelectionService.getStyles('198535189')">Properties</h5>
        <div class="table-responsive" (contextmenu)="__elementSelectionService.select('386215188',$event)" [ngStyle]="__elementSelectionService.getStyles('386215188')">
            <table class="table table-striped" aria-describedby="showHealthLabel" (contextmenu)="__elementSelectionService.select('660287214',$event)" [ngStyle]="__elementSelectionService.getStyles('660287214')">
                <thead (contextmenu)="__elementSelectionService.select('1424023211',$event)" [ngStyle]="__elementSelectionService.getStyles('1424023211')">
                    <tr (contextmenu)="__elementSelectionService.select('1951760866',$event)" [ngStyle]="__elementSelectionService.getStyles('1951760866')">
                        <th scope="col" class="text-left" jhiTranslate="health.details.name" (contextmenu)="__elementSelectionService.select('1241935857',$event)" [ngStyle]="__elementSelectionService.getStyles('1241935857')">Name</th>
                        <th scope="col" class="text-left" jhiTranslate="health.details.value" (contextmenu)="__elementSelectionService.select('877925377',$event)" [ngStyle]="__elementSelectionService.getStyles('877925377')">Value</th>
                    </tr>
                </thead>
                <tbody (contextmenu)="__elementSelectionService.select('1712554406',$event)" [ngStyle]="__elementSelectionService.getStyles('1712554406')">
                    <tr *ngFor="let entry of currentHealth.details.details | keys" (contextmenu)="__elementSelectionService.select('1049708055',$event)" [ngStyle]="__elementSelectionService.getStyles('1049708055')">
                        <td class="text-left" (contextmenu)="__elementSelectionService.select('1200738259',$event)" [ngStyle]="__elementSelectionService.getStyles('1200738259')">{{entry.key}}</td>
                        <td class="text-left" (contextmenu)="__elementSelectionService.select('1408319292',$event)" [ngStyle]="__elementSelectionService.getStyles('1408319292')">{{readableValue(entry.value)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="currentHealth.error" (contextmenu)="__elementSelectionService.select('689281621',$event)" [ngStyle]="__elementSelectionService.getStyles('689281621')">
        <h4 jhiTranslate="health.details.error" (contextmenu)="__elementSelectionService.select('494981278',$event)" [ngStyle]="__elementSelectionService.getStyles('494981278')">Error</h4>
            <pre (contextmenu)="__elementSelectionService.select('1411808170',$event)" [ngStyle]="__elementSelectionService.getStyles('1411808170')">{{currentHealth.error}}</pre>
    </div>
</div>
<div class="modal-footer" (contextmenu)="__elementSelectionService.select('955168718',$event)" [ngStyle]="__elementSelectionService.getStyles('955168718')"(click)='__elementSelectionService.clear()'>
    <button data-dismiss="modal" class="btn btn-secondary float-left" type="button" (click)="activeModal.dismiss('closed')" (contextmenu)="__elementSelectionService.select('250918605',$event)" [ngStyle]="__elementSelectionService.getStyles('250918605')">Done</button>
</div>
