<div (contextmenu)="__elementSelectionService.select('1230299963',$event)" [ngStyle]="__elementSelectionService.getStyles('1230299963')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('984816263',$event)" [ngStyle]="__elementSelectionService.getStyles('984816263')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1410362321',$event)" [ngStyle]="__elementSelectionService.getStyles('1410362321')">
            <h2 jhiTranslate="settings.title" [translateValues]="{username: settingsForm.get('login').value}" *ngIf="settingsForm.get('login').value" (contextmenu)="__elementSelectionService.select('2114499680',$event)" [ngStyle]="__elementSelectionService.getStyles('2114499680')">User settings for [<b (contextmenu)="__elementSelectionService.select('1502987472',$event)" [ngStyle]="__elementSelectionService.getStyles('1502987472')">{{settingsForm.get('login').value}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success" (contextmenu)="__elementSelectionService.select('2068879943',$event)" [ngStyle]="__elementSelectionService.getStyles('2068879943')">
                <strong (contextmenu)="__elementSelectionService.select('742995999',$event)" [ngStyle]="__elementSelectionService.getStyles('742995999')">Settings saved!</strong>
            </div>

            <jhi-alert-error (contextmenu)="__elementSelectionService.select('391717442',$event)" [ngStyle]="__elementSelectionService.getStyles('391717442')"></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="settingsForm.get('login').value" novalidate (contextmenu)="__elementSelectionService.select('1620952893',$event)" [ngStyle]="__elementSelectionService.getStyles('1620952893')">

                <div class="form-group" (contextmenu)="__elementSelectionService.select('534838219',$event)" [ngStyle]="__elementSelectionService.getStyles('534838219')">
                    <label class="form-control-label" for="firstName" jhiTranslate="settings.form.firstname" (contextmenu)="__elementSelectionService.select('2047652328',$event)" [ngStyle]="__elementSelectionService.getStyles('2047652328')">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}" formControlName="firstName" (contextmenu)="__elementSelectionService.select('605669337',$event)" [ngStyle]="__elementSelectionService.getStyles('605669337')">
                    <div *ngIf="settingsForm.get('firstName').invalid &#38;&#38; (settingsForm.get('firstName').dirty || settingsForm.get('firstName').touched)" (contextmenu)="__elementSelectionService.select('716392520',$event)" [ngStyle]="__elementSelectionService.getStyles('716392520')">
                        <small class="form-text text-danger" *ngIf="settingsForm.get('firstName').errors.required" jhiTranslate="settings.messages.validate.firstname.required" (contextmenu)="__elementSelectionService.select('848679030',$event)" [ngStyle]="__elementSelectionService.getStyles('848679030')">
                            Your first name is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('firstName').errors.minlength" jhiTranslate="settings.messages.validate.firstname.minlength" (contextmenu)="__elementSelectionService.select('755606589',$event)" [ngStyle]="__elementSelectionService.getStyles('755606589')">
                            Your first name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('firstName').errors.maxlength" jhiTranslate="settings.messages.validate.firstname.maxlength" (contextmenu)="__elementSelectionService.select('1204062538',$event)" [ngStyle]="__elementSelectionService.getStyles('1204062538')">
                            Your first name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('2005231858',$event)" [ngStyle]="__elementSelectionService.getStyles('2005231858')">
                    <label class="form-control-label" for="lastName" jhiTranslate="settings.form.lastname" (contextmenu)="__elementSelectionService.select('1796149268',$event)" [ngStyle]="__elementSelectionService.getStyles('1796149268')">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}" formControlName="lastName" (contextmenu)="__elementSelectionService.select('189229316',$event)" [ngStyle]="__elementSelectionService.getStyles('189229316')">
                    <div *ngIf="settingsForm.get('lastName').invalid &#38;&#38; (settingsForm.get('lastName').dirty || settingsForm.get('lastName').touched)" (contextmenu)="__elementSelectionService.select('1747595263',$event)" [ngStyle]="__elementSelectionService.getStyles('1747595263')">
                        <small class="form-text text-danger" *ngIf="settingsForm.get('lastName').errors.required" jhiTranslate="settings.messages.validate.lastname.required" (contextmenu)="__elementSelectionService.select('884218096',$event)" [ngStyle]="__elementSelectionService.getStyles('884218096')">
                            Your last name is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('lastName').errors.minlength" jhiTranslate="settings.messages.validate.lastname.minlength" (contextmenu)="__elementSelectionService.select('665330114',$event)" [ngStyle]="__elementSelectionService.getStyles('665330114')">
                            Your last name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('lastName').errors.maxlength" jhiTranslate="settings.messages.validate.lastname.maxlength" (contextmenu)="__elementSelectionService.select('387412858',$event)" [ngStyle]="__elementSelectionService.getStyles('387412858')">
                            Your last name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('779875248',$event)" [ngStyle]="__elementSelectionService.getStyles('779875248')">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label" (contextmenu)="__elementSelectionService.select('983309591',$event)" [ngStyle]="__elementSelectionService.getStyles('983309591')">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}" formControlName="email" (contextmenu)="__elementSelectionService.select('1557962167',$event)" [ngStyle]="__elementSelectionService.getStyles('1557962167')">
                    <div *ngIf="settingsForm.get('email').invalid &#38;&#38; (settingsForm.get('email').dirty || settingsForm.get('email').touched)" (contextmenu)="__elementSelectionService.select('1895610869',$event)" [ngStyle]="__elementSelectionService.getStyles('1895610869')">
                        <small class="form-text text-danger" *ngIf="settingsForm.get('email').errors.required" jhiTranslate="global.messages.validate.email.required" (contextmenu)="__elementSelectionService.select('32191017',$event)" [ngStyle]="__elementSelectionService.getStyles('32191017')">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('email').errors.email" jhiTranslate="global.messages.validate.email.invalid" (contextmenu)="__elementSelectionService.select('1539695526',$event)" [ngStyle]="__elementSelectionService.getStyles('1539695526')">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('email').errors.minlength" jhiTranslate="global.messages.validate.email.minlength" (contextmenu)="__elementSelectionService.select('1665989708',$event)" [ngStyle]="__elementSelectionService.getStyles('1665989708')">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('email').errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength" (contextmenu)="__elementSelectionService.select('1986708161',$event)" [ngStyle]="__elementSelectionService.getStyles('1986708161')">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="languages &#38;&#38; languages.length &#62; 0" (contextmenu)="__elementSelectionService.select('776526943',$event)" [ngStyle]="__elementSelectionService.getStyles('776526943')">
                    <label for="langKey" jhiTranslate="settings.form.language" (contextmenu)="__elementSelectionService.select('1524941539',$event)" [ngStyle]="__elementSelectionService.getStyles('1524941539')">Language</label>
                    <select class="form-control" id="langKey" name="langKey" formControlName="langKey" (contextmenu)="__elementSelectionService.select('1590618991',$event)" [ngStyle]="__elementSelectionService.getStyles('1590618991')">
                        <option *ngFor="let language of languages" [value]="language" (contextmenu)="__elementSelectionService.select('2115131069',$event)" [ngStyle]="__elementSelectionService.getStyles('2115131069')">{{language | findLanguageFromKey}}</option>
                    </select>
                </div>
                <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" jhiTranslate="settings.form.button" (contextmenu)="__elementSelectionService.select('374392580',$event)" [ngStyle]="__elementSelectionService.getStyles('374392580')">Save</button>
            </form>
        </div>
    </div>

</div>
