<div (contextmenu)="__elementSelectionService.select('593915183',$event)" [ngStyle]="__elementSelectionService.getStyles('593915183')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('2136558123',$event)" [ngStyle]="__elementSelectionService.getStyles('2136558123')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1866878970',$event)" [ngStyle]="__elementSelectionService.getStyles('1866878970')">
            <h2 jhiTranslate="settings.title" [translateValues]="{username: settingsForm.get('login').value}" *ngIf="settingsForm.get('login').value" (contextmenu)="__elementSelectionService.select('874672749',$event)" [ngStyle]="__elementSelectionService.getStyles('874672749')">User settings for [<b (contextmenu)="__elementSelectionService.select('498858772',$event)" [ngStyle]="__elementSelectionService.getStyles('498858772')">{{settingsForm.get('login').value}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success" (contextmenu)="__elementSelectionService.select('679928474',$event)" [ngStyle]="__elementSelectionService.getStyles('679928474')">
                <strong (contextmenu)="__elementSelectionService.select('1969373679',$event)" [ngStyle]="__elementSelectionService.getStyles('1969373679')">Settings saved!</strong>
            </div>

            <jhi-alert-error (contextmenu)="__elementSelectionService.select('1391785012',$event)" [ngStyle]="__elementSelectionService.getStyles('1391785012')"></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="settingsForm.get('login').value" novalidate (contextmenu)="__elementSelectionService.select('274060837',$event)" [ngStyle]="__elementSelectionService.getStyles('274060837')">

                <div class="form-group" (contextmenu)="__elementSelectionService.select('265843847',$event)" [ngStyle]="__elementSelectionService.getStyles('265843847')">
                    <label class="form-control-label" for="firstName" jhiTranslate="settings.form.firstname" (contextmenu)="__elementSelectionService.select('1750213034',$event)" [ngStyle]="__elementSelectionService.getStyles('1750213034')">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}" formControlName="firstName" (contextmenu)="__elementSelectionService.select('494026176',$event)" [ngStyle]="__elementSelectionService.getStyles('494026176')">
                    <div *ngIf="settingsForm.get('firstName').invalid &#38;&#38; (settingsForm.get('firstName').dirty || settingsForm.get('firstName').touched)" (contextmenu)="__elementSelectionService.select('589837493',$event)" [ngStyle]="__elementSelectionService.getStyles('589837493')">
                        <small class="form-text text-danger" *ngIf="settingsForm.get('firstName').errors.required" jhiTranslate="settings.messages.validate.firstname.required" (contextmenu)="__elementSelectionService.select('1872232475',$event)" [ngStyle]="__elementSelectionService.getStyles('1872232475')">
                            Your first name is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('firstName').errors.minlength" jhiTranslate="settings.messages.validate.firstname.minlength" (contextmenu)="__elementSelectionService.select('381563699',$event)" [ngStyle]="__elementSelectionService.getStyles('381563699')">
                            Your first name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('firstName').errors.maxlength" jhiTranslate="settings.messages.validate.firstname.maxlength" (contextmenu)="__elementSelectionService.select('439255065',$event)" [ngStyle]="__elementSelectionService.getStyles('439255065')">
                            Your first name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('2025947765',$event)" [ngStyle]="__elementSelectionService.getStyles('2025947765')">
                    <label class="form-control-label" for="lastName" jhiTranslate="settings.form.lastname" (contextmenu)="__elementSelectionService.select('1467407790',$event)" [ngStyle]="__elementSelectionService.getStyles('1467407790')">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}" formControlName="lastName" (contextmenu)="__elementSelectionService.select('808864728',$event)" [ngStyle]="__elementSelectionService.getStyles('808864728')">
                    <div *ngIf="settingsForm.get('lastName').invalid &#38;&#38; (settingsForm.get('lastName').dirty || settingsForm.get('lastName').touched)" (contextmenu)="__elementSelectionService.select('1593195407',$event)" [ngStyle]="__elementSelectionService.getStyles('1593195407')">
                        <small class="form-text text-danger" *ngIf="settingsForm.get('lastName').errors.required" jhiTranslate="settings.messages.validate.lastname.required" (contextmenu)="__elementSelectionService.select('718325774',$event)" [ngStyle]="__elementSelectionService.getStyles('718325774')">
                            Your last name is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('lastName').errors.minlength" jhiTranslate="settings.messages.validate.lastname.minlength" (contextmenu)="__elementSelectionService.select('1261103959',$event)" [ngStyle]="__elementSelectionService.getStyles('1261103959')">
                            Your last name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('lastName').errors.maxlength" jhiTranslate="settings.messages.validate.lastname.maxlength" (contextmenu)="__elementSelectionService.select('1228935521',$event)" [ngStyle]="__elementSelectionService.getStyles('1228935521')">
                            Your last name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('646275461',$event)" [ngStyle]="__elementSelectionService.getStyles('646275461')">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label" (contextmenu)="__elementSelectionService.select('171527651',$event)" [ngStyle]="__elementSelectionService.getStyles('171527651')">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}" formControlName="email" (contextmenu)="__elementSelectionService.select('383086496',$event)" [ngStyle]="__elementSelectionService.getStyles('383086496')">
                    <div *ngIf="settingsForm.get('email').invalid &#38;&#38; (settingsForm.get('email').dirty || settingsForm.get('email').touched)" (contextmenu)="__elementSelectionService.select('1607970562',$event)" [ngStyle]="__elementSelectionService.getStyles('1607970562')">
                        <small class="form-text text-danger" *ngIf="settingsForm.get('email').errors.required" jhiTranslate="global.messages.validate.email.required" (contextmenu)="__elementSelectionService.select('1381196852',$event)" [ngStyle]="__elementSelectionService.getStyles('1381196852')">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('email').errors.email" jhiTranslate="global.messages.validate.email.invalid" (contextmenu)="__elementSelectionService.select('314928584',$event)" [ngStyle]="__elementSelectionService.getStyles('314928584')">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('email').errors.minlength" jhiTranslate="global.messages.validate.email.minlength" (contextmenu)="__elementSelectionService.select('793819231',$event)" [ngStyle]="__elementSelectionService.getStyles('793819231')">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="settingsForm.get('email').errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength" (contextmenu)="__elementSelectionService.select('1293794568',$event)" [ngStyle]="__elementSelectionService.getStyles('1293794568')">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="languages &#38;&#38; languages.length &#62; 0" (contextmenu)="__elementSelectionService.select('77988443',$event)" [ngStyle]="__elementSelectionService.getStyles('77988443')">
                    <label for="langKey" jhiTranslate="settings.form.language" (contextmenu)="__elementSelectionService.select('1035244586',$event)" [ngStyle]="__elementSelectionService.getStyles('1035244586')">Language</label>
                    <select class="form-control" id="langKey" name="langKey" formControlName="langKey" (contextmenu)="__elementSelectionService.select('386679171',$event)" [ngStyle]="__elementSelectionService.getStyles('386679171')">
                        <option *ngFor="let language of languages" [value]="language" (contextmenu)="__elementSelectionService.select('928598935',$event)" [ngStyle]="__elementSelectionService.getStyles('928598935')">{{language | findLanguageFromKey}}</option>
                    </select>
                </div>
                <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" jhiTranslate="settings.form.button" (contextmenu)="__elementSelectionService.select('56177661',$event)" [ngStyle]="__elementSelectionService.getStyles('56177661')">Save</button>
            </form>
        </div>
    </div>

</div>
