<div (contextmenu)="__elementSelectionService.select('1233696688',$event)" [ngStyle]="__elementSelectionService.getStyles('1233696688')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('82321861',$event)" [ngStyle]="__elementSelectionService.getStyles('82321861')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('147928031',$event)" [ngStyle]="__elementSelectionService.getStyles('147928031')">
            <h1 jhiTranslate="register.title" (contextmenu)="__elementSelectionService.select('386483063',$event)" [ngStyle]="__elementSelectionService.getStyles('386483063')">Registration</h1>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success" (contextmenu)="__elementSelectionService.select('234638190',$event)" [ngStyle]="__elementSelectionService.getStyles('234638190')">
                <strong (contextmenu)="__elementSelectionService.select('1222616349',$event)" [ngStyle]="__elementSelectionService.getStyles('1222616349')">Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail" (contextmenu)="__elementSelectionService.select('1234253842',$event)" [ngStyle]="__elementSelectionService.getStyles('1234253842')">
                <strong (contextmenu)="__elementSelectionService.select('350144684',$event)" [ngStyle]="__elementSelectionService.getStyles('350144684')">Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists" (contextmenu)="__elementSelectionService.select('2073445986',$event)" [ngStyle]="__elementSelectionService.getStyles('2073445986')">
                <strong (contextmenu)="__elementSelectionService.select('1314190144',$event)" [ngStyle]="__elementSelectionService.getStyles('1314190144')">Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists" (contextmenu)="__elementSelectionService.select('239403824',$event)" [ngStyle]="__elementSelectionService.getStyles('239403824')">
                <strong (contextmenu)="__elementSelectionService.select('1824272892',$event)" [ngStyle]="__elementSelectionService.getStyles('1824272892')">Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch" (contextmenu)="__elementSelectionService.select('634441567',$event)" [ngStyle]="__elementSelectionService.getStyles('634441567')">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1291314774',$event)" [ngStyle]="__elementSelectionService.getStyles('1291314774')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1787637883',$event)" [ngStyle]="__elementSelectionService.getStyles('1787637883')">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success" (contextmenu)="__elementSelectionService.select('1731452679',$event)" [ngStyle]="__elementSelectionService.getStyles('1731452679')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1153064585',$event)" [ngStyle]="__elementSelectionService.getStyles('1153064585')">

                    <label class="form-control-label" for="login" jhiTranslate="global.form.username.label" (contextmenu)="__elementSelectionService.select('931976478',$event)" [ngStyle]="__elementSelectionService.getStyles('931976478')">Username</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="{{'global.form.username.placeholder' | translate}}" formControlName="login" (contextmenu)="__elementSelectionService.select('880883068',$event)" [ngStyle]="__elementSelectionService.getStyles('880883068')">
                    <div *ngIf="registerForm.get('login').invalid &#38;&#38; (registerForm.get('login').dirty || registerForm.get('login').touched)" (contextmenu)="__elementSelectionService.select('1295195916',$event)" [ngStyle]="__elementSelectionService.getStyles('1295195916')">
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.required" jhiTranslate="register.messages.validate.login.required" (contextmenu)="__elementSelectionService.select('1533759029',$event)" [ngStyle]="__elementSelectionService.getStyles('1533759029')">
                            Your username is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.minlength" jhiTranslate="register.messages.validate.login.minlength" (contextmenu)="__elementSelectionService.select('169755747',$event)" [ngStyle]="__elementSelectionService.getStyles('169755747')">
                            Your username is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.maxlength" jhiTranslate="register.messages.validate.login.maxlength" (contextmenu)="__elementSelectionService.select('923384457',$event)" [ngStyle]="__elementSelectionService.getStyles('923384457')">
                            Your username cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.pattern" jhiTranslate="register.messages.validate.login.pattern" (contextmenu)="__elementSelectionService.select('1645676571',$event)" [ngStyle]="__elementSelectionService.getStyles('1645676571')">
                            Your username can only contain letters and digits.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1661790346',$event)" [ngStyle]="__elementSelectionService.getStyles('1661790346')">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label" (contextmenu)="__elementSelectionService.select('466195924',$event)" [ngStyle]="__elementSelectionService.getStyles('466195924')">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}" formControlName="email" (contextmenu)="__elementSelectionService.select('1634646486',$event)" [ngStyle]="__elementSelectionService.getStyles('1634646486')">
                    <div *ngIf="registerForm.get('email').invalid &#38;&#38; (registerForm.get('email').dirty || registerForm.get('email').touched)" (contextmenu)="__elementSelectionService.select('996356656',$event)" [ngStyle]="__elementSelectionService.getStyles('996356656')">
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.required" jhiTranslate="global.messages.validate.email.required" (contextmenu)="__elementSelectionService.select('1068483950',$event)" [ngStyle]="__elementSelectionService.getStyles('1068483950')">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.invalid" jhiTranslate="global.messages.validate.email.invalid" (contextmenu)="__elementSelectionService.select('1755283578',$event)" [ngStyle]="__elementSelectionService.getStyles('1755283578')">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.minlength" jhiTranslate="global.messages.validate.email.minlength" (contextmenu)="__elementSelectionService.select('2083206326',$event)" [ngStyle]="__elementSelectionService.getStyles('2083206326')">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength" (contextmenu)="__elementSelectionService.select('1593535409',$event)" [ngStyle]="__elementSelectionService.getStyles('1593535409')">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('532562357',$event)" [ngStyle]="__elementSelectionService.getStyles('532562357')">
                    <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword.label" (contextmenu)="__elementSelectionService.select('188124776',$event)" [ngStyle]="__elementSelectionService.getStyles('188124776')">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}" formControlName="password" (contextmenu)="__elementSelectionService.select('773686588',$event)" [ngStyle]="__elementSelectionService.getStyles('773686588')">
                    <div *ngIf="registerForm.get('password').invalid &#38;&#38; (registerForm.get('password').dirty || registerForm.get('password').touched)" (contextmenu)="__elementSelectionService.select('733926829',$event)" [ngStyle]="__elementSelectionService.getStyles('733926829')">
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.required" jhiTranslate="global.messages.validate.newpassword.required" (contextmenu)="__elementSelectionService.select('1189124742',$event)" [ngStyle]="__elementSelectionService.getStyles('1189124742')">
                            Your password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength" (contextmenu)="__elementSelectionService.select('2031753724',$event)" [ngStyle]="__elementSelectionService.getStyles('2031753724')">
                            Your password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength" (contextmenu)="__elementSelectionService.select('996956038',$event)" [ngStyle]="__elementSelectionService.getStyles('996956038')">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password').value" (contextmenu)="__elementSelectionService.select('1713565435',$event)" [ngStyle]="__elementSelectionService.getStyles('1713565435')"></jhi-password-strength-bar>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('609512467',$event)" [ngStyle]="__elementSelectionService.getStyles('609512467')">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label" (contextmenu)="__elementSelectionService.select('229135516',$event)" [ngStyle]="__elementSelectionService.getStyles('229135516')">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}" formControlName="confirmPassword" (contextmenu)="__elementSelectionService.select('1419899592',$event)" [ngStyle]="__elementSelectionService.getStyles('1419899592')">
                    <div *ngIf="registerForm.get('confirmPassword').invalid &#38;&#38; (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)" (contextmenu)="__elementSelectionService.select('621124497',$event)" [ngStyle]="__elementSelectionService.getStyles('621124497')">
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.required" jhiTranslate="global.messages.validate.confirmpassword.required" (contextmenu)="__elementSelectionService.select('573984726',$event)" [ngStyle]="__elementSelectionService.getStyles('573984726')">
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength" (contextmenu)="__elementSelectionService.select('1844831160',$event)" [ngStyle]="__elementSelectionService.getStyles('1844831160')">
                            Your confirmation password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength" (contextmenu)="__elementSelectionService.select('916024188',$event)" [ngStyle]="__elementSelectionService.getStyles('916024188')">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" jhiTranslate="register.form.button" (contextmenu)="__elementSelectionService.select('1070180141',$event)" [ngStyle]="__elementSelectionService.getStyles('1070180141')">Register</button>
            </form>
            <p (contextmenu)="__elementSelectionService.select('798033917',$event)" [ngStyle]="__elementSelectionService.getStyles('798033917')"></p>
            <div class="alert alert-warning" (contextmenu)="__elementSelectionService.select('1841027476',$event)" [ngStyle]="__elementSelectionService.getStyles('1841027476')">
                <span jhiTranslate="global.messages.info.authenticated.prefix" (contextmenu)="__elementSelectionService.select('277126612',$event)" [ngStyle]="__elementSelectionService.getStyles('277126612')">If you want to </span>
                <a class="alert-link" (click)="openLogin()" jhiTranslate="global.messages.info.authenticated.link" (contextmenu)="__elementSelectionService.select('1652994086',$event)" [ngStyle]="__elementSelectionService.getStyles('1652994086')">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix" (contextmenu)="__elementSelectionService.select('1158675812',$event)" [ngStyle]="__elementSelectionService.getStyles('1158675812')">, you can try the default accounts:<br (contextmenu)="__elementSelectionService.select('1993079592',$event)" [ngStyle]="__elementSelectionService.getStyles('1993079592')">- Administrator (login=&#34;admin&#34; and password=&#34;admin&#34;) <br (contextmenu)="__elementSelectionService.select('1108718104',$event)" [ngStyle]="__elementSelectionService.getStyles('1108718104')">- User (login=&#34;user&#34; and password=&#34;user&#34;).</span>
            </div>
        </div>
    </div>
</div>
