<form name="deleteForm" (ngSubmit)="confirmDelete(user.login)" (contextmenu)="__elementSelectionService.select('1042175991',$event)" [ngStyle]="__elementSelectionService.getStyles('1042175991')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('1176838632',$event)" [ngStyle]="__elementSelectionService.getStyles('1176838632')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('180905780',$event)" [ngStyle]="__elementSelectionService.getStyles('180905780')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('1907261792',$event)" [ngStyle]="__elementSelectionService.getStyles('1907261792')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('1814987464',$event)" [ngStyle]="__elementSelectionService.getStyles('1814987464')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('57394372',$event)" [ngStyle]="__elementSelectionService.getStyles('57394372')"></jhi-alert-error>
        <p jhiTranslate="userManagement.delete.question" [translateValues]="{login: user.login}" (contextmenu)="__elementSelectionService.select('1255404122',$event)" [ngStyle]="__elementSelectionService.getStyles('1255404122')">Are you sure you want to delete this User?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('1341382625',$event)" [ngStyle]="__elementSelectionService.getStyles('1341382625')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('1473461269',$event)" [ngStyle]="__elementSelectionService.getStyles('1473461269')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('180588495',$event)" [ngStyle]="__elementSelectionService.getStyles('180588495')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1599602159',$event)" [ngStyle]="__elementSelectionService.getStyles('1599602159')">Cancel</span>
        </button>
        <button type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('235547955',$event)" [ngStyle]="__elementSelectionService.getStyles('235547955')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('1081576307',$event)" [ngStyle]="__elementSelectionService.getStyles('1081576307')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1448921413',$event)" [ngStyle]="__elementSelectionService.getStyles('1448921413')">Delete</span>
        </button>
    </div>
</form>
