<form name="deleteForm" (ngSubmit)="confirmDelete(user.login)" (contextmenu)="__elementSelectionService.select('408411082',$event)" [ngStyle]="__elementSelectionService.getStyles('408411082')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('839946135',$event)" [ngStyle]="__elementSelectionService.getStyles('839946135')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('339708820',$event)" [ngStyle]="__elementSelectionService.getStyles('339708820')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('1279983387',$event)" [ngStyle]="__elementSelectionService.getStyles('1279983387')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('731956364',$event)" [ngStyle]="__elementSelectionService.getStyles('731956364')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('494574168',$event)" [ngStyle]="__elementSelectionService.getStyles('494574168')"></jhi-alert-error>
        <p jhiTranslate="userManagement.delete.question" [translateValues]="{login: user.login}" (contextmenu)="__elementSelectionService.select('1970389320',$event)" [ngStyle]="__elementSelectionService.getStyles('1970389320')">Are you sure you want to delete this User?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('1851280090',$event)" [ngStyle]="__elementSelectionService.getStyles('1851280090')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('1139894073',$event)" [ngStyle]="__elementSelectionService.getStyles('1139894073')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('168860997',$event)" [ngStyle]="__elementSelectionService.getStyles('168860997')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1896900302',$event)" [ngStyle]="__elementSelectionService.getStyles('1896900302')">Cancel</span>
        </button>
        <button type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('1572011180',$event)" [ngStyle]="__elementSelectionService.getStyles('1572011180')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('364019852',$event)" [ngStyle]="__elementSelectionService.getStyles('364019852')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('466013642',$event)" [ngStyle]="__elementSelectionService.getStyles('466013642')">Delete</span>
        </button>
    </div>
</form>
