<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('50958673',$event)" [ngStyle]="__elementSelectionService.getStyles('50958673')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1364719087',$event)" [ngStyle]="__elementSelectionService.getStyles('1364719087')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('505116045',$event)" [ngStyle]="__elementSelectionService.getStyles('505116045')">
            <h2 id="myUserLabel" jhiTranslate="userManagement.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('1427584384',$event)" [ngStyle]="__elementSelectionService.getStyles('1427584384')">
                Create or edit a User
            </h2>
            <div (contextmenu)="__elementSelectionService.select('1299557172',$event)" [ngStyle]="__elementSelectionService.getStyles('1299557172')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('602130424',$event)" [ngStyle]="__elementSelectionService.getStyles('602130424')"></jhi-alert-error>
                <div class="form-group" [hidden]="!user.id" (contextmenu)="__elementSelectionService.select('1720809748',$event)" [ngStyle]="__elementSelectionService.getStyles('1720809748')">
                    <label jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('180812659',$event)" [ngStyle]="__elementSelectionService.getStyles('180812659')">ID</label>
                    <input type="text" class="form-control" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('1787481364',$event)" [ngStyle]="__elementSelectionService.getStyles('1787481364')">
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1475021754',$event)" [ngStyle]="__elementSelectionService.getStyles('1475021754')">
                    <label class="form-control-label" jhiTranslate="userManagement.login" (contextmenu)="__elementSelectionService.select('979337610',$event)" [ngStyle]="__elementSelectionService.getStyles('979337610')">Login</label>
                    <input type="text" class="form-control" name="login" formControlName="login" (contextmenu)="__elementSelectionService.select('134211793',$event)" [ngStyle]="__elementSelectionService.getStyles('134211793')">

                    <div *ngIf="editForm.get('login').invalid &#38;&#38; (editForm.get('login').dirty || editForm.get('login').touched)" (contextmenu)="__elementSelectionService.select('1000433495',$event)" [ngStyle]="__elementSelectionService.getStyles('1000433495')">
                        <small class="form-text text-danger" *ngIf="editForm.get('login').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('873995586',$event)" [ngStyle]="__elementSelectionService.getStyles('873995586')">
                            This field is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('login').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{max: 50}" (contextmenu)="__elementSelectionService.select('1913489818',$event)" [ngStyle]="__elementSelectionService.getStyles('1913489818')">
                            This field cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('login').errors.pattern" jhiTranslate="entity.validation.patternLogin" (contextmenu)="__elementSelectionService.select('172772970',$event)" [ngStyle]="__elementSelectionService.getStyles('172772970')">
                            This field can only contain letters, digits and e-mail addresses.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('979831723',$event)" [ngStyle]="__elementSelectionService.getStyles('979831723')">
                    <label class="form-control-label" jhiTranslate="userManagement.firstName" (contextmenu)="__elementSelectionService.select('1323426728',$event)" [ngStyle]="__elementSelectionService.getStyles('1323426728')">First Name</label>
                    <input type="text" class="form-control" name="firstName" formControlName="firstName" (contextmenu)="__elementSelectionService.select('1346298551',$event)" [ngStyle]="__elementSelectionService.getStyles('1346298551')">

                    <div *ngIf="editForm.get('firstName').invalid &#38;&#38; (editForm.get('firstName').dirty || editForm.get('firstName').touched)" (contextmenu)="__elementSelectionService.select('946457028',$event)" [ngStyle]="__elementSelectionService.getStyles('946457028')">
                        <small class="form-text text-danger" *ngIf="editForm.get('firstName').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{max: 50}" (contextmenu)="__elementSelectionService.select('986818353',$event)" [ngStyle]="__elementSelectionService.getStyles('986818353')">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('2079125344',$event)" [ngStyle]="__elementSelectionService.getStyles('2079125344')">
                    <label jhiTranslate="userManagement.lastName" (contextmenu)="__elementSelectionService.select('1549832688',$event)" [ngStyle]="__elementSelectionService.getStyles('1549832688')">Last Name</label>
                    <input type="text" class="form-control" name="lastName" formControlName="lastName" (contextmenu)="__elementSelectionService.select('707871825',$event)" [ngStyle]="__elementSelectionService.getStyles('707871825')">

                    <div *ngIf="editForm.get('lastName').invalid &#38;&#38; (editForm.get('lastName').dirty || editForm.get('lastName').touched)" (contextmenu)="__elementSelectionService.select('502175241',$event)" [ngStyle]="__elementSelectionService.getStyles('502175241')">
                        <small class="form-text text-danger" *ngIf="editForm.get('lastName').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{max: 50}" (contextmenu)="__elementSelectionService.select('23461179',$event)" [ngStyle]="__elementSelectionService.getStyles('23461179')">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1498551286',$event)" [ngStyle]="__elementSelectionService.getStyles('1498551286')">
                    <label class="form-control-label" jhiTranslate="userManagement.email" (contextmenu)="__elementSelectionService.select('2036451137',$event)" [ngStyle]="__elementSelectionService.getStyles('2036451137')">Email</label>
                    <input type="email" class="form-control" name="email" formControlName="email" (contextmenu)="__elementSelectionService.select('282478778',$event)" [ngStyle]="__elementSelectionService.getStyles('282478778')">

                    <div *ngIf="editForm.get('email').invalid &#38;&#38; (editForm.get('email').dirty || editForm.get('email').touched)" (contextmenu)="__elementSelectionService.select('1056240574',$event)" [ngStyle]="__elementSelectionService.getStyles('1056240574')">
                        <small class="form-text text-danger" *ngIf="editForm.get('email').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('2012256821',$event)" [ngStyle]="__elementSelectionService.getStyles('2012256821')">
                            This field is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('email').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{max: 100}" (contextmenu)="__elementSelectionService.select('14422085',$event)" [ngStyle]="__elementSelectionService.getStyles('14422085')">
                            This field cannot be longer than 100 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('email').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{min: 5}" (contextmenu)="__elementSelectionService.select('577571708',$event)" [ngStyle]="__elementSelectionService.getStyles('577571708')">
                            This field is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('email').errors.email" jhiTranslate="global.messages.validate.email.invalid" (contextmenu)="__elementSelectionService.select('1000174988',$event)" [ngStyle]="__elementSelectionService.getStyles('1000174988')">
                            Your email is invalid.
                        </small>
                    </div>
                </div>
                <div class="form-check" (contextmenu)="__elementSelectionService.select('1221550584',$event)" [ngStyle]="__elementSelectionService.getStyles('1221550584')">
                    <label class="form-check-label" for="activated" (contextmenu)="__elementSelectionService.select('686886556',$event)" [ngStyle]="__elementSelectionService.getStyles('686886556')">
                        <input class="form-check-input" [disabled]="user.id === null" type="checkbox" id="activated" name="activated" formControlName="activated" (contextmenu)="__elementSelectionService.select('1645073941',$event)" [ngStyle]="__elementSelectionService.getStyles('1645073941')">
                        <span jhiTranslate="userManagement.activated" (contextmenu)="__elementSelectionService.select('854388429',$event)" [ngStyle]="__elementSelectionService.getStyles('854388429')">Activated</span>
                    </label>
                </div>

                <div class="form-group" *ngIf="languages &#38;&#38; languages.length &#62; 0" (contextmenu)="__elementSelectionService.select('18844105',$event)" [ngStyle]="__elementSelectionService.getStyles('18844105')">
                    <label jhiTranslate="userManagement.langKey" (contextmenu)="__elementSelectionService.select('557507224',$event)" [ngStyle]="__elementSelectionService.getStyles('557507224')">Lang Key</label>
                    <select class="form-control" id="langKey" name="langKey" formControlName="langKey" (contextmenu)="__elementSelectionService.select('755709396',$event)" [ngStyle]="__elementSelectionService.getStyles('755709396')">
                        <option *ngFor="let language of languages" [value]="language" (contextmenu)="__elementSelectionService.select('2026122302',$event)" [ngStyle]="__elementSelectionService.getStyles('2026122302')">{{language | findLanguageFromKey}}</option>
                    </select>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('90747694',$event)" [ngStyle]="__elementSelectionService.getStyles('90747694')">
                    <label jhiTranslate="userManagement.profiles" (contextmenu)="__elementSelectionService.select('1932570425',$event)" [ngStyle]="__elementSelectionService.getStyles('1932570425')">Profiles</label>
                    <select class="form-control" multiple name="authority" formControlName="authorities" (contextmenu)="__elementSelectionService.select('132219166',$event)" [ngStyle]="__elementSelectionService.getStyles('132219166')">
                        <option *ngFor="let authority of authorities" [value]="authority" (contextmenu)="__elementSelectionService.select('1579018240',$event)" [ngStyle]="__elementSelectionService.getStyles('1579018240')">{{authority}}</option>
                    </select>
                </div>
            </div>
            <div (contextmenu)="__elementSelectionService.select('506249518',$event)" [ngStyle]="__elementSelectionService.getStyles('506249518')">
                <button type="button" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('1746136245',$event)" [ngStyle]="__elementSelectionService.getStyles('1746136245')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1668381144',$event)" [ngStyle]="__elementSelectionService.getStyles('1668381144')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1377685598',$event)" [ngStyle]="__elementSelectionService.getStyles('1377685598')">Cancel</span>
                </button>
                <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('708861570',$event)" [ngStyle]="__elementSelectionService.getStyles('708861570')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('1572960571',$event)" [ngStyle]="__elementSelectionService.getStyles('1572960571')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('890664162',$event)" [ngStyle]="__elementSelectionService.getStyles('890664162')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
