<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-heading" jhiTranslate="hospitalsystemApp.order.home.createOrEditLabel">Create or edit a Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.order.provider" for="field_provider">Provider</label>
                    <select class="form-control" id="field_provider" name="provider" formControlName="provider">
                        <option *ngIf="!editForm.get('provider').value" [ngValue]="null" selected></option>
                        <option [ngValue]="providerOption.id === editForm.get('provider').value?.id ? editForm.get('provider').value : providerOption" *ngFor="let providerOption of providers; trackBy: trackProviderById">{{providerOption.name}}</option>
                    </select>
                </div>
                <div formArrayName="formQuantityPrice">
                    <div *ngFor="let productQuantity of formQuantityPrice.controls; index as i">
                        <div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_quantity_{{i}}"><span jhiTranslate="hospitalsystemApp.quantityPrice.quantity">Quantity</span> {{i + 1}}</label>
                                <input type="number" class="form-control" name="quantity" id="field_quantity_{{i}}"
                                       formControlName="quantity"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_price_{{i}}"><span jhiTranslate="hospitalsystemApp.quantityPrice.price">Price</span> {{i + 1}}</label>
                                <input type="number" class="form-control" name="price" id="field_price_{{i}}"
                                       formControlName="price"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="field_product_{{i}}"><span jhiTranslate="hospitalsystemApp.quantityPrice.product">Product</span> {{i + 1}}</label>
                                <select class="form-control" id="field_product_{{i}}" name="product" [formControlName]="product">
                                    <option *ngIf="!editForm.get('formQuantityPrice').value" [ngValue]="null" selected></option>
                                    <option [ngValue]="productOption.id === editForm.get('formQuantityPrice').at(i).value?.id  ? editForm.get('formQuantityPrice').at(i).value : productOption" *ngFor="let productOption of productsList; trackBy: trackProductById">{{productOption.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="add-field" class="btn btn-success"  (click)="addProductQuantity()">
                    <fa-icon [icon]="'add'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.addProduct">Add Product</span>
                </button>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
