<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fixedDoctorPayment">
            <h2><span jhiTranslate="hospitalsystemApp.fixedDoctorPayment.detail.title">Fixed Doctor Payment</span> {{fixedDoctorPayment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalsystemApp.fixedDoctorPayment.paid">Paid</span></dt>
                <dd>
                    <span>{{fixedDoctorPayment.paid}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.fixedDoctorPayment.date">Date</span></dt>
                <dd>
                    <span>{{fixedDoctorPayment.date}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.fixedDoctorPayment.reference">Reference</span></dt>
                <dd>
                    <span>{{fixedDoctorPayment.reference}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.fixedDoctorPayment.doctor">Doctor</span></dt>
                <dd>
                    <div *ngIf="fixedDoctorPayment.doctor">
                        <a [routerLink]="['/doctor', fixedDoctorPayment.doctor?.id, 'view']">{{fixedDoctorPayment.doctor?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fixed-doctor-payment', fixedDoctorPayment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
