<div (contextmenu)="__elementSelectionService.select('826185073',$event)" [ngStyle]="__elementSelectionService.getStyles('826185073')"(click)='__elementSelectionService.clear()'>
    <div class="row" (contextmenu)="__elementSelectionService.select('1797238905',$event)" [ngStyle]="__elementSelectionService.getStyles('1797238905')">
        <div class="col-md-4" (contextmenu)="__elementSelectionService.select('776942966',$event)" [ngStyle]="__elementSelectionService.getStyles('776942966')">
            <span class="hipster img-fluid rounded" (contextmenu)="__elementSelectionService.select('941320035',$event)" [ngStyle]="__elementSelectionService.getStyles('941320035')"></span>
        </div>
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1470403756',$event)" [ngStyle]="__elementSelectionService.getStyles('1470403756')">
            <h1 jhiTranslate="error.title" (contextmenu)="__elementSelectionService.select('1101949529',$event)" [ngStyle]="__elementSelectionService.getStyles('1101949529')">Error Page!</h1>

            <div [hidden]="!errorMessage" (contextmenu)="__elementSelectionService.select('379388831',$event)" [ngStyle]="__elementSelectionService.getStyles('379388831')">
                <div class="alert alert-danger" (contextmenu)="__elementSelectionService.select('1969114704',$event)" [ngStyle]="__elementSelectionService.getStyles('1969114704')">{{errorMessage}}
                </div>
            </div>
            <div [hidden]="!error403" class="alert alert-danger" jhiTranslate="error.http.403" (contextmenu)="__elementSelectionService.select('111981987',$event)" [ngStyle]="__elementSelectionService.getStyles('111981987')">You are not authorized to access this page.
            </div>
            <div [hidden]="!error404" class="alert alert-danger" jhiTranslate="error.http.404" (contextmenu)="__elementSelectionService.select('878902157',$event)" [ngStyle]="__elementSelectionService.getStyles('878902157')">The page does not exist.
            </div>
        </div>
    </div>
</div>
