<div (contextmenu)="__elementSelectionService.select('628260184',$event)" [ngStyle]="__elementSelectionService.getStyles('628260184')"(click)='__elementSelectionService.clear()'>
    <div class="row" (contextmenu)="__elementSelectionService.select('648279895',$event)" [ngStyle]="__elementSelectionService.getStyles('648279895')">
        <div class="col-md-4" (contextmenu)="__elementSelectionService.select('277730918',$event)" [ngStyle]="__elementSelectionService.getStyles('277730918')">
            <span class="hipster img-fluid rounded" (contextmenu)="__elementSelectionService.select('1490485914',$event)" [ngStyle]="__elementSelectionService.getStyles('1490485914')"></span>
        </div>
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('2010472351',$event)" [ngStyle]="__elementSelectionService.getStyles('2010472351')">
            <h1 jhiTranslate="error.title" (contextmenu)="__elementSelectionService.select('1324685181',$event)" [ngStyle]="__elementSelectionService.getStyles('1324685181')">Error Page!</h1>

            <div [hidden]="!errorMessage" (contextmenu)="__elementSelectionService.select('808834595',$event)" [ngStyle]="__elementSelectionService.getStyles('808834595')">
                <div class="alert alert-danger" (contextmenu)="__elementSelectionService.select('1343668589',$event)" [ngStyle]="__elementSelectionService.getStyles('1343668589')">{{errorMessage}}
                </div>
            </div>
            <div [hidden]="!error403" class="alert alert-danger" jhiTranslate="error.http.403" (contextmenu)="__elementSelectionService.select('224548183',$event)" [ngStyle]="__elementSelectionService.getStyles('224548183')">You are not authorized to access this page.
            </div>
            <div [hidden]="!error404" class="alert alert-danger" jhiTranslate="error.http.404" (contextmenu)="__elementSelectionService.select('1800074617',$event)" [ngStyle]="__elementSelectionService.getStyles('1800074617')">The page does not exist.
            </div>
        </div>
    </div>
</div>
