<jhi-page-ribbon (contextmenu)="__elementSelectionService.select('1158798182',$event)" [ngStyle]="__elementSelectionService.getStyles('1158798182')"(click)='__elementSelectionService.clear()'></jhi-page-ribbon>
<div (contextmenu)="__elementSelectionService.select('995732888',$event)" [ngStyle]="__elementSelectionService.getStyles('995732888')"(click)='__elementSelectionService.clear()'>
    <router-outlet name="navbar" (contextmenu)="__elementSelectionService.select('1354013441',$event)" [ngStyle]="__elementSelectionService.getStyles('1354013441')"></router-outlet>
</div>
<div class="container-fluid" (contextmenu)="__elementSelectionService.select('1941376292',$event)" [ngStyle]="__elementSelectionService.getStyles('1941376292')"(click)='__elementSelectionService.clear()'>
    <div class="card jh-card" (contextmenu)="__elementSelectionService.select('455176734',$event)" [ngStyle]="__elementSelectionService.getStyles('455176734')">
        <router-outlet (contextmenu)="__elementSelectionService.select('463350623',$event)" [ngStyle]="__elementSelectionService.getStyles('463350623')"></router-outlet>
        <router-outlet name="popup" (contextmenu)="__elementSelectionService.select('2011606123',$event)" [ngStyle]="__elementSelectionService.getStyles('2011606123')"></router-outlet>
    </div>
    <jhi-footer (contextmenu)="__elementSelectionService.select('66997509',$event)" [ngStyle]="__elementSelectionService.getStyles('66997509')"></jhi-footer>
</div>
