<jhi-page-ribbon (contextmenu)="__elementSelectionService.select('1877461043',$event)" [ngStyle]="__elementSelectionService.getStyles('1877461043')"(click)='__elementSelectionService.clear()'></jhi-page-ribbon>
<div (contextmenu)="__elementSelectionService.select('497036856',$event)" [ngStyle]="__elementSelectionService.getStyles('497036856')"(click)='__elementSelectionService.clear()'>
    <router-outlet name="navbar" (contextmenu)="__elementSelectionService.select('1560453506',$event)" [ngStyle]="__elementSelectionService.getStyles('1560453506')"></router-outlet>
</div>
<div class="container-fluid" (contextmenu)="__elementSelectionService.select('475286636',$event)" [ngStyle]="__elementSelectionService.getStyles('475286636')"(click)='__elementSelectionService.clear()'>
    <div class="card jh-card" (contextmenu)="__elementSelectionService.select('1670095202',$event)" [ngStyle]="__elementSelectionService.getStyles('1670095202')">
        <router-outlet (contextmenu)="__elementSelectionService.select('2020997182',$event)" [ngStyle]="__elementSelectionService.getStyles('2020997182')"></router-outlet>
        <router-outlet name="popup" (contextmenu)="__elementSelectionService.select('383528258',$event)" [ngStyle]="__elementSelectionService.getStyles('383528258')"></router-outlet>
    </div>
    <jhi-footer (contextmenu)="__elementSelectionService.select('1578799274',$event)" [ngStyle]="__elementSelectionService.getStyles('1578799274')"></jhi-footer>
</div>
