<jhi-page-ribbon (contextmenu)="__elementSelectionService.select('1932644404',$event)" [ngStyle]="__elementSelectionService.getStyles('1932644404')"(click)='__elementSelectionService.clear()'></jhi-page-ribbon>
<div (contextmenu)="__elementSelectionService.select('1349654640',$event)" [ngStyle]="__elementSelectionService.getStyles('1349654640')"(click)='__elementSelectionService.clear()'>
    <router-outlet name="navbar" (contextmenu)="__elementSelectionService.select('265264306',$event)" [ngStyle]="__elementSelectionService.getStyles('265264306')"></router-outlet>
</div>
<div class="container-fluid" (contextmenu)="__elementSelectionService.select('83279374',$event)" [ngStyle]="__elementSelectionService.getStyles('83279374')"(click)='__elementSelectionService.clear()'>
    <div class="card jh-card" (contextmenu)="__elementSelectionService.select('1048073611',$event)" [ngStyle]="__elementSelectionService.getStyles('1048073611')">
        <router-outlet (contextmenu)="__elementSelectionService.select('939053040',$event)" [ngStyle]="__elementSelectionService.getStyles('939053040')"></router-outlet>
        <router-outlet name="popup" (contextmenu)="__elementSelectionService.select('2002930474',$event)" [ngStyle]="__elementSelectionService.getStyles('2002930474')"></router-outlet>
    </div>
    <jhi-footer (contextmenu)="__elementSelectionService.select('71000952',$event)" [ngStyle]="__elementSelectionService.getStyles('71000952')"></jhi-footer>
</div>
