<nav class="navbar navbar-dark navbar-expand-md bg-dark" (contextmenu)="__elementSelectionService.select('4993603',$event)" [ngStyle]="__elementSelectionService.getStyles('4993603')"(click)='__elementSelectionService.clear()'>
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1477637694',$event)" [ngStyle]="__elementSelectionService.getStyles('1477637694')">
        <span class="logo-img" (contextmenu)="__elementSelectionService.select('959256917',$event)" [ngStyle]="__elementSelectionService.getStyles('959256917')"></span>
        <span jhiTranslate="global.title" class="navbar-title" (contextmenu)="__elementSelectionService.select('884159197',$event)" [ngStyle]="__elementSelectionService.getStyles('884159197')">Hospitalsystem</span> <span class="navbar-version" (contextmenu)="__elementSelectionService.select('439538606',$event)" [ngStyle]="__elementSelectionService.getStyles('439538606')">{{version}}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()" (contextmenu)="__elementSelectionService.select('1440638416',$event)" [ngStyle]="__elementSelectionService.getStyles('1440638416')">
        <fa-icon icon="bars" (contextmenu)="__elementSelectionService.select('73935247',$event)" [ngStyle]="__elementSelectionService.getStyles('73935247')"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()" (contextmenu)="__elementSelectionService.select('702596613',$event)" [ngStyle]="__elementSelectionService.getStyles('702596613')">
        <ul class="navbar-nav ml-auto" (contextmenu)="__elementSelectionService.select('625200948',$event)" [ngStyle]="__elementSelectionService.getStyles('625200948')">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (contextmenu)="__elementSelectionService.select('60153513',$event)" [ngStyle]="__elementSelectionService.getStyles('60153513')">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1182051077',$event)" [ngStyle]="__elementSelectionService.getStyles('1182051077')">
                    <span (contextmenu)="__elementSelectionService.select('1770753312',$event)" [ngStyle]="__elementSelectionService.getStyles('1770753312')">
                        <fa-icon icon="home" (contextmenu)="__elementSelectionService.select('1384826186',$event)" [ngStyle]="__elementSelectionService.getStyles('1384826186')"></fa-icon>
                        <span jhiTranslate="global.menu.home" (contextmenu)="__elementSelectionService.select('2135370020',$event)" [ngStyle]="__elementSelectionService.getStyles('2135370020')">Home</span>
                    </span>
                </a>
            </li>
            
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (contextmenu)="__elementSelectionService.select('470321482',$event)" [ngStyle]="__elementSelectionService.getStyles('470321482')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" (contextmenu)="__elementSelectionService.select('694150502',$event)" [ngStyle]="__elementSelectionService.getStyles('694150502')">
                    <span (contextmenu)="__elementSelectionService.select('763086226',$event)" [ngStyle]="__elementSelectionService.getStyles('763086226')">
                        <fa-icon icon="th-list" (contextmenu)="__elementSelectionService.select('1798555408',$event)" [ngStyle]="__elementSelectionService.getStyles('1798555408')"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main" (contextmenu)="__elementSelectionService.select('858345957',$event)" [ngStyle]="__elementSelectionService.getStyles('858345957')">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu" (contextmenu)="__elementSelectionService.select('1695282739',$event)" [ngStyle]="__elementSelectionService.getStyles('1695282739')">
                    <li (contextmenu)="__elementSelectionService.select('380631125',$event)" [ngStyle]="__elementSelectionService.getStyles('380631125')">
                        <a class="dropdown-item" routerLink="patient" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1666295511',$event)" [ngStyle]="__elementSelectionService.getStyles('1666295511')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('445543713',$event)" [ngStyle]="__elementSelectionService.getStyles('445543713')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.patient" (contextmenu)="__elementSelectionService.select('537829933',$event)" [ngStyle]="__elementSelectionService.getStyles('537829933')">Patient</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1233820457',$event)" [ngStyle]="__elementSelectionService.getStyles('1233820457')">
                        <a class="dropdown-item" routerLink="medical-service" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('654572497',$event)" [ngStyle]="__elementSelectionService.getStyles('654572497')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1313711469',$event)" [ngStyle]="__elementSelectionService.getStyles('1313711469')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.medicalService" (contextmenu)="__elementSelectionService.select('453474627',$event)" [ngStyle]="__elementSelectionService.getStyles('453474627')">Medical Service</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('113900249',$event)" [ngStyle]="__elementSelectionService.getStyles('113900249')">
                        <a class="dropdown-item" routerLink="doctor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1043088546',$event)" [ngStyle]="__elementSelectionService.getStyles('1043088546')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('493484231',$event)" [ngStyle]="__elementSelectionService.getStyles('493484231')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.doctor" (contextmenu)="__elementSelectionService.select('1032079176',$event)" [ngStyle]="__elementSelectionService.getStyles('1032079176')">Doctor</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1951563027',$event)" [ngStyle]="__elementSelectionService.getStyles('1951563027')">
                        <a class="dropdown-item" routerLink="actype" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('679947887',$event)" [ngStyle]="__elementSelectionService.getStyles('679947887')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('2063225976',$event)" [ngStyle]="__elementSelectionService.getStyles('2063225976')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.actype" (contextmenu)="__elementSelectionService.select('1708909160',$event)" [ngStyle]="__elementSelectionService.getStyles('1708909160')">Actype</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('42377509',$event)" [ngStyle]="__elementSelectionService.getStyles('42377509')">
                        <a class="dropdown-item" routerLink="act" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('333644620',$event)" [ngStyle]="__elementSelectionService.getStyles('333644620')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('991091932',$event)" [ngStyle]="__elementSelectionService.getStyles('991091932')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.act" (contextmenu)="__elementSelectionService.select('31502708',$event)" [ngStyle]="__elementSelectionService.getStyles('31502708')">Act</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('911783908',$event)" [ngStyle]="__elementSelectionService.getStyles('911783908')">
                        <a class="dropdown-item" routerLink="guard-schedule" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1026173696',$event)" [ngStyle]="__elementSelectionService.getStyles('1026173696')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('276034629',$event)" [ngStyle]="__elementSelectionService.getStyles('276034629')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.guardSchedule" (contextmenu)="__elementSelectionService.select('337415214',$event)" [ngStyle]="__elementSelectionService.getStyles('337415214')">Guard Schedule</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1728642782',$event)" [ngStyle]="__elementSelectionService.getStyles('1728642782')">
                        <a class="dropdown-item" routerLink="guard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('194427668',$event)" [ngStyle]="__elementSelectionService.getStyles('194427668')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('80263167',$event)" [ngStyle]="__elementSelectionService.getStyles('80263167')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.guard" (contextmenu)="__elementSelectionService.select('1950688948',$event)" [ngStyle]="__elementSelectionService.getStyles('1950688948')">Guard</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1411111148',$event)" [ngStyle]="__elementSelectionService.getStyles('1411111148')">
                        <a class="dropdown-item" routerLink="hospitalization" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1793824608',$event)" [ngStyle]="__elementSelectionService.getStyles('1793824608')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('727556749',$event)" [ngStyle]="__elementSelectionService.getStyles('727556749')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.hospitalization" (contextmenu)="__elementSelectionService.select('1987068372',$event)" [ngStyle]="__elementSelectionService.getStyles('1987068372')">Hospitalization</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('2091268942',$event)" [ngStyle]="__elementSelectionService.getStyles('2091268942')">
                        <a class="dropdown-item" routerLink="hospitalization" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1254155053',$event)" [ngStyle]="__elementSelectionService.getStyles('1254155053')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('214923570',$event)" [ngStyle]="__elementSelectionService.getStyles('214923570')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.hospitalization" (contextmenu)="__elementSelectionService.select('2026239902',$event)" [ngStyle]="__elementSelectionService.getStyles('2026239902')">Hospitalization</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('896851843',$event)" [ngStyle]="__elementSelectionService.getStyles('896851843')">
                        <a class="dropdown-item" routerLink="receipt-act" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('2019593099',$event)" [ngStyle]="__elementSelectionService.getStyles('2019593099')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('261192540',$event)" [ngStyle]="__elementSelectionService.getStyles('261192540')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.receiptAct" (contextmenu)="__elementSelectionService.select('1480524855',$event)" [ngStyle]="__elementSelectionService.getStyles('1480524855')">Receipt Act</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1260671092',$event)" [ngStyle]="__elementSelectionService.getStyles('1260671092')">
                        <a class="dropdown-item" routerLink="act" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('937735752',$event)" [ngStyle]="__elementSelectionService.getStyles('937735752')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('858484851',$event)" [ngStyle]="__elementSelectionService.getStyles('858484851')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.act" (contextmenu)="__elementSelectionService.select('320197789',$event)" [ngStyle]="__elementSelectionService.getStyles('320197789')">Act</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('2061205883',$event)" [ngStyle]="__elementSelectionService.getStyles('2061205883')">
                        <a class="dropdown-item" routerLink="actype" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1746874014',$event)" [ngStyle]="__elementSelectionService.getStyles('1746874014')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('14643974',$event)" [ngStyle]="__elementSelectionService.getStyles('14643974')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.actype" (contextmenu)="__elementSelectionService.select('1037299388',$event)" [ngStyle]="__elementSelectionService.getStyles('1037299388')">Actype</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (contextmenu)="__elementSelectionService.select('463822884',$event)" [ngStyle]="__elementSelectionService.getStyles('463822884')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" (contextmenu)="__elementSelectionService.select('182437392',$event)" [ngStyle]="__elementSelectionService.getStyles('182437392')">
                    <span (contextmenu)="__elementSelectionService.select('1910756110',$event)" [ngStyle]="__elementSelectionService.getStyles('1910756110')">
                        <fa-icon icon="user-plus" (contextmenu)="__elementSelectionService.select('1407673728',$event)" [ngStyle]="__elementSelectionService.getStyles('1407673728')"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main" (contextmenu)="__elementSelectionService.select('1676905368',$event)" [ngStyle]="__elementSelectionService.getStyles('1676905368')">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu" (contextmenu)="__elementSelectionService.select('392707760',$event)" [ngStyle]="__elementSelectionService.getStyles('392707760')">
                    <li (contextmenu)="__elementSelectionService.select('2029843696',$event)" [ngStyle]="__elementSelectionService.getStyles('2029843696')">
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('274683146',$event)" [ngStyle]="__elementSelectionService.getStyles('274683146')">
                            <fa-icon icon="user" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1871688658',$event)" [ngStyle]="__elementSelectionService.getStyles('1871688658')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement" (contextmenu)="__elementSelectionService.select('969186605',$event)" [ngStyle]="__elementSelectionService.getStyles('969186605')">User management</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('637576593',$event)" [ngStyle]="__elementSelectionService.getStyles('637576593')">
                        <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1276990302',$event)" [ngStyle]="__elementSelectionService.getStyles('1276990302')">
                            <fa-icon icon="tachometer-alt" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1579055148',$event)" [ngStyle]="__elementSelectionService.getStyles('1579055148')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.metrics" (contextmenu)="__elementSelectionService.select('1135524663',$event)" [ngStyle]="__elementSelectionService.getStyles('1135524663')">Metrics</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1621209854',$event)" [ngStyle]="__elementSelectionService.getStyles('1621209854')">
                        <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1174444567',$event)" [ngStyle]="__elementSelectionService.getStyles('1174444567')">
                            <fa-icon icon="heart" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1811043811',$event)" [ngStyle]="__elementSelectionService.getStyles('1811043811')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.health" (contextmenu)="__elementSelectionService.select('1572023465',$event)" [ngStyle]="__elementSelectionService.getStyles('1572023465')">Health</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('820532131',$event)" [ngStyle]="__elementSelectionService.getStyles('820532131')">
                        <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1920640907',$event)" [ngStyle]="__elementSelectionService.getStyles('1920640907')">
                            <fa-icon icon="list" fixedWidth="true" (contextmenu)="__elementSelectionService.select('199145834',$event)" [ngStyle]="__elementSelectionService.getStyles('199145834')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.configuration" (contextmenu)="__elementSelectionService.select('1338776284',$event)" [ngStyle]="__elementSelectionService.getStyles('1338776284')">Configuration</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1036725709',$event)" [ngStyle]="__elementSelectionService.getStyles('1036725709')">
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('438997760',$event)" [ngStyle]="__elementSelectionService.getStyles('438997760')">
                            <fa-icon icon="bell" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1682013382',$event)" [ngStyle]="__elementSelectionService.getStyles('1682013382')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.audits" (contextmenu)="__elementSelectionService.select('1265926248',$event)" [ngStyle]="__elementSelectionService.getStyles('1265926248')">Audits</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('800422286',$event)" [ngStyle]="__elementSelectionService.getStyles('800422286')">
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1640582635',$event)" [ngStyle]="__elementSelectionService.getStyles('1640582635')">
                            <fa-icon icon="tasks" fixedWidth="true" (contextmenu)="__elementSelectionService.select('243378776',$event)" [ngStyle]="__elementSelectionService.getStyles('243378776')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.logs" (contextmenu)="__elementSelectionService.select('1637420064',$event)" [ngStyle]="__elementSelectionService.getStyles('1637420064')">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled" (contextmenu)="__elementSelectionService.select('1709465748',$event)" [ngStyle]="__elementSelectionService.getStyles('1709465748')">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1315557334',$event)" [ngStyle]="__elementSelectionService.getStyles('1315557334')">
                            <fa-icon icon="book" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1295609641',$event)" [ngStyle]="__elementSelectionService.getStyles('1295609641')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.apidocs" (contextmenu)="__elementSelectionService.select('1692963490',$event)" [ngStyle]="__elementSelectionService.getStyles('1692963490')">API</span>
                        </a>
                    </li>
                    
                    <li *ngIf="!inProduction" (contextmenu)="__elementSelectionService.select('583974507',$event)" [ngStyle]="__elementSelectionService.getStyles('583974507')">
                        <a class="dropdown-item" href="./h2-console" target="_tab" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('576307867',$event)" [ngStyle]="__elementSelectionService.getStyles('576307867')">
                            <fa-icon icon="hdd" fixedWidth="true" (contextmenu)="__elementSelectionService.select('614441438',$event)" [ngStyle]="__elementSelectionService.getStyles('614441438')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.database" (contextmenu)="__elementSelectionService.select('79841901',$event)" [ngStyle]="__elementSelectionService.getStyles('79841901')">Database</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages &#38;&#38; languages.length &#62; 1" (contextmenu)="__elementSelectionService.select('1395163512',$event)" [ngStyle]="__elementSelectionService.getStyles('1395163512')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" (contextmenu)="__elementSelectionService.select('1065999516',$event)" [ngStyle]="__elementSelectionService.getStyles('1065999516')">
                    <span (contextmenu)="__elementSelectionService.select('1715538914',$event)" [ngStyle]="__elementSelectionService.getStyles('1715538914')">
                        <fa-icon icon="flag" (contextmenu)="__elementSelectionService.select('1883677797',$event)" [ngStyle]="__elementSelectionService.getStyles('1883677797')"></fa-icon>
                        <span jhiTranslate="global.menu.language" (contextmenu)="__elementSelectionService.select('1735575636',$event)" [ngStyle]="__elementSelectionService.getStyles('1735575636')">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown" (contextmenu)="__elementSelectionService.select('384734490',$event)" [ngStyle]="__elementSelectionService.getStyles('384734490')">
                    <li *ngFor="let language of languages" (contextmenu)="__elementSelectionService.select('2015265342',$event)" [ngStyle]="__elementSelectionService.getStyles('2015265342')">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();" (contextmenu)="__elementSelectionService.select('1027499220',$event)" [ngStyle]="__elementSelectionService.getStyles('1027499220')">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (contextmenu)="__elementSelectionService.select('1291795279',$event)" [ngStyle]="__elementSelectionService.getStyles('1291795279')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" (contextmenu)="__elementSelectionService.select('777724303',$event)" [ngStyle]="__elementSelectionService.getStyles('777724303')">
                  <span *ngIf="!getImageUrl()" (contextmenu)="__elementSelectionService.select('584603912',$event)" [ngStyle]="__elementSelectionService.getStyles('584603912')">
                    <fa-icon icon="user" (contextmenu)="__elementSelectionService.select('1812894019',$event)" [ngStyle]="__elementSelectionService.getStyles('1812894019')"></fa-icon>
                    <span jhiTranslate="global.menu.account.main" (contextmenu)="__elementSelectionService.select('1495202510',$event)" [ngStyle]="__elementSelectionService.getStyles('1495202510')">
                      Account
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()" (contextmenu)="__elementSelectionService.select('784269115',$event)" [ngStyle]="__elementSelectionService.getStyles('784269115')">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar" (contextmenu)="__elementSelectionService.select('1322181629',$event)" [ngStyle]="__elementSelectionService.getStyles('1322181629')">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu" (contextmenu)="__elementSelectionService.select('1448277998',$event)" [ngStyle]="__elementSelectionService.getStyles('1448277998')">
                    <li *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('2016718688',$event)" [ngStyle]="__elementSelectionService.getStyles('2016718688')">
                        <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('556449914',$event)" [ngStyle]="__elementSelectionService.getStyles('556449914')">
                            <fa-icon icon="wrench" fixedWidth="true" (contextmenu)="__elementSelectionService.select('406986409',$event)" [ngStyle]="__elementSelectionService.getStyles('406986409')"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings" (contextmenu)="__elementSelectionService.select('1508796360',$event)" [ngStyle]="__elementSelectionService.getStyles('1508796360')">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('75275322',$event)" [ngStyle]="__elementSelectionService.getStyles('75275322')">
                        <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1931650527',$event)" [ngStyle]="__elementSelectionService.getStyles('1931650527')">
                            <fa-icon icon="lock" fixedWidth="true" (contextmenu)="__elementSelectionService.select('2065517124',$event)" [ngStyle]="__elementSelectionService.getStyles('2065517124')"></fa-icon>
                            <span jhiTranslate="global.menu.account.password" (contextmenu)="__elementSelectionService.select('1365746376',$event)" [ngStyle]="__elementSelectionService.getStyles('1365746376')">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('823818642',$event)" [ngStyle]="__elementSelectionService.getStyles('823818642')">
                        <a class="dropdown-item" (click)="logout()" id="logout" (contextmenu)="__elementSelectionService.select('1466973747',$event)" [ngStyle]="__elementSelectionService.getStyles('1466973747')">
                            <fa-icon icon="sign-out-alt" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1177420275',$event)" [ngStyle]="__elementSelectionService.getStyles('1177420275')"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout" (contextmenu)="__elementSelectionService.select('708020764',$event)" [ngStyle]="__elementSelectionService.getStyles('708020764')">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false" (contextmenu)="__elementSelectionService.select('1216847905',$event)" [ngStyle]="__elementSelectionService.getStyles('1216847905')">
                        <a class="dropdown-item" (click)="login()" id="login" (contextmenu)="__elementSelectionService.select('508599972',$event)" [ngStyle]="__elementSelectionService.getStyles('508599972')">
                            <fa-icon icon="sign-in-alt" fixedWidth="true" (contextmenu)="__elementSelectionService.select('684143876',$event)" [ngStyle]="__elementSelectionService.getStyles('684143876')"></fa-icon>
                            <span jhiTranslate="global.menu.account.login" (contextmenu)="__elementSelectionService.select('512899434',$event)" [ngStyle]="__elementSelectionService.getStyles('512899434')">Sign in</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
