<nav class="navbar navbar-dark navbar-expand-md bg-dark" (contextmenu)="__elementSelectionService.select('996277894',$event)" [ngStyle]="__elementSelectionService.getStyles('996277894')"(click)='__elementSelectionService.clear()'>
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1443544245',$event)" [ngStyle]="__elementSelectionService.getStyles('1443544245')">
        <span class="logo-img" (contextmenu)="__elementSelectionService.select('1647050044',$event)" [ngStyle]="__elementSelectionService.getStyles('1647050044')"></span>
        <span jhiTranslate="global.title" class="navbar-title" (contextmenu)="__elementSelectionService.select('1250673057',$event)" [ngStyle]="__elementSelectionService.getStyles('1250673057')">Hospitalsystem</span> <span class="navbar-version" (contextmenu)="__elementSelectionService.select('1558860985',$event)" [ngStyle]="__elementSelectionService.getStyles('1558860985')">{{version}}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()" (contextmenu)="__elementSelectionService.select('1602663557',$event)" [ngStyle]="__elementSelectionService.getStyles('1602663557')">
        <fa-icon icon="bars" (contextmenu)="__elementSelectionService.select('1652121684',$event)" [ngStyle]="__elementSelectionService.getStyles('1652121684')"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()" (contextmenu)="__elementSelectionService.select('1995121523',$event)" [ngStyle]="__elementSelectionService.getStyles('1995121523')">
        <ul class="navbar-nav ml-auto" (contextmenu)="__elementSelectionService.select('2016083595',$event)" [ngStyle]="__elementSelectionService.getStyles('2016083595')">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (contextmenu)="__elementSelectionService.select('308436887',$event)" [ngStyle]="__elementSelectionService.getStyles('308436887')">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1001453135',$event)" [ngStyle]="__elementSelectionService.getStyles('1001453135')">
                    <span (contextmenu)="__elementSelectionService.select('342866673',$event)" [ngStyle]="__elementSelectionService.getStyles('342866673')">
                        <fa-icon icon="home" (contextmenu)="__elementSelectionService.select('991871057',$event)" [ngStyle]="__elementSelectionService.getStyles('991871057')"></fa-icon>
                        <span jhiTranslate="global.menu.home" (contextmenu)="__elementSelectionService.select('989900354',$event)" [ngStyle]="__elementSelectionService.getStyles('989900354')">Home</span>
                    </span>
                </a>
            </li>
            
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (contextmenu)="__elementSelectionService.select('129902051',$event)" [ngStyle]="__elementSelectionService.getStyles('129902051')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" (contextmenu)="__elementSelectionService.select('1852817367',$event)" [ngStyle]="__elementSelectionService.getStyles('1852817367')">
                    <span (contextmenu)="__elementSelectionService.select('591328771',$event)" [ngStyle]="__elementSelectionService.getStyles('591328771')">
                        <fa-icon icon="th-list" (contextmenu)="__elementSelectionService.select('494022296',$event)" [ngStyle]="__elementSelectionService.getStyles('494022296')"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main" (contextmenu)="__elementSelectionService.select('1804964328',$event)" [ngStyle]="__elementSelectionService.getStyles('1804964328')">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu" (contextmenu)="__elementSelectionService.select('2023168586',$event)" [ngStyle]="__elementSelectionService.getStyles('2023168586')">
                    <li (contextmenu)="__elementSelectionService.select('743273909',$event)" [ngStyle]="__elementSelectionService.getStyles('743273909')">
                        <a class="dropdown-item" routerLink="patient" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('541562954',$event)" [ngStyle]="__elementSelectionService.getStyles('541562954')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1729779579',$event)" [ngStyle]="__elementSelectionService.getStyles('1729779579')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.patient" (contextmenu)="__elementSelectionService.select('664753304',$event)" [ngStyle]="__elementSelectionService.getStyles('664753304')">Patient</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1614314755',$event)" [ngStyle]="__elementSelectionService.getStyles('1614314755')">
                        <a class="dropdown-item" routerLink="medical-service" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('2090937478',$event)" [ngStyle]="__elementSelectionService.getStyles('2090937478')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1236606438',$event)" [ngStyle]="__elementSelectionService.getStyles('1236606438')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.medicalService" (contextmenu)="__elementSelectionService.select('349420508',$event)" [ngStyle]="__elementSelectionService.getStyles('349420508')">Medical Service</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('924847136',$event)" [ngStyle]="__elementSelectionService.getStyles('924847136')">
                        <a class="dropdown-item" routerLink="doctor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1108398942',$event)" [ngStyle]="__elementSelectionService.getStyles('1108398942')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('598457559',$event)" [ngStyle]="__elementSelectionService.getStyles('598457559')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.doctor" (contextmenu)="__elementSelectionService.select('707784229',$event)" [ngStyle]="__elementSelectionService.getStyles('707784229')">Doctor</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('492418636',$event)" [ngStyle]="__elementSelectionService.getStyles('492418636')">
                        <a class="dropdown-item" routerLink="actype" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1503071386',$event)" [ngStyle]="__elementSelectionService.getStyles('1503071386')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('665083515',$event)" [ngStyle]="__elementSelectionService.getStyles('665083515')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.actype" (contextmenu)="__elementSelectionService.select('1915736684',$event)" [ngStyle]="__elementSelectionService.getStyles('1915736684')">Actype</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('580182451',$event)" [ngStyle]="__elementSelectionService.getStyles('580182451')">
                        <a class="dropdown-item" routerLink="act" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1124518567',$event)" [ngStyle]="__elementSelectionService.getStyles('1124518567')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1188303674',$event)" [ngStyle]="__elementSelectionService.getStyles('1188303674')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.act" (contextmenu)="__elementSelectionService.select('1248068926',$event)" [ngStyle]="__elementSelectionService.getStyles('1248068926')">Act</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1333329080',$event)" [ngStyle]="__elementSelectionService.getStyles('1333329080')">
                        <a class="dropdown-item" routerLink="guard-schedule" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('979260418',$event)" [ngStyle]="__elementSelectionService.getStyles('979260418')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1551228336',$event)" [ngStyle]="__elementSelectionService.getStyles('1551228336')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.guardSchedule" (contextmenu)="__elementSelectionService.select('919760629',$event)" [ngStyle]="__elementSelectionService.getStyles('919760629')">Guard Schedule</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1053284779',$event)" [ngStyle]="__elementSelectionService.getStyles('1053284779')">
                        <a class="dropdown-item" routerLink="guard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1995531317',$event)" [ngStyle]="__elementSelectionService.getStyles('1995531317')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('77315846',$event)" [ngStyle]="__elementSelectionService.getStyles('77315846')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.guard" (contextmenu)="__elementSelectionService.select('555474086',$event)" [ngStyle]="__elementSelectionService.getStyles('555474086')">Guard</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('554783663',$event)" [ngStyle]="__elementSelectionService.getStyles('554783663')">
                        <a class="dropdown-item" routerLink="hospitalization" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1555843956',$event)" [ngStyle]="__elementSelectionService.getStyles('1555843956')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('84323434',$event)" [ngStyle]="__elementSelectionService.getStyles('84323434')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.hospitalization" (contextmenu)="__elementSelectionService.select('2047323776',$event)" [ngStyle]="__elementSelectionService.getStyles('2047323776')">Hospitalization</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1361053252',$event)" [ngStyle]="__elementSelectionService.getStyles('1361053252')">
                        <a class="dropdown-item" routerLink="social-organization" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1870205183',$event)" [ngStyle]="__elementSelectionService.getStyles('1870205183')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1605141638',$event)" [ngStyle]="__elementSelectionService.getStyles('1605141638')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.socialOrganization" (contextmenu)="__elementSelectionService.select('412631645',$event)" [ngStyle]="__elementSelectionService.getStyles('412631645')">Social Organization</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1230726444',$event)" [ngStyle]="__elementSelectionService.getStyles('1230726444')">
                        <a class="dropdown-item" routerLink="session" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1845656080',$event)" [ngStyle]="__elementSelectionService.getStyles('1845656080')">
                            <fa-icon icon="asterisk" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1429298146',$event)" [ngStyle]="__elementSelectionService.getStyles('1429298146')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.session" (contextmenu)="__elementSelectionService.select('266432947',$event)" [ngStyle]="__elementSelectionService.getStyles('266432947')">Session</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (contextmenu)="__elementSelectionService.select('486606694',$event)" [ngStyle]="__elementSelectionService.getStyles('486606694')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" (contextmenu)="__elementSelectionService.select('1613642796',$event)" [ngStyle]="__elementSelectionService.getStyles('1613642796')">
                    <span (contextmenu)="__elementSelectionService.select('1059034496',$event)" [ngStyle]="__elementSelectionService.getStyles('1059034496')">
                        <fa-icon icon="user-plus" (contextmenu)="__elementSelectionService.select('997656377',$event)" [ngStyle]="__elementSelectionService.getStyles('997656377')"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main" (contextmenu)="__elementSelectionService.select('785915142',$event)" [ngStyle]="__elementSelectionService.getStyles('785915142')">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu" (contextmenu)="__elementSelectionService.select('1057393581',$event)" [ngStyle]="__elementSelectionService.getStyles('1057393581')">
                    <li (contextmenu)="__elementSelectionService.select('2096540248',$event)" [ngStyle]="__elementSelectionService.getStyles('2096540248')">
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('2142970928',$event)" [ngStyle]="__elementSelectionService.getStyles('2142970928')">
                            <fa-icon icon="user" fixedWidth="true" (contextmenu)="__elementSelectionService.select('291845868',$event)" [ngStyle]="__elementSelectionService.getStyles('291845868')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement" (contextmenu)="__elementSelectionService.select('439721102',$event)" [ngStyle]="__elementSelectionService.getStyles('439721102')">User management</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1398292986',$event)" [ngStyle]="__elementSelectionService.getStyles('1398292986')">
                        <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1969517829',$event)" [ngStyle]="__elementSelectionService.getStyles('1969517829')">
                            <fa-icon icon="tachometer-alt" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1292824339',$event)" [ngStyle]="__elementSelectionService.getStyles('1292824339')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.metrics" (contextmenu)="__elementSelectionService.select('2078923728',$event)" [ngStyle]="__elementSelectionService.getStyles('2078923728')">Metrics</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1781469894',$event)" [ngStyle]="__elementSelectionService.getStyles('1781469894')">
                        <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1010147035',$event)" [ngStyle]="__elementSelectionService.getStyles('1010147035')">
                            <fa-icon icon="heart" fixedWidth="true" (contextmenu)="__elementSelectionService.select('108632121',$event)" [ngStyle]="__elementSelectionService.getStyles('108632121')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.health" (contextmenu)="__elementSelectionService.select('863761533',$event)" [ngStyle]="__elementSelectionService.getStyles('863761533')">Health</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('558918134',$event)" [ngStyle]="__elementSelectionService.getStyles('558918134')">
                        <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('822343745',$event)" [ngStyle]="__elementSelectionService.getStyles('822343745')">
                            <fa-icon icon="list" fixedWidth="true" (contextmenu)="__elementSelectionService.select('2071008776',$event)" [ngStyle]="__elementSelectionService.getStyles('2071008776')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.configuration" (contextmenu)="__elementSelectionService.select('390450439',$event)" [ngStyle]="__elementSelectionService.getStyles('390450439')">Configuration</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('897059264',$event)" [ngStyle]="__elementSelectionService.getStyles('897059264')">
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('462896862',$event)" [ngStyle]="__elementSelectionService.getStyles('462896862')">
                            <fa-icon icon="bell" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1747299058',$event)" [ngStyle]="__elementSelectionService.getStyles('1747299058')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.audits" (contextmenu)="__elementSelectionService.select('1362198276',$event)" [ngStyle]="__elementSelectionService.getStyles('1362198276')">Audits</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('619858667',$event)" [ngStyle]="__elementSelectionService.getStyles('619858667')">
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('103936357',$event)" [ngStyle]="__elementSelectionService.getStyles('103936357')">
                            <fa-icon icon="tasks" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1124514155',$event)" [ngStyle]="__elementSelectionService.getStyles('1124514155')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.logs" (contextmenu)="__elementSelectionService.select('420816720',$event)" [ngStyle]="__elementSelectionService.getStyles('420816720')">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled" (contextmenu)="__elementSelectionService.select('797344651',$event)" [ngStyle]="__elementSelectionService.getStyles('797344651')">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('649459143',$event)" [ngStyle]="__elementSelectionService.getStyles('649459143')">
                            <fa-icon icon="book" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1343151515',$event)" [ngStyle]="__elementSelectionService.getStyles('1343151515')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.apidocs" (contextmenu)="__elementSelectionService.select('1611751277',$event)" [ngStyle]="__elementSelectionService.getStyles('1611751277')">API</span>
                        </a>
                    </li>
                    
                    <li *ngIf="!inProduction" (contextmenu)="__elementSelectionService.select('2064650815',$event)" [ngStyle]="__elementSelectionService.getStyles('2064650815')">
                        <a class="dropdown-item" href="./h2-console" target="_tab" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1921178455',$event)" [ngStyle]="__elementSelectionService.getStyles('1921178455')">
                            <fa-icon icon="hdd" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1413886617',$event)" [ngStyle]="__elementSelectionService.getStyles('1413886617')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.database" (contextmenu)="__elementSelectionService.select('1044833611',$event)" [ngStyle]="__elementSelectionService.getStyles('1044833611')">Database</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages &#38;&#38; languages.length &#62; 1" (contextmenu)="__elementSelectionService.select('1169987926',$event)" [ngStyle]="__elementSelectionService.getStyles('1169987926')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" (contextmenu)="__elementSelectionService.select('562084565',$event)" [ngStyle]="__elementSelectionService.getStyles('562084565')">
                    <span (contextmenu)="__elementSelectionService.select('1144489606',$event)" [ngStyle]="__elementSelectionService.getStyles('1144489606')">
                        <fa-icon icon="flag" (contextmenu)="__elementSelectionService.select('1305628662',$event)" [ngStyle]="__elementSelectionService.getStyles('1305628662')"></fa-icon>
                        <span jhiTranslate="global.menu.language" (contextmenu)="__elementSelectionService.select('1820662067',$event)" [ngStyle]="__elementSelectionService.getStyles('1820662067')">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown" (contextmenu)="__elementSelectionService.select('1215778916',$event)" [ngStyle]="__elementSelectionService.getStyles('1215778916')">
                    <li *ngFor="let language of languages" (contextmenu)="__elementSelectionService.select('806157402',$event)" [ngStyle]="__elementSelectionService.getStyles('806157402')">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();" (contextmenu)="__elementSelectionService.select('1870575698',$event)" [ngStyle]="__elementSelectionService.getStyles('1870575698')">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (contextmenu)="__elementSelectionService.select('729184271',$event)" [ngStyle]="__elementSelectionService.getStyles('729184271')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" (contextmenu)="__elementSelectionService.select('1508964725',$event)" [ngStyle]="__elementSelectionService.getStyles('1508964725')">
                  <span *ngIf="!getImageUrl()" (contextmenu)="__elementSelectionService.select('248066109',$event)" [ngStyle]="__elementSelectionService.getStyles('248066109')">
                    <fa-icon icon="user" (contextmenu)="__elementSelectionService.select('351253918',$event)" [ngStyle]="__elementSelectionService.getStyles('351253918')"></fa-icon>
                    <span jhiTranslate="global.menu.account.main" (contextmenu)="__elementSelectionService.select('213975308',$event)" [ngStyle]="__elementSelectionService.getStyles('213975308')">
                      Account
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()" (contextmenu)="__elementSelectionService.select('1378122416',$event)" [ngStyle]="__elementSelectionService.getStyles('1378122416')">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar" (contextmenu)="__elementSelectionService.select('363585553',$event)" [ngStyle]="__elementSelectionService.getStyles('363585553')">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu" (contextmenu)="__elementSelectionService.select('2088891519',$event)" [ngStyle]="__elementSelectionService.getStyles('2088891519')">
                    <li *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('2026652546',$event)" [ngStyle]="__elementSelectionService.getStyles('2026652546')">
                        <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('155994065',$event)" [ngStyle]="__elementSelectionService.getStyles('155994065')">
                            <fa-icon icon="wrench" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1127056769',$event)" [ngStyle]="__elementSelectionService.getStyles('1127056769')"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings" (contextmenu)="__elementSelectionService.select('821867415',$event)" [ngStyle]="__elementSelectionService.getStyles('821867415')">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('708195929',$event)" [ngStyle]="__elementSelectionService.getStyles('708195929')">
                        <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1093635585',$event)" [ngStyle]="__elementSelectionService.getStyles('1093635585')">
                            <fa-icon icon="lock" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1853950504',$event)" [ngStyle]="__elementSelectionService.getStyles('1853950504')"></fa-icon>
                            <span jhiTranslate="global.menu.account.password" (contextmenu)="__elementSelectionService.select('993295460',$event)" [ngStyle]="__elementSelectionService.getStyles('993295460')">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('539689381',$event)" [ngStyle]="__elementSelectionService.getStyles('539689381')">
                        <a class="dropdown-item" (click)="logout()" id="logout" (contextmenu)="__elementSelectionService.select('491375655',$event)" [ngStyle]="__elementSelectionService.getStyles('491375655')">
                            <fa-icon icon="sign-out-alt" fixedWidth="true" (contextmenu)="__elementSelectionService.select('2071938540',$event)" [ngStyle]="__elementSelectionService.getStyles('2071938540')"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout" (contextmenu)="__elementSelectionService.select('1664139707',$event)" [ngStyle]="__elementSelectionService.getStyles('1664139707')">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false" (contextmenu)="__elementSelectionService.select('468636241',$event)" [ngStyle]="__elementSelectionService.getStyles('468636241')">
                        <a class="dropdown-item" (click)="login()" id="login" (contextmenu)="__elementSelectionService.select('1209339391',$event)" [ngStyle]="__elementSelectionService.getStyles('1209339391')">
                            <fa-icon icon="sign-in-alt" fixedWidth="true" (contextmenu)="__elementSelectionService.select('1237606708',$event)" [ngStyle]="__elementSelectionService.getStyles('1237606708')"></fa-icon>
                            <span jhiTranslate="global.menu.account.login" (contextmenu)="__elementSelectionService.select('748440750',$event)" [ngStyle]="__elementSelectionService.getStyles('748440750')">Sign in</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
