<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1721784173',$event)" [ngStyle]="__elementSelectionService.getStyles('1721784173')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1325487393',$event)" [ngStyle]="__elementSelectionService.getStyles('1325487393')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('738097299',$event)" [ngStyle]="__elementSelectionService.getStyles('738097299')">
            <h2 id="jhi-act-heading" jhiTranslate="hospitalsystemApp.act.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('138209627',$event)" [ngStyle]="__elementSelectionService.getStyles('138209627')">Create or edit a Act</h2>
            <div (contextmenu)="__elementSelectionService.select('1226206889',$event)" [ngStyle]="__elementSelectionService.getStyles('1226206889')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('217809655',$event)" [ngStyle]="__elementSelectionService.getStyles('217809655')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('1419331867',$event)" [ngStyle]="__elementSelectionService.getStyles('1419331867')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('998249698',$event)" [ngStyle]="__elementSelectionService.getStyles('998249698')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('1100563997',$event)" [ngStyle]="__elementSelectionService.getStyles('1100563997')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('287672547',$event)" [ngStyle]="__elementSelectionService.getStyles('287672547')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.patientName" for="field_patientName" (contextmenu)="__elementSelectionService.select('267049549',$event)" [ngStyle]="__elementSelectionService.getStyles('267049549')">Patient Name</label>
                    <input type="text" class="form-control" name="patientName" id="field_patientName" formControlName="patientName" (contextmenu)="__elementSelectionService.select('880207958',$event)" [ngStyle]="__elementSelectionService.getStyles('880207958')">
                    <div *ngIf="editForm.get('patientName').invalid &#38;&#38; (editForm.get('patientName').dirty || editForm.get('patientName').touched)" (contextmenu)="__elementSelectionService.select('1070917995',$event)" [ngStyle]="__elementSelectionService.getStyles('1070917995')">
                        <small class="form-text text-danger" *ngIf="editForm.get('patientName').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('34282722',$event)" [ngStyle]="__elementSelectionService.getStyles('34282722')">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1542096476',$event)" [ngStyle]="__elementSelectionService.getStyles('1542096476')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.medicalService" for="field_medicalService" (contextmenu)="__elementSelectionService.select('1482547503',$event)" [ngStyle]="__elementSelectionService.getStyles('1482547503')">Medical Service</label>
                    <select class="form-control" id="field_medicalService" name="medicalService" formControlName="medicalService" (contextmenu)="__elementSelectionService.select('1079694590',$event)" [ngStyle]="__elementSelectionService.getStyles('1079694590')">
                        <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('443300891',$event)" [ngStyle]="__elementSelectionService.getStyles('443300891')"></option>
                        <option [ngValue]="medicalServiceOption.id === editForm.get('medicalService').value?.id ? editForm.get('medicalService').value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById" (contextmenu)="__elementSelectionService.select('364613996',$event)" [ngStyle]="__elementSelectionService.getStyles('364613996')">{{medicalServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medicalService').invalid &#38;&#38; (editForm.get('medicalService').dirty || editForm.get('medicalService').touched)" (contextmenu)="__elementSelectionService.select('584601197',$event)" [ngStyle]="__elementSelectionService.getStyles('584601197')">
                    <small class="form-text text-danger" *ngIf="editForm.get('medicalService').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('884179948',$event)" [ngStyle]="__elementSelectionService.getStyles('884179948')">
                        This field is required.
                    </small>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1338305925',$event)" [ngStyle]="__elementSelectionService.getStyles('1338305925')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.actype" for="field_actype" (contextmenu)="__elementSelectionService.select('113063392',$event)" [ngStyle]="__elementSelectionService.getStyles('113063392')">Actype</label>
                    <select class="form-control" id="field_actype" name="actype" formControlName="actype" (contextmenu)="__elementSelectionService.select('1719052412',$event)" [ngStyle]="__elementSelectionService.getStyles('1719052412')">
                        <option *ngIf="!editForm.get('actype').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('1316158397',$event)" [ngStyle]="__elementSelectionService.getStyles('1316158397')"></option>
                        <option [ngValue]="actypeOption.id === editForm.get('actype').value?.id ? editForm.get('actype').value : actypeOption" *ngFor="let actypeOption of actypes; trackBy: trackActypeById" (contextmenu)="__elementSelectionService.select('640851763',$event)" [ngStyle]="__elementSelectionService.getStyles('640851763')">{{actypeOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('actype').invalid &#38;&#38; (editForm.get('actype').dirty || editForm.get('actype').touched)" (contextmenu)="__elementSelectionService.select('1229958176',$event)" [ngStyle]="__elementSelectionService.getStyles('1229958176')">
                    <small class="form-text text-danger" *ngIf="editForm.get('actype').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('438945853',$event)" [ngStyle]="__elementSelectionService.getStyles('438945853')">
                        This field is required.
                    </small>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1130325974',$event)" [ngStyle]="__elementSelectionService.getStyles('1130325974')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.doctor" for="field_doctor" (contextmenu)="__elementSelectionService.select('1906746249',$event)" [ngStyle]="__elementSelectionService.getStyles('1906746249')">Doctor</label>
                    <select class="form-control" id="field_doctor" name="doctor" formControlName="doctor" (contextmenu)="__elementSelectionService.select('1161572145',$event)" [ngStyle]="__elementSelectionService.getStyles('1161572145')">
                        <option *ngIf="!editForm.get('doctor').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('293633931',$event)" [ngStyle]="__elementSelectionService.getStyles('293633931')"></option>
                        <option [ngValue]="doctorOption.id === editForm.get('doctor').value?.id ? editForm.get('doctor').value : doctorOption" *ngFor="let doctorOption of doctors; trackBy: trackDoctorById" (contextmenu)="__elementSelectionService.select('693750714',$event)" [ngStyle]="__elementSelectionService.getStyles('693750714')">{{doctorOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('doctor').invalid &#38;&#38; (editForm.get('doctor').dirty || editForm.get('doctor').touched)" (contextmenu)="__elementSelectionService.select('1839697907',$event)" [ngStyle]="__elementSelectionService.getStyles('1839697907')">
                    <small class="form-text text-danger" *ngIf="editForm.get('doctor').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1237741777',$event)" [ngStyle]="__elementSelectionService.getStyles('1237741777')">
                        This field is required.
                    </small>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1537749573',$event)" [ngStyle]="__elementSelectionService.getStyles('1537749573')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.patient" for="field_patient" (contextmenu)="__elementSelectionService.select('1019950737',$event)" [ngStyle]="__elementSelectionService.getStyles('1019950737')">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patient" (contextmenu)="__elementSelectionService.select('1841491692',$event)" [ngStyle]="__elementSelectionService.getStyles('1841491692')">
                        <option [ngValue]="null" (contextmenu)="__elementSelectionService.select('393763709',$event)" [ngStyle]="__elementSelectionService.getStyles('393763709')"></option>
                        <option [ngValue]="patientOption.id === editForm.get('patient').value?.id ? editForm.get('patient').value : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById" (contextmenu)="__elementSelectionService.select('232286669',$event)" [ngStyle]="__elementSelectionService.getStyles('232286669')">{{patientOption.name}}</option>
                    </select>
                </div>
               
            </div>
            <div (contextmenu)="__elementSelectionService.select('1749199193',$event)" [ngStyle]="__elementSelectionService.getStyles('1749199193')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('311267123',$event)" [ngStyle]="__elementSelectionService.getStyles('311267123')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1199279532',$event)" [ngStyle]="__elementSelectionService.getStyles('1199279532')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('153289359',$event)" [ngStyle]="__elementSelectionService.getStyles('153289359')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1960209043',$event)" [ngStyle]="__elementSelectionService.getStyles('1960209043')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('182228781',$event)" [ngStyle]="__elementSelectionService.getStyles('182228781')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('298937655',$event)" [ngStyle]="__elementSelectionService.getStyles('298937655')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
