<form name="deleteForm" (ngSubmit)="confirmDelete(act.id)" (contextmenu)="__elementSelectionService.select('1926303522',$event)" [ngStyle]="__elementSelectionService.getStyles('1926303522')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('1946892465',$event)" [ngStyle]="__elementSelectionService.getStyles('1946892465')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('240750861',$event)" [ngStyle]="__elementSelectionService.getStyles('240750861')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('1739810507',$event)" [ngStyle]="__elementSelectionService.getStyles('1739810507')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('17808412',$event)" [ngStyle]="__elementSelectionService.getStyles('17808412')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('745329212',$event)" [ngStyle]="__elementSelectionService.getStyles('745329212')"></jhi-alert-error>
        <p id="jhi-delete-act-heading" jhiTranslate="hospitalsystemApp.act.delete.question" [translateValues]="{id: act.id}" (contextmenu)="__elementSelectionService.select('1853882181',$event)" [ngStyle]="__elementSelectionService.getStyles('1853882181')">Are you sure you want to delete this Act?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('302406015',$event)" [ngStyle]="__elementSelectionService.getStyles('302406015')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('1846929535',$event)" [ngStyle]="__elementSelectionService.getStyles('1846929535')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('614611635',$event)" [ngStyle]="__elementSelectionService.getStyles('614611635')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('892763317',$event)" [ngStyle]="__elementSelectionService.getStyles('892763317')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-act" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('366675661',$event)" [ngStyle]="__elementSelectionService.getStyles('366675661')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('1422676505',$event)" [ngStyle]="__elementSelectionService.getStyles('1422676505')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1628347793',$event)" [ngStyle]="__elementSelectionService.getStyles('1628347793')">Delete</span>
        </button>
    </div>
</form>
