<form name="deleteForm" (ngSubmit)="confirmDelete(act.id)" (contextmenu)="__elementSelectionService.select('1170130953',$event)" [ngStyle]="__elementSelectionService.getStyles('1170130953')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('1834288236',$event)" [ngStyle]="__elementSelectionService.getStyles('1834288236')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('1578661711',$event)" [ngStyle]="__elementSelectionService.getStyles('1578661711')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('2037272183',$event)" [ngStyle]="__elementSelectionService.getStyles('2037272183')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('1036832689',$event)" [ngStyle]="__elementSelectionService.getStyles('1036832689')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('2021644800',$event)" [ngStyle]="__elementSelectionService.getStyles('2021644800')"></jhi-alert-error>
        <p id="jhi-delete-act-heading" jhiTranslate="hospitalsystemApp.act.delete.question" [translateValues]="{id: act.id}" (contextmenu)="__elementSelectionService.select('1707108431',$event)" [ngStyle]="__elementSelectionService.getStyles('1707108431')">Are you sure you want to delete this Act?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('1859559286',$event)" [ngStyle]="__elementSelectionService.getStyles('1859559286')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('893154394',$event)" [ngStyle]="__elementSelectionService.getStyles('893154394')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('865408807',$event)" [ngStyle]="__elementSelectionService.getStyles('865408807')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1441895178',$event)" [ngStyle]="__elementSelectionService.getStyles('1441895178')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-act" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('260479981',$event)" [ngStyle]="__elementSelectionService.getStyles('260479981')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('1498325219',$event)" [ngStyle]="__elementSelectionService.getStyles('1498325219')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1115269314',$event)" [ngStyle]="__elementSelectionService.getStyles('1115269314')">Delete</span>
        </button>
    </div>
</form>
