<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1564748532',$event)" [ngStyle]="__elementSelectionService.getStyles('1564748532')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('2005828153',$event)" [ngStyle]="__elementSelectionService.getStyles('2005828153')">
        <div *ngIf="act" (contextmenu)="__elementSelectionService.select('199300534',$event)" [ngStyle]="__elementSelectionService.getStyles('199300534')">
            <h2 (contextmenu)="__elementSelectionService.select('134449369',$event)" [ngStyle]="__elementSelectionService.getStyles('134449369')"><span jhiTranslate="hospitalsystemApp.act.detail.title" (contextmenu)="__elementSelectionService.select('1773899899',$event)" [ngStyle]="__elementSelectionService.getStyles('1773899899')">Act</span> {{act.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('1780959295',$event)" [ngStyle]="__elementSelectionService.getStyles('1780959295')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('1768467560',$event)" [ngStyle]="__elementSelectionService.getStyles('1768467560')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('2100929756',$event)" [ngStyle]="__elementSelectionService.getStyles('2100929756')">
                <dt (contextmenu)="__elementSelectionService.select('1219812168',$event)" [ngStyle]="__elementSelectionService.getStyles('1219812168')"><span jhiTranslate="hospitalsystemApp.act.patientName" (contextmenu)="__elementSelectionService.select('411178193',$event)" [ngStyle]="__elementSelectionService.getStyles('411178193')">Patient Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('883286085',$event)" [ngStyle]="__elementSelectionService.getStyles('883286085')">
                    <span (contextmenu)="__elementSelectionService.select('67808585',$event)" [ngStyle]="__elementSelectionService.getStyles('67808585')">{{act.patientName}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1779062811',$event)" [ngStyle]="__elementSelectionService.getStyles('1779062811')"><span jhiTranslate="hospitalsystemApp.act.medicalService" (contextmenu)="__elementSelectionService.select('1655106839',$event)" [ngStyle]="__elementSelectionService.getStyles('1655106839')">Medical Service</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('2040176334',$event)" [ngStyle]="__elementSelectionService.getStyles('2040176334')">
                    <div *ngIf="act.medicalService" (contextmenu)="__elementSelectionService.select('682300497',$event)" [ngStyle]="__elementSelectionService.getStyles('682300497')">
                        <a [routerLink]="['/medical-service', act.medicalService?.id, 'view']" (contextmenu)="__elementSelectionService.select('274291679',$event)" [ngStyle]="__elementSelectionService.getStyles('274291679')">{{act.medicalService?.name}}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1162003094',$event)" [ngStyle]="__elementSelectionService.getStyles('1162003094')"><span jhiTranslate="hospitalsystemApp.act.actype" (contextmenu)="__elementSelectionService.select('1753438238',$event)" [ngStyle]="__elementSelectionService.getStyles('1753438238')">Actype</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('419086531',$event)" [ngStyle]="__elementSelectionService.getStyles('419086531')">
                    <div *ngIf="act.actype" (contextmenu)="__elementSelectionService.select('1118300064',$event)" [ngStyle]="__elementSelectionService.getStyles('1118300064')">
                        <a [routerLink]="['/actype', act.actype?.id, 'view']" (contextmenu)="__elementSelectionService.select('287496976',$event)" [ngStyle]="__elementSelectionService.getStyles('287496976')">{{act.actype?.name}}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1662202498',$event)" [ngStyle]="__elementSelectionService.getStyles('1662202498')"><span jhiTranslate="hospitalsystemApp.act.doctor" (contextmenu)="__elementSelectionService.select('757144315',$event)" [ngStyle]="__elementSelectionService.getStyles('757144315')">Doctor</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1346794008',$event)" [ngStyle]="__elementSelectionService.getStyles('1346794008')">
                    <div *ngIf="act.doctor" (contextmenu)="__elementSelectionService.select('1471928667',$event)" [ngStyle]="__elementSelectionService.getStyles('1471928667')">
                        <a [routerLink]="['/doctor', act.doctor?.id, 'view']" (contextmenu)="__elementSelectionService.select('767981068',$event)" [ngStyle]="__elementSelectionService.getStyles('767981068')">{{act.doctor?.name}}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('144005005',$event)" [ngStyle]="__elementSelectionService.getStyles('144005005')"><span jhiTranslate="hospitalsystemApp.act.patient" (contextmenu)="__elementSelectionService.select('1797272117',$event)" [ngStyle]="__elementSelectionService.getStyles('1797272117')">Patient</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1658343179',$event)" [ngStyle]="__elementSelectionService.getStyles('1658343179')">
                    <div *ngIf="act.patient" (contextmenu)="__elementSelectionService.select('2083533642',$event)" [ngStyle]="__elementSelectionService.getStyles('2083533642')">
                        <a [routerLink]="['/patient', act.patient?.id, 'view']" (contextmenu)="__elementSelectionService.select('1589324414',$event)" [ngStyle]="__elementSelectionService.getStyles('1589324414')">{{act.patient?.name}}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('878713350',$event)" [ngStyle]="__elementSelectionService.getStyles('878713350')"><span jhiTranslate="hospitalsystemApp.act.receiptAct" (contextmenu)="__elementSelectionService.select('350272406',$event)" [ngStyle]="__elementSelectionService.getStyles('350272406')">Receipt Act</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1773625379',$event)" [ngStyle]="__elementSelectionService.getStyles('1773625379')">
                    <div *ngIf="act.receiptAct" (contextmenu)="__elementSelectionService.select('1851285425',$event)" [ngStyle]="__elementSelectionService.getStyles('1851285425')">
                        <a [routerLink]="['/receipt-act', act.receiptAct?.id, 'view']" (contextmenu)="__elementSelectionService.select('1516030038',$event)" [ngStyle]="__elementSelectionService.getStyles('1516030038')">{{act.receiptAct?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('1274143872',$event)" [ngStyle]="__elementSelectionService.getStyles('1274143872')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('429204389',$event)" [ngStyle]="__elementSelectionService.getStyles('429204389')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('899433201',$event)" [ngStyle]="__elementSelectionService.getStyles('899433201')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/act', act.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('163455596',$event)" [ngStyle]="__elementSelectionService.getStyles('163455596')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('1303319103',$event)" [ngStyle]="__elementSelectionService.getStyles('1303319103')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('2098694180',$event)" [ngStyle]="__elementSelectionService.getStyles('2098694180')"> Edit</span>
            </button>
        </div>
    </div>
</div>
