<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('130662448',$event)" [ngStyle]="__elementSelectionService.getStyles('130662448')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('756252600',$event)" [ngStyle]="__elementSelectionService.getStyles('756252600')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('1678959210',$event)" [ngStyle]="__elementSelectionService.getStyles('1678959210')">
            <h2 id="jhi-act-heading" jhiTranslate="hospitalsystemApp.act.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('1496394729',$event)" [ngStyle]="__elementSelectionService.getStyles('1496394729')">Create or edit a Act</h2>
            <div (contextmenu)="__elementSelectionService.select('1756943911',$event)" [ngStyle]="__elementSelectionService.getStyles('1756943911')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('1583389239',$event)" [ngStyle]="__elementSelectionService.getStyles('1583389239')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('764555811',$event)" [ngStyle]="__elementSelectionService.getStyles('764555811')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('2108439067',$event)" [ngStyle]="__elementSelectionService.getStyles('2108439067')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('1401672295',$event)" [ngStyle]="__elementSelectionService.getStyles('1401672295')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('165694211',$event)" [ngStyle]="__elementSelectionService.getStyles('165694211')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.patientName" for="field_patientName" (contextmenu)="__elementSelectionService.select('895447862',$event)" [ngStyle]="__elementSelectionService.getStyles('895447862')">Patient Name</label>
                    <input type="text" class="form-control" name="patientName" id="field_patientName" formControlName="patientName" (contextmenu)="__elementSelectionService.select('692054884',$event)" [ngStyle]="__elementSelectionService.getStyles('692054884')">
                    <div *ngIf="editForm.get('patientName').invalid &#38;&#38; (editForm.get('patientName').dirty || editForm.get('patientName').touched)" (contextmenu)="__elementSelectionService.select('606739662',$event)" [ngStyle]="__elementSelectionService.getStyles('606739662')">
                        <small class="form-text text-danger" *ngIf="editForm.get('patientName').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('790229787',$event)" [ngStyle]="__elementSelectionService.getStyles('790229787')">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1628562189',$event)" [ngStyle]="__elementSelectionService.getStyles('1628562189')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.medicalService" for="field_medicalService" (contextmenu)="__elementSelectionService.select('933445760',$event)" [ngStyle]="__elementSelectionService.getStyles('933445760')">Medical Service</label>
                    <select class="form-control" id="field_medicalService" name="medicalService" formControlName="medicalService" (contextmenu)="__elementSelectionService.select('1125906134',$event)" [ngStyle]="__elementSelectionService.getStyles('1125906134')">
                        <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('603604101',$event)" [ngStyle]="__elementSelectionService.getStyles('603604101')"></option>
                        <option [ngValue]="medicalServiceOption.id === editForm.get('medicalService').value?.id ? editForm.get('medicalService').value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById" (contextmenu)="__elementSelectionService.select('1293800060',$event)" [ngStyle]="__elementSelectionService.getStyles('1293800060')">{{medicalServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medicalService').invalid &#38;&#38; (editForm.get('medicalService').dirty || editForm.get('medicalService').touched)" (contextmenu)="__elementSelectionService.select('1612135455',$event)" [ngStyle]="__elementSelectionService.getStyles('1612135455')">
                    <small class="form-text text-danger" *ngIf="editForm.get('medicalService').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('2091305869',$event)" [ngStyle]="__elementSelectionService.getStyles('2091305869')">
                        This field is required.
                    </small>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('218719984',$event)" [ngStyle]="__elementSelectionService.getStyles('218719984')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.actype" for="field_actype" (contextmenu)="__elementSelectionService.select('774163231',$event)" [ngStyle]="__elementSelectionService.getStyles('774163231')">Actype</label>
                    <select class="form-control" id="field_actype" name="actype" formControlName="actype" (contextmenu)="__elementSelectionService.select('2005597440',$event)" [ngStyle]="__elementSelectionService.getStyles('2005597440')">
                        <option *ngIf="!editForm.get('actype').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('1035643615',$event)" [ngStyle]="__elementSelectionService.getStyles('1035643615')"></option>
                        <option [ngValue]="actypeOption.id === editForm.get('actype').value?.id ? editForm.get('actype').value : actypeOption" *ngFor="let actypeOption of actypes; trackBy: trackActypeById" (contextmenu)="__elementSelectionService.select('2067948926',$event)" [ngStyle]="__elementSelectionService.getStyles('2067948926')">{{actypeOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('actype').invalid &#38;&#38; (editForm.get('actype').dirty || editForm.get('actype').touched)" (contextmenu)="__elementSelectionService.select('1932928314',$event)" [ngStyle]="__elementSelectionService.getStyles('1932928314')">
                    <small class="form-text text-danger" *ngIf="editForm.get('actype').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1400157345',$event)" [ngStyle]="__elementSelectionService.getStyles('1400157345')">
                        This field is required.
                    </small>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1005584450',$event)" [ngStyle]="__elementSelectionService.getStyles('1005584450')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.doctor" for="field_doctor" (contextmenu)="__elementSelectionService.select('1408367575',$event)" [ngStyle]="__elementSelectionService.getStyles('1408367575')">Doctor</label>
                    <select class="form-control" id="field_doctor" name="doctor" formControlName="doctor" (contextmenu)="__elementSelectionService.select('288103270',$event)" [ngStyle]="__elementSelectionService.getStyles('288103270')">
                        <option *ngIf="!editForm.get('doctor').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('1728799838',$event)" [ngStyle]="__elementSelectionService.getStyles('1728799838')"></option>
                        <option [ngValue]="doctorOption.id === editForm.get('doctor').value?.id ? editForm.get('doctor').value : doctorOption" *ngFor="let doctorOption of doctors; trackBy: trackDoctorById" (contextmenu)="__elementSelectionService.select('1547864813',$event)" [ngStyle]="__elementSelectionService.getStyles('1547864813')">{{doctorOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('doctor').invalid &#38;&#38; (editForm.get('doctor').dirty || editForm.get('doctor').touched)" (contextmenu)="__elementSelectionService.select('11664881',$event)" [ngStyle]="__elementSelectionService.getStyles('11664881')">
                    <small class="form-text text-danger" *ngIf="editForm.get('doctor').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1907827114',$event)" [ngStyle]="__elementSelectionService.getStyles('1907827114')">
                        This field is required.
                    </small>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1302495830',$event)" [ngStyle]="__elementSelectionService.getStyles('1302495830')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.patient" for="field_patient" (contextmenu)="__elementSelectionService.select('92237037',$event)" [ngStyle]="__elementSelectionService.getStyles('92237037')">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patient" (contextmenu)="__elementSelectionService.select('179193798',$event)" [ngStyle]="__elementSelectionService.getStyles('179193798')">
                        <option [ngValue]="null" (contextmenu)="__elementSelectionService.select('1113365832',$event)" [ngStyle]="__elementSelectionService.getStyles('1113365832')"></option>
                        <option [ngValue]="patientOption.id === editForm.get('patient').value?.id ? editForm.get('patient').value : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById" (contextmenu)="__elementSelectionService.select('456460135',$event)" [ngStyle]="__elementSelectionService.getStyles('456460135')">{{patientOption.name}}</option>
                    </select>
                </div>
               
            </div>
            <div (contextmenu)="__elementSelectionService.select('1708333288',$event)" [ngStyle]="__elementSelectionService.getStyles('1708333288')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('498852835',$event)" [ngStyle]="__elementSelectionService.getStyles('498852835')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('992709569',$event)" [ngStyle]="__elementSelectionService.getStyles('992709569')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('144096764',$event)" [ngStyle]="__elementSelectionService.getStyles('144096764')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1979703390',$event)" [ngStyle]="__elementSelectionService.getStyles('1979703390')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('932815353',$event)" [ngStyle]="__elementSelectionService.getStyles('932815353')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('1351307592',$event)" [ngStyle]="__elementSelectionService.getStyles('1351307592')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
