<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1574530247',$event)" [ngStyle]="__elementSelectionService.getStyles('1574530247')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('2014826305',$event)" [ngStyle]="__elementSelectionService.getStyles('2014826305')">
        <div *ngIf="act" (contextmenu)="__elementSelectionService.select('1857960912',$event)" [ngStyle]="__elementSelectionService.getStyles('1857960912')">
            <h2 (contextmenu)="__elementSelectionService.select('501426951',$event)" [ngStyle]="__elementSelectionService.getStyles('501426951')"><span jhiTranslate="hospitalsystemApp.act.detail.title" (contextmenu)="__elementSelectionService.select('1016927297',$event)" [ngStyle]="__elementSelectionService.getStyles('1016927297')">Act</span> {{act.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('2058795348',$event)" [ngStyle]="__elementSelectionService.getStyles('2058795348')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('1707699561',$event)" [ngStyle]="__elementSelectionService.getStyles('1707699561')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('1635174852',$event)" [ngStyle]="__elementSelectionService.getStyles('1635174852')">
                <dt (contextmenu)="__elementSelectionService.select('899540663',$event)" [ngStyle]="__elementSelectionService.getStyles('899540663')"><span jhiTranslate="hospitalsystemApp.act.patientName" (contextmenu)="__elementSelectionService.select('2049873225',$event)" [ngStyle]="__elementSelectionService.getStyles('2049873225')">Patient Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1419910464',$event)" [ngStyle]="__elementSelectionService.getStyles('1419910464')">
                    <span (contextmenu)="__elementSelectionService.select('55428857',$event)" [ngStyle]="__elementSelectionService.getStyles('55428857')">{{act.patientName}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1505697913',$event)" [ngStyle]="__elementSelectionService.getStyles('1505697913')"><span jhiTranslate="hospitalsystemApp.act.medicalService" (contextmenu)="__elementSelectionService.select('1463116506',$event)" [ngStyle]="__elementSelectionService.getStyles('1463116506')">Medical Service</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('322514273',$event)" [ngStyle]="__elementSelectionService.getStyles('322514273')">
                    <div *ngIf="act.medicalService" (contextmenu)="__elementSelectionService.select('2125351921',$event)" [ngStyle]="__elementSelectionService.getStyles('2125351921')">
                        <a [routerLink]="['/medical-service', act.medicalService?.id, 'view']" (contextmenu)="__elementSelectionService.select('1580339381',$event)" [ngStyle]="__elementSelectionService.getStyles('1580339381')">{{act.medicalService?.name}}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('577604123',$event)" [ngStyle]="__elementSelectionService.getStyles('577604123')"><span jhiTranslate="hospitalsystemApp.act.actype" (contextmenu)="__elementSelectionService.select('2019948818',$event)" [ngStyle]="__elementSelectionService.getStyles('2019948818')">Actype</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1956168748',$event)" [ngStyle]="__elementSelectionService.getStyles('1956168748')">
                    <div *ngIf="act.actype" (contextmenu)="__elementSelectionService.select('987874738',$event)" [ngStyle]="__elementSelectionService.getStyles('987874738')">
                        <a [routerLink]="['/actype', act.actype?.id, 'view']" (contextmenu)="__elementSelectionService.select('1955773863',$event)" [ngStyle]="__elementSelectionService.getStyles('1955773863')">{{act.actype?.name}}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('594044750',$event)" [ngStyle]="__elementSelectionService.getStyles('594044750')"><span jhiTranslate="hospitalsystemApp.act.doctor" (contextmenu)="__elementSelectionService.select('291729067',$event)" [ngStyle]="__elementSelectionService.getStyles('291729067')">Doctor</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('622589280',$event)" [ngStyle]="__elementSelectionService.getStyles('622589280')">
                    <div *ngIf="act.doctor" (contextmenu)="__elementSelectionService.select('1141185505',$event)" [ngStyle]="__elementSelectionService.getStyles('1141185505')">
                        <a [routerLink]="['/doctor', act.doctor?.id, 'view']" (contextmenu)="__elementSelectionService.select('615990840',$event)" [ngStyle]="__elementSelectionService.getStyles('615990840')">{{act.doctor?.name}}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('782983731',$event)" [ngStyle]="__elementSelectionService.getStyles('782983731')"><span jhiTranslate="hospitalsystemApp.act.patient" (contextmenu)="__elementSelectionService.select('1415651955',$event)" [ngStyle]="__elementSelectionService.getStyles('1415651955')">Patient</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('945283341',$event)" [ngStyle]="__elementSelectionService.getStyles('945283341')">
                    <div *ngIf="act.patient" (contextmenu)="__elementSelectionService.select('642774713',$event)" [ngStyle]="__elementSelectionService.getStyles('642774713')">
                        <a [routerLink]="['/patient', act.patient?.id, 'view']" (contextmenu)="__elementSelectionService.select('1400943289',$event)" [ngStyle]="__elementSelectionService.getStyles('1400943289')">{{act.patient?.name}}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('246378496',$event)" [ngStyle]="__elementSelectionService.getStyles('246378496')"><span jhiTranslate="hospitalsystemApp.act.receiptAct" (contextmenu)="__elementSelectionService.select('167225169',$event)" [ngStyle]="__elementSelectionService.getStyles('167225169')">Receipt Act</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1347707624',$event)" [ngStyle]="__elementSelectionService.getStyles('1347707624')">
                    <div *ngIf="act.receiptAct" (contextmenu)="__elementSelectionService.select('102172449',$event)" [ngStyle]="__elementSelectionService.getStyles('102172449')">
                        <a [routerLink]="['/receipt-act', act.receiptAct?.id, 'view']" (contextmenu)="__elementSelectionService.select('1934448787',$event)" [ngStyle]="__elementSelectionService.getStyles('1934448787')">{{act.receiptAct?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('1194636420',$event)" [ngStyle]="__elementSelectionService.getStyles('1194636420')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('881118632',$event)" [ngStyle]="__elementSelectionService.getStyles('881118632')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('169142806',$event)" [ngStyle]="__elementSelectionService.getStyles('169142806')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/act', act.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('327463431',$event)" [ngStyle]="__elementSelectionService.getStyles('327463431')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('1903600743',$event)" [ngStyle]="__elementSelectionService.getStyles('1903600743')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1670241900',$event)" [ngStyle]="__elementSelectionService.getStyles('1670241900')"> Edit</span>
            </button>
        </div>
    </div>
</div>
