<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('12014599',$event)" [ngStyle]="__elementSelectionService.getStyles('12014599')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1122949626',$event)" [ngStyle]="__elementSelectionService.getStyles('1122949626')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('2026089164',$event)" [ngStyle]="__elementSelectionService.getStyles('2026089164')">
            <h2 id="jhi-act-heading" jhiTranslate="hospitalsystemApp.act.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('904166855',$event)" [ngStyle]="__elementSelectionService.getStyles('904166855')">Create or edit a Act</h2>
            <div (contextmenu)="__elementSelectionService.select('1004857206',$event)" [ngStyle]="__elementSelectionService.getStyles('1004857206')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('267503865',$event)" [ngStyle]="__elementSelectionService.getStyles('267503865')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('1778488833',$event)" [ngStyle]="__elementSelectionService.getStyles('1778488833')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('2090718403',$event)" [ngStyle]="__elementSelectionService.getStyles('2090718403')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('1616790385',$event)" [ngStyle]="__elementSelectionService.getStyles('1616790385')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1634331011',$event)" [ngStyle]="__elementSelectionService.getStyles('1634331011')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.patientName" for="field_patientName" (contextmenu)="__elementSelectionService.select('129944113',$event)" [ngStyle]="__elementSelectionService.getStyles('129944113')">Patient Name</label>
                    <input type="text" class="form-control" name="patientName" id="field_patientName" formControlName="patientName" (contextmenu)="__elementSelectionService.select('362233289',$event)" [ngStyle]="__elementSelectionService.getStyles('362233289')">
                    <div *ngIf="editForm.get('patientName').invalid &#38;&#38; (editForm.get('patientName').dirty || editForm.get('patientName').touched)" (contextmenu)="__elementSelectionService.select('130068929',$event)" [ngStyle]="__elementSelectionService.getStyles('130068929')">
                        <small class="form-text text-danger" *ngIf="editForm.get('patientName').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('701195595',$event)" [ngStyle]="__elementSelectionService.getStyles('701195595')">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1490406657',$event)" [ngStyle]="__elementSelectionService.getStyles('1490406657')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.medicalService" for="field_medicalService" (contextmenu)="__elementSelectionService.select('1946213031',$event)" [ngStyle]="__elementSelectionService.getStyles('1946213031')">Medical Service</label>
                    <select class="form-control" id="field_medicalService" name="medicalService" formControlName="medicalService" (contextmenu)="__elementSelectionService.select('1984701279',$event)" [ngStyle]="__elementSelectionService.getStyles('1984701279')">
                        <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('81785312',$event)" [ngStyle]="__elementSelectionService.getStyles('81785312')"></option>
                        <option [ngValue]="medicalServiceOption.id === editForm.get('medicalService').value?.id ? editForm.get('medicalService').value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById" (contextmenu)="__elementSelectionService.select('1913948607',$event)" [ngStyle]="__elementSelectionService.getStyles('1913948607')">{{medicalServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medicalService').invalid &#38;&#38; (editForm.get('medicalService').dirty || editForm.get('medicalService').touched)" (contextmenu)="__elementSelectionService.select('11776184',$event)" [ngStyle]="__elementSelectionService.getStyles('11776184')">
                    <small class="form-text text-danger" *ngIf="editForm.get('medicalService').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('401751338',$event)" [ngStyle]="__elementSelectionService.getStyles('401751338')">
                        This field is required.
                    </small>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1817812677',$event)" [ngStyle]="__elementSelectionService.getStyles('1817812677')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.actype" for="field_actype" (contextmenu)="__elementSelectionService.select('987147136',$event)" [ngStyle]="__elementSelectionService.getStyles('987147136')">Actype</label>
                    <select class="form-control" id="field_actype" name="actype" formControlName="actype" (contextmenu)="__elementSelectionService.select('662563346',$event)" [ngStyle]="__elementSelectionService.getStyles('662563346')">
                        <option *ngIf="!editForm.get('actype').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('568363194',$event)" [ngStyle]="__elementSelectionService.getStyles('568363194')"></option>
                        <option [ngValue]="actypeOption.id === editForm.get('actype').value?.id ? editForm.get('actype').value : actypeOption" *ngFor="let actypeOption of actypes; trackBy: trackActypeById" (contextmenu)="__elementSelectionService.select('24090101',$event)" [ngStyle]="__elementSelectionService.getStyles('24090101')">{{actypeOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('actype').invalid &#38;&#38; (editForm.get('actype').dirty || editForm.get('actype').touched)" (contextmenu)="__elementSelectionService.select('241874163',$event)" [ngStyle]="__elementSelectionService.getStyles('241874163')">
                    <small class="form-text text-danger" *ngIf="editForm.get('actype').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1175450198',$event)" [ngStyle]="__elementSelectionService.getStyles('1175450198')">
                        This field is required.
                    </small>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1670322037',$event)" [ngStyle]="__elementSelectionService.getStyles('1670322037')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.doctor" for="field_doctor" (contextmenu)="__elementSelectionService.select('506656460',$event)" [ngStyle]="__elementSelectionService.getStyles('506656460')">Doctor</label>
                    <select class="form-control" id="field_doctor" name="doctor" formControlName="doctor" (contextmenu)="__elementSelectionService.select('1159988437',$event)" [ngStyle]="__elementSelectionService.getStyles('1159988437')">
                        <option *ngIf="!editForm.get('doctor').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('2080428901',$event)" [ngStyle]="__elementSelectionService.getStyles('2080428901')"></option>
                        <option [ngValue]="doctorOption.id === editForm.get('doctor').value?.id ? editForm.get('doctor').value : doctorOption" *ngFor="let doctorOption of doctors; trackBy: trackDoctorById" (contextmenu)="__elementSelectionService.select('1739540271',$event)" [ngStyle]="__elementSelectionService.getStyles('1739540271')">{{doctorOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('doctor').invalid &#38;&#38; (editForm.get('doctor').dirty || editForm.get('doctor').touched)" (contextmenu)="__elementSelectionService.select('1847744896',$event)" [ngStyle]="__elementSelectionService.getStyles('1847744896')">
                    <small class="form-text text-danger" *ngIf="editForm.get('doctor').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('189135421',$event)" [ngStyle]="__elementSelectionService.getStyles('189135421')">
                        This field is required.
                    </small>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1898224587',$event)" [ngStyle]="__elementSelectionService.getStyles('1898224587')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.patient" for="field_patient" (contextmenu)="__elementSelectionService.select('1823419647',$event)" [ngStyle]="__elementSelectionService.getStyles('1823419647')">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patient" (contextmenu)="__elementSelectionService.select('272467635',$event)" [ngStyle]="__elementSelectionService.getStyles('272467635')">
                        <option [ngValue]="null" (contextmenu)="__elementSelectionService.select('881660571',$event)" [ngStyle]="__elementSelectionService.getStyles('881660571')"></option>
                        <option [ngValue]="patientOption.id === editForm.get('patient').value?.id ? editForm.get('patient').value : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById" (contextmenu)="__elementSelectionService.select('1638022402',$event)" [ngStyle]="__elementSelectionService.getStyles('1638022402')">{{patientOption.name}}</option>
                    </select>
                </div>
               
            </div>
            <div (contextmenu)="__elementSelectionService.select('1962880285',$event)" [ngStyle]="__elementSelectionService.getStyles('1962880285')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('143336751',$event)" [ngStyle]="__elementSelectionService.getStyles('143336751')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1414457199',$event)" [ngStyle]="__elementSelectionService.getStyles('1414457199')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('611617481',$event)" [ngStyle]="__elementSelectionService.getStyles('611617481')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('703519903',$event)" [ngStyle]="__elementSelectionService.getStyles('703519903')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('2023565008',$event)" [ngStyle]="__elementSelectionService.getStyles('2023565008')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('1540084531',$event)" [ngStyle]="__elementSelectionService.getStyles('1540084531')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
