<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1064565548',$event)" [ngStyle]="__elementSelectionService.getStyles('1064565548')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1929988247',$event)" [ngStyle]="__elementSelectionService.getStyles('1929988247')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('1392731969',$event)" [ngStyle]="__elementSelectionService.getStyles('1392731969')">
            <h2 id="jhi-patient-heading" jhiTranslate="hospitalsystemApp.patient.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('1490296639',$event)" [ngStyle]="__elementSelectionService.getStyles('1490296639')">Create or edit a Patient</h2>
            <div (contextmenu)="__elementSelectionService.select('1002731672',$event)" [ngStyle]="__elementSelectionService.getStyles('1002731672')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('36749959',$event)" [ngStyle]="__elementSelectionService.getStyles('36749959')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('1245807855',$event)" [ngStyle]="__elementSelectionService.getStyles('1245807855')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('848582527',$event)" [ngStyle]="__elementSelectionService.getStyles('848582527')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('713877773',$event)" [ngStyle]="__elementSelectionService.getStyles('713877773')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('783036961',$event)" [ngStyle]="__elementSelectionService.getStyles('783036961')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.patient.name" for="field_name" (contextmenu)="__elementSelectionService.select('1745661415',$event)" [ngStyle]="__elementSelectionService.getStyles('1745661415')">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" (contextmenu)="__elementSelectionService.select('2025009206',$event)" [ngStyle]="__elementSelectionService.getStyles('2025009206')">
                    <div *ngIf="editForm.get('name').invalid &#38;&#38; (editForm.get('name').dirty || editForm.get('name').touched)" (contextmenu)="__elementSelectionService.select('893024940',$event)" [ngStyle]="__elementSelectionService.getStyles('893024940')">
                        <small class="form-text text-danger" *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('2051570448',$event)" [ngStyle]="__elementSelectionService.getStyles('2051570448')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('2007401003',$event)" [ngStyle]="__elementSelectionService.getStyles('2007401003')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.patient.firstname" for="field_firstname" (contextmenu)="__elementSelectionService.select('376778345',$event)" [ngStyle]="__elementSelectionService.getStyles('376778345')">Firstname</label>
                    <input type="text" class="form-control" name="firstname" id="field_firstname" formControlName="firstname" (contextmenu)="__elementSelectionService.select('1887230225',$event)" [ngStyle]="__elementSelectionService.getStyles('1887230225')">
                    <div *ngIf="editForm.get('firstname').invalid &#38;&#38; (editForm.get('firstname').dirty || editForm.get('firstname').touched)" (contextmenu)="__elementSelectionService.select('1238740213',$event)" [ngStyle]="__elementSelectionService.getStyles('1238740213')">
                        <small class="form-text text-danger" *ngIf="editForm.get('firstname').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('178378814',$event)" [ngStyle]="__elementSelectionService.getStyles('178378814')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('890812773',$event)" [ngStyle]="__elementSelectionService.getStyles('890812773')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.patient.tel" for="field_tel" (contextmenu)="__elementSelectionService.select('599411334',$event)" [ngStyle]="__elementSelectionService.getStyles('599411334')">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel" formControlName="tel" (contextmenu)="__elementSelectionService.select('1198319616',$event)" [ngStyle]="__elementSelectionService.getStyles('1198319616')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1124645115',$event)" [ngStyle]="__elementSelectionService.getStyles('1124645115')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.patient.address" for="field_address" (contextmenu)="__elementSelectionService.select('866902638',$event)" [ngStyle]="__elementSelectionService.getStyles('866902638')">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address" formControlName="address" (contextmenu)="__elementSelectionService.select('1110728935',$event)" [ngStyle]="__elementSelectionService.getStyles('1110728935')">
                </div>

            </div>
            <div (contextmenu)="__elementSelectionService.select('1656273993',$event)" [ngStyle]="__elementSelectionService.getStyles('1656273993')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('1693523845',$event)" [ngStyle]="__elementSelectionService.getStyles('1693523845')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('145041895',$event)" [ngStyle]="__elementSelectionService.getStyles('145041895')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1777812300',$event)" [ngStyle]="__elementSelectionService.getStyles('1777812300')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1309335759',$event)" [ngStyle]="__elementSelectionService.getStyles('1309335759')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('577487804',$event)" [ngStyle]="__elementSelectionService.getStyles('577487804')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('60828679',$event)" [ngStyle]="__elementSelectionService.getStyles('60828679')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
