<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1153090874',$event)" [ngStyle]="__elementSelectionService.getStyles('1153090874')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('840635778',$event)" [ngStyle]="__elementSelectionService.getStyles('840635778')">
        <div *ngIf="patient" (contextmenu)="__elementSelectionService.select('538609134',$event)" [ngStyle]="__elementSelectionService.getStyles('538609134')">
            <h2 (contextmenu)="__elementSelectionService.select('1361149690',$event)" [ngStyle]="__elementSelectionService.getStyles('1361149690')"><span jhiTranslate="hospitalsystemApp.patient.detail.title" (contextmenu)="__elementSelectionService.select('1627905862',$event)" [ngStyle]="__elementSelectionService.getStyles('1627905862')">Patient</span> {{patient.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('198865377',$event)" [ngStyle]="__elementSelectionService.getStyles('198865377')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('2132516993',$event)" [ngStyle]="__elementSelectionService.getStyles('2132516993')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('622319414',$event)" [ngStyle]="__elementSelectionService.getStyles('622319414')">
                <dt (contextmenu)="__elementSelectionService.select('2050347325',$event)" [ngStyle]="__elementSelectionService.getStyles('2050347325')"><span jhiTranslate="hospitalsystemApp.patient.name" (contextmenu)="__elementSelectionService.select('574157539',$event)" [ngStyle]="__elementSelectionService.getStyles('574157539')">Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('8733069',$event)" [ngStyle]="__elementSelectionService.getStyles('8733069')">
                    <span (contextmenu)="__elementSelectionService.select('456169676',$event)" [ngStyle]="__elementSelectionService.getStyles('456169676')">{{patient.name}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1331170990',$event)" [ngStyle]="__elementSelectionService.getStyles('1331170990')"><span jhiTranslate="hospitalsystemApp.patient.firstname" (contextmenu)="__elementSelectionService.select('705839692',$event)" [ngStyle]="__elementSelectionService.getStyles('705839692')">Firstname</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('3274666',$event)" [ngStyle]="__elementSelectionService.getStyles('3274666')">
                    <span (contextmenu)="__elementSelectionService.select('534313368',$event)" [ngStyle]="__elementSelectionService.getStyles('534313368')">{{patient.firstname}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('276474291',$event)" [ngStyle]="__elementSelectionService.getStyles('276474291')"><span jhiTranslate="hospitalsystemApp.patient.tel" (contextmenu)="__elementSelectionService.select('675453394',$event)" [ngStyle]="__elementSelectionService.getStyles('675453394')">Tel</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('658614231',$event)" [ngStyle]="__elementSelectionService.getStyles('658614231')">
                    <span (contextmenu)="__elementSelectionService.select('2139983518',$event)" [ngStyle]="__elementSelectionService.getStyles('2139983518')">{{patient.tel}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('989829101',$event)" [ngStyle]="__elementSelectionService.getStyles('989829101')"><span jhiTranslate="hospitalsystemApp.patient.address" (contextmenu)="__elementSelectionService.select('114230633',$event)" [ngStyle]="__elementSelectionService.getStyles('114230633')">Address</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('748316024',$event)" [ngStyle]="__elementSelectionService.getStyles('748316024')">
                    <span (contextmenu)="__elementSelectionService.select('1072752395',$event)" [ngStyle]="__elementSelectionService.getStyles('1072752395')">{{patient.address}}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('2046185447',$event)" [ngStyle]="__elementSelectionService.getStyles('2046185447')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('124582397',$event)" [ngStyle]="__elementSelectionService.getStyles('124582397')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('2015559117',$event)" [ngStyle]="__elementSelectionService.getStyles('2015559117')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/patient', patient.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1087538557',$event)" [ngStyle]="__elementSelectionService.getStyles('1087538557')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('185627639',$event)" [ngStyle]="__elementSelectionService.getStyles('185627639')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1800650873',$event)" [ngStyle]="__elementSelectionService.getStyles('1800650873')"> Edit</span>
            </button>
        </div>
    </div>
</div>
