<form name="deleteForm" (ngSubmit)="confirmDelete(patient.id)" (contextmenu)="__elementSelectionService.select('719250013',$event)" [ngStyle]="__elementSelectionService.getStyles('719250013')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('1048032102',$event)" [ngStyle]="__elementSelectionService.getStyles('1048032102')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('1667654399',$event)" [ngStyle]="__elementSelectionService.getStyles('1667654399')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('1116634873',$event)" [ngStyle]="__elementSelectionService.getStyles('1116634873')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('959105090',$event)" [ngStyle]="__elementSelectionService.getStyles('959105090')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('986030210',$event)" [ngStyle]="__elementSelectionService.getStyles('986030210')"></jhi-alert-error>
        <p id="jhi-delete-patient-heading" jhiTranslate="hospitalsystemApp.patient.delete.question" [translateValues]="{id: patient.id}" (contextmenu)="__elementSelectionService.select('1793346751',$event)" [ngStyle]="__elementSelectionService.getStyles('1793346751')">Are you sure you want to delete this Patient?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('1529646764',$event)" [ngStyle]="__elementSelectionService.getStyles('1529646764')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('875242835',$event)" [ngStyle]="__elementSelectionService.getStyles('875242835')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('603800292',$event)" [ngStyle]="__elementSelectionService.getStyles('603800292')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1798595472',$event)" [ngStyle]="__elementSelectionService.getStyles('1798595472')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-patient" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('1423100340',$event)" [ngStyle]="__elementSelectionService.getStyles('1423100340')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('960397248',$event)" [ngStyle]="__elementSelectionService.getStyles('960397248')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1889394785',$event)" [ngStyle]="__elementSelectionService.getStyles('1889394785')">Delete</span>
        </button>
    </div>
</form>
