<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1362994319',$event)" [ngStyle]="__elementSelectionService.getStyles('1362994319')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('745551720',$event)" [ngStyle]="__elementSelectionService.getStyles('745551720')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('274069429',$event)" [ngStyle]="__elementSelectionService.getStyles('274069429')">
            <h2 id="jhi-patient-heading" jhiTranslate="hospitalsystemApp.patient.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('1183953000',$event)" [ngStyle]="__elementSelectionService.getStyles('1183953000')">Create or edit a Patient</h2>
            <div (contextmenu)="__elementSelectionService.select('1170138940',$event)" [ngStyle]="__elementSelectionService.getStyles('1170138940')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('1759003540',$event)" [ngStyle]="__elementSelectionService.getStyles('1759003540')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('1469053285',$event)" [ngStyle]="__elementSelectionService.getStyles('1469053285')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('475398412',$event)" [ngStyle]="__elementSelectionService.getStyles('475398412')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('786662077',$event)" [ngStyle]="__elementSelectionService.getStyles('786662077')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('76390422',$event)" [ngStyle]="__elementSelectionService.getStyles('76390422')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.patient.name" for="field_name" (contextmenu)="__elementSelectionService.select('744564019',$event)" [ngStyle]="__elementSelectionService.getStyles('744564019')">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" (contextmenu)="__elementSelectionService.select('9641938',$event)" [ngStyle]="__elementSelectionService.getStyles('9641938')">
                    <div *ngIf="editForm.get('name').invalid &#38;&#38; (editForm.get('name').dirty || editForm.get('name').touched)" (contextmenu)="__elementSelectionService.select('844600087',$event)" [ngStyle]="__elementSelectionService.getStyles('844600087')">
                        <small class="form-text text-danger" *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1530075227',$event)" [ngStyle]="__elementSelectionService.getStyles('1530075227')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('2120148659',$event)" [ngStyle]="__elementSelectionService.getStyles('2120148659')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.patient.firstname" for="field_firstname" (contextmenu)="__elementSelectionService.select('1714096933',$event)" [ngStyle]="__elementSelectionService.getStyles('1714096933')">Firstname</label>
                    <input type="text" class="form-control" name="firstname" id="field_firstname" formControlName="firstname" (contextmenu)="__elementSelectionService.select('1760224220',$event)" [ngStyle]="__elementSelectionService.getStyles('1760224220')">
                    <div *ngIf="editForm.get('firstname').invalid &#38;&#38; (editForm.get('firstname').dirty || editForm.get('firstname').touched)" (contextmenu)="__elementSelectionService.select('735633242',$event)" [ngStyle]="__elementSelectionService.getStyles('735633242')">
                        <small class="form-text text-danger" *ngIf="editForm.get('firstname').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('574283756',$event)" [ngStyle]="__elementSelectionService.getStyles('574283756')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('477530797',$event)" [ngStyle]="__elementSelectionService.getStyles('477530797')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.patient.tel" for="field_tel" (contextmenu)="__elementSelectionService.select('599621372',$event)" [ngStyle]="__elementSelectionService.getStyles('599621372')">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel" formControlName="tel" (contextmenu)="__elementSelectionService.select('1324505054',$event)" [ngStyle]="__elementSelectionService.getStyles('1324505054')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('985867347',$event)" [ngStyle]="__elementSelectionService.getStyles('985867347')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.patient.address" for="field_address" (contextmenu)="__elementSelectionService.select('306770500',$event)" [ngStyle]="__elementSelectionService.getStyles('306770500')">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address" formControlName="address" (contextmenu)="__elementSelectionService.select('1523197039',$event)" [ngStyle]="__elementSelectionService.getStyles('1523197039')">
                </div>

            </div>
            <div (contextmenu)="__elementSelectionService.select('106615887',$event)" [ngStyle]="__elementSelectionService.getStyles('106615887')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('622365035',$event)" [ngStyle]="__elementSelectionService.getStyles('622365035')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1888982366',$event)" [ngStyle]="__elementSelectionService.getStyles('1888982366')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('2079669887',$event)" [ngStyle]="__elementSelectionService.getStyles('2079669887')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('735929826',$event)" [ngStyle]="__elementSelectionService.getStyles('735929826')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('1257239075',$event)" [ngStyle]="__elementSelectionService.getStyles('1257239075')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('111063877',$event)" [ngStyle]="__elementSelectionService.getStyles('111063877')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
