<form name="deleteForm" (ngSubmit)="confirmDelete(patient.id)" (contextmenu)="__elementSelectionService.select('1732985850',$event)" [ngStyle]="__elementSelectionService.getStyles('1732985850')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('2021924017',$event)" [ngStyle]="__elementSelectionService.getStyles('2021924017')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('1164825800',$event)" [ngStyle]="__elementSelectionService.getStyles('1164825800')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('1580167760',$event)" [ngStyle]="__elementSelectionService.getStyles('1580167760')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('2021287086',$event)" [ngStyle]="__elementSelectionService.getStyles('2021287086')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('541302404',$event)" [ngStyle]="__elementSelectionService.getStyles('541302404')"></jhi-alert-error>
        <p id="jhi-delete-patient-heading" jhiTranslate="hospitalsystemApp.patient.delete.question" [translateValues]="{id: patient.id}" (contextmenu)="__elementSelectionService.select('186893776',$event)" [ngStyle]="__elementSelectionService.getStyles('186893776')">Are you sure you want to delete this Patient?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('784046870',$event)" [ngStyle]="__elementSelectionService.getStyles('784046870')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('89113979',$event)" [ngStyle]="__elementSelectionService.getStyles('89113979')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('969198824',$event)" [ngStyle]="__elementSelectionService.getStyles('969198824')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('744260421',$event)" [ngStyle]="__elementSelectionService.getStyles('744260421')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-patient" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('1582161651',$event)" [ngStyle]="__elementSelectionService.getStyles('1582161651')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('626179164',$event)" [ngStyle]="__elementSelectionService.getStyles('626179164')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('988710802',$event)" [ngStyle]="__elementSelectionService.getStyles('988710802')">Delete</span>
        </button>
    </div>
</form>
