<div (contextmenu)="__elementSelectionService.select('1596555482',$event)" [ngStyle]="__elementSelectionService.getStyles('1596555482')"(click)='__elementSelectionService.clear()'>
    <h2 id="page-heading" (contextmenu)="__elementSelectionService.select('389972385',$event)" [ngStyle]="__elementSelectionService.getStyles('389972385')">
        <span jhiTranslate="hospitalsystemApp.medicalService.home.title" (contextmenu)="__elementSelectionService.select('75689164',$event)" [ngStyle]="__elementSelectionService.getStyles('75689164')">Medical Services</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medical-service" [routerLink]="['/medical-service/new']" (contextmenu)="__elementSelectionService.select('986167649',$event)" [ngStyle]="__elementSelectionService.getStyles('986167649')">
            <fa-icon [icon]="'plus'" (contextmenu)="__elementSelectionService.select('2062665056',$event)" [ngStyle]="__elementSelectionService.getStyles('2062665056')"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="hospitalsystemApp.medicalService.home.createLabel" (contextmenu)="__elementSelectionService.select('430006294',$event)" [ngStyle]="__elementSelectionService.getStyles('430006294')">
            Create a new Medical Service
            </span>
        </button>
    </h2>
    <jhi-alert-error (contextmenu)="__elementSelectionService.select('173415266',$event)" [ngStyle]="__elementSelectionService.getStyles('173415266')"></jhi-alert-error>
    <jhi-alert (contextmenu)="__elementSelectionService.select('224245752',$event)" [ngStyle]="__elementSelectionService.getStyles('224245752')"></jhi-alert>
    <div class="row" (contextmenu)="__elementSelectionService.select('2046015990',$event)" [ngStyle]="__elementSelectionService.getStyles('2046015990')">
        <div class="col-sm-12" (contextmenu)="__elementSelectionService.select('1807800078',$event)" [ngStyle]="__elementSelectionService.getStyles('1807800078')">
            <form name="searchForm" class="form-inline" (contextmenu)="__elementSelectionService.select('1366776863',$event)" [ngStyle]="__elementSelectionService.getStyles('1366776863')">
                <div class="input-group w-100 mt-3" (contextmenu)="__elementSelectionService.select('838190014',$event)" [ngStyle]="__elementSelectionService.getStyles('838190014')">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hospitalsystemApp.medicalService.home.search' | translate }}" (contextmenu)="__elementSelectionService.select('1437462655',$event)" [ngStyle]="__elementSelectionService.getStyles('1437462655')">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)" (contextmenu)="__elementSelectionService.select('951592291',$event)" [ngStyle]="__elementSelectionService.getStyles('951592291')">
                        <fa-icon [icon]="'search'" (contextmenu)="__elementSelectionService.select('1405358543',$event)" [ngStyle]="__elementSelectionService.getStyles('1405358543')"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch" (contextmenu)="__elementSelectionService.select('1286852666',$event)" [ngStyle]="__elementSelectionService.getStyles('1286852666')">
                        <fa-icon [icon]="'trash-alt'" (contextmenu)="__elementSelectionService.select('1990721499',$event)" [ngStyle]="__elementSelectionService.getStyles('1990721499')"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br (contextmenu)="__elementSelectionService.select('265117521',$event)" [ngStyle]="__elementSelectionService.getStyles('265117521')">
    <div class="alert alert-warning" *ngIf="medicalServices?.length === 0" (contextmenu)="__elementSelectionService.select('2088004878',$event)" [ngStyle]="__elementSelectionService.getStyles('2088004878')">
        <span jhiTranslate="hospitalsystemApp.medicalService.home.notFound" (contextmenu)="__elementSelectionService.select('781471930',$event)" [ngStyle]="__elementSelectionService.getStyles('781471930')">No medicalServices found</span>
    </div>
    <div class="table-responsive" *ngIf="medicalServices?.length &#62; 0" (contextmenu)="__elementSelectionService.select('1736719252',$event)" [ngStyle]="__elementSelectionService.getStyles('1736719252')">
        <table class="table table-striped" aria-describedby="page-heading" (contextmenu)="__elementSelectionService.select('39241698',$event)" [ngStyle]="__elementSelectionService.getStyles('39241698')">
            <thead (contextmenu)="__elementSelectionService.select('1570096827',$event)" [ngStyle]="__elementSelectionService.getStyles('1570096827')">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)" (contextmenu)="__elementSelectionService.select('1367886899',$event)" [ngStyle]="__elementSelectionService.getStyles('1367886899')">
            <th scope="col" jhiSortBy="id" (contextmenu)="__elementSelectionService.select('387355917',$event)" [ngStyle]="__elementSelectionService.getStyles('387355917')"><span jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('600517082',$event)" [ngStyle]="__elementSelectionService.getStyles('600517082')">ID</span> <fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('1343783686',$event)" [ngStyle]="__elementSelectionService.getStyles('1343783686')"></fa-icon></th>
            <th scope="col" jhiSortBy="name" (contextmenu)="__elementSelectionService.select('1130538210',$event)" [ngStyle]="__elementSelectionService.getStyles('1130538210')"><span jhiTranslate="hospitalsystemApp.medicalService.name" (contextmenu)="__elementSelectionService.select('1618997118',$event)" [ngStyle]="__elementSelectionService.getStyles('1618997118')">Name</span> <fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('436244306',$event)" [ngStyle]="__elementSelectionService.getStyles('436244306')"></fa-icon></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('236208039',$event)" [ngStyle]="__elementSelectionService.getStyles('236208039')"></th>
            </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('1476906803',$event)" [ngStyle]="__elementSelectionService.getStyles('1476906803')">
            <tr *ngFor="let medicalService of medicalServices ;trackBy: trackId" (contextmenu)="__elementSelectionService.select('1193074514',$event)" [ngStyle]="__elementSelectionService.getStyles('1193074514')">
                <td (contextmenu)="__elementSelectionService.select('1501082364',$event)" [ngStyle]="__elementSelectionService.getStyles('1501082364')"><a [routerLink]="['/medical-service', medicalService.id, 'view' ]" (contextmenu)="__elementSelectionService.select('1983797107',$event)" [ngStyle]="__elementSelectionService.getStyles('1983797107')">{{medicalService.id}}</a></td>
                <td (contextmenu)="__elementSelectionService.select('270950608',$event)" [ngStyle]="__elementSelectionService.getStyles('270950608')">{{medicalService.name}}</td>
                <td class="text-right" (contextmenu)="__elementSelectionService.select('828496841',$event)" [ngStyle]="__elementSelectionService.getStyles('828496841')">
                    <div class="btn-group" (contextmenu)="__elementSelectionService.select('756179019',$event)" [ngStyle]="__elementSelectionService.getStyles('756179019')">
                        <button type="submit" [routerLink]="['/medical-service', medicalService.id, 'view' ]" class="btn btn-info btn-sm" (contextmenu)="__elementSelectionService.select('697515861',$event)" [ngStyle]="__elementSelectionService.getStyles('697515861')">
                            <fa-icon [icon]="'eye'" (contextmenu)="__elementSelectionService.select('168880727',$event)" [ngStyle]="__elementSelectionService.getStyles('168880727')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view" (contextmenu)="__elementSelectionService.select('898680655',$event)" [ngStyle]="__elementSelectionService.getStyles('898680655')">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/medical-service', medicalService.id, 'edit']" class="btn btn-primary btn-sm" (contextmenu)="__elementSelectionService.select('197061006',$event)" [ngStyle]="__elementSelectionService.getStyles('197061006')">
                            <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('1005000251',$event)" [ngStyle]="__elementSelectionService.getStyles('1005000251')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('908591426',$event)" [ngStyle]="__elementSelectionService.getStyles('908591426')">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/medical-service', { outlets: { popup: medicalService.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm" (contextmenu)="__elementSelectionService.select('87097975',$event)" [ngStyle]="__elementSelectionService.getStyles('87097975')">
                            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('2034198982',$event)" [ngStyle]="__elementSelectionService.getStyles('2034198982')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('2053828116',$event)" [ngStyle]="__elementSelectionService.getStyles('2053828116')">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="medicalServices?.length === 0" (contextmenu)="__elementSelectionService.select('213828106',$event)" [ngStyle]="__elementSelectionService.getStyles('213828106')">
        <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('17914704',$event)" [ngStyle]="__elementSelectionService.getStyles('17914704')">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage" (contextmenu)="__elementSelectionService.select('56779757',$event)" [ngStyle]="__elementSelectionService.getStyles('56779757')"></jhi-item-count>
        </div>
        <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('785721307',$event)" [ngStyle]="__elementSelectionService.getStyles('785721307')">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)" (contextmenu)="__elementSelectionService.select('1417748121',$event)" [ngStyle]="__elementSelectionService.getStyles('1417748121')"></ngb-pagination>
        </div>
    </div>
</div>
