<form name="deleteForm" (ngSubmit)="confirmDelete(medicalService.id)" (contextmenu)="__elementSelectionService.select('302184902',$event)" [ngStyle]="__elementSelectionService.getStyles('302184902')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('1222922199',$event)" [ngStyle]="__elementSelectionService.getStyles('1222922199')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('1294812100',$event)" [ngStyle]="__elementSelectionService.getStyles('1294812100')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('1189068344',$event)" [ngStyle]="__elementSelectionService.getStyles('1189068344')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('1241755871',$event)" [ngStyle]="__elementSelectionService.getStyles('1241755871')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('552850623',$event)" [ngStyle]="__elementSelectionService.getStyles('552850623')"></jhi-alert-error>
        <p id="jhi-delete-medicalService-heading" jhiTranslate="hospitalsystemApp.medicalService.delete.question" [translateValues]="{id: medicalService.id}" (contextmenu)="__elementSelectionService.select('132612102',$event)" [ngStyle]="__elementSelectionService.getStyles('132612102')">Are you sure you want to delete this Medical Service?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('1022546108',$event)" [ngStyle]="__elementSelectionService.getStyles('1022546108')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('1797266101',$event)" [ngStyle]="__elementSelectionService.getStyles('1797266101')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1439198530',$event)" [ngStyle]="__elementSelectionService.getStyles('1439198530')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1846812749',$event)" [ngStyle]="__elementSelectionService.getStyles('1846812749')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-medicalService" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('1154054659',$event)" [ngStyle]="__elementSelectionService.getStyles('1154054659')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('794244509',$event)" [ngStyle]="__elementSelectionService.getStyles('794244509')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('962850632',$event)" [ngStyle]="__elementSelectionService.getStyles('962850632')">Delete</span>
        </button>
    </div>
</form>
