<form name="deleteForm" (ngSubmit)="confirmDelete(medicalService.id)" (contextmenu)="__elementSelectionService.select('437965109',$event)" [ngStyle]="__elementSelectionService.getStyles('437965109')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('674103870',$event)" [ngStyle]="__elementSelectionService.getStyles('674103870')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('1693580663',$event)" [ngStyle]="__elementSelectionService.getStyles('1693580663')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('903220652',$event)" [ngStyle]="__elementSelectionService.getStyles('903220652')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('796912113',$event)" [ngStyle]="__elementSelectionService.getStyles('796912113')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('2006462930',$event)" [ngStyle]="__elementSelectionService.getStyles('2006462930')"></jhi-alert-error>
        <p id="jhi-delete-medicalService-heading" jhiTranslate="hospitalsystemApp.medicalService.delete.question" [translateValues]="{id: medicalService.id}" (contextmenu)="__elementSelectionService.select('485056531',$event)" [ngStyle]="__elementSelectionService.getStyles('485056531')">Are you sure you want to delete this Medical Service?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('425178447',$event)" [ngStyle]="__elementSelectionService.getStyles('425178447')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('1228400629',$event)" [ngStyle]="__elementSelectionService.getStyles('1228400629')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('2140625312',$event)" [ngStyle]="__elementSelectionService.getStyles('2140625312')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('673798073',$event)" [ngStyle]="__elementSelectionService.getStyles('673798073')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-medicalService" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('208695870',$event)" [ngStyle]="__elementSelectionService.getStyles('208695870')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('2056139786',$event)" [ngStyle]="__elementSelectionService.getStyles('2056139786')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1066477730',$event)" [ngStyle]="__elementSelectionService.getStyles('1066477730')">Delete</span>
        </button>
    </div>
</form>
