<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('618517897',$event)" [ngStyle]="__elementSelectionService.getStyles('618517897')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1525196781',$event)" [ngStyle]="__elementSelectionService.getStyles('1525196781')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('273895588',$event)" [ngStyle]="__elementSelectionService.getStyles('273895588')">
            <h2 id="jhi-medical-service-heading" jhiTranslate="hospitalsystemApp.medicalService.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('661611326',$event)" [ngStyle]="__elementSelectionService.getStyles('661611326')">Create or edit a Medical Service</h2>
            <div (contextmenu)="__elementSelectionService.select('145185289',$event)" [ngStyle]="__elementSelectionService.getStyles('145185289')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('401556287',$event)" [ngStyle]="__elementSelectionService.getStyles('401556287')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('498333462',$event)" [ngStyle]="__elementSelectionService.getStyles('498333462')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('1092161805',$event)" [ngStyle]="__elementSelectionService.getStyles('1092161805')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('1935436853',$event)" [ngStyle]="__elementSelectionService.getStyles('1935436853')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('507985882',$event)" [ngStyle]="__elementSelectionService.getStyles('507985882')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.medicalService.name" for="field_name" (contextmenu)="__elementSelectionService.select('483291203',$event)" [ngStyle]="__elementSelectionService.getStyles('483291203')">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" (contextmenu)="__elementSelectionService.select('357993390',$event)" [ngStyle]="__elementSelectionService.getStyles('357993390')">
                    <div *ngIf="editForm.get('name').invalid &#38;&#38; (editForm.get('name').dirty || editForm.get('name').touched)" (contextmenu)="__elementSelectionService.select('91971829',$event)" [ngStyle]="__elementSelectionService.getStyles('91971829')">
                        <small class="form-text text-danger" *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('585442927',$event)" [ngStyle]="__elementSelectionService.getStyles('585442927')">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div (contextmenu)="__elementSelectionService.select('1296438808',$event)" [ngStyle]="__elementSelectionService.getStyles('1296438808')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('1819078629',$event)" [ngStyle]="__elementSelectionService.getStyles('1819078629')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('843994709',$event)" [ngStyle]="__elementSelectionService.getStyles('843994709')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('957601837',$event)" [ngStyle]="__elementSelectionService.getStyles('957601837')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1150873537',$event)" [ngStyle]="__elementSelectionService.getStyles('1150873537')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('1333797744',$event)" [ngStyle]="__elementSelectionService.getStyles('1333797744')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('255604779',$event)" [ngStyle]="__elementSelectionService.getStyles('255604779')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
