<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1169962683',$event)" [ngStyle]="__elementSelectionService.getStyles('1169962683')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('431569951',$event)" [ngStyle]="__elementSelectionService.getStyles('431569951')">
        <div *ngIf="medicalService" (contextmenu)="__elementSelectionService.select('1024776317',$event)" [ngStyle]="__elementSelectionService.getStyles('1024776317')">
            <h2 (contextmenu)="__elementSelectionService.select('485318860',$event)" [ngStyle]="__elementSelectionService.getStyles('485318860')"><span jhiTranslate="hospitalsystemApp.medicalService.detail.title" (contextmenu)="__elementSelectionService.select('1326891221',$event)" [ngStyle]="__elementSelectionService.getStyles('1326891221')">Medical Service</span> {{medicalService.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('530535660',$event)" [ngStyle]="__elementSelectionService.getStyles('530535660')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('72589394',$event)" [ngStyle]="__elementSelectionService.getStyles('72589394')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('1934580500',$event)" [ngStyle]="__elementSelectionService.getStyles('1934580500')">
                <dt (contextmenu)="__elementSelectionService.select('178662848',$event)" [ngStyle]="__elementSelectionService.getStyles('178662848')"><span jhiTranslate="hospitalsystemApp.medicalService.name" (contextmenu)="__elementSelectionService.select('1878732876',$event)" [ngStyle]="__elementSelectionService.getStyles('1878732876')">Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1991462097',$event)" [ngStyle]="__elementSelectionService.getStyles('1991462097')">
                    <span (contextmenu)="__elementSelectionService.select('2133671656',$event)" [ngStyle]="__elementSelectionService.getStyles('2133671656')">{{medicalService.name}}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('1147061472',$event)" [ngStyle]="__elementSelectionService.getStyles('1147061472')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('1913775479',$event)" [ngStyle]="__elementSelectionService.getStyles('1913775479')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('514390560',$event)" [ngStyle]="__elementSelectionService.getStyles('514390560')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/medical-service', medicalService.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('149183843',$event)" [ngStyle]="__elementSelectionService.getStyles('149183843')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('976220507',$event)" [ngStyle]="__elementSelectionService.getStyles('976220507')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1206423860',$event)" [ngStyle]="__elementSelectionService.getStyles('1206423860')"> Edit</span>
            </button>
        </div>
    </div>
</div>
