<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('106836210',$event)" [ngStyle]="__elementSelectionService.getStyles('106836210')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('550263795',$event)" [ngStyle]="__elementSelectionService.getStyles('550263795')">
        <div *ngIf="medicalService" (contextmenu)="__elementSelectionService.select('1474442936',$event)" [ngStyle]="__elementSelectionService.getStyles('1474442936')">
            <h2 (contextmenu)="__elementSelectionService.select('1695054138',$event)" [ngStyle]="__elementSelectionService.getStyles('1695054138')"><span jhiTranslate="hospitalsystemApp.medicalService.detail.title" (contextmenu)="__elementSelectionService.select('41849659',$event)" [ngStyle]="__elementSelectionService.getStyles('41849659')">Medical Service</span> {{medicalService.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('1085231940',$event)" [ngStyle]="__elementSelectionService.getStyles('1085231940')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('113179167',$event)" [ngStyle]="__elementSelectionService.getStyles('113179167')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('542741083',$event)" [ngStyle]="__elementSelectionService.getStyles('542741083')">
                <dt (contextmenu)="__elementSelectionService.select('1455962656',$event)" [ngStyle]="__elementSelectionService.getStyles('1455962656')"><span jhiTranslate="hospitalsystemApp.medicalService.name" (contextmenu)="__elementSelectionService.select('1825011406',$event)" [ngStyle]="__elementSelectionService.getStyles('1825011406')">Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('492312395',$event)" [ngStyle]="__elementSelectionService.getStyles('492312395')">
                    <span (contextmenu)="__elementSelectionService.select('1904182769',$event)" [ngStyle]="__elementSelectionService.getStyles('1904182769')">{{medicalService.name}}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('1718724804',$event)" [ngStyle]="__elementSelectionService.getStyles('1718724804')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('827839426',$event)" [ngStyle]="__elementSelectionService.getStyles('827839426')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('1827174636',$event)" [ngStyle]="__elementSelectionService.getStyles('1827174636')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/medical-service', medicalService.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1630873741',$event)" [ngStyle]="__elementSelectionService.getStyles('1630873741')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('183077863',$event)" [ngStyle]="__elementSelectionService.getStyles('183077863')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('95387835',$event)" [ngStyle]="__elementSelectionService.getStyles('95387835')"> Edit</span>
            </button>
        </div>
    </div>
</div>
