<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('429222954',$event)" [ngStyle]="__elementSelectionService.getStyles('429222954')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('620915367',$event)" [ngStyle]="__elementSelectionService.getStyles('620915367')">
        <div *ngIf="medicalService" (contextmenu)="__elementSelectionService.select('390374929',$event)" [ngStyle]="__elementSelectionService.getStyles('390374929')">
            <h2 (contextmenu)="__elementSelectionService.select('1715481285',$event)" [ngStyle]="__elementSelectionService.getStyles('1715481285')"><span jhiTranslate="hospitalsystemApp.medicalService.detail.title" (contextmenu)="__elementSelectionService.select('1436789302',$event)" [ngStyle]="__elementSelectionService.getStyles('1436789302')">Medical Service</span> {{medicalService.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('1673700727',$event)" [ngStyle]="__elementSelectionService.getStyles('1673700727')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('1359278896',$event)" [ngStyle]="__elementSelectionService.getStyles('1359278896')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('922090967',$event)" [ngStyle]="__elementSelectionService.getStyles('922090967')">
                <dt (contextmenu)="__elementSelectionService.select('2119111461',$event)" [ngStyle]="__elementSelectionService.getStyles('2119111461')"><span jhiTranslate="hospitalsystemApp.medicalService.name" (contextmenu)="__elementSelectionService.select('147908742',$event)" [ngStyle]="__elementSelectionService.getStyles('147908742')">Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('2126186463',$event)" [ngStyle]="__elementSelectionService.getStyles('2126186463')">
                    <span (contextmenu)="__elementSelectionService.select('1731806874',$event)" [ngStyle]="__elementSelectionService.getStyles('1731806874')">{{medicalService.name}}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('1642702691',$event)" [ngStyle]="__elementSelectionService.getStyles('1642702691')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('1861412608',$event)" [ngStyle]="__elementSelectionService.getStyles('1861412608')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('1213300990',$event)" [ngStyle]="__elementSelectionService.getStyles('1213300990')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/medical-service', medicalService.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1710293752',$event)" [ngStyle]="__elementSelectionService.getStyles('1710293752')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('1225745306',$event)" [ngStyle]="__elementSelectionService.getStyles('1225745306')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('817645404',$event)" [ngStyle]="__elementSelectionService.getStyles('817645404')"> Edit</span>
            </button>
        </div>
    </div>
</div>
