<div (contextmenu)="__elementSelectionService.select('238575314',$event)" [ngStyle]="__elementSelectionService.getStyles('238575314')"(click)='__elementSelectionService.clear()'>
    <h2 id="page-heading" (contextmenu)="__elementSelectionService.select('1502959215',$event)" [ngStyle]="__elementSelectionService.getStyles('1502959215')">
        <span jhiTranslate="hospitalsystemApp.medicalService.home.title" (contextmenu)="__elementSelectionService.select('353848641',$event)" [ngStyle]="__elementSelectionService.getStyles('353848641')">Medical Services</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medical-service" [routerLink]="['/medical-service/new']" (contextmenu)="__elementSelectionService.select('242590637',$event)" [ngStyle]="__elementSelectionService.getStyles('242590637')">
            <fa-icon [icon]="'plus'" (contextmenu)="__elementSelectionService.select('1361337785',$event)" [ngStyle]="__elementSelectionService.getStyles('1361337785')"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="hospitalsystemApp.medicalService.home.createLabel" (contextmenu)="__elementSelectionService.select('577851356',$event)" [ngStyle]="__elementSelectionService.getStyles('577851356')">
            Create a new Medical Service
            </span>
        </button>
    </h2>
    <jhi-alert-error (contextmenu)="__elementSelectionService.select('220423062',$event)" [ngStyle]="__elementSelectionService.getStyles('220423062')"></jhi-alert-error>
    <jhi-alert (contextmenu)="__elementSelectionService.select('778621268',$event)" [ngStyle]="__elementSelectionService.getStyles('778621268')"></jhi-alert>
    <div class="row" (contextmenu)="__elementSelectionService.select('1565694133',$event)" [ngStyle]="__elementSelectionService.getStyles('1565694133')">
        <div class="col-sm-12" (contextmenu)="__elementSelectionService.select('1970615148',$event)" [ngStyle]="__elementSelectionService.getStyles('1970615148')">
            <form name="searchForm" class="form-inline" (contextmenu)="__elementSelectionService.select('1675415943',$event)" [ngStyle]="__elementSelectionService.getStyles('1675415943')">
                <div class="input-group w-100 mt-3" (contextmenu)="__elementSelectionService.select('198598361',$event)" [ngStyle]="__elementSelectionService.getStyles('198598361')">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hospitalsystemApp.medicalService.home.search' | translate }}" (contextmenu)="__elementSelectionService.select('1116272678',$event)" [ngStyle]="__elementSelectionService.getStyles('1116272678')">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)" (contextmenu)="__elementSelectionService.select('515530056',$event)" [ngStyle]="__elementSelectionService.getStyles('515530056')">
                        <fa-icon [icon]="'search'" (contextmenu)="__elementSelectionService.select('468707313',$event)" [ngStyle]="__elementSelectionService.getStyles('468707313')"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch" (contextmenu)="__elementSelectionService.select('578179779',$event)" [ngStyle]="__elementSelectionService.getStyles('578179779')">
                        <fa-icon [icon]="'trash-alt'" (contextmenu)="__elementSelectionService.select('666552163',$event)" [ngStyle]="__elementSelectionService.getStyles('666552163')"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br (contextmenu)="__elementSelectionService.select('1797689025',$event)" [ngStyle]="__elementSelectionService.getStyles('1797689025')">
    <div class="alert alert-warning" *ngIf="medicalServices?.length === 0" (contextmenu)="__elementSelectionService.select('261237819',$event)" [ngStyle]="__elementSelectionService.getStyles('261237819')">
        <span jhiTranslate="hospitalsystemApp.medicalService.home.notFound" (contextmenu)="__elementSelectionService.select('526554944',$event)" [ngStyle]="__elementSelectionService.getStyles('526554944')">No medicalServices found</span>
    </div>
    <div class="table-responsive" *ngIf="medicalServices?.length &#62; 0" (contextmenu)="__elementSelectionService.select('1846729232',$event)" [ngStyle]="__elementSelectionService.getStyles('1846729232')">
        <table class="table table-striped" aria-describedby="page-heading" (contextmenu)="__elementSelectionService.select('832373141',$event)" [ngStyle]="__elementSelectionService.getStyles('832373141')">
            <thead (contextmenu)="__elementSelectionService.select('795873385',$event)" [ngStyle]="__elementSelectionService.getStyles('795873385')">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)" (contextmenu)="__elementSelectionService.select('606292560',$event)" [ngStyle]="__elementSelectionService.getStyles('606292560')">
            <th scope="col" jhiSortBy="id" (contextmenu)="__elementSelectionService.select('1545197214',$event)" [ngStyle]="__elementSelectionService.getStyles('1545197214')"><span jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('97645857',$event)" [ngStyle]="__elementSelectionService.getStyles('97645857')">ID</span> <fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('705515178',$event)" [ngStyle]="__elementSelectionService.getStyles('705515178')"></fa-icon></th>
            <th scope="col" jhiSortBy="name" (contextmenu)="__elementSelectionService.select('339927153',$event)" [ngStyle]="__elementSelectionService.getStyles('339927153')"><span jhiTranslate="hospitalsystemApp.medicalService.name" (contextmenu)="__elementSelectionService.select('117274945',$event)" [ngStyle]="__elementSelectionService.getStyles('117274945')">Name</span> <fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('210758722',$event)" [ngStyle]="__elementSelectionService.getStyles('210758722')"></fa-icon></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('1278712679',$event)" [ngStyle]="__elementSelectionService.getStyles('1278712679')"></th>
            </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('1341504504',$event)" [ngStyle]="__elementSelectionService.getStyles('1341504504')">
            <tr *ngFor="let medicalService of medicalServices ;trackBy: trackId" (contextmenu)="__elementSelectionService.select('581952566',$event)" [ngStyle]="__elementSelectionService.getStyles('581952566')">
                <td (contextmenu)="__elementSelectionService.select('1370612189',$event)" [ngStyle]="__elementSelectionService.getStyles('1370612189')"><a [routerLink]="['/medical-service', medicalService.id, 'view' ]" (contextmenu)="__elementSelectionService.select('565027887',$event)" [ngStyle]="__elementSelectionService.getStyles('565027887')">{{medicalService.id}}</a></td>
                <td (contextmenu)="__elementSelectionService.select('1139138969',$event)" [ngStyle]="__elementSelectionService.getStyles('1139138969')">{{medicalService.name}}</td>
                <td class="text-right" (contextmenu)="__elementSelectionService.select('515253127',$event)" [ngStyle]="__elementSelectionService.getStyles('515253127')">
                    <div class="btn-group" (contextmenu)="__elementSelectionService.select('1087870597',$event)" [ngStyle]="__elementSelectionService.getStyles('1087870597')">
                        <button type="submit" [routerLink]="['/medical-service', medicalService.id, 'view' ]" class="btn btn-info btn-sm" (contextmenu)="__elementSelectionService.select('211279468',$event)" [ngStyle]="__elementSelectionService.getStyles('211279468')">
                            <fa-icon [icon]="'eye'" (contextmenu)="__elementSelectionService.select('1620189006',$event)" [ngStyle]="__elementSelectionService.getStyles('1620189006')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view" (contextmenu)="__elementSelectionService.select('1335341760',$event)" [ngStyle]="__elementSelectionService.getStyles('1335341760')">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/medical-service', medicalService.id, 'edit']" class="btn btn-primary btn-sm" (contextmenu)="__elementSelectionService.select('864577033',$event)" [ngStyle]="__elementSelectionService.getStyles('864577033')">
                            <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('22985386',$event)" [ngStyle]="__elementSelectionService.getStyles('22985386')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1900457376',$event)" [ngStyle]="__elementSelectionService.getStyles('1900457376')">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/medical-service', { outlets: { popup: medicalService.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm" (contextmenu)="__elementSelectionService.select('62193914',$event)" [ngStyle]="__elementSelectionService.getStyles('62193914')">
                            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('1937610411',$event)" [ngStyle]="__elementSelectionService.getStyles('1937610411')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('126024068',$event)" [ngStyle]="__elementSelectionService.getStyles('126024068')">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="medicalServices?.length === 0" (contextmenu)="__elementSelectionService.select('1131249529',$event)" [ngStyle]="__elementSelectionService.getStyles('1131249529')">
        <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1752433982',$event)" [ngStyle]="__elementSelectionService.getStyles('1752433982')">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage" (contextmenu)="__elementSelectionService.select('1998786133',$event)" [ngStyle]="__elementSelectionService.getStyles('1998786133')"></jhi-item-count>
        </div>
        <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1736280044',$event)" [ngStyle]="__elementSelectionService.getStyles('1736280044')">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)" (contextmenu)="__elementSelectionService.select('1329838797',$event)" [ngStyle]="__elementSelectionService.getStyles('1329838797')"></ngb-pagination>
        </div>
    </div>
</div>
