<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('535379247',$event)" [ngStyle]="__elementSelectionService.getStyles('535379247')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('182812858',$event)" [ngStyle]="__elementSelectionService.getStyles('182812858')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('1546896524',$event)" [ngStyle]="__elementSelectionService.getStyles('1546896524')">
            <h2 id="jhi-medical-service-heading" jhiTranslate="hospitalsystemApp.medicalService.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('221667064',$event)" [ngStyle]="__elementSelectionService.getStyles('221667064')">Create or edit a Medical Service</h2>
            <div (contextmenu)="__elementSelectionService.select('322477335',$event)" [ngStyle]="__elementSelectionService.getStyles('322477335')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('905850778',$event)" [ngStyle]="__elementSelectionService.getStyles('905850778')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('2007734797',$event)" [ngStyle]="__elementSelectionService.getStyles('2007734797')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('1221970846',$event)" [ngStyle]="__elementSelectionService.getStyles('1221970846')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('533866422',$event)" [ngStyle]="__elementSelectionService.getStyles('533866422')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1536448809',$event)" [ngStyle]="__elementSelectionService.getStyles('1536448809')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.medicalService.name" for="field_name" (contextmenu)="__elementSelectionService.select('1891945380',$event)" [ngStyle]="__elementSelectionService.getStyles('1891945380')">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" (contextmenu)="__elementSelectionService.select('371943193',$event)" [ngStyle]="__elementSelectionService.getStyles('371943193')">
                    <div *ngIf="editForm.get('name').invalid &#38;&#38; (editForm.get('name').dirty || editForm.get('name').touched)" (contextmenu)="__elementSelectionService.select('407506429',$event)" [ngStyle]="__elementSelectionService.getStyles('407506429')">
                        <small class="form-text text-danger" *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1634616012',$event)" [ngStyle]="__elementSelectionService.getStyles('1634616012')">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div (contextmenu)="__elementSelectionService.select('924925102',$event)" [ngStyle]="__elementSelectionService.getStyles('924925102')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('2063570684',$event)" [ngStyle]="__elementSelectionService.getStyles('2063570684')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('848452027',$event)" [ngStyle]="__elementSelectionService.getStyles('848452027')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('569967879',$event)" [ngStyle]="__elementSelectionService.getStyles('569967879')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('528714202',$event)" [ngStyle]="__elementSelectionService.getStyles('528714202')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('424518816',$event)" [ngStyle]="__elementSelectionService.getStyles('424518816')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('967997875',$event)" [ngStyle]="__elementSelectionService.getStyles('967997875')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
