<div (contextmenu)="__elementSelectionService.select('2002147464',$event)" [ngStyle]="__elementSelectionService.getStyles('2002147464')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('968194325',$event)" [ngStyle]="__elementSelectionService.getStyles('968194325')">
        <div class="col-md-8" *ngIf="account$ | async as account" (contextmenu)="__elementSelectionService.select('2086855859',$event)" [ngStyle]="__elementSelectionService.getStyles('2086855859')">
            <h2 jhiTranslate="password.title" [translateValues]="{username: account.login}" (contextmenu)="__elementSelectionService.select('1345213169',$event)" [ngStyle]="__elementSelectionService.getStyles('1345213169')">Password for [<strong (contextmenu)="__elementSelectionService.select('1515428022',$event)" [ngStyle]="__elementSelectionService.getStyles('1515428022')">{{account.login}}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success" (contextmenu)="__elementSelectionService.select('1211907896',$event)" [ngStyle]="__elementSelectionService.getStyles('1211907896')">
                <strong (contextmenu)="__elementSelectionService.select('596643312',$event)" [ngStyle]="__elementSelectionService.getStyles('596643312')">Password changed!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" jhiTranslate="password.messages.error" (contextmenu)="__elementSelectionService.select('25918121',$event)" [ngStyle]="__elementSelectionService.getStyles('25918121')">
                <strong (contextmenu)="__elementSelectionService.select('1205584902',$event)" [ngStyle]="__elementSelectionService.getStyles('1205584902')">An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch" (contextmenu)="__elementSelectionService.select('1857545786',$event)" [ngStyle]="__elementSelectionService.getStyles('1857545786')">
                The password and its confirmation do not match!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm" (contextmenu)="__elementSelectionService.select('1298897297',$event)" [ngStyle]="__elementSelectionService.getStyles('1298897297')">

                <div class="form-group" (contextmenu)="__elementSelectionService.select('393215143',$event)" [ngStyle]="__elementSelectionService.getStyles('393215143')">
                    <label class="form-control-label" for="currentPassword" jhiTranslate="global.form.currentpassword.label" (contextmenu)="__elementSelectionService.select('244183480',$event)" [ngStyle]="__elementSelectionService.getStyles('244183480')">Current password</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="{{'global.form.currentpassword.placeholder' | translate}}" formControlName="currentPassword" (contextmenu)="__elementSelectionService.select('1608138853',$event)" [ngStyle]="__elementSelectionService.getStyles('1608138853')">
                    <div *ngIf="passwordForm.get('currentPassword').invalid &#38;&#38; (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)" (contextmenu)="__elementSelectionService.select('1315761438',$event)" [ngStyle]="__elementSelectionService.getStyles('1315761438')">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword').errors.required" jhiTranslate="global.messages.validate.newpassword.required" (contextmenu)="__elementSelectionService.select('646888112',$event)" [ngStyle]="__elementSelectionService.getStyles('646888112')">
                            Your password is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1206886376',$event)" [ngStyle]="__elementSelectionService.getStyles('1206886376')">
                    <label class="form-control-label" for="newPassword" jhiTranslate="global.form.newpassword.label" (contextmenu)="__elementSelectionService.select('1245394456',$event)" [ngStyle]="__elementSelectionService.getStyles('1245394456')">New password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="{{'global.form.newpassword.placeholder' | translate}}" formControlName="newPassword" (contextmenu)="__elementSelectionService.select('1670788700',$event)" [ngStyle]="__elementSelectionService.getStyles('1670788700')">
                    <div *ngIf="passwordForm.get('newPassword').invalid &#38;&#38; (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)" (contextmenu)="__elementSelectionService.select('807295908',$event)" [ngStyle]="__elementSelectionService.getStyles('807295908')">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.required" jhiTranslate="global.messages.validate.newpassword.required" (contextmenu)="__elementSelectionService.select('196444816',$event)" [ngStyle]="__elementSelectionService.getStyles('196444816')">
                            Your password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength" (contextmenu)="__elementSelectionService.select('405667336',$event)" [ngStyle]="__elementSelectionService.getStyles('405667336')">
                            Your password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength" (contextmenu)="__elementSelectionService.select('1255870343',$event)" [ngStyle]="__elementSelectionService.getStyles('1255870343')">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value" (contextmenu)="__elementSelectionService.select('140160515',$event)" [ngStyle]="__elementSelectionService.getStyles('140160515')"></jhi-password-strength-bar>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('794565786',$event)" [ngStyle]="__elementSelectionService.getStyles('794565786')">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label" (contextmenu)="__elementSelectionService.select('1492548295',$event)" [ngStyle]="__elementSelectionService.getStyles('1492548295')">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}" formControlName="confirmPassword" (contextmenu)="__elementSelectionService.select('1245962601',$event)" [ngStyle]="__elementSelectionService.getStyles('1245962601')">
                    <div *ngIf="passwordForm.get('confirmPassword').invalid &#38;&#38; (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)" (contextmenu)="__elementSelectionService.select('389313684',$event)" [ngStyle]="__elementSelectionService.getStyles('389313684')">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.required" jhiTranslate="global.messages.validate.confirmpassword.required" (contextmenu)="__elementSelectionService.select('1480786468',$event)" [ngStyle]="__elementSelectionService.getStyles('1480786468')">
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength" (contextmenu)="__elementSelectionService.select('864582569',$event)" [ngStyle]="__elementSelectionService.getStyles('864582569')">
                            Your confirmation password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength" (contextmenu)="__elementSelectionService.select('1721080856',$event)" [ngStyle]="__elementSelectionService.getStyles('1721080856')">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" jhiTranslate="password.form.button" (contextmenu)="__elementSelectionService.select('1387385994',$event)" [ngStyle]="__elementSelectionService.getStyles('1387385994')">Save</button>
            </form>
        </div>
    </div>
</div>
