<div (contextmenu)="__elementSelectionService.select('1798921561',$event)" [ngStyle]="__elementSelectionService.getStyles('1798921561')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1162760513',$event)" [ngStyle]="__elementSelectionService.getStyles('1162760513')">
        <div class="col-md-8" *ngIf="account$ | async as account" (contextmenu)="__elementSelectionService.select('1681661732',$event)" [ngStyle]="__elementSelectionService.getStyles('1681661732')">
            <h2 jhiTranslate="password.title" [translateValues]="{username: account.login}" (contextmenu)="__elementSelectionService.select('1278558511',$event)" [ngStyle]="__elementSelectionService.getStyles('1278558511')">Password for [<strong (contextmenu)="__elementSelectionService.select('387633917',$event)" [ngStyle]="__elementSelectionService.getStyles('387633917')">{{account.login}}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success" (contextmenu)="__elementSelectionService.select('552164614',$event)" [ngStyle]="__elementSelectionService.getStyles('552164614')">
                <strong (contextmenu)="__elementSelectionService.select('606647040',$event)" [ngStyle]="__elementSelectionService.getStyles('606647040')">Password changed!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" jhiTranslate="password.messages.error" (contextmenu)="__elementSelectionService.select('1123197587',$event)" [ngStyle]="__elementSelectionService.getStyles('1123197587')">
                <strong (contextmenu)="__elementSelectionService.select('54402314',$event)" [ngStyle]="__elementSelectionService.getStyles('54402314')">An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch" (contextmenu)="__elementSelectionService.select('1775595782',$event)" [ngStyle]="__elementSelectionService.getStyles('1775595782')">
                The password and its confirmation do not match!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm" (contextmenu)="__elementSelectionService.select('142897039',$event)" [ngStyle]="__elementSelectionService.getStyles('142897039')">

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1605743158',$event)" [ngStyle]="__elementSelectionService.getStyles('1605743158')">
                    <label class="form-control-label" for="currentPassword" jhiTranslate="global.form.currentpassword.label" (contextmenu)="__elementSelectionService.select('747647623',$event)" [ngStyle]="__elementSelectionService.getStyles('747647623')">Current password</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="{{'global.form.currentpassword.placeholder' | translate}}" formControlName="currentPassword" (contextmenu)="__elementSelectionService.select('1854876498',$event)" [ngStyle]="__elementSelectionService.getStyles('1854876498')">
                    <div *ngIf="passwordForm.get('currentPassword').invalid &#38;&#38; (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)" (contextmenu)="__elementSelectionService.select('1163708699',$event)" [ngStyle]="__elementSelectionService.getStyles('1163708699')">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword').errors.required" jhiTranslate="global.messages.validate.newpassword.required" (contextmenu)="__elementSelectionService.select('923461508',$event)" [ngStyle]="__elementSelectionService.getStyles('923461508')">
                            Your password is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('446951400',$event)" [ngStyle]="__elementSelectionService.getStyles('446951400')">
                    <label class="form-control-label" for="newPassword" jhiTranslate="global.form.newpassword.label" (contextmenu)="__elementSelectionService.select('224498261',$event)" [ngStyle]="__elementSelectionService.getStyles('224498261')">New password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="{{'global.form.newpassword.placeholder' | translate}}" formControlName="newPassword" (contextmenu)="__elementSelectionService.select('785811187',$event)" [ngStyle]="__elementSelectionService.getStyles('785811187')">
                    <div *ngIf="passwordForm.get('newPassword').invalid &#38;&#38; (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)" (contextmenu)="__elementSelectionService.select('1317040746',$event)" [ngStyle]="__elementSelectionService.getStyles('1317040746')">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.required" jhiTranslate="global.messages.validate.newpassword.required" (contextmenu)="__elementSelectionService.select('1272514813',$event)" [ngStyle]="__elementSelectionService.getStyles('1272514813')">
                            Your password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength" (contextmenu)="__elementSelectionService.select('1252776169',$event)" [ngStyle]="__elementSelectionService.getStyles('1252776169')">
                            Your password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength" (contextmenu)="__elementSelectionService.select('1355820625',$event)" [ngStyle]="__elementSelectionService.getStyles('1355820625')">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value" (contextmenu)="__elementSelectionService.select('495846659',$event)" [ngStyle]="__elementSelectionService.getStyles('495846659')"></jhi-password-strength-bar>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('504588463',$event)" [ngStyle]="__elementSelectionService.getStyles('504588463')">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label" (contextmenu)="__elementSelectionService.select('174819092',$event)" [ngStyle]="__elementSelectionService.getStyles('174819092')">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}" formControlName="confirmPassword" (contextmenu)="__elementSelectionService.select('1536725678',$event)" [ngStyle]="__elementSelectionService.getStyles('1536725678')">
                    <div *ngIf="passwordForm.get('confirmPassword').invalid &#38;&#38; (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)" (contextmenu)="__elementSelectionService.select('919810755',$event)" [ngStyle]="__elementSelectionService.getStyles('919810755')">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.required" jhiTranslate="global.messages.validate.confirmpassword.required" (contextmenu)="__elementSelectionService.select('864055974',$event)" [ngStyle]="__elementSelectionService.getStyles('864055974')">
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength" (contextmenu)="__elementSelectionService.select('1694826725',$event)" [ngStyle]="__elementSelectionService.getStyles('1694826725')">
                            Your confirmation password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength" (contextmenu)="__elementSelectionService.select('2048389897',$event)" [ngStyle]="__elementSelectionService.getStyles('2048389897')">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" jhiTranslate="password.form.button" (contextmenu)="__elementSelectionService.select('1442677666',$event)" [ngStyle]="__elementSelectionService.getStyles('1442677666')">Save</button>
            </form>
        </div>
    </div>
</div>
