<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="guardSchedule">
            <h2><span jhiTranslate="hospitalsystemApp.guardSchedule.detail.title">Guard Schedule</span> {{guardSchedule.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalsystemApp.guardSchedule.payement">Payement</span></dt>
                <dd>
                    <span>{{guardSchedule.payement}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.guardSchedule.start">Start</span></dt>
                <dd>
                    <span>{{guardSchedule.start}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.guardSchedule.end">End</span></dt>
                <dd>
                    <span>{{guardSchedule.end}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.guardSchedule.name">Name</span></dt>
                <dd>
                    <span>{{guardSchedule.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/guard-schedule', guardSchedule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
