<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="horaire_garde">
            <h2><span jhiTranslate="hospitalsystemApp.horaire_garde.detail.title">Horaire Garde</span> {{horaire_garde.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalsystemApp.horaire_garde.start">Start</span></dt>
                <dd>
                    <span>{{horaire_garde.start}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.horaire_garde.end">End</span></dt>
                <dd>
                    <span>{{horaire_garde.end}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.horaire_garde.name">Name</span></dt>
                <dd>
                    <span>{{horaire_garde.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/horaire-garde', horaire_garde.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
