<div>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hospitalsystemApp.receiptAct.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="receiptActs?.length === 0">
        <span jhiTranslate="hospitalsystemApp.receiptAct.home.notFound">No receiptActs found</span>
    </div>
    <div class="table-responsive" *ngIf="receiptActs?.length > 0">
    
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-guard-heading" jhiTranslate="hospitalsystemApp.guard.home.chooseDoctor">Choix du medecin</h2>
            <div>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.guard.medicalService" for="field_medicalService">Doctor Medical Service</label>
                    <select class="form-control" id="field_medicalService" name="medicalService" formControlName="medicalService"  (change)="onChangeService()">
                        <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected></option>
                        <option [ngValue]="medicalServiceOption.id === editForm.get('medicalService').value?.id ? editForm.get('medicalService').value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById">{{medicalServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medicalService').invalid && (editForm.get('medicalService').dirty || editForm.get('medicalService').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('medicalService').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.guard.doctor" for="field_doctor">Doctor</label>
                    <select class="form-control" id="field_doctor" name="doctor" formControlName="doctor">
                        <option *ngIf="!editForm.get('doctor').value" [ngValue]="null" selected></option>
                        <option [ngValue]="doctorOption.id === editForm.get('doctor').value?.id ? editForm.get('doctor').value : doctorOption" *ngFor="let doctorOption of doctors; trackBy: trackDoctorById">{{doctorOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('doctor').invalid && (editForm.get('doctor').dirty || editForm.get('doctor').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('doctor').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Rechercher</span>
                </button>
            </div>
        </form>
        
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="total"><span jhiTranslate="hospitalsystemApp.receiptAct.total">Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paid"><span jhiTranslate="hospitalsystemApp.receiptAct.paid">Paid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paidDoctor"><span jhiTranslate="hospitalsystemApp.receiptAct.paidDoctor">Paid Doctor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="date"><span jhiTranslate="hospitalsystemApp.receiptAct.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="act.id"><span jhiTranslate="hospitalsystemApp.receiptAct.act">Act</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let receiptAct of receiptActs ;trackBy: trackId">
                <td><a [routerLink]="['/receipt-act', receiptAct.id, 'view' ]">{{receiptAct.id}}</a></td>
                <td>{{receiptAct.total}}</td>
                <td>{{receiptAct.paid}}</td>
                <td>{{receiptAct.paidDoctor}}</td>
                <td>{{receiptAct.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="receiptAct.act">
                        <a [routerLink]="['/act', receiptAct.act?.id, 'view' ]" >{{receiptAct.act?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/receipt-act', receiptAct.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button 
                            type="button"
                            (click)= "download(receiptAct.id)"
                             class="btn btn-success btn-sm">
                            <fa-icon [icon]="'file-download'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.download">Download</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/receipt-act', receiptAct.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *ngIf="!receiptAct.paid" type="submit"
                                [routerLink]="['/receipt-act', { outlets: { popup: receiptAct.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="receiptActs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
