<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="receiptAct">
            <h2><span jhiTranslate="hospitalsystemApp.receiptAct.detail.title">Receipt Act</span> {{receiptAct.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalsystemApp.receiptAct.total">Total</span></dt>
                <dd>
                    <span>{{receiptAct.total}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.receiptAct.paid">Paid</span></dt>
                <dd>
                    <span>{{receiptAct.paid}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.receiptAct.paidDoctor">Paid Doctor</span></dt>
                <dd>
                    <span>{{receiptAct.paidDoctor}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.receiptAct.date">Date</span></dt>
                <dd>
                    <span>{{receiptAct.date}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.receiptAct.act">Act</span></dt>
                <dd>
                    <div *ngIf="receiptAct.act">
                        <a [routerLink]="['/act', receiptAct.act?.id, 'view']">{{receiptAct.act?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/receipt-act', receiptAct.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
