<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="socialOrganizationRegimen">
            <h2><span jhiTranslate="hospitalsystemApp.socialOrganizationRegimen.detail.title">Social Organization Regimen</span> {{socialOrganizationRegimen.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalsystemApp.socialOrganizationRegimen.percentage">Percentage</span></dt>
                <dd>
                    <span>{{socialOrganizationRegimen.percentage}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.socialOrganizationRegimen.socialOrganization">Social Organization</span></dt>
                <dd>
                    <div *ngIf="socialOrganizationRegimen.socialOrganization">
                        <a [routerLink]="['/social-organization', socialOrganizationRegimen.socialOrganization?.id, 'view']">{{socialOrganizationRegimen.socialOrganization?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/social-organization-regimen', socialOrganizationRegimen.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
