<div class="row" (contextmenu)="__elementSelectionService.select('35712399',$event)" [ngStyle]="__elementSelectionService.getStyles('35712399')"(click)='__elementSelectionService.clear()'>
    <div class="col-md-3" (contextmenu)="__elementSelectionService.select('793742306',$event)" [ngStyle]="__elementSelectionService.getStyles('793742306')">
        <span class="hipster img-fluid rounded" (contextmenu)="__elementSelectionService.select('713447185',$event)" [ngStyle]="__elementSelectionService.getStyles('713447185')"></span>
    </div>
    <div class="col-md-9" (contextmenu)="__elementSelectionService.select('51517043',$event)" [ngStyle]="__elementSelectionService.getStyles('51517043')">
        <h1 class="display-4" jhiTranslate="home.title" (contextmenu)="__elementSelectionService.select('1784234927',$event)" [ngStyle]="__elementSelectionService.getStyles('1784234927')">Hospital System Manager</h1>
        <div [ngSwitch]="isAuthenticated()" (contextmenu)="__elementSelectionService.select('958059933',$event)" [ngStyle]="__elementSelectionService.getStyles('958059933')">
            <div class="alert alert-success" *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('565977968',$event)" [ngStyle]="__elementSelectionService.getStyles('565977968')">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{username: account.login}" (contextmenu)="__elementSelectionService.select('848169146',$event)" [ngStyle]="__elementSelectionService.getStyles('848169146')"> You are logged in as user&#34;{{account.login}}&#34;. </span>
            </div>
        </div>
    </div>
</div>
