<div class="row" (contextmenu)="__elementSelectionService.select('509285930',$event)" [ngStyle]="__elementSelectionService.getStyles('509285930')"(click)='__elementSelectionService.clear()'>
    <div class="col-md-3" (contextmenu)="__elementSelectionService.select('1681121216',$event)" [ngStyle]="__elementSelectionService.getStyles('1681121216')">
        <span class="hipster img-fluid rounded" (contextmenu)="__elementSelectionService.select('580878122',$event)" [ngStyle]="__elementSelectionService.getStyles('580878122')"></span>
    </div>
    <div class="col-md-9" (contextmenu)="__elementSelectionService.select('760261580',$event)" [ngStyle]="__elementSelectionService.getStyles('760261580')">
        <h1 class="display-4" jhiTranslate="home.title" (contextmenu)="__elementSelectionService.select('1947426254',$event)" [ngStyle]="__elementSelectionService.getStyles('1947426254')">Hospital System Manager</h1>
        <div [ngSwitch]="isAuthenticated()" (contextmenu)="__elementSelectionService.select('237257043',$event)" [ngStyle]="__elementSelectionService.getStyles('237257043')">
            <div class="alert alert-success" *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('1469782418',$event)" [ngStyle]="__elementSelectionService.getStyles('1469782418')">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{username: account.login}" (contextmenu)="__elementSelectionService.select('2143147622',$event)" [ngStyle]="__elementSelectionService.getStyles('2143147622')"> You are logged in as user&#34;{{account.login}}&#34;. </span>
            </div>
        </div>
    </div>
</div>
