<div (contextmenu)="__elementSelectionService.select('1288707706',$event)" [ngStyle]="__elementSelectionService.getStyles('1288707706')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('716646220',$event)" [ngStyle]="__elementSelectionService.getStyles('716646220')">
        <div class="col-md-4" (contextmenu)="__elementSelectionService.select('1725484974',$event)" [ngStyle]="__elementSelectionService.getStyles('1725484974')">
            <h1 jhiTranslate="reset.finish.title" (contextmenu)="__elementSelectionService.select('1324775972',$event)" [ngStyle]="__elementSelectionService.getStyles('1324775972')">Reset password</h1>

            <div class="alert alert-danger" jhiTranslate="reset.finish.messages.keymissing" *ngIf="keyMissing" (contextmenu)="__elementSelectionService.select('1470760433',$event)" [ngStyle]="__elementSelectionService.getStyles('1470760433')">
                <strong (contextmenu)="__elementSelectionService.select('1152701711',$event)" [ngStyle]="__elementSelectionService.getStyles('1152701711')">The password reset key is missing.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success &#38;&#38; !keyMissing" (contextmenu)="__elementSelectionService.select('1689372552',$event)" [ngStyle]="__elementSelectionService.getStyles('1689372552')">
                <p jhiTranslate="reset.finish.messages.info" (contextmenu)="__elementSelectionService.select('434873952',$event)" [ngStyle]="__elementSelectionService.getStyles('434873952')">Choose a new password</p>
            </div>

            <div class="alert alert-danger" *ngIf="error" (contextmenu)="__elementSelectionService.select('518634785',$event)" [ngStyle]="__elementSelectionService.getStyles('518634785')">
                <p jhiTranslate="reset.finish.messages.error" (contextmenu)="__elementSelectionService.select('2081886046',$event)" [ngStyle]="__elementSelectionService.getStyles('2081886046')">Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
            </div>

            <p class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('384834259',$event)" [ngStyle]="__elementSelectionService.getStyles('384834259')">
                <span jhiTranslate="reset.finish.messages.success" (contextmenu)="__elementSelectionService.select('1391228619',$event)" [ngStyle]="__elementSelectionService.getStyles('1391228619')"><strong (contextmenu)="__elementSelectionService.select('29346050',$event)" [ngStyle]="__elementSelectionService.getStyles('29346050')">Your password has been reset.</strong> Please </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link" (contextmenu)="__elementSelectionService.select('1167481748',$event)" [ngStyle]="__elementSelectionService.getStyles('1167481748')">sign in</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch" (contextmenu)="__elementSelectionService.select('1403451255',$event)" [ngStyle]="__elementSelectionService.getStyles('1403451255')">
                The password and its confirmation do not match!
            </div>

            <div *ngIf="!keyMissing" (contextmenu)="__elementSelectionService.select('1657637350',$event)" [ngStyle]="__elementSelectionService.getStyles('1657637350')">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm" (contextmenu)="__elementSelectionService.select('499493732',$event)" [ngStyle]="__elementSelectionService.getStyles('499493732')">
                    <div class="form-group" (contextmenu)="__elementSelectionService.select('1786251699',$event)" [ngStyle]="__elementSelectionService.getStyles('1786251699')">
                        <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword.label" (contextmenu)="__elementSelectionService.select('234968772',$event)" [ngStyle]="__elementSelectionService.getStyles('234968772')">New password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}" formControlName="newPassword" (contextmenu)="__elementSelectionService.select('9268315',$event)" [ngStyle]="__elementSelectionService.getStyles('9268315')">
                        <div *ngIf="passwordForm.get('newPassword').invalid &#38;&#38; (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)" (contextmenu)="__elementSelectionService.select('816019877',$event)" [ngStyle]="__elementSelectionService.getStyles('816019877')">
                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.required" jhiTranslate="global.messages.validate.newpassword.required" (contextmenu)="__elementSelectionService.select('440191891',$event)" [ngStyle]="__elementSelectionService.getStyles('440191891')">
                                Your password is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength" (contextmenu)="__elementSelectionService.select('512690534',$event)" [ngStyle]="__elementSelectionService.getStyles('512690534')">
                                Your password is required to be at least 4 characters.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength" (contextmenu)="__elementSelectionService.select('1963675992',$event)" [ngStyle]="__elementSelectionService.getStyles('1963675992')">
                                Your password cannot be longer than 50 characters.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value" (contextmenu)="__elementSelectionService.select('1590583309',$event)" [ngStyle]="__elementSelectionService.getStyles('1590583309')"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group" (contextmenu)="__elementSelectionService.select('575817748',$event)" [ngStyle]="__elementSelectionService.getStyles('575817748')">
                        <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label" (contextmenu)="__elementSelectionService.select('1156624641',$event)" [ngStyle]="__elementSelectionService.getStyles('1156624641')">New password confirmation</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}" formControlName="confirmPassword" (contextmenu)="__elementSelectionService.select('1801365846',$event)" [ngStyle]="__elementSelectionService.getStyles('1801365846')">
                        <div *ngIf="passwordForm.get('confirmPassword').invalid &#38;&#38; (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)" (contextmenu)="__elementSelectionService.select('1178427960',$event)" [ngStyle]="__elementSelectionService.getStyles('1178427960')">
                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.required" jhiTranslate="global.messages.validate.confirmpassword.required" (contextmenu)="__elementSelectionService.select('1990164483',$event)" [ngStyle]="__elementSelectionService.getStyles('1990164483')">
                                Your password confirmation is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength" (contextmenu)="__elementSelectionService.select('925257576',$event)" [ngStyle]="__elementSelectionService.getStyles('925257576')">
                                Your password confirmation is required to be at least 4 characters.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength" (contextmenu)="__elementSelectionService.select('699159747',$event)" [ngStyle]="__elementSelectionService.getStyles('699159747')">
                                Your password confirmation cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" jhiTranslate="reset.finish.form.button" (contextmenu)="__elementSelectionService.select('78503788',$event)" [ngStyle]="__elementSelectionService.getStyles('78503788')">Reset Password</button>
                </form>
            </div>

        </div>
    </div>
</div>
