<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1203476802',$event)" [ngStyle]="__elementSelectionService.getStyles('1203476802')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('381606399',$event)" [ngStyle]="__elementSelectionService.getStyles('381606399')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('223622115',$event)" [ngStyle]="__elementSelectionService.getStyles('223622115')">
            <h2 id="jhi-guard-schedule-heading" jhiTranslate="hospitalsystemApp.guardSchedule.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('1864287078',$event)" [ngStyle]="__elementSelectionService.getStyles('1864287078')">Create or edit a Guard Schedule</h2>
            <div (contextmenu)="__elementSelectionService.select('872148900',$event)" [ngStyle]="__elementSelectionService.getStyles('872148900')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('1407891717',$event)" [ngStyle]="__elementSelectionService.getStyles('1407891717')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('2139968432',$event)" [ngStyle]="__elementSelectionService.getStyles('2139968432')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('1712437972',$event)" [ngStyle]="__elementSelectionService.getStyles('1712437972')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('175898493',$event)" [ngStyle]="__elementSelectionService.getStyles('175898493')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('207576486',$event)" [ngStyle]="__elementSelectionService.getStyles('207576486')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.guardSchedule.payement" for="field_payement" (contextmenu)="__elementSelectionService.select('433753934',$event)" [ngStyle]="__elementSelectionService.getStyles('433753934')">Payement</label>
                    <input type="number" class="form-control" name="payement" id="field_payement" formControlName="payement" (contextmenu)="__elementSelectionService.select('1928745403',$event)" [ngStyle]="__elementSelectionService.getStyles('1928745403')">
                    <div *ngIf="editForm.get('payement').invalid &#38;&#38; (editForm.get('payement').dirty || editForm.get('payement').touched)" (contextmenu)="__elementSelectionService.select('656660623',$event)" [ngStyle]="__elementSelectionService.getStyles('656660623')">
                        <small class="form-text text-danger" *ngIf="editForm.get('payement').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1374098336',$event)" [ngStyle]="__elementSelectionService.getStyles('1374098336')">
                        This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('payement').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }" (contextmenu)="__elementSelectionService.select('478828077',$event)" [ngStyle]="__elementSelectionService.getStyles('478828077')">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('payement')?.errors?.number" jhiTranslate="entity.validation.number" (contextmenu)="__elementSelectionService.select('1555146638',$event)" [ngStyle]="__elementSelectionService.getStyles('1555146638')">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1710222135',$event)" [ngStyle]="__elementSelectionService.getStyles('1710222135')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.guardSchedule.start" for="field_start" (contextmenu)="__elementSelectionService.select('209493561',$event)" [ngStyle]="__elementSelectionService.getStyles('209493561')">Start</label>
                    <input type="number" class="form-control" name="start" id="field_start" formControlName="start" (contextmenu)="__elementSelectionService.select('1107925669',$event)" [ngStyle]="__elementSelectionService.getStyles('1107925669')">
                    <div *ngIf="editForm.get('start').invalid &#38;&#38; (editForm.get('start').dirty || editForm.get('start').touched)" (contextmenu)="__elementSelectionService.select('324389053',$event)" [ngStyle]="__elementSelectionService.getStyles('324389053')">
                        <small class="form-text text-danger" *ngIf="editForm.get('start').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('158941107',$event)" [ngStyle]="__elementSelectionService.getStyles('158941107')">
                        This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('start')?.errors?.number" jhiTranslate="entity.validation.number" (contextmenu)="__elementSelectionService.select('1629283827',$event)" [ngStyle]="__elementSelectionService.getStyles('1629283827')">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1875810247',$event)" [ngStyle]="__elementSelectionService.getStyles('1875810247')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.guardSchedule.end" for="field_end" (contextmenu)="__elementSelectionService.select('1390656163',$event)" [ngStyle]="__elementSelectionService.getStyles('1390656163')">End</label>
                    <input type="number" class="form-control" name="end" id="field_end" formControlName="end" (contextmenu)="__elementSelectionService.select('312968171',$event)" [ngStyle]="__elementSelectionService.getStyles('312968171')">
                    <div *ngIf="editForm.get('end').invalid &#38;&#38; (editForm.get('end').dirty || editForm.get('end').touched)" (contextmenu)="__elementSelectionService.select('345165617',$event)" [ngStyle]="__elementSelectionService.getStyles('345165617')">
                        <small class="form-text text-danger" *ngIf="editForm.get('end').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('259592907',$event)" [ngStyle]="__elementSelectionService.getStyles('259592907')">
                        This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('end')?.errors?.number" jhiTranslate="entity.validation.number" (contextmenu)="__elementSelectionService.select('1082169125',$event)" [ngStyle]="__elementSelectionService.getStyles('1082169125')">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1847000069',$event)" [ngStyle]="__elementSelectionService.getStyles('1847000069')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.guardSchedule.name" for="field_name" (contextmenu)="__elementSelectionService.select('1820286385',$event)" [ngStyle]="__elementSelectionService.getStyles('1820286385')">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" (contextmenu)="__elementSelectionService.select('735569343',$event)" [ngStyle]="__elementSelectionService.getStyles('735569343')">
                    <div *ngIf="editForm.get('name').invalid &#38;&#38; (editForm.get('name').dirty || editForm.get('name').touched)" (contextmenu)="__elementSelectionService.select('1873442399',$event)" [ngStyle]="__elementSelectionService.getStyles('1873442399')">
                        <small class="form-text text-danger" *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('914704763',$event)" [ngStyle]="__elementSelectionService.getStyles('914704763')">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div (contextmenu)="__elementSelectionService.select('536938703',$event)" [ngStyle]="__elementSelectionService.getStyles('536938703')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('888138605',$event)" [ngStyle]="__elementSelectionService.getStyles('888138605')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('139164449',$event)" [ngStyle]="__elementSelectionService.getStyles('139164449')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('345585090',$event)" [ngStyle]="__elementSelectionService.getStyles('345585090')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1022759150',$event)" [ngStyle]="__elementSelectionService.getStyles('1022759150')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('1997090974',$event)" [ngStyle]="__elementSelectionService.getStyles('1997090974')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('608751405',$event)" [ngStyle]="__elementSelectionService.getStyles('608751405')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
