<div (contextmenu)="__elementSelectionService.select('2141919315',$event)" [ngStyle]="__elementSelectionService.getStyles('2141919315')"(click)='__elementSelectionService.clear()'>
    <h2 id="page-heading" (contextmenu)="__elementSelectionService.select('1879856268',$event)" [ngStyle]="__elementSelectionService.getStyles('1879856268')">
        <span jhiTranslate="hospitalsystemApp.guardSchedule.home.title" (contextmenu)="__elementSelectionService.select('1463989086',$event)" [ngStyle]="__elementSelectionService.getStyles('1463989086')">Guard Schedules</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-guard-schedule" [routerLink]="['/guard-schedule/new']" (contextmenu)="__elementSelectionService.select('1760555984',$event)" [ngStyle]="__elementSelectionService.getStyles('1760555984')">
            <fa-icon [icon]="'plus'" (contextmenu)="__elementSelectionService.select('428703783',$event)" [ngStyle]="__elementSelectionService.getStyles('428703783')"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="hospitalsystemApp.guardSchedule.home.createLabel" (contextmenu)="__elementSelectionService.select('188157870',$event)" [ngStyle]="__elementSelectionService.getStyles('188157870')">
            Create a new Guard Schedule
            </span>
        </button>
    </h2>
    <jhi-alert-error (contextmenu)="__elementSelectionService.select('1236108757',$event)" [ngStyle]="__elementSelectionService.getStyles('1236108757')"></jhi-alert-error>
    <jhi-alert (contextmenu)="__elementSelectionService.select('1582014019',$event)" [ngStyle]="__elementSelectionService.getStyles('1582014019')"></jhi-alert>
    <div class="row" (contextmenu)="__elementSelectionService.select('724738325',$event)" [ngStyle]="__elementSelectionService.getStyles('724738325')">
        <div class="col-sm-12" (contextmenu)="__elementSelectionService.select('407601570',$event)" [ngStyle]="__elementSelectionService.getStyles('407601570')">
            <form name="searchForm" class="form-inline" (contextmenu)="__elementSelectionService.select('1030569043',$event)" [ngStyle]="__elementSelectionService.getStyles('1030569043')">
                <div class="input-group w-100 mt-3" (contextmenu)="__elementSelectionService.select('1070990395',$event)" [ngStyle]="__elementSelectionService.getStyles('1070990395')">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hospitalsystemApp.guardSchedule.home.search' | translate }}" (contextmenu)="__elementSelectionService.select('30552285',$event)" [ngStyle]="__elementSelectionService.getStyles('30552285')">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)" (contextmenu)="__elementSelectionService.select('1162930132',$event)" [ngStyle]="__elementSelectionService.getStyles('1162930132')">
                        <fa-icon [icon]="'search'" (contextmenu)="__elementSelectionService.select('294376585',$event)" [ngStyle]="__elementSelectionService.getStyles('294376585')"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch" (contextmenu)="__elementSelectionService.select('519302495',$event)" [ngStyle]="__elementSelectionService.getStyles('519302495')">
                        <fa-icon [icon]="'trash-alt'" (contextmenu)="__elementSelectionService.select('238510724',$event)" [ngStyle]="__elementSelectionService.getStyles('238510724')"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br (contextmenu)="__elementSelectionService.select('1276861137',$event)" [ngStyle]="__elementSelectionService.getStyles('1276861137')">
    <div class="alert alert-warning" *ngIf="guardSchedules?.length === 0" (contextmenu)="__elementSelectionService.select('66842695',$event)" [ngStyle]="__elementSelectionService.getStyles('66842695')">
        <span jhiTranslate="hospitalsystemApp.guardSchedule.home.notFound" (contextmenu)="__elementSelectionService.select('48462962',$event)" [ngStyle]="__elementSelectionService.getStyles('48462962')">No guardSchedules found</span>
    </div>
    <div class="table-responsive" *ngIf="guardSchedules?.length &#62; 0" (contextmenu)="__elementSelectionService.select('938806760',$event)" [ngStyle]="__elementSelectionService.getStyles('938806760')">
        <table class="table table-striped" aria-describedby="page-heading" (contextmenu)="__elementSelectionService.select('556663829',$event)" [ngStyle]="__elementSelectionService.getStyles('556663829')">
            <thead (contextmenu)="__elementSelectionService.select('2106302911',$event)" [ngStyle]="__elementSelectionService.getStyles('2106302911')">
            <tr (contextmenu)="__elementSelectionService.select('1678918288',$event)" [ngStyle]="__elementSelectionService.getStyles('1678918288')">
            <th scope="col" (contextmenu)="__elementSelectionService.select('2073528759',$event)" [ngStyle]="__elementSelectionService.getStyles('2073528759')"><span jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('709375100',$event)" [ngStyle]="__elementSelectionService.getStyles('709375100')">ID</span></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('183430867',$event)" [ngStyle]="__elementSelectionService.getStyles('183430867')"><span jhiTranslate="hospitalsystemApp.guardSchedule.payement" (contextmenu)="__elementSelectionService.select('2090740700',$event)" [ngStyle]="__elementSelectionService.getStyles('2090740700')">Payement</span></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('990105545',$event)" [ngStyle]="__elementSelectionService.getStyles('990105545')"><span jhiTranslate="hospitalsystemApp.guardSchedule.start" (contextmenu)="__elementSelectionService.select('1350825729',$event)" [ngStyle]="__elementSelectionService.getStyles('1350825729')">Start</span></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('761664436',$event)" [ngStyle]="__elementSelectionService.getStyles('761664436')"><span jhiTranslate="hospitalsystemApp.guardSchedule.end" (contextmenu)="__elementSelectionService.select('539696399',$event)" [ngStyle]="__elementSelectionService.getStyles('539696399')">End</span></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('91484996',$event)" [ngStyle]="__elementSelectionService.getStyles('91484996')"><span jhiTranslate="hospitalsystemApp.guardSchedule.name" (contextmenu)="__elementSelectionService.select('1241982740',$event)" [ngStyle]="__elementSelectionService.getStyles('1241982740')">Name</span></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('1474393683',$event)" [ngStyle]="__elementSelectionService.getStyles('1474393683')"></th>
            </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('802867909',$event)" [ngStyle]="__elementSelectionService.getStyles('802867909')">
            <tr *ngFor="let guardSchedule of guardSchedules ;trackBy: trackId" (contextmenu)="__elementSelectionService.select('891942313',$event)" [ngStyle]="__elementSelectionService.getStyles('891942313')">
                <td (contextmenu)="__elementSelectionService.select('1189432223',$event)" [ngStyle]="__elementSelectionService.getStyles('1189432223')"><a [routerLink]="['/guard-schedule', guardSchedule.id, 'view' ]" (contextmenu)="__elementSelectionService.select('443215614',$event)" [ngStyle]="__elementSelectionService.getStyles('443215614')">{{guardSchedule.id}}</a></td>
                <td (contextmenu)="__elementSelectionService.select('1663009684',$event)" [ngStyle]="__elementSelectionService.getStyles('1663009684')">{{guardSchedule.payement}}</td>
                <td (contextmenu)="__elementSelectionService.select('434218723',$event)" [ngStyle]="__elementSelectionService.getStyles('434218723')">{{guardSchedule.start}}</td>
                <td (contextmenu)="__elementSelectionService.select('1974779891',$event)" [ngStyle]="__elementSelectionService.getStyles('1974779891')">{{guardSchedule.end}}</td>
                <td (contextmenu)="__elementSelectionService.select('954512037',$event)" [ngStyle]="__elementSelectionService.getStyles('954512037')">{{guardSchedule.name}}</td>
                <td class="text-right" (contextmenu)="__elementSelectionService.select('670602510',$event)" [ngStyle]="__elementSelectionService.getStyles('670602510')">
                    <div class="btn-group" (contextmenu)="__elementSelectionService.select('867891628',$event)" [ngStyle]="__elementSelectionService.getStyles('867891628')">
                        <button type="submit" [routerLink]="['/guard-schedule', guardSchedule.id, 'view' ]" class="btn btn-info btn-sm" (contextmenu)="__elementSelectionService.select('1663140623',$event)" [ngStyle]="__elementSelectionService.getStyles('1663140623')">
                            <fa-icon [icon]="'eye'" (contextmenu)="__elementSelectionService.select('2119001172',$event)" [ngStyle]="__elementSelectionService.getStyles('2119001172')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view" (contextmenu)="__elementSelectionService.select('503242358',$event)" [ngStyle]="__elementSelectionService.getStyles('503242358')">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/guard-schedule', guardSchedule.id, 'edit']" class="btn btn-primary btn-sm" (contextmenu)="__elementSelectionService.select('2045584380',$event)" [ngStyle]="__elementSelectionService.getStyles('2045584380')">
                            <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('381419061',$event)" [ngStyle]="__elementSelectionService.getStyles('381419061')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('62998386',$event)" [ngStyle]="__elementSelectionService.getStyles('62998386')">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/guard-schedule', { outlets: { popup: guardSchedule.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm" (contextmenu)="__elementSelectionService.select('1755788306',$event)" [ngStyle]="__elementSelectionService.getStyles('1755788306')">
                            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('2026182713',$event)" [ngStyle]="__elementSelectionService.getStyles('2026182713')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('835062594',$event)" [ngStyle]="__elementSelectionService.getStyles('835062594')">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
