<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1480421939',$event)" [ngStyle]="__elementSelectionService.getStyles('1480421939')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1399022169',$event)" [ngStyle]="__elementSelectionService.getStyles('1399022169')">
        <div *ngIf="guardSchedule" (contextmenu)="__elementSelectionService.select('1618751212',$event)" [ngStyle]="__elementSelectionService.getStyles('1618751212')">
            <h2 (contextmenu)="__elementSelectionService.select('731986430',$event)" [ngStyle]="__elementSelectionService.getStyles('731986430')"><span jhiTranslate="hospitalsystemApp.guardSchedule.detail.title" (contextmenu)="__elementSelectionService.select('691125355',$event)" [ngStyle]="__elementSelectionService.getStyles('691125355')">Guard Schedule</span> {{guardSchedule.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('1627943614',$event)" [ngStyle]="__elementSelectionService.getStyles('1627943614')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('1610754877',$event)" [ngStyle]="__elementSelectionService.getStyles('1610754877')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('1112444938',$event)" [ngStyle]="__elementSelectionService.getStyles('1112444938')">
                <dt (contextmenu)="__elementSelectionService.select('1723383500',$event)" [ngStyle]="__elementSelectionService.getStyles('1723383500')"><span jhiTranslate="hospitalsystemApp.guardSchedule.payement" (contextmenu)="__elementSelectionService.select('1149746471',$event)" [ngStyle]="__elementSelectionService.getStyles('1149746471')">Payement</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('892153161',$event)" [ngStyle]="__elementSelectionService.getStyles('892153161')">
                    <span (contextmenu)="__elementSelectionService.select('55915814',$event)" [ngStyle]="__elementSelectionService.getStyles('55915814')">{{guardSchedule.payement}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('540583262',$event)" [ngStyle]="__elementSelectionService.getStyles('540583262')"><span jhiTranslate="hospitalsystemApp.guardSchedule.start" (contextmenu)="__elementSelectionService.select('1496271611',$event)" [ngStyle]="__elementSelectionService.getStyles('1496271611')">Start</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('95708146',$event)" [ngStyle]="__elementSelectionService.getStyles('95708146')">
                    <span (contextmenu)="__elementSelectionService.select('803375719',$event)" [ngStyle]="__elementSelectionService.getStyles('803375719')">{{guardSchedule.start}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1242941584',$event)" [ngStyle]="__elementSelectionService.getStyles('1242941584')"><span jhiTranslate="hospitalsystemApp.guardSchedule.end" (contextmenu)="__elementSelectionService.select('1766734779',$event)" [ngStyle]="__elementSelectionService.getStyles('1766734779')">End</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1338211987',$event)" [ngStyle]="__elementSelectionService.getStyles('1338211987')">
                    <span (contextmenu)="__elementSelectionService.select('1950966974',$event)" [ngStyle]="__elementSelectionService.getStyles('1950966974')">{{guardSchedule.end}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('276587503',$event)" [ngStyle]="__elementSelectionService.getStyles('276587503')"><span jhiTranslate="hospitalsystemApp.guardSchedule.name" (contextmenu)="__elementSelectionService.select('142016952',$event)" [ngStyle]="__elementSelectionService.getStyles('142016952')">Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1553256899',$event)" [ngStyle]="__elementSelectionService.getStyles('1553256899')">
                    <span (contextmenu)="__elementSelectionService.select('1665610363',$event)" [ngStyle]="__elementSelectionService.getStyles('1665610363')">{{guardSchedule.name}}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('274155239',$event)" [ngStyle]="__elementSelectionService.getStyles('274155239')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('547225492',$event)" [ngStyle]="__elementSelectionService.getStyles('547225492')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('1526544525',$event)" [ngStyle]="__elementSelectionService.getStyles('1526544525')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/guard-schedule', guardSchedule.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('7544131',$event)" [ngStyle]="__elementSelectionService.getStyles('7544131')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('716772308',$event)" [ngStyle]="__elementSelectionService.getStyles('716772308')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1704405064',$event)" [ngStyle]="__elementSelectionService.getStyles('1704405064')"> Edit</span>
            </button>
        </div>
    </div>
</div>
