<form name="deleteForm" (ngSubmit)="confirmDelete(guardSchedule.id)" (contextmenu)="__elementSelectionService.select('759770023',$event)" [ngStyle]="__elementSelectionService.getStyles('759770023')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('528889255',$event)" [ngStyle]="__elementSelectionService.getStyles('528889255')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('2079728099',$event)" [ngStyle]="__elementSelectionService.getStyles('2079728099')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('927951691',$event)" [ngStyle]="__elementSelectionService.getStyles('927951691')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('1547233310',$event)" [ngStyle]="__elementSelectionService.getStyles('1547233310')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('1925039411',$event)" [ngStyle]="__elementSelectionService.getStyles('1925039411')"></jhi-alert-error>
        <p id="jhi-delete-guardSchedule-heading" jhiTranslate="hospitalsystemApp.guardSchedule.delete.question" [translateValues]="{id: guardSchedule.id}" (contextmenu)="__elementSelectionService.select('940448702',$event)" [ngStyle]="__elementSelectionService.getStyles('940448702')">Are you sure you want to delete this Guard Schedule?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('1960258247',$event)" [ngStyle]="__elementSelectionService.getStyles('1960258247')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('1865696347',$event)" [ngStyle]="__elementSelectionService.getStyles('1865696347')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1941737683',$event)" [ngStyle]="__elementSelectionService.getStyles('1941737683')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1000847089',$event)" [ngStyle]="__elementSelectionService.getStyles('1000847089')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-guardSchedule" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('1995121232',$event)" [ngStyle]="__elementSelectionService.getStyles('1995121232')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('1001436746',$event)" [ngStyle]="__elementSelectionService.getStyles('1001436746')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('748524519',$event)" [ngStyle]="__elementSelectionService.getStyles('748524519')">Delete</span>
        </button>
    </div>
</form>
