<div (contextmenu)="__elementSelectionService.select('1808214033',$event)" [ngStyle]="__elementSelectionService.getStyles('1808214033')"(click)='__elementSelectionService.clear()'>
    <h2 id="page-heading" (contextmenu)="__elementSelectionService.select('1131440238',$event)" [ngStyle]="__elementSelectionService.getStyles('1131440238')">
        <span jhiTranslate="hospitalsystemApp.guardSchedule.home.title" (contextmenu)="__elementSelectionService.select('287659953',$event)" [ngStyle]="__elementSelectionService.getStyles('287659953')">Guard Schedules</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-guard-schedule" [routerLink]="['/guard-schedule/new']" (contextmenu)="__elementSelectionService.select('1149311336',$event)" [ngStyle]="__elementSelectionService.getStyles('1149311336')">
            <fa-icon [icon]="'plus'" (contextmenu)="__elementSelectionService.select('2024510889',$event)" [ngStyle]="__elementSelectionService.getStyles('2024510889')"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="hospitalsystemApp.guardSchedule.home.createLabel" (contextmenu)="__elementSelectionService.select('953725386',$event)" [ngStyle]="__elementSelectionService.getStyles('953725386')">
            Create a new Guard Schedule
            </span>
        </button>
    </h2>
    <jhi-alert-error (contextmenu)="__elementSelectionService.select('58454463',$event)" [ngStyle]="__elementSelectionService.getStyles('58454463')"></jhi-alert-error>
    <jhi-alert (contextmenu)="__elementSelectionService.select('1342038753',$event)" [ngStyle]="__elementSelectionService.getStyles('1342038753')"></jhi-alert>
    <div class="row" (contextmenu)="__elementSelectionService.select('1809784938',$event)" [ngStyle]="__elementSelectionService.getStyles('1809784938')">
        <div class="col-sm-12" (contextmenu)="__elementSelectionService.select('376736314',$event)" [ngStyle]="__elementSelectionService.getStyles('376736314')">
            <form name="searchForm" class="form-inline" (contextmenu)="__elementSelectionService.select('1247704898',$event)" [ngStyle]="__elementSelectionService.getStyles('1247704898')">
                <div class="input-group w-100 mt-3" (contextmenu)="__elementSelectionService.select('1788112386',$event)" [ngStyle]="__elementSelectionService.getStyles('1788112386')">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hospitalsystemApp.guardSchedule.home.search' | translate }}" (contextmenu)="__elementSelectionService.select('2019221322',$event)" [ngStyle]="__elementSelectionService.getStyles('2019221322')">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)" (contextmenu)="__elementSelectionService.select('1254997793',$event)" [ngStyle]="__elementSelectionService.getStyles('1254997793')">
                        <fa-icon [icon]="'search'" (contextmenu)="__elementSelectionService.select('1930442077',$event)" [ngStyle]="__elementSelectionService.getStyles('1930442077')"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch" (contextmenu)="__elementSelectionService.select('985506115',$event)" [ngStyle]="__elementSelectionService.getStyles('985506115')">
                        <fa-icon [icon]="'trash-alt'" (contextmenu)="__elementSelectionService.select('338921937',$event)" [ngStyle]="__elementSelectionService.getStyles('338921937')"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br (contextmenu)="__elementSelectionService.select('857737409',$event)" [ngStyle]="__elementSelectionService.getStyles('857737409')">
    <div class="alert alert-warning" *ngIf="guardSchedules?.length === 0" (contextmenu)="__elementSelectionService.select('1097361701',$event)" [ngStyle]="__elementSelectionService.getStyles('1097361701')">
        <span jhiTranslate="hospitalsystemApp.guardSchedule.home.notFound" (contextmenu)="__elementSelectionService.select('369655794',$event)" [ngStyle]="__elementSelectionService.getStyles('369655794')">No guardSchedules found</span>
    </div>
    <div class="table-responsive" *ngIf="guardSchedules?.length &#62; 0" (contextmenu)="__elementSelectionService.select('519897571',$event)" [ngStyle]="__elementSelectionService.getStyles('519897571')">
        <table class="table table-striped" aria-describedby="page-heading" (contextmenu)="__elementSelectionService.select('766014717',$event)" [ngStyle]="__elementSelectionService.getStyles('766014717')">
            <thead (contextmenu)="__elementSelectionService.select('789250348',$event)" [ngStyle]="__elementSelectionService.getStyles('789250348')">
            <tr (contextmenu)="__elementSelectionService.select('2057903312',$event)" [ngStyle]="__elementSelectionService.getStyles('2057903312')">
            <th scope="col" (contextmenu)="__elementSelectionService.select('204339327',$event)" [ngStyle]="__elementSelectionService.getStyles('204339327')"><span jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('1657563803',$event)" [ngStyle]="__elementSelectionService.getStyles('1657563803')">ID</span></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('364451215',$event)" [ngStyle]="__elementSelectionService.getStyles('364451215')"><span jhiTranslate="hospitalsystemApp.guardSchedule.payement" (contextmenu)="__elementSelectionService.select('667210868',$event)" [ngStyle]="__elementSelectionService.getStyles('667210868')">Payement</span></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('1145646835',$event)" [ngStyle]="__elementSelectionService.getStyles('1145646835')"><span jhiTranslate="hospitalsystemApp.guardSchedule.start" (contextmenu)="__elementSelectionService.select('1162878035',$event)" [ngStyle]="__elementSelectionService.getStyles('1162878035')">Start</span></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('404253723',$event)" [ngStyle]="__elementSelectionService.getStyles('404253723')"><span jhiTranslate="hospitalsystemApp.guardSchedule.end" (contextmenu)="__elementSelectionService.select('436108312',$event)" [ngStyle]="__elementSelectionService.getStyles('436108312')">End</span></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('340649826',$event)" [ngStyle]="__elementSelectionService.getStyles('340649826')"><span jhiTranslate="hospitalsystemApp.guardSchedule.name" (contextmenu)="__elementSelectionService.select('1362809660',$event)" [ngStyle]="__elementSelectionService.getStyles('1362809660')">Name</span></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('177800628',$event)" [ngStyle]="__elementSelectionService.getStyles('177800628')"></th>
            </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('1626187331',$event)" [ngStyle]="__elementSelectionService.getStyles('1626187331')">
            <tr *ngFor="let guardSchedule of guardSchedules ;trackBy: trackId" (contextmenu)="__elementSelectionService.select('467676107',$event)" [ngStyle]="__elementSelectionService.getStyles('467676107')">
                <td (contextmenu)="__elementSelectionService.select('474265784',$event)" [ngStyle]="__elementSelectionService.getStyles('474265784')"><a [routerLink]="['/guard-schedule', guardSchedule.id, 'view' ]" (contextmenu)="__elementSelectionService.select('1580378657',$event)" [ngStyle]="__elementSelectionService.getStyles('1580378657')">{{guardSchedule.id}}</a></td>
                <td (contextmenu)="__elementSelectionService.select('1407242266',$event)" [ngStyle]="__elementSelectionService.getStyles('1407242266')">{{guardSchedule.payement}}</td>
                <td (contextmenu)="__elementSelectionService.select('1229195230',$event)" [ngStyle]="__elementSelectionService.getStyles('1229195230')">{{guardSchedule.start}}</td>
                <td (contextmenu)="__elementSelectionService.select('1895622454',$event)" [ngStyle]="__elementSelectionService.getStyles('1895622454')">{{guardSchedule.end}}</td>
                <td (contextmenu)="__elementSelectionService.select('1003763882',$event)" [ngStyle]="__elementSelectionService.getStyles('1003763882')">{{guardSchedule.name}}</td>
                <td class="text-right" (contextmenu)="__elementSelectionService.select('1851871178',$event)" [ngStyle]="__elementSelectionService.getStyles('1851871178')">
                    <div class="btn-group" (contextmenu)="__elementSelectionService.select('133353263',$event)" [ngStyle]="__elementSelectionService.getStyles('133353263')">
                        <button type="submit" [routerLink]="['/guard-schedule', guardSchedule.id, 'view' ]" class="btn btn-info btn-sm" (contextmenu)="__elementSelectionService.select('270552496',$event)" [ngStyle]="__elementSelectionService.getStyles('270552496')">
                            <fa-icon [icon]="'eye'" (contextmenu)="__elementSelectionService.select('170600054',$event)" [ngStyle]="__elementSelectionService.getStyles('170600054')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view" (contextmenu)="__elementSelectionService.select('1850750950',$event)" [ngStyle]="__elementSelectionService.getStyles('1850750950')">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/guard-schedule', guardSchedule.id, 'edit']" class="btn btn-primary btn-sm" (contextmenu)="__elementSelectionService.select('2143950516',$event)" [ngStyle]="__elementSelectionService.getStyles('2143950516')">
                            <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('1830127920',$event)" [ngStyle]="__elementSelectionService.getStyles('1830127920')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1054739058',$event)" [ngStyle]="__elementSelectionService.getStyles('1054739058')">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/guard-schedule', { outlets: { popup: guardSchedule.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm" (contextmenu)="__elementSelectionService.select('1365177672',$event)" [ngStyle]="__elementSelectionService.getStyles('1365177672')">
                            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('2123245153',$event)" [ngStyle]="__elementSelectionService.getStyles('2123245153')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1058241673',$event)" [ngStyle]="__elementSelectionService.getStyles('1058241673')">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
