<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1312187119',$event)" [ngStyle]="__elementSelectionService.getStyles('1312187119')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1030433395',$event)" [ngStyle]="__elementSelectionService.getStyles('1030433395')">
        <div *ngIf="guardSchedule" (contextmenu)="__elementSelectionService.select('1077351979',$event)" [ngStyle]="__elementSelectionService.getStyles('1077351979')">
            <h2 (contextmenu)="__elementSelectionService.select('311772627',$event)" [ngStyle]="__elementSelectionService.getStyles('311772627')"><span jhiTranslate="hospitalsystemApp.guardSchedule.detail.title" (contextmenu)="__elementSelectionService.select('960682242',$event)" [ngStyle]="__elementSelectionService.getStyles('960682242')">Guard Schedule</span> {{guardSchedule.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('1562264811',$event)" [ngStyle]="__elementSelectionService.getStyles('1562264811')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('627087149',$event)" [ngStyle]="__elementSelectionService.getStyles('627087149')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('501478799',$event)" [ngStyle]="__elementSelectionService.getStyles('501478799')">
                <dt (contextmenu)="__elementSelectionService.select('851883512',$event)" [ngStyle]="__elementSelectionService.getStyles('851883512')"><span jhiTranslate="hospitalsystemApp.guardSchedule.payement" (contextmenu)="__elementSelectionService.select('500205143',$event)" [ngStyle]="__elementSelectionService.getStyles('500205143')">Payement</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1009300287',$event)" [ngStyle]="__elementSelectionService.getStyles('1009300287')">
                    <span (contextmenu)="__elementSelectionService.select('1046832824',$event)" [ngStyle]="__elementSelectionService.getStyles('1046832824')">{{guardSchedule.payement}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('965438969',$event)" [ngStyle]="__elementSelectionService.getStyles('965438969')"><span jhiTranslate="hospitalsystemApp.guardSchedule.start" (contextmenu)="__elementSelectionService.select('544257697',$event)" [ngStyle]="__elementSelectionService.getStyles('544257697')">Start</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1496860891',$event)" [ngStyle]="__elementSelectionService.getStyles('1496860891')">
                    <span (contextmenu)="__elementSelectionService.select('1291691490',$event)" [ngStyle]="__elementSelectionService.getStyles('1291691490')">{{guardSchedule.start}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('779873569',$event)" [ngStyle]="__elementSelectionService.getStyles('779873569')"><span jhiTranslate="hospitalsystemApp.guardSchedule.end" (contextmenu)="__elementSelectionService.select('186356721',$event)" [ngStyle]="__elementSelectionService.getStyles('186356721')">End</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('276720857',$event)" [ngStyle]="__elementSelectionService.getStyles('276720857')">
                    <span (contextmenu)="__elementSelectionService.select('822942081',$event)" [ngStyle]="__elementSelectionService.getStyles('822942081')">{{guardSchedule.end}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1089398884',$event)" [ngStyle]="__elementSelectionService.getStyles('1089398884')"><span jhiTranslate="hospitalsystemApp.guardSchedule.name" (contextmenu)="__elementSelectionService.select('389902227',$event)" [ngStyle]="__elementSelectionService.getStyles('389902227')">Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1950793993',$event)" [ngStyle]="__elementSelectionService.getStyles('1950793993')">
                    <span (contextmenu)="__elementSelectionService.select('769527569',$event)" [ngStyle]="__elementSelectionService.getStyles('769527569')">{{guardSchedule.name}}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('449085190',$event)" [ngStyle]="__elementSelectionService.getStyles('449085190')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('1727646266',$event)" [ngStyle]="__elementSelectionService.getStyles('1727646266')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('611647845',$event)" [ngStyle]="__elementSelectionService.getStyles('611647845')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/guard-schedule', guardSchedule.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('2039362685',$event)" [ngStyle]="__elementSelectionService.getStyles('2039362685')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('1082873861',$event)" [ngStyle]="__elementSelectionService.getStyles('1082873861')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1754001972',$event)" [ngStyle]="__elementSelectionService.getStyles('1754001972')"> Edit</span>
            </button>
        </div>
    </div>
</div>
