<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1219813467',$event)" [ngStyle]="__elementSelectionService.getStyles('1219813467')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1850994163',$event)" [ngStyle]="__elementSelectionService.getStyles('1850994163')">
        <div *ngIf="guardSchedule" (contextmenu)="__elementSelectionService.select('17464922',$event)" [ngStyle]="__elementSelectionService.getStyles('17464922')">
            <h2 (contextmenu)="__elementSelectionService.select('1146699827',$event)" [ngStyle]="__elementSelectionService.getStyles('1146699827')"><span jhiTranslate="hospitalsystemApp.guardSchedule.detail.title" (contextmenu)="__elementSelectionService.select('2049644774',$event)" [ngStyle]="__elementSelectionService.getStyles('2049644774')">Guard Schedule</span> {{guardSchedule.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('191258149',$event)" [ngStyle]="__elementSelectionService.getStyles('191258149')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('1506544061',$event)" [ngStyle]="__elementSelectionService.getStyles('1506544061')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('1469743727',$event)" [ngStyle]="__elementSelectionService.getStyles('1469743727')">
                <dt (contextmenu)="__elementSelectionService.select('1968458834',$event)" [ngStyle]="__elementSelectionService.getStyles('1968458834')"><span jhiTranslate="hospitalsystemApp.guardSchedule.payement" (contextmenu)="__elementSelectionService.select('1291494315',$event)" [ngStyle]="__elementSelectionService.getStyles('1291494315')">Payement</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1967311464',$event)" [ngStyle]="__elementSelectionService.getStyles('1967311464')">
                    <span (contextmenu)="__elementSelectionService.select('1984477013',$event)" [ngStyle]="__elementSelectionService.getStyles('1984477013')">{{guardSchedule.payement}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('564740882',$event)" [ngStyle]="__elementSelectionService.getStyles('564740882')"><span jhiTranslate="hospitalsystemApp.guardSchedule.start" (contextmenu)="__elementSelectionService.select('953637751',$event)" [ngStyle]="__elementSelectionService.getStyles('953637751')">Start</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1537595279',$event)" [ngStyle]="__elementSelectionService.getStyles('1537595279')">
                    <span (contextmenu)="__elementSelectionService.select('1759781297',$event)" [ngStyle]="__elementSelectionService.getStyles('1759781297')">{{guardSchedule.start}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('54414956',$event)" [ngStyle]="__elementSelectionService.getStyles('54414956')"><span jhiTranslate="hospitalsystemApp.guardSchedule.end" (contextmenu)="__elementSelectionService.select('19964319',$event)" [ngStyle]="__elementSelectionService.getStyles('19964319')">End</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1960581017',$event)" [ngStyle]="__elementSelectionService.getStyles('1960581017')">
                    <span (contextmenu)="__elementSelectionService.select('1031555354',$event)" [ngStyle]="__elementSelectionService.getStyles('1031555354')">{{guardSchedule.end}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1287667191',$event)" [ngStyle]="__elementSelectionService.getStyles('1287667191')"><span jhiTranslate="hospitalsystemApp.guardSchedule.name" (contextmenu)="__elementSelectionService.select('1215844777',$event)" [ngStyle]="__elementSelectionService.getStyles('1215844777')">Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1544353760',$event)" [ngStyle]="__elementSelectionService.getStyles('1544353760')">
                    <span (contextmenu)="__elementSelectionService.select('57098722',$event)" [ngStyle]="__elementSelectionService.getStyles('57098722')">{{guardSchedule.name}}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('1309015036',$event)" [ngStyle]="__elementSelectionService.getStyles('1309015036')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('1157238412',$event)" [ngStyle]="__elementSelectionService.getStyles('1157238412')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('2146587140',$event)" [ngStyle]="__elementSelectionService.getStyles('2146587140')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/guard-schedule', guardSchedule.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1176724553',$event)" [ngStyle]="__elementSelectionService.getStyles('1176724553')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('655932778',$event)" [ngStyle]="__elementSelectionService.getStyles('655932778')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('864180587',$event)" [ngStyle]="__elementSelectionService.getStyles('864180587')"> Edit</span>
            </button>
        </div>
    </div>
</div>
