<form name="deleteForm" (ngSubmit)="confirmDelete(actype.id)" (contextmenu)="__elementSelectionService.select('478984233',$event)" [ngStyle]="__elementSelectionService.getStyles('478984233')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('826733635',$event)" [ngStyle]="__elementSelectionService.getStyles('826733635')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('1215451058',$event)" [ngStyle]="__elementSelectionService.getStyles('1215451058')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('1325051485',$event)" [ngStyle]="__elementSelectionService.getStyles('1325051485')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('753330200',$event)" [ngStyle]="__elementSelectionService.getStyles('753330200')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('704963883',$event)" [ngStyle]="__elementSelectionService.getStyles('704963883')"></jhi-alert-error>
        <p id="jhi-delete-actype-heading" jhiTranslate="hospitalsystemApp.actype.delete.question" [translateValues]="{id: actype.id}" (contextmenu)="__elementSelectionService.select('1892757510',$event)" [ngStyle]="__elementSelectionService.getStyles('1892757510')">Are you sure you want to delete this Actype?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('1799544839',$event)" [ngStyle]="__elementSelectionService.getStyles('1799544839')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('1895789407',$event)" [ngStyle]="__elementSelectionService.getStyles('1895789407')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('2111831510',$event)" [ngStyle]="__elementSelectionService.getStyles('2111831510')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('83342187',$event)" [ngStyle]="__elementSelectionService.getStyles('83342187')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-actype" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('2018064682',$event)" [ngStyle]="__elementSelectionService.getStyles('2018064682')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('1931991287',$event)" [ngStyle]="__elementSelectionService.getStyles('1931991287')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1897179656',$event)" [ngStyle]="__elementSelectionService.getStyles('1897179656')">Delete</span>
        </button>
    </div>
</form>
