<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('942291135',$event)" [ngStyle]="__elementSelectionService.getStyles('942291135')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1290369400',$event)" [ngStyle]="__elementSelectionService.getStyles('1290369400')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('628055962',$event)" [ngStyle]="__elementSelectionService.getStyles('628055962')">
            <h2 id="jhi-actype-heading" jhiTranslate="hospitalsystemApp.actype.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('372718856',$event)" [ngStyle]="__elementSelectionService.getStyles('372718856')">Create or edit a Actype</h2>
            <div (contextmenu)="__elementSelectionService.select('151767475',$event)" [ngStyle]="__elementSelectionService.getStyles('151767475')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('237912915',$event)" [ngStyle]="__elementSelectionService.getStyles('237912915')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('1373785731',$event)" [ngStyle]="__elementSelectionService.getStyles('1373785731')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('2123560650',$event)" [ngStyle]="__elementSelectionService.getStyles('2123560650')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('688123642',$event)" [ngStyle]="__elementSelectionService.getStyles('688123642')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1439372370',$event)" [ngStyle]="__elementSelectionService.getStyles('1439372370')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.actype.name" for="field_name" (contextmenu)="__elementSelectionService.select('379510334',$event)" [ngStyle]="__elementSelectionService.getStyles('379510334')">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" (contextmenu)="__elementSelectionService.select('2136166017',$event)" [ngStyle]="__elementSelectionService.getStyles('2136166017')">
                    <div *ngIf="editForm.get('name').invalid &#38;&#38; (editForm.get('name').dirty || editForm.get('name').touched)" (contextmenu)="__elementSelectionService.select('1234242479',$event)" [ngStyle]="__elementSelectionService.getStyles('1234242479')">
                        <small class="form-text text-danger" *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1156972363',$event)" [ngStyle]="__elementSelectionService.getStyles('1156972363')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('620406469',$event)" [ngStyle]="__elementSelectionService.getStyles('620406469')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.actype.price" for="field_price" (contextmenu)="__elementSelectionService.select('1094243229',$event)" [ngStyle]="__elementSelectionService.getStyles('1094243229')">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price" formControlName="price" (contextmenu)="__elementSelectionService.select('11887718',$event)" [ngStyle]="__elementSelectionService.getStyles('11887718')">
                    <div *ngIf="editForm.get('price').invalid &#38;&#38; (editForm.get('price').dirty || editForm.get('price').touched)" (contextmenu)="__elementSelectionService.select('1808911516',$event)" [ngStyle]="__elementSelectionService.getStyles('1808911516')">
                        <small class="form-text text-danger" *ngIf="editForm.get('price').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('443319213',$event)" [ngStyle]="__elementSelectionService.getStyles('443319213')">
                        This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number" (contextmenu)="__elementSelectionService.select('491724614',$event)" [ngStyle]="__elementSelectionService.getStyles('491724614')">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('913493725',$event)" [ngStyle]="__elementSelectionService.getStyles('913493725')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.actype.medicalService" for="field_medicalService" (contextmenu)="__elementSelectionService.select('1394758051',$event)" [ngStyle]="__elementSelectionService.getStyles('1394758051')">Medical Service</label>
                    <select class="form-control" id="field_medicalService" name="medicalService" formControlName="medicalService" (contextmenu)="__elementSelectionService.select('757977473',$event)" [ngStyle]="__elementSelectionService.getStyles('757977473')">
                        <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('1216175693',$event)" [ngStyle]="__elementSelectionService.getStyles('1216175693')"></option>
                        <option [ngValue]="medicalServiceOption.id === editForm.get('medicalService').value?.id ? editForm.get('medicalService').value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById" (contextmenu)="__elementSelectionService.select('1759081913',$event)" [ngStyle]="__elementSelectionService.getStyles('1759081913')">{{medicalServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medicalService').invalid &#38;&#38; (editForm.get('medicalService').dirty || editForm.get('medicalService').touched)" (contextmenu)="__elementSelectionService.select('699895368',$event)" [ngStyle]="__elementSelectionService.getStyles('699895368')">
                    <small class="form-text text-danger" *ngIf="editForm.get('medicalService').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1792406310',$event)" [ngStyle]="__elementSelectionService.getStyles('1792406310')">
                        This field is required.
                    </small>
                </div>
            </div>
            <div (contextmenu)="__elementSelectionService.select('1224234759',$event)" [ngStyle]="__elementSelectionService.getStyles('1224234759')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('1806669596',$event)" [ngStyle]="__elementSelectionService.getStyles('1806669596')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('2130678255',$event)" [ngStyle]="__elementSelectionService.getStyles('2130678255')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1005978069',$event)" [ngStyle]="__elementSelectionService.getStyles('1005978069')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('826030531',$event)" [ngStyle]="__elementSelectionService.getStyles('826030531')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('641490831',$event)" [ngStyle]="__elementSelectionService.getStyles('641490831')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('609141326',$event)" [ngStyle]="__elementSelectionService.getStyles('609141326')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
