<form name="deleteForm" (ngSubmit)="confirmDelete(actype.id)" (contextmenu)="__elementSelectionService.select('1893509235',$event)" [ngStyle]="__elementSelectionService.getStyles('1893509235')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('1402280743',$event)" [ngStyle]="__elementSelectionService.getStyles('1402280743')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('1184869910',$event)" [ngStyle]="__elementSelectionService.getStyles('1184869910')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('1782700785',$event)" [ngStyle]="__elementSelectionService.getStyles('1782700785')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('348173695',$event)" [ngStyle]="__elementSelectionService.getStyles('348173695')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('1878509795',$event)" [ngStyle]="__elementSelectionService.getStyles('1878509795')"></jhi-alert-error>
        <p id="jhi-delete-actype-heading" jhiTranslate="hospitalsystemApp.actype.delete.question" [translateValues]="{id: actype.id}" (contextmenu)="__elementSelectionService.select('1419977749',$event)" [ngStyle]="__elementSelectionService.getStyles('1419977749')">Are you sure you want to delete this Actype?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('810674722',$event)" [ngStyle]="__elementSelectionService.getStyles('810674722')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('564906522',$event)" [ngStyle]="__elementSelectionService.getStyles('564906522')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1883946524',$event)" [ngStyle]="__elementSelectionService.getStyles('1883946524')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1032105868',$event)" [ngStyle]="__elementSelectionService.getStyles('1032105868')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-actype" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('37438180',$event)" [ngStyle]="__elementSelectionService.getStyles('37438180')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('2101322659',$event)" [ngStyle]="__elementSelectionService.getStyles('2101322659')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1478514758',$event)" [ngStyle]="__elementSelectionService.getStyles('1478514758')">Delete</span>
        </button>
    </div>
</form>
