<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('629658075',$event)" [ngStyle]="__elementSelectionService.getStyles('629658075')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('814703291',$event)" [ngStyle]="__elementSelectionService.getStyles('814703291')">
        <div *ngIf="actype" (contextmenu)="__elementSelectionService.select('723346552',$event)" [ngStyle]="__elementSelectionService.getStyles('723346552')">
            <h2 (contextmenu)="__elementSelectionService.select('290619010',$event)" [ngStyle]="__elementSelectionService.getStyles('290619010')"><span jhiTranslate="hospitalsystemApp.actype.detail.title" (contextmenu)="__elementSelectionService.select('862757651',$event)" [ngStyle]="__elementSelectionService.getStyles('862757651')">Actype</span> {{actype.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('2025690495',$event)" [ngStyle]="__elementSelectionService.getStyles('2025690495')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('952307892',$event)" [ngStyle]="__elementSelectionService.getStyles('952307892')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('979881792',$event)" [ngStyle]="__elementSelectionService.getStyles('979881792')">
                <dt (contextmenu)="__elementSelectionService.select('1824888612',$event)" [ngStyle]="__elementSelectionService.getStyles('1824888612')"><span jhiTranslate="hospitalsystemApp.actype.name" (contextmenu)="__elementSelectionService.select('2026365358',$event)" [ngStyle]="__elementSelectionService.getStyles('2026365358')">Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1478564018',$event)" [ngStyle]="__elementSelectionService.getStyles('1478564018')">
                    <span (contextmenu)="__elementSelectionService.select('1555616057',$event)" [ngStyle]="__elementSelectionService.getStyles('1555616057')">{{actype.name}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('478417213',$event)" [ngStyle]="__elementSelectionService.getStyles('478417213')"><span jhiTranslate="hospitalsystemApp.actype.price" (contextmenu)="__elementSelectionService.select('1527335314',$event)" [ngStyle]="__elementSelectionService.getStyles('1527335314')">Price</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('188559049',$event)" [ngStyle]="__elementSelectionService.getStyles('188559049')">
                    <span (contextmenu)="__elementSelectionService.select('295049102',$event)" [ngStyle]="__elementSelectionService.getStyles('295049102')">{{actype.price}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('765976952',$event)" [ngStyle]="__elementSelectionService.getStyles('765976952')"><span jhiTranslate="hospitalsystemApp.actype.medicalService" (contextmenu)="__elementSelectionService.select('1022589063',$event)" [ngStyle]="__elementSelectionService.getStyles('1022589063')">Medical Service</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1591366326',$event)" [ngStyle]="__elementSelectionService.getStyles('1591366326')">
                    <div *ngIf="actype.medicalService" (contextmenu)="__elementSelectionService.select('2136020100',$event)" [ngStyle]="__elementSelectionService.getStyles('2136020100')">
                        <a [routerLink]="['/medical-service', actype.medicalService?.id, 'view']" (contextmenu)="__elementSelectionService.select('1844414007',$event)" [ngStyle]="__elementSelectionService.getStyles('1844414007')">{{actype.medicalService?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('1249897549',$event)" [ngStyle]="__elementSelectionService.getStyles('1249897549')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('1186744406',$event)" [ngStyle]="__elementSelectionService.getStyles('1186744406')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('826183985',$event)" [ngStyle]="__elementSelectionService.getStyles('826183985')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/actype', actype.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('544302879',$event)" [ngStyle]="__elementSelectionService.getStyles('544302879')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('366607064',$event)" [ngStyle]="__elementSelectionService.getStyles('366607064')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('822341325',$event)" [ngStyle]="__elementSelectionService.getStyles('822341325')"> Edit</span>
            </button>
        </div>
    </div>
</div>
