<div (contextmenu)="__elementSelectionService.select('1222115964',$event)" [ngStyle]="__elementSelectionService.getStyles('1222115964')"(click)='__elementSelectionService.clear()'>
    <h2 id="page-heading" (contextmenu)="__elementSelectionService.select('400759104',$event)" [ngStyle]="__elementSelectionService.getStyles('400759104')">
        <span jhiTranslate="hospitalsystemApp.actype.home.title" (contextmenu)="__elementSelectionService.select('522199586',$event)" [ngStyle]="__elementSelectionService.getStyles('522199586')">Actypes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-actype" [routerLink]="['/actype/new']" (contextmenu)="__elementSelectionService.select('1411918245',$event)" [ngStyle]="__elementSelectionService.getStyles('1411918245')">
            <fa-icon [icon]="'plus'" (contextmenu)="__elementSelectionService.select('461857119',$event)" [ngStyle]="__elementSelectionService.getStyles('461857119')"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="hospitalsystemApp.actype.home.createLabel" (contextmenu)="__elementSelectionService.select('337724022',$event)" [ngStyle]="__elementSelectionService.getStyles('337724022')">
            Create a new Actype
            </span>
        </button>
    </h2>
    <jhi-alert-error (contextmenu)="__elementSelectionService.select('177095650',$event)" [ngStyle]="__elementSelectionService.getStyles('177095650')"></jhi-alert-error>
    <jhi-alert (contextmenu)="__elementSelectionService.select('536753687',$event)" [ngStyle]="__elementSelectionService.getStyles('536753687')"></jhi-alert>
    <div class="row" (contextmenu)="__elementSelectionService.select('1070805294',$event)" [ngStyle]="__elementSelectionService.getStyles('1070805294')">
        <div class="col-sm-12" (contextmenu)="__elementSelectionService.select('570422864',$event)" [ngStyle]="__elementSelectionService.getStyles('570422864')">
            <form name="searchForm" class="form-inline" (contextmenu)="__elementSelectionService.select('1503015134',$event)" [ngStyle]="__elementSelectionService.getStyles('1503015134')">
                <div class="input-group w-100 mt-3" (contextmenu)="__elementSelectionService.select('934734709',$event)" [ngStyle]="__elementSelectionService.getStyles('934734709')">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hospitalsystemApp.actype.home.search' | translate }}" (contextmenu)="__elementSelectionService.select('290121452',$event)" [ngStyle]="__elementSelectionService.getStyles('290121452')">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)" (contextmenu)="__elementSelectionService.select('1339678691',$event)" [ngStyle]="__elementSelectionService.getStyles('1339678691')">
                        <fa-icon [icon]="'search'" (contextmenu)="__elementSelectionService.select('664868358',$event)" [ngStyle]="__elementSelectionService.getStyles('664868358')"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch" (contextmenu)="__elementSelectionService.select('659336388',$event)" [ngStyle]="__elementSelectionService.getStyles('659336388')">
                        <fa-icon [icon]="'trash-alt'" (contextmenu)="__elementSelectionService.select('1635205959',$event)" [ngStyle]="__elementSelectionService.getStyles('1635205959')"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br (contextmenu)="__elementSelectionService.select('1615904333',$event)" [ngStyle]="__elementSelectionService.getStyles('1615904333')">
    <div class="alert alert-warning" *ngIf="actypes?.length === 0" (contextmenu)="__elementSelectionService.select('1341035879',$event)" [ngStyle]="__elementSelectionService.getStyles('1341035879')">
        <span jhiTranslate="hospitalsystemApp.actype.home.notFound" (contextmenu)="__elementSelectionService.select('218512082',$event)" [ngStyle]="__elementSelectionService.getStyles('218512082')">No actypes found</span>
    </div>
    <div class="table-responsive" *ngIf="actypes?.length &#62; 0" (contextmenu)="__elementSelectionService.select('1446001998',$event)" [ngStyle]="__elementSelectionService.getStyles('1446001998')">
        <table class="table table-striped" aria-describedby="page-heading" (contextmenu)="__elementSelectionService.select('871846675',$event)" [ngStyle]="__elementSelectionService.getStyles('871846675')">
            <thead (contextmenu)="__elementSelectionService.select('143240615',$event)" [ngStyle]="__elementSelectionService.getStyles('143240615')">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)" (contextmenu)="__elementSelectionService.select('887473870',$event)" [ngStyle]="__elementSelectionService.getStyles('887473870')">
            <th scope="col" jhiSortBy="id" (contextmenu)="__elementSelectionService.select('1667782481',$event)" [ngStyle]="__elementSelectionService.getStyles('1667782481')"><span jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('1779367908',$event)" [ngStyle]="__elementSelectionService.getStyles('1779367908')">ID</span> <fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('791643031',$event)" [ngStyle]="__elementSelectionService.getStyles('791643031')"></fa-icon></th>
            <th scope="col" jhiSortBy="name" (contextmenu)="__elementSelectionService.select('904327946',$event)" [ngStyle]="__elementSelectionService.getStyles('904327946')"><span jhiTranslate="hospitalsystemApp.actype.name" (contextmenu)="__elementSelectionService.select('336980024',$event)" [ngStyle]="__elementSelectionService.getStyles('336980024')">Name</span> <fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('167367809',$event)" [ngStyle]="__elementSelectionService.getStyles('167367809')"></fa-icon></th>
            <th scope="col" jhiSortBy="price" (contextmenu)="__elementSelectionService.select('1511640338',$event)" [ngStyle]="__elementSelectionService.getStyles('1511640338')"><span jhiTranslate="hospitalsystemApp.actype.price" (contextmenu)="__elementSelectionService.select('1491409912',$event)" [ngStyle]="__elementSelectionService.getStyles('1491409912')">Price</span> <fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('1670020340',$event)" [ngStyle]="__elementSelectionService.getStyles('1670020340')"></fa-icon></th>
            <th scope="col" jhiSortBy="medicalService.name" (contextmenu)="__elementSelectionService.select('613474776',$event)" [ngStyle]="__elementSelectionService.getStyles('613474776')"><span jhiTranslate="hospitalsystemApp.actype.medicalService" (contextmenu)="__elementSelectionService.select('813029637',$event)" [ngStyle]="__elementSelectionService.getStyles('813029637')">Medical Service</span> <fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('1086275112',$event)" [ngStyle]="__elementSelectionService.getStyles('1086275112')"></fa-icon></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('1885509399',$event)" [ngStyle]="__elementSelectionService.getStyles('1885509399')"></th>
            </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('1407133410',$event)" [ngStyle]="__elementSelectionService.getStyles('1407133410')">
            <tr *ngFor="let actype of actypes ;trackBy: trackId" (contextmenu)="__elementSelectionService.select('1308385389',$event)" [ngStyle]="__elementSelectionService.getStyles('1308385389')">
                <td (contextmenu)="__elementSelectionService.select('1955285380',$event)" [ngStyle]="__elementSelectionService.getStyles('1955285380')"><a [routerLink]="['/actype', actype.id, 'view' ]" (contextmenu)="__elementSelectionService.select('271950381',$event)" [ngStyle]="__elementSelectionService.getStyles('271950381')">{{actype.id}}</a></td>
                <td (contextmenu)="__elementSelectionService.select('980905727',$event)" [ngStyle]="__elementSelectionService.getStyles('980905727')">{{actype.name}}</td>
                <td (contextmenu)="__elementSelectionService.select('346463956',$event)" [ngStyle]="__elementSelectionService.getStyles('346463956')">{{actype.price}}</td>
                <td (contextmenu)="__elementSelectionService.select('986657453',$event)" [ngStyle]="__elementSelectionService.getStyles('986657453')">
                    <div *ngIf="actype.medicalService" (contextmenu)="__elementSelectionService.select('131517203',$event)" [ngStyle]="__elementSelectionService.getStyles('131517203')">
                        <a [routerLink]="['/medical-service', actype.medicalService?.id, 'view' ]" (contextmenu)="__elementSelectionService.select('106384768',$event)" [ngStyle]="__elementSelectionService.getStyles('106384768')">{{actype.medicalService?.name}}</a>
                    </div>
                </td>
                <td class="text-right" (contextmenu)="__elementSelectionService.select('640099232',$event)" [ngStyle]="__elementSelectionService.getStyles('640099232')">
                    <div class="btn-group" (contextmenu)="__elementSelectionService.select('1706960787',$event)" [ngStyle]="__elementSelectionService.getStyles('1706960787')">
                        <button type="submit" [routerLink]="['/actype', actype.id, 'view' ]" class="btn btn-info btn-sm" (contextmenu)="__elementSelectionService.select('1409410660',$event)" [ngStyle]="__elementSelectionService.getStyles('1409410660')">
                            <fa-icon [icon]="'eye'" (contextmenu)="__elementSelectionService.select('1753647657',$event)" [ngStyle]="__elementSelectionService.getStyles('1753647657')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view" (contextmenu)="__elementSelectionService.select('2007211706',$event)" [ngStyle]="__elementSelectionService.getStyles('2007211706')">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/actype', actype.id, 'edit']" class="btn btn-primary btn-sm" (contextmenu)="__elementSelectionService.select('1664462178',$event)" [ngStyle]="__elementSelectionService.getStyles('1664462178')">
                            <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('953963942',$event)" [ngStyle]="__elementSelectionService.getStyles('953963942')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1683445590',$event)" [ngStyle]="__elementSelectionService.getStyles('1683445590')">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/actype', { outlets: { popup: actype.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm" (contextmenu)="__elementSelectionService.select('258626344',$event)" [ngStyle]="__elementSelectionService.getStyles('258626344')">
                            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('1106944282',$event)" [ngStyle]="__elementSelectionService.getStyles('1106944282')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('466730470',$event)" [ngStyle]="__elementSelectionService.getStyles('466730470')">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="actypes?.length === 0" (contextmenu)="__elementSelectionService.select('1164096557',$event)" [ngStyle]="__elementSelectionService.getStyles('1164096557')">
        <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('407657658',$event)" [ngStyle]="__elementSelectionService.getStyles('407657658')">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage" (contextmenu)="__elementSelectionService.select('204131544',$event)" [ngStyle]="__elementSelectionService.getStyles('204131544')"></jhi-item-count>
        </div>
        <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('444759606',$event)" [ngStyle]="__elementSelectionService.getStyles('444759606')">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)" (contextmenu)="__elementSelectionService.select('1242657431',$event)" [ngStyle]="__elementSelectionService.getStyles('1242657431')"></ngb-pagination>
        </div>
    </div>
</div>
