<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1268026456',$event)" [ngStyle]="__elementSelectionService.getStyles('1268026456')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('630874596',$event)" [ngStyle]="__elementSelectionService.getStyles('630874596')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('1250156355',$event)" [ngStyle]="__elementSelectionService.getStyles('1250156355')">
            <h2 id="jhi-actype-heading" jhiTranslate="hospitalsystemApp.actype.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('1091409657',$event)" [ngStyle]="__elementSelectionService.getStyles('1091409657')">Create or edit a Actype</h2>
            <div (contextmenu)="__elementSelectionService.select('463228571',$event)" [ngStyle]="__elementSelectionService.getStyles('463228571')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('1845463373',$event)" [ngStyle]="__elementSelectionService.getStyles('1845463373')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('961690230',$event)" [ngStyle]="__elementSelectionService.getStyles('961690230')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('348506619',$event)" [ngStyle]="__elementSelectionService.getStyles('348506619')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('1834263918',$event)" [ngStyle]="__elementSelectionService.getStyles('1834263918')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('2087775336',$event)" [ngStyle]="__elementSelectionService.getStyles('2087775336')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.actype.name" for="field_name" (contextmenu)="__elementSelectionService.select('1423566874',$event)" [ngStyle]="__elementSelectionService.getStyles('1423566874')">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" (contextmenu)="__elementSelectionService.select('1860794731',$event)" [ngStyle]="__elementSelectionService.getStyles('1860794731')">
                    <div *ngIf="editForm.get('name').invalid &#38;&#38; (editForm.get('name').dirty || editForm.get('name').touched)" (contextmenu)="__elementSelectionService.select('652135949',$event)" [ngStyle]="__elementSelectionService.getStyles('652135949')">
                        <small class="form-text text-danger" *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1563845906',$event)" [ngStyle]="__elementSelectionService.getStyles('1563845906')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1177866134',$event)" [ngStyle]="__elementSelectionService.getStyles('1177866134')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.actype.price" for="field_price" (contextmenu)="__elementSelectionService.select('1672729626',$event)" [ngStyle]="__elementSelectionService.getStyles('1672729626')">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price" formControlName="price" (contextmenu)="__elementSelectionService.select('860737735',$event)" [ngStyle]="__elementSelectionService.getStyles('860737735')">
                    <div *ngIf="editForm.get('price').invalid &#38;&#38; (editForm.get('price').dirty || editForm.get('price').touched)" (contextmenu)="__elementSelectionService.select('1572683081',$event)" [ngStyle]="__elementSelectionService.getStyles('1572683081')">
                        <small class="form-text text-danger" *ngIf="editForm.get('price').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1033179415',$event)" [ngStyle]="__elementSelectionService.getStyles('1033179415')">
                        This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number" (contextmenu)="__elementSelectionService.select('1081807291',$event)" [ngStyle]="__elementSelectionService.getStyles('1081807291')">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('502086299',$event)" [ngStyle]="__elementSelectionService.getStyles('502086299')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.actype.medicalService" for="field_medicalService" (contextmenu)="__elementSelectionService.select('697178906',$event)" [ngStyle]="__elementSelectionService.getStyles('697178906')">Medical Service</label>
                    <select class="form-control" id="field_medicalService" name="medicalService" formControlName="medicalService" (contextmenu)="__elementSelectionService.select('1015458453',$event)" [ngStyle]="__elementSelectionService.getStyles('1015458453')">
                        <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('619221623',$event)" [ngStyle]="__elementSelectionService.getStyles('619221623')"></option>
                        <option [ngValue]="medicalServiceOption.id === editForm.get('medicalService').value?.id ? editForm.get('medicalService').value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById" (contextmenu)="__elementSelectionService.select('1353014675',$event)" [ngStyle]="__elementSelectionService.getStyles('1353014675')">{{medicalServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medicalService').invalid &#38;&#38; (editForm.get('medicalService').dirty || editForm.get('medicalService').touched)" (contextmenu)="__elementSelectionService.select('162191958',$event)" [ngStyle]="__elementSelectionService.getStyles('162191958')">
                    <small class="form-text text-danger" *ngIf="editForm.get('medicalService').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('7412724',$event)" [ngStyle]="__elementSelectionService.getStyles('7412724')">
                        This field is required.
                    </small>
                </div>
            </div>
            <div (contextmenu)="__elementSelectionService.select('1625971367',$event)" [ngStyle]="__elementSelectionService.getStyles('1625971367')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('442096364',$event)" [ngStyle]="__elementSelectionService.getStyles('442096364')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1174330267',$event)" [ngStyle]="__elementSelectionService.getStyles('1174330267')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1297663595',$event)" [ngStyle]="__elementSelectionService.getStyles('1297663595')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('2136314373',$event)" [ngStyle]="__elementSelectionService.getStyles('2136314373')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('730835385',$event)" [ngStyle]="__elementSelectionService.getStyles('730835385')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('404655440',$event)" [ngStyle]="__elementSelectionService.getStyles('404655440')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
