<form name="deleteForm" (ngSubmit)="confirmDelete(actype.id)" (contextmenu)="__elementSelectionService.select('1615986856',$event)" [ngStyle]="__elementSelectionService.getStyles('1615986856')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('472364026',$event)" [ngStyle]="__elementSelectionService.getStyles('472364026')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('1820370838',$event)" [ngStyle]="__elementSelectionService.getStyles('1820370838')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('1024113120',$event)" [ngStyle]="__elementSelectionService.getStyles('1024113120')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('1397201789',$event)" [ngStyle]="__elementSelectionService.getStyles('1397201789')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('1927170700',$event)" [ngStyle]="__elementSelectionService.getStyles('1927170700')"></jhi-alert-error>
        <p id="jhi-delete-actype-heading" jhiTranslate="hospitalsystemApp.actype.delete.question" [translateValues]="{id: actype.id}" (contextmenu)="__elementSelectionService.select('462155606',$event)" [ngStyle]="__elementSelectionService.getStyles('462155606')">Are you sure you want to delete this Actype?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('1940291710',$event)" [ngStyle]="__elementSelectionService.getStyles('1940291710')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('475357444',$event)" [ngStyle]="__elementSelectionService.getStyles('475357444')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('476037672',$event)" [ngStyle]="__elementSelectionService.getStyles('476037672')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1483374506',$event)" [ngStyle]="__elementSelectionService.getStyles('1483374506')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-actype" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('529047977',$event)" [ngStyle]="__elementSelectionService.getStyles('529047977')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('677559837',$event)" [ngStyle]="__elementSelectionService.getStyles('677559837')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1246652347',$event)" [ngStyle]="__elementSelectionService.getStyles('1246652347')">Delete</span>
        </button>
    </div>
</form>
