<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('126187694',$event)" [ngStyle]="__elementSelectionService.getStyles('126187694')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('582206109',$event)" [ngStyle]="__elementSelectionService.getStyles('582206109')">
        <div *ngIf="actype" (contextmenu)="__elementSelectionService.select('241147501',$event)" [ngStyle]="__elementSelectionService.getStyles('241147501')">
            <h2 (contextmenu)="__elementSelectionService.select('1700373232',$event)" [ngStyle]="__elementSelectionService.getStyles('1700373232')"><span jhiTranslate="hospitalsystemApp.actype.detail.title" (contextmenu)="__elementSelectionService.select('1841312406',$event)" [ngStyle]="__elementSelectionService.getStyles('1841312406')">Actype</span> {{actype.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('1364959897',$event)" [ngStyle]="__elementSelectionService.getStyles('1364959897')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('587588137',$event)" [ngStyle]="__elementSelectionService.getStyles('587588137')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('191072923',$event)" [ngStyle]="__elementSelectionService.getStyles('191072923')">
                <dt (contextmenu)="__elementSelectionService.select('1742429667',$event)" [ngStyle]="__elementSelectionService.getStyles('1742429667')"><span jhiTranslate="hospitalsystemApp.actype.name" (contextmenu)="__elementSelectionService.select('1805149419',$event)" [ngStyle]="__elementSelectionService.getStyles('1805149419')">Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1736492827',$event)" [ngStyle]="__elementSelectionService.getStyles('1736492827')">
                    <span (contextmenu)="__elementSelectionService.select('1889582626',$event)" [ngStyle]="__elementSelectionService.getStyles('1889582626')">{{actype.name}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1302974864',$event)" [ngStyle]="__elementSelectionService.getStyles('1302974864')"><span jhiTranslate="hospitalsystemApp.actype.price" (contextmenu)="__elementSelectionService.select('1698581490',$event)" [ngStyle]="__elementSelectionService.getStyles('1698581490')">Price</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('73920593',$event)" [ngStyle]="__elementSelectionService.getStyles('73920593')">
                    <span (contextmenu)="__elementSelectionService.select('1908608849',$event)" [ngStyle]="__elementSelectionService.getStyles('1908608849')">{{actype.price}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1919247784',$event)" [ngStyle]="__elementSelectionService.getStyles('1919247784')"><span jhiTranslate="hospitalsystemApp.actype.medicalService" (contextmenu)="__elementSelectionService.select('1695797709',$event)" [ngStyle]="__elementSelectionService.getStyles('1695797709')">Medical Service</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1590509638',$event)" [ngStyle]="__elementSelectionService.getStyles('1590509638')">
                    <div *ngIf="actype.medicalService" (contextmenu)="__elementSelectionService.select('933066057',$event)" [ngStyle]="__elementSelectionService.getStyles('933066057')">
                        <a [routerLink]="['/medical-service', actype.medicalService?.id, 'view']" (contextmenu)="__elementSelectionService.select('1854672439',$event)" [ngStyle]="__elementSelectionService.getStyles('1854672439')">{{actype.medicalService?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('367671186',$event)" [ngStyle]="__elementSelectionService.getStyles('367671186')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('554797593',$event)" [ngStyle]="__elementSelectionService.getStyles('554797593')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('2105181263',$event)" [ngStyle]="__elementSelectionService.getStyles('2105181263')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/actype', actype.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1930018913',$event)" [ngStyle]="__elementSelectionService.getStyles('1930018913')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('924528437',$event)" [ngStyle]="__elementSelectionService.getStyles('924528437')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('452409997',$event)" [ngStyle]="__elementSelectionService.getStyles('452409997')"> Edit</span>
            </button>
        </div>
    </div>
</div>
