<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1254890795',$event)" [ngStyle]="__elementSelectionService.getStyles('1254890795')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1158398258',$event)" [ngStyle]="__elementSelectionService.getStyles('1158398258')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('1870969341',$event)" [ngStyle]="__elementSelectionService.getStyles('1870969341')">
            <h2 id="jhi-actype-heading" jhiTranslate="hospitalsystemApp.actype.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('549846834',$event)" [ngStyle]="__elementSelectionService.getStyles('549846834')">Create or edit a Actype</h2>
            <div (contextmenu)="__elementSelectionService.select('2108101415',$event)" [ngStyle]="__elementSelectionService.getStyles('2108101415')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('1715359728',$event)" [ngStyle]="__elementSelectionService.getStyles('1715359728')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('742345115',$event)" [ngStyle]="__elementSelectionService.getStyles('742345115')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('596381505',$event)" [ngStyle]="__elementSelectionService.getStyles('596381505')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('1727471164',$event)" [ngStyle]="__elementSelectionService.getStyles('1727471164')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1923259613',$event)" [ngStyle]="__elementSelectionService.getStyles('1923259613')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.actype.name" for="field_name" (contextmenu)="__elementSelectionService.select('612855939',$event)" [ngStyle]="__elementSelectionService.getStyles('612855939')">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" (contextmenu)="__elementSelectionService.select('1731364181',$event)" [ngStyle]="__elementSelectionService.getStyles('1731364181')">
                    <div *ngIf="editForm.get('name').invalid &#38;&#38; (editForm.get('name').dirty || editForm.get('name').touched)" (contextmenu)="__elementSelectionService.select('971665777',$event)" [ngStyle]="__elementSelectionService.getStyles('971665777')">
                        <small class="form-text text-danger" *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1606964965',$event)" [ngStyle]="__elementSelectionService.getStyles('1606964965')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1087645431',$event)" [ngStyle]="__elementSelectionService.getStyles('1087645431')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.actype.price" for="field_price" (contextmenu)="__elementSelectionService.select('859769749',$event)" [ngStyle]="__elementSelectionService.getStyles('859769749')">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price" formControlName="price" (contextmenu)="__elementSelectionService.select('1505006970',$event)" [ngStyle]="__elementSelectionService.getStyles('1505006970')">
                    <div *ngIf="editForm.get('price').invalid &#38;&#38; (editForm.get('price').dirty || editForm.get('price').touched)" (contextmenu)="__elementSelectionService.select('1146523607',$event)" [ngStyle]="__elementSelectionService.getStyles('1146523607')">
                        <small class="form-text text-danger" *ngIf="editForm.get('price').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('634714676',$event)" [ngStyle]="__elementSelectionService.getStyles('634714676')">
                        This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number" (contextmenu)="__elementSelectionService.select('1853636280',$event)" [ngStyle]="__elementSelectionService.getStyles('1853636280')">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('320764232',$event)" [ngStyle]="__elementSelectionService.getStyles('320764232')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.actype.medicalService" for="field_medicalService" (contextmenu)="__elementSelectionService.select('1673950411',$event)" [ngStyle]="__elementSelectionService.getStyles('1673950411')">Medical Service</label>
                    <select class="form-control" id="field_medicalService" name="medicalService" formControlName="medicalService" (contextmenu)="__elementSelectionService.select('1631659997',$event)" [ngStyle]="__elementSelectionService.getStyles('1631659997')">
                        <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('1858555059',$event)" [ngStyle]="__elementSelectionService.getStyles('1858555059')"></option>
                        <option [ngValue]="medicalServiceOption.id === editForm.get('medicalService').value?.id ? editForm.get('medicalService').value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById" (contextmenu)="__elementSelectionService.select('242465818',$event)" [ngStyle]="__elementSelectionService.getStyles('242465818')">{{medicalServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medicalService').invalid &#38;&#38; (editForm.get('medicalService').dirty || editForm.get('medicalService').touched)" (contextmenu)="__elementSelectionService.select('1581506867',$event)" [ngStyle]="__elementSelectionService.getStyles('1581506867')">
                    <small class="form-text text-danger" *ngIf="editForm.get('medicalService').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('919882473',$event)" [ngStyle]="__elementSelectionService.getStyles('919882473')">
                        This field is required.
                    </small>
                </div>
            </div>
            <div (contextmenu)="__elementSelectionService.select('1654798932',$event)" [ngStyle]="__elementSelectionService.getStyles('1654798932')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('1898109302',$event)" [ngStyle]="__elementSelectionService.getStyles('1898109302')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('816444440',$event)" [ngStyle]="__elementSelectionService.getStyles('816444440')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('616461286',$event)" [ngStyle]="__elementSelectionService.getStyles('616461286')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1463651775',$event)" [ngStyle]="__elementSelectionService.getStyles('1463651775')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('808650567',$event)" [ngStyle]="__elementSelectionService.getStyles('808650567')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('1329933421',$event)" [ngStyle]="__elementSelectionService.getStyles('1329933421')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
