<div (contextmenu)="__elementSelectionService.select('2099400720',$event)" [ngStyle]="__elementSelectionService.getStyles('2099400720')"(click)='__elementSelectionService.clear()'>
    <h2 id="page-heading" (contextmenu)="__elementSelectionService.select('1383911609',$event)" [ngStyle]="__elementSelectionService.getStyles('1383911609')">
        <span jhiTranslate="hospitalsystemApp.actype.home.title" (contextmenu)="__elementSelectionService.select('1026664502',$event)" [ngStyle]="__elementSelectionService.getStyles('1026664502')">Actypes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-actype" [routerLink]="['/actype/new']" (contextmenu)="__elementSelectionService.select('2018664801',$event)" [ngStyle]="__elementSelectionService.getStyles('2018664801')">
            <fa-icon [icon]="'plus'" (contextmenu)="__elementSelectionService.select('788823223',$event)" [ngStyle]="__elementSelectionService.getStyles('788823223')"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="hospitalsystemApp.actype.home.createLabel" (contextmenu)="__elementSelectionService.select('457804022',$event)" [ngStyle]="__elementSelectionService.getStyles('457804022')">
            Create a new Actype
            </span>
        </button>
    </h2>
    <jhi-alert-error (contextmenu)="__elementSelectionService.select('722068401',$event)" [ngStyle]="__elementSelectionService.getStyles('722068401')"></jhi-alert-error>
    <jhi-alert (contextmenu)="__elementSelectionService.select('1077663448',$event)" [ngStyle]="__elementSelectionService.getStyles('1077663448')"></jhi-alert>
    <div class="row" (contextmenu)="__elementSelectionService.select('1280768940',$event)" [ngStyle]="__elementSelectionService.getStyles('1280768940')">
        <div class="col-sm-12" (contextmenu)="__elementSelectionService.select('454022376',$event)" [ngStyle]="__elementSelectionService.getStyles('454022376')">
            <form name="searchForm" class="form-inline" (contextmenu)="__elementSelectionService.select('2139076691',$event)" [ngStyle]="__elementSelectionService.getStyles('2139076691')">
                <div class="input-group w-100 mt-3" (contextmenu)="__elementSelectionService.select('1634483314',$event)" [ngStyle]="__elementSelectionService.getStyles('1634483314')">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hospitalsystemApp.actype.home.search' | translate }}" (contextmenu)="__elementSelectionService.select('446439528',$event)" [ngStyle]="__elementSelectionService.getStyles('446439528')">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)" (contextmenu)="__elementSelectionService.select('2144411463',$event)" [ngStyle]="__elementSelectionService.getStyles('2144411463')">
                        <fa-icon [icon]="'search'" (contextmenu)="__elementSelectionService.select('2104401358',$event)" [ngStyle]="__elementSelectionService.getStyles('2104401358')"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch" (contextmenu)="__elementSelectionService.select('2111939005',$event)" [ngStyle]="__elementSelectionService.getStyles('2111939005')">
                        <fa-icon [icon]="'trash-alt'" (contextmenu)="__elementSelectionService.select('109396233',$event)" [ngStyle]="__elementSelectionService.getStyles('109396233')"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br (contextmenu)="__elementSelectionService.select('1910066617',$event)" [ngStyle]="__elementSelectionService.getStyles('1910066617')">
    <div class="alert alert-warning" *ngIf="actypes?.length === 0" (contextmenu)="__elementSelectionService.select('2026909345',$event)" [ngStyle]="__elementSelectionService.getStyles('2026909345')">
        <span jhiTranslate="hospitalsystemApp.actype.home.notFound" (contextmenu)="__elementSelectionService.select('147625039',$event)" [ngStyle]="__elementSelectionService.getStyles('147625039')">No actypes found</span>
    </div>
    <div class="table-responsive" *ngIf="actypes?.length &#62; 0" (contextmenu)="__elementSelectionService.select('611127638',$event)" [ngStyle]="__elementSelectionService.getStyles('611127638')">
        <table class="table table-striped" aria-describedby="page-heading" (contextmenu)="__elementSelectionService.select('526525671',$event)" [ngStyle]="__elementSelectionService.getStyles('526525671')">
            <thead (contextmenu)="__elementSelectionService.select('1723774092',$event)" [ngStyle]="__elementSelectionService.getStyles('1723774092')">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)" (contextmenu)="__elementSelectionService.select('180103928',$event)" [ngStyle]="__elementSelectionService.getStyles('180103928')">
            <th scope="col" jhiSortBy="id" (contextmenu)="__elementSelectionService.select('1175944536',$event)" [ngStyle]="__elementSelectionService.getStyles('1175944536')"><span jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('1222392929',$event)" [ngStyle]="__elementSelectionService.getStyles('1222392929')">ID</span> <fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('1540750114',$event)" [ngStyle]="__elementSelectionService.getStyles('1540750114')"></fa-icon></th>
            <th scope="col" jhiSortBy="name" (contextmenu)="__elementSelectionService.select('810938698',$event)" [ngStyle]="__elementSelectionService.getStyles('810938698')"><span jhiTranslate="hospitalsystemApp.actype.name" (contextmenu)="__elementSelectionService.select('1305851813',$event)" [ngStyle]="__elementSelectionService.getStyles('1305851813')">Name</span> <fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('1682158922',$event)" [ngStyle]="__elementSelectionService.getStyles('1682158922')"></fa-icon></th>
            <th scope="col" jhiSortBy="price" (contextmenu)="__elementSelectionService.select('280710667',$event)" [ngStyle]="__elementSelectionService.getStyles('280710667')"><span jhiTranslate="hospitalsystemApp.actype.price" (contextmenu)="__elementSelectionService.select('268120823',$event)" [ngStyle]="__elementSelectionService.getStyles('268120823')">Price</span> <fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('1869861938',$event)" [ngStyle]="__elementSelectionService.getStyles('1869861938')"></fa-icon></th>
            <th scope="col" jhiSortBy="medicalService.name" (contextmenu)="__elementSelectionService.select('375641459',$event)" [ngStyle]="__elementSelectionService.getStyles('375641459')"><span jhiTranslate="hospitalsystemApp.actype.medicalService" (contextmenu)="__elementSelectionService.select('1549933218',$event)" [ngStyle]="__elementSelectionService.getStyles('1549933218')">Medical Service</span> <fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('173602643',$event)" [ngStyle]="__elementSelectionService.getStyles('173602643')"></fa-icon></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('2071683182',$event)" [ngStyle]="__elementSelectionService.getStyles('2071683182')"></th>
            </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('1933310527',$event)" [ngStyle]="__elementSelectionService.getStyles('1933310527')">
            <tr *ngFor="let actype of actypes ;trackBy: trackId" (contextmenu)="__elementSelectionService.select('1069566448',$event)" [ngStyle]="__elementSelectionService.getStyles('1069566448')">
                <td (contextmenu)="__elementSelectionService.select('1928315700',$event)" [ngStyle]="__elementSelectionService.getStyles('1928315700')"><a [routerLink]="['/actype', actype.id, 'view' ]" (contextmenu)="__elementSelectionService.select('1387771159',$event)" [ngStyle]="__elementSelectionService.getStyles('1387771159')">{{actype.id}}</a></td>
                <td (contextmenu)="__elementSelectionService.select('2129741692',$event)" [ngStyle]="__elementSelectionService.getStyles('2129741692')">{{actype.name}}</td>
                <td (contextmenu)="__elementSelectionService.select('1128468123',$event)" [ngStyle]="__elementSelectionService.getStyles('1128468123')">{{actype.price}}</td>
                <td (contextmenu)="__elementSelectionService.select('1329173412',$event)" [ngStyle]="__elementSelectionService.getStyles('1329173412')">
                    <div *ngIf="actype.medicalService" (contextmenu)="__elementSelectionService.select('541694041',$event)" [ngStyle]="__elementSelectionService.getStyles('541694041')">
                        <a [routerLink]="['/medical-service', actype.medicalService?.id, 'view' ]" (contextmenu)="__elementSelectionService.select('1417142667',$event)" [ngStyle]="__elementSelectionService.getStyles('1417142667')">{{actype.medicalService?.name}}</a>
                    </div>
                </td>
                <td class="text-right" (contextmenu)="__elementSelectionService.select('253430344',$event)" [ngStyle]="__elementSelectionService.getStyles('253430344')">
                    <div class="btn-group" (contextmenu)="__elementSelectionService.select('213654716',$event)" [ngStyle]="__elementSelectionService.getStyles('213654716')">
                        <button type="submit" [routerLink]="['/actype', actype.id, 'view' ]" class="btn btn-info btn-sm" (contextmenu)="__elementSelectionService.select('1625015842',$event)" [ngStyle]="__elementSelectionService.getStyles('1625015842')">
                            <fa-icon [icon]="'eye'" (contextmenu)="__elementSelectionService.select('189470731',$event)" [ngStyle]="__elementSelectionService.getStyles('189470731')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view" (contextmenu)="__elementSelectionService.select('1557469792',$event)" [ngStyle]="__elementSelectionService.getStyles('1557469792')">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/actype', actype.id, 'edit']" class="btn btn-primary btn-sm" (contextmenu)="__elementSelectionService.select('811639994',$event)" [ngStyle]="__elementSelectionService.getStyles('811639994')">
                            <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('246718018',$event)" [ngStyle]="__elementSelectionService.getStyles('246718018')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1567380703',$event)" [ngStyle]="__elementSelectionService.getStyles('1567380703')">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/actype', { outlets: { popup: actype.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm" (contextmenu)="__elementSelectionService.select('689849096',$event)" [ngStyle]="__elementSelectionService.getStyles('689849096')">
                            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('477001701',$event)" [ngStyle]="__elementSelectionService.getStyles('477001701')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('914537636',$event)" [ngStyle]="__elementSelectionService.getStyles('914537636')">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="actypes?.length === 0" (contextmenu)="__elementSelectionService.select('158845959',$event)" [ngStyle]="__elementSelectionService.getStyles('158845959')">
        <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1386928162',$event)" [ngStyle]="__elementSelectionService.getStyles('1386928162')">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage" (contextmenu)="__elementSelectionService.select('1024744653',$event)" [ngStyle]="__elementSelectionService.getStyles('1024744653')"></jhi-item-count>
        </div>
        <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('516989015',$event)" [ngStyle]="__elementSelectionService.getStyles('516989015')">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)" (contextmenu)="__elementSelectionService.select('703615102',$event)" [ngStyle]="__elementSelectionService.getStyles('703615102')"></ngb-pagination>
        </div>
    </div>
</div>
