<div *ngIf="allConfiguration &#38;&#38; configuration" (contextmenu)="__elementSelectionService.select('1848218326',$event)" [ngStyle]="__elementSelectionService.getStyles('1848218326')"(click)='__elementSelectionService.clear()'>
    <h2 id="configuration-page-heading" jhiTranslate="configuration.title" (contextmenu)="__elementSelectionService.select('1828501517',$event)" [ngStyle]="__elementSelectionService.getStyles('1828501517')">Configuration</h2>

    <span jhiTranslate="configuration.filter" (contextmenu)="__elementSelectionService.select('1323382886',$event)" [ngStyle]="__elementSelectionService.getStyles('1323382886')">Filter (by prefix)</span> <input type="text" [(ngModel)]="filter" class="form-control" (contextmenu)="__elementSelectionService.select('5220276',$event)" [ngStyle]="__elementSelectionService.getStyles('5220276')">
    <h3 id="spring-configuration" (contextmenu)="__elementSelectionService.select('647657435',$event)" [ngStyle]="__elementSelectionService.getStyles('647657435')">Spring configuration</h3>
    <table class="table table-striped table-bordered table-responsive d-table" aria-describedby="spring-configuration" (contextmenu)="__elementSelectionService.select('800034773',$event)" [ngStyle]="__elementSelectionService.getStyles('800034773')">
        <thead (contextmenu)="__elementSelectionService.select('1758113870',$event)" [ngStyle]="__elementSelectionService.getStyles('1758113870')">
        <tr (contextmenu)="__elementSelectionService.select('356899044',$event)" [ngStyle]="__elementSelectionService.getStyles('356899044')">
            <th scope="col" class="w-40" (click)="orderProp = 'prefix'; reverse=!reverse" (contextmenu)="__elementSelectionService.select('1611944248',$event)" [ngStyle]="__elementSelectionService.getStyles('1611944248')"><span jhiTranslate="configuration.table.prefix" (contextmenu)="__elementSelectionService.select('857123784',$event)" [ngStyle]="__elementSelectionService.getStyles('857123784')">Prefix</span></th>
            <th scope="col" class="w-60" (click)="orderProp = 'properties'; reverse=!reverse" (contextmenu)="__elementSelectionService.select('249771300',$event)" [ngStyle]="__elementSelectionService.getStyles('249771300')"><span jhiTranslate="configuration.table.properties" (contextmenu)="__elementSelectionService.select('895110884',$event)" [ngStyle]="__elementSelectionService.getStyles('895110884')">Properties</span></th>
        </tr>
        </thead>
        <tbody (contextmenu)="__elementSelectionService.select('1996834022',$event)" [ngStyle]="__elementSelectionService.getStyles('1996834022')">
        <tr *ngFor="let entry of (configuration | pureFilter:filter:'prefix' | orderBy:orderProp:reverse)" (contextmenu)="__elementSelectionService.select('1900804389',$event)" [ngStyle]="__elementSelectionService.getStyles('1900804389')">
            <td (contextmenu)="__elementSelectionService.select('1712764989',$event)" [ngStyle]="__elementSelectionService.getStyles('1712764989')"><span (contextmenu)="__elementSelectionService.select('31254389',$event)" [ngStyle]="__elementSelectionService.getStyles('31254389')">{{entry.prefix}}</span></td>
            <td (contextmenu)="__elementSelectionService.select('1545843164',$event)" [ngStyle]="__elementSelectionService.getStyles('1545843164')">
                <div class="row" *ngFor="let key of keys(entry.properties)" (contextmenu)="__elementSelectionService.select('1913649580',$event)" [ngStyle]="__elementSelectionService.getStyles('1913649580')">
                    <div class="col-md-4" (contextmenu)="__elementSelectionService.select('562786432',$event)" [ngStyle]="__elementSelectionService.getStyles('562786432')">{{key}}</div>
                    <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1200282763',$event)" [ngStyle]="__elementSelectionService.getStyles('1200282763')">
                        <span class="float-right badge-secondary break" (contextmenu)="__elementSelectionService.select('115751159',$event)" [ngStyle]="__elementSelectionService.getStyles('115751159')">{{entry.properties[key] | json}}</span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div *ngFor="let key of keys(allConfiguration); let i = index" (contextmenu)="__elementSelectionService.select('187261726',$event)" [ngStyle]="__elementSelectionService.getStyles('187261726')">
        <h4 [id]="key + '_' + i" (contextmenu)="__elementSelectionService.select('1901862283',$event)" [ngStyle]="__elementSelectionService.getStyles('1901862283')"><span (contextmenu)="__elementSelectionService.select('1621359023',$event)" [ngStyle]="__elementSelectionService.getStyles('1621359023')">{{key}}</span></h4>
        <table class="table table-sm table-striped table-bordered table-responsive d-table" [attr.aria-describedby]="key + '_' + i" (contextmenu)="__elementSelectionService.select('1471497420',$event)" [ngStyle]="__elementSelectionService.getStyles('1471497420')">
            <thead (contextmenu)="__elementSelectionService.select('398785719',$event)" [ngStyle]="__elementSelectionService.getStyles('398785719')">
            <tr (contextmenu)="__elementSelectionService.select('115678081',$event)" [ngStyle]="__elementSelectionService.getStyles('115678081')">
                <th scope="col" class="w-40" (contextmenu)="__elementSelectionService.select('2037707891',$event)" [ngStyle]="__elementSelectionService.getStyles('2037707891')">Property</th>
                <th scope="col" class="w-60" (contextmenu)="__elementSelectionService.select('77225141',$event)" [ngStyle]="__elementSelectionService.getStyles('77225141')">Value</th>
            </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('873146837',$event)" [ngStyle]="__elementSelectionService.getStyles('873146837')">
            <tr *ngFor="let item of allConfiguration[key]" (contextmenu)="__elementSelectionService.select('438044102',$event)" [ngStyle]="__elementSelectionService.getStyles('438044102')">
                <td class="break" (contextmenu)="__elementSelectionService.select('1150664090',$event)" [ngStyle]="__elementSelectionService.getStyles('1150664090')">{{item.key}}</td>
                <td class="break" (contextmenu)="__elementSelectionService.select('314326601',$event)" [ngStyle]="__elementSelectionService.getStyles('314326601')">
                    <span class="float-right badge-secondary break" (contextmenu)="__elementSelectionService.select('2140469322',$event)" [ngStyle]="__elementSelectionService.getStyles('2140469322')">{{item.val}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
