<div (contextmenu)="__elementSelectionService.select('1955539929',$event)" [ngStyle]="__elementSelectionService.getStyles('1955539929')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('887745238',$event)" [ngStyle]="__elementSelectionService.getStyles('887745238')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('52008104',$event)" [ngStyle]="__elementSelectionService.getStyles('52008104')">
            <h1 jhiTranslate="activate.title" (contextmenu)="__elementSelectionService.select('1442252720',$event)" [ngStyle]="__elementSelectionService.getStyles('1442252720')">Activation</h1>

            <div class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('1560771319',$event)" [ngStyle]="__elementSelectionService.getStyles('1560771319')">
                <span jhiTranslate="activate.messages.success" (contextmenu)="__elementSelectionService.select('641963227',$event)" [ngStyle]="__elementSelectionService.getStyles('641963227')"><strong (contextmenu)="__elementSelectionService.select('1764812911',$event)" [ngStyle]="__elementSelectionService.getStyles('1764812911')">Your user account has been activated.</strong> Please </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link" (contextmenu)="__elementSelectionService.select('68659326',$event)" [ngStyle]="__elementSelectionService.getStyles('68659326')">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="activate.messages.error" (contextmenu)="__elementSelectionService.select('1654762185',$event)" [ngStyle]="__elementSelectionService.getStyles('1654762185')">
                <strong (contextmenu)="__elementSelectionService.select('1493049098',$event)" [ngStyle]="__elementSelectionService.getStyles('1493049098')">Your user could not be activated.</strong> Please use the registration form to sign up.
            </div>

        </div>
    </div>
</div>
