<div (contextmenu)="__elementSelectionService.select('1209799022',$event)" [ngStyle]="__elementSelectionService.getStyles('1209799022')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('557454711',$event)" [ngStyle]="__elementSelectionService.getStyles('557454711')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('627639347',$event)" [ngStyle]="__elementSelectionService.getStyles('627639347')">
            <h1 jhiTranslate="activate.title" (contextmenu)="__elementSelectionService.select('216826958',$event)" [ngStyle]="__elementSelectionService.getStyles('216826958')">Activation</h1>

            <div class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('2134573885',$event)" [ngStyle]="__elementSelectionService.getStyles('2134573885')">
                <span jhiTranslate="activate.messages.success" (contextmenu)="__elementSelectionService.select('240857088',$event)" [ngStyle]="__elementSelectionService.getStyles('240857088')"><strong (contextmenu)="__elementSelectionService.select('1669264740',$event)" [ngStyle]="__elementSelectionService.getStyles('1669264740')">Your user account has been activated.</strong> Please </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link" (contextmenu)="__elementSelectionService.select('198759345',$event)" [ngStyle]="__elementSelectionService.getStyles('198759345')">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="activate.messages.error" (contextmenu)="__elementSelectionService.select('744295196',$event)" [ngStyle]="__elementSelectionService.getStyles('744295196')">
                <strong (contextmenu)="__elementSelectionService.select('2077353383',$event)" [ngStyle]="__elementSelectionService.getStyles('2077353383')">Your user could not be activated.</strong> Please use the registration form to sign up.
            </div>

        </div>
    </div>
</div>
