<div (contextmenu)="__elementSelectionService.select('257385484',$event)" [ngStyle]="__elementSelectionService.getStyles('257385484')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('843141376',$event)" [ngStyle]="__elementSelectionService.getStyles('843141376')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('650939845',$event)" [ngStyle]="__elementSelectionService.getStyles('650939845')">
            <h1 jhiTranslate="activate.title" (contextmenu)="__elementSelectionService.select('452812697',$event)" [ngStyle]="__elementSelectionService.getStyles('452812697')">Activation</h1>

            <div class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('1457634255',$event)" [ngStyle]="__elementSelectionService.getStyles('1457634255')">
                <span jhiTranslate="activate.messages.success" (contextmenu)="__elementSelectionService.select('1846556994',$event)" [ngStyle]="__elementSelectionService.getStyles('1846556994')"><strong (contextmenu)="__elementSelectionService.select('753935328',$event)" [ngStyle]="__elementSelectionService.getStyles('753935328')">Your user account has been activated.</strong> Please </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link" (contextmenu)="__elementSelectionService.select('1543610480',$event)" [ngStyle]="__elementSelectionService.getStyles('1543610480')">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="activate.messages.error" (contextmenu)="__elementSelectionService.select('132470780',$event)" [ngStyle]="__elementSelectionService.getStyles('132470780')">
                <strong (contextmenu)="__elementSelectionService.select('1750119531',$event)" [ngStyle]="__elementSelectionService.getStyles('1750119531')">Your user could not be activated.</strong> Please use the registration form to sign up.
            </div>

        </div>
    </div>
</div>
