<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('605054651',$event)" [ngStyle]="__elementSelectionService.getStyles('605054651')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1068622343',$event)" [ngStyle]="__elementSelectionService.getStyles('1068622343')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('414412532',$event)" [ngStyle]="__elementSelectionService.getStyles('414412532')">
            <h2 id="jhi-hospitalization-heading" jhiTranslate="hospitalsystemApp.hospitalization.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('1034576702',$event)" [ngStyle]="__elementSelectionService.getStyles('1034576702')">Create or edit a Hospitalization</h2>
            <div (contextmenu)="__elementSelectionService.select('1669533482',$event)" [ngStyle]="__elementSelectionService.getStyles('1669533482')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('1393715335',$event)" [ngStyle]="__elementSelectionService.getStyles('1393715335')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('1356167391',$event)" [ngStyle]="__elementSelectionService.getStyles('1356167391')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('1040728680',$event)" [ngStyle]="__elementSelectionService.getStyles('1040728680')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('1158279388',$event)" [ngStyle]="__elementSelectionService.getStyles('1158279388')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('85982890',$event)" [ngStyle]="__elementSelectionService.getStyles('85982890')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.hospitalization.date" for="field_date" (contextmenu)="__elementSelectionService.select('2121755990',$event)" [ngStyle]="__elementSelectionService.getStyles('2121755990')">Date</label>
                    <div class="input-group" (contextmenu)="__elementSelectionService.select('43023346',$event)" [ngStyle]="__elementSelectionService.getStyles('43023346')">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date" (contextmenu)="__elementSelectionService.select('135656556',$event)" [ngStyle]="__elementSelectionService.getStyles('135656556')">
                        <span class="input-group-append" (contextmenu)="__elementSelectionService.select('1912971626',$event)" [ngStyle]="__elementSelectionService.getStyles('1912971626')">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()" (contextmenu)="__elementSelectionService.select('937258913',$event)" [ngStyle]="__elementSelectionService.getStyles('937258913')"><fa-icon [icon]="'calendar-alt'" (contextmenu)="__elementSelectionService.select('915660099',$event)" [ngStyle]="__elementSelectionService.getStyles('915660099')"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('date').invalid &#38;&#38; (editForm.get('date').dirty || editForm.get('date').touched)" (contextmenu)="__elementSelectionService.select('285403497',$event)" [ngStyle]="__elementSelectionService.getStyles('285403497')">
                        <small class="form-text text-danger" *ngIf="editForm.get('date').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1314063570',$event)" [ngStyle]="__elementSelectionService.getStyles('1314063570')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('313514718',$event)" [ngStyle]="__elementSelectionService.getStyles('313514718')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.hospitalization.description" for="field_description" (contextmenu)="__elementSelectionService.select('989754381',$event)" [ngStyle]="__elementSelectionService.getStyles('989754381')">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description" formControlName="description" (contextmenu)="__elementSelectionService.select('1009879962',$event)" [ngStyle]="__elementSelectionService.getStyles('1009879962')">
                    <div *ngIf="editForm.get('description').invalid &#38;&#38; (editForm.get('description').dirty || editForm.get('description').touched)" (contextmenu)="__elementSelectionService.select('1779592538',$event)" [ngStyle]="__elementSelectionService.getStyles('1779592538')">
                        <small class="form-text text-danger" *ngIf="editForm.get('description').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('109523948',$event)" [ngStyle]="__elementSelectionService.getStyles('109523948')">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1334862125',$event)" [ngStyle]="__elementSelectionService.getStyles('1334862125')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.hospitalization.patient" for="field_patient" (contextmenu)="__elementSelectionService.select('2135772702',$event)" [ngStyle]="__elementSelectionService.getStyles('2135772702')">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patient" (contextmenu)="__elementSelectionService.select('114066448',$event)" [ngStyle]="__elementSelectionService.getStyles('114066448')">
                        <option *ngIf="!editForm.get('patient').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('963370870',$event)" [ngStyle]="__elementSelectionService.getStyles('963370870')"></option>
                        <option [ngValue]="patientOption.id === editForm.get('patient').value?.id ? editForm.get('patient').value : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById" (contextmenu)="__elementSelectionService.select('1975404671',$event)" [ngStyle]="__elementSelectionService.getStyles('1975404671')">{{patientOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('patient').invalid &#38;&#38; (editForm.get('patient').dirty || editForm.get('patient').touched)" (contextmenu)="__elementSelectionService.select('1620493672',$event)" [ngStyle]="__elementSelectionService.getStyles('1620493672')">
                    <small class="form-text text-danger" *ngIf="editForm.get('patient').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('43524462',$event)" [ngStyle]="__elementSelectionService.getStyles('43524462')">
                        This field is required.
                    </small>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1701826084',$event)" [ngStyle]="__elementSelectionService.getStyles('1701826084')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.hospitalization.medicalService" for="field_medicalService" (contextmenu)="__elementSelectionService.select('1645584198',$event)" [ngStyle]="__elementSelectionService.getStyles('1645584198')">Medical Service</label>
                    <select class="form-control" id="field_medicalService" name="medicalService" formControlName="medicalService" (contextmenu)="__elementSelectionService.select('880716777',$event)" [ngStyle]="__elementSelectionService.getStyles('880716777')">
                        <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('2007924569',$event)" [ngStyle]="__elementSelectionService.getStyles('2007924569')"></option>
                        <option [ngValue]="medicalServiceOption.id === editForm.get('medicalService').value?.id ? editForm.get('medicalService').value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById" (contextmenu)="__elementSelectionService.select('1814794598',$event)" [ngStyle]="__elementSelectionService.getStyles('1814794598')">{{medicalServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medicalService').invalid &#38;&#38; (editForm.get('medicalService').dirty || editForm.get('medicalService').touched)" (contextmenu)="__elementSelectionService.select('571137034',$event)" [ngStyle]="__elementSelectionService.getStyles('571137034')">
                    <small class="form-text text-danger" *ngIf="editForm.get('medicalService').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1667893825',$event)" [ngStyle]="__elementSelectionService.getStyles('1667893825')">
                        This field is required.
                    </small>
                </div>
            </div>
            <div (contextmenu)="__elementSelectionService.select('1740305858',$event)" [ngStyle]="__elementSelectionService.getStyles('1740305858')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('1462434034',$event)" [ngStyle]="__elementSelectionService.getStyles('1462434034')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('590648465',$event)" [ngStyle]="__elementSelectionService.getStyles('590648465')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('281000628',$event)" [ngStyle]="__elementSelectionService.getStyles('281000628')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('538659204',$event)" [ngStyle]="__elementSelectionService.getStyles('538659204')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('553048093',$event)" [ngStyle]="__elementSelectionService.getStyles('553048093')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('660684942',$event)" [ngStyle]="__elementSelectionService.getStyles('660684942')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
