<form name="deleteForm" (ngSubmit)="confirmDelete(hospitalization.id)" (contextmenu)="__elementSelectionService.select('759611639',$event)" [ngStyle]="__elementSelectionService.getStyles('759611639')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('1811698381',$event)" [ngStyle]="__elementSelectionService.getStyles('1811698381')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('1889953341',$event)" [ngStyle]="__elementSelectionService.getStyles('1889953341')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('1274431115',$event)" [ngStyle]="__elementSelectionService.getStyles('1274431115')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('1389013590',$event)" [ngStyle]="__elementSelectionService.getStyles('1389013590')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('1529475320',$event)" [ngStyle]="__elementSelectionService.getStyles('1529475320')"></jhi-alert-error>
        <p id="jhi-delete-hospitalization-heading" jhiTranslate="hospitalsystemApp.hospitalization.delete.question" [translateValues]="{id: hospitalization.id}" (contextmenu)="__elementSelectionService.select('419295790',$event)" [ngStyle]="__elementSelectionService.getStyles('419295790')">Are you sure you want to delete this Hospitalization?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('1640381860',$event)" [ngStyle]="__elementSelectionService.getStyles('1640381860')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('1717154768',$event)" [ngStyle]="__elementSelectionService.getStyles('1717154768')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1919099347',$event)" [ngStyle]="__elementSelectionService.getStyles('1919099347')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('91803955',$event)" [ngStyle]="__elementSelectionService.getStyles('91803955')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-hospitalization" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('1426323237',$event)" [ngStyle]="__elementSelectionService.getStyles('1426323237')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('2121210214',$event)" [ngStyle]="__elementSelectionService.getStyles('2121210214')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('367641281',$event)" [ngStyle]="__elementSelectionService.getStyles('367641281')">Delete</span>
        </button>
    </div>
</form>
