<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1541818629',$event)" [ngStyle]="__elementSelectionService.getStyles('1541818629')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1390168193',$event)" [ngStyle]="__elementSelectionService.getStyles('1390168193')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('1000050110',$event)" [ngStyle]="__elementSelectionService.getStyles('1000050110')">
            <h2 id="jhi-hospitalization-heading" jhiTranslate="hospitalsystemApp.hospitalization.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('1125576732',$event)" [ngStyle]="__elementSelectionService.getStyles('1125576732')">Create or edit a Hospitalization</h2>
            <div (contextmenu)="__elementSelectionService.select('487555613',$event)" [ngStyle]="__elementSelectionService.getStyles('487555613')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('757549437',$event)" [ngStyle]="__elementSelectionService.getStyles('757549437')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('1253492506',$event)" [ngStyle]="__elementSelectionService.getStyles('1253492506')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('1045710912',$event)" [ngStyle]="__elementSelectionService.getStyles('1045710912')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('1604991741',$event)" [ngStyle]="__elementSelectionService.getStyles('1604991741')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1221717204',$event)" [ngStyle]="__elementSelectionService.getStyles('1221717204')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.hospitalization.date" for="field_date" (contextmenu)="__elementSelectionService.select('883125443',$event)" [ngStyle]="__elementSelectionService.getStyles('883125443')">Date</label>
                    <div class="input-group" (contextmenu)="__elementSelectionService.select('673789023',$event)" [ngStyle]="__elementSelectionService.getStyles('673789023')">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date" (contextmenu)="__elementSelectionService.select('651857525',$event)" [ngStyle]="__elementSelectionService.getStyles('651857525')">
                        <span class="input-group-append" (contextmenu)="__elementSelectionService.select('1630171446',$event)" [ngStyle]="__elementSelectionService.getStyles('1630171446')">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()" (contextmenu)="__elementSelectionService.select('1321258148',$event)" [ngStyle]="__elementSelectionService.getStyles('1321258148')"><fa-icon [icon]="'calendar-alt'" (contextmenu)="__elementSelectionService.select('799703791',$event)" [ngStyle]="__elementSelectionService.getStyles('799703791')"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('date').invalid &#38;&#38; (editForm.get('date').dirty || editForm.get('date').touched)" (contextmenu)="__elementSelectionService.select('1576081481',$event)" [ngStyle]="__elementSelectionService.getStyles('1576081481')">
                        <small class="form-text text-danger" *ngIf="editForm.get('date').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1868591360',$event)" [ngStyle]="__elementSelectionService.getStyles('1868591360')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('663565732',$event)" [ngStyle]="__elementSelectionService.getStyles('663565732')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.hospitalization.description" for="field_description" (contextmenu)="__elementSelectionService.select('1556837952',$event)" [ngStyle]="__elementSelectionService.getStyles('1556837952')">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description" formControlName="description" (contextmenu)="__elementSelectionService.select('153947840',$event)" [ngStyle]="__elementSelectionService.getStyles('153947840')">
                    <div *ngIf="editForm.get('description').invalid &#38;&#38; (editForm.get('description').dirty || editForm.get('description').touched)" (contextmenu)="__elementSelectionService.select('1705612948',$event)" [ngStyle]="__elementSelectionService.getStyles('1705612948')">
                        <small class="form-text text-danger" *ngIf="editForm.get('description').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('734506896',$event)" [ngStyle]="__elementSelectionService.getStyles('734506896')">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('741975518',$event)" [ngStyle]="__elementSelectionService.getStyles('741975518')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.hospitalization.patient" for="field_patient" (contextmenu)="__elementSelectionService.select('1292101015',$event)" [ngStyle]="__elementSelectionService.getStyles('1292101015')">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patient" (contextmenu)="__elementSelectionService.select('1681381269',$event)" [ngStyle]="__elementSelectionService.getStyles('1681381269')">
                        <option *ngIf="!editForm.get('patient').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('1922719660',$event)" [ngStyle]="__elementSelectionService.getStyles('1922719660')"></option>
                        <option [ngValue]="patientOption.id === editForm.get('patient').value?.id ? editForm.get('patient').value : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById" (contextmenu)="__elementSelectionService.select('334234484',$event)" [ngStyle]="__elementSelectionService.getStyles('334234484')">{{patientOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('patient').invalid &#38;&#38; (editForm.get('patient').dirty || editForm.get('patient').touched)" (contextmenu)="__elementSelectionService.select('1091658691',$event)" [ngStyle]="__elementSelectionService.getStyles('1091658691')">
                    <small class="form-text text-danger" *ngIf="editForm.get('patient').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('465608459',$event)" [ngStyle]="__elementSelectionService.getStyles('465608459')">
                        This field is required.
                    </small>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('998753504',$event)" [ngStyle]="__elementSelectionService.getStyles('998753504')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.hospitalization.medicalService" for="field_medicalService" (contextmenu)="__elementSelectionService.select('1216583495',$event)" [ngStyle]="__elementSelectionService.getStyles('1216583495')">Medical Service</label>
                    <select class="form-control" id="field_medicalService" name="medicalService" formControlName="medicalService" (contextmenu)="__elementSelectionService.select('38206191',$event)" [ngStyle]="__elementSelectionService.getStyles('38206191')">
                        <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('492897643',$event)" [ngStyle]="__elementSelectionService.getStyles('492897643')"></option>
                        <option [ngValue]="medicalServiceOption.id === editForm.get('medicalService').value?.id ? editForm.get('medicalService').value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById" (contextmenu)="__elementSelectionService.select('415523555',$event)" [ngStyle]="__elementSelectionService.getStyles('415523555')">{{medicalServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medicalService').invalid &#38;&#38; (editForm.get('medicalService').dirty || editForm.get('medicalService').touched)" (contextmenu)="__elementSelectionService.select('1277818643',$event)" [ngStyle]="__elementSelectionService.getStyles('1277818643')">
                    <small class="form-text text-danger" *ngIf="editForm.get('medicalService').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('2039348731',$event)" [ngStyle]="__elementSelectionService.getStyles('2039348731')">
                        This field is required.
                    </small>
                </div>
            </div>
            <div (contextmenu)="__elementSelectionService.select('1825764860',$event)" [ngStyle]="__elementSelectionService.getStyles('1825764860')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('1463435775',$event)" [ngStyle]="__elementSelectionService.getStyles('1463435775')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1411949924',$event)" [ngStyle]="__elementSelectionService.getStyles('1411949924')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1121773631',$event)" [ngStyle]="__elementSelectionService.getStyles('1121773631')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('970627213',$event)" [ngStyle]="__elementSelectionService.getStyles('970627213')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('1021969392',$event)" [ngStyle]="__elementSelectionService.getStyles('1021969392')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('771265164',$event)" [ngStyle]="__elementSelectionService.getStyles('771265164')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
