<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('433933366',$event)" [ngStyle]="__elementSelectionService.getStyles('433933366')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('168390293',$event)" [ngStyle]="__elementSelectionService.getStyles('168390293')">
        <div *ngIf="hospitalization" (contextmenu)="__elementSelectionService.select('2034646814',$event)" [ngStyle]="__elementSelectionService.getStyles('2034646814')">
            <h2 (contextmenu)="__elementSelectionService.select('141868102',$event)" [ngStyle]="__elementSelectionService.getStyles('141868102')"><span jhiTranslate="hospitalsystemApp.hospitalization.detail.title" (contextmenu)="__elementSelectionService.select('758028078',$event)" [ngStyle]="__elementSelectionService.getStyles('758028078')">Hospitalization</span> {{hospitalization.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('1821522392',$event)" [ngStyle]="__elementSelectionService.getStyles('1821522392')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('610551195',$event)" [ngStyle]="__elementSelectionService.getStyles('610551195')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('165632989',$event)" [ngStyle]="__elementSelectionService.getStyles('165632989')">
                <dt (contextmenu)="__elementSelectionService.select('1351690799',$event)" [ngStyle]="__elementSelectionService.getStyles('1351690799')"><span jhiTranslate="hospitalsystemApp.hospitalization.date" (contextmenu)="__elementSelectionService.select('758158620',$event)" [ngStyle]="__elementSelectionService.getStyles('758158620')">Date</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('729695676',$event)" [ngStyle]="__elementSelectionService.getStyles('729695676')">
                    <span (contextmenu)="__elementSelectionService.select('1485632189',$event)" [ngStyle]="__elementSelectionService.getStyles('1485632189')">{{hospitalization.date}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('18185169',$event)" [ngStyle]="__elementSelectionService.getStyles('18185169')"><span jhiTranslate="hospitalsystemApp.hospitalization.description" (contextmenu)="__elementSelectionService.select('673482394',$event)" [ngStyle]="__elementSelectionService.getStyles('673482394')">Description</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1907258759',$event)" [ngStyle]="__elementSelectionService.getStyles('1907258759')">
                    <span (contextmenu)="__elementSelectionService.select('1309173781',$event)" [ngStyle]="__elementSelectionService.getStyles('1309173781')">{{hospitalization.description}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1693014518',$event)" [ngStyle]="__elementSelectionService.getStyles('1693014518')"><span jhiTranslate="hospitalsystemApp.hospitalization.patient" (contextmenu)="__elementSelectionService.select('1760891815',$event)" [ngStyle]="__elementSelectionService.getStyles('1760891815')">Patient</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1786073459',$event)" [ngStyle]="__elementSelectionService.getStyles('1786073459')">
                    <div *ngIf="hospitalization.patient" (contextmenu)="__elementSelectionService.select('1731249384',$event)" [ngStyle]="__elementSelectionService.getStyles('1731249384')">
                        <a [routerLink]="['/patient', hospitalization.patient?.id, 'view']" (contextmenu)="__elementSelectionService.select('1228412689',$event)" [ngStyle]="__elementSelectionService.getStyles('1228412689')">{{hospitalization.patient?.name}}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('160452026',$event)" [ngStyle]="__elementSelectionService.getStyles('160452026')"><span jhiTranslate="hospitalsystemApp.hospitalization.medicalService" (contextmenu)="__elementSelectionService.select('1227782962',$event)" [ngStyle]="__elementSelectionService.getStyles('1227782962')">Medical Service</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('676913531',$event)" [ngStyle]="__elementSelectionService.getStyles('676913531')">
                    <div *ngIf="hospitalization.medicalService" (contextmenu)="__elementSelectionService.select('567409662',$event)" [ngStyle]="__elementSelectionService.getStyles('567409662')">
                        <a [routerLink]="['/medical-service', hospitalization.medicalService?.id, 'view']" (contextmenu)="__elementSelectionService.select('715628515',$event)" [ngStyle]="__elementSelectionService.getStyles('715628515')">{{hospitalization.medicalService?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('275420782',$event)" [ngStyle]="__elementSelectionService.getStyles('275420782')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('2144792097',$event)" [ngStyle]="__elementSelectionService.getStyles('2144792097')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('1366746158',$event)" [ngStyle]="__elementSelectionService.getStyles('1366746158')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/hospitalization', hospitalization.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1203249508',$event)" [ngStyle]="__elementSelectionService.getStyles('1203249508')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('61150747',$event)" [ngStyle]="__elementSelectionService.getStyles('61150747')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1271547816',$event)" [ngStyle]="__elementSelectionService.getStyles('1271547816')"> Edit</span>
            </button>
        </div>
    </div>
</div>
