<div (contextmenu)="__elementSelectionService.select('549291511',$event)" [ngStyle]="__elementSelectionService.getStyles('549291511')"(click)='__elementSelectionService.clear()'>
    <h2 id="page-heading" (contextmenu)="__elementSelectionService.select('1674358616',$event)" [ngStyle]="__elementSelectionService.getStyles('1674358616')">
        <span jhiTranslate="hospitalsystemApp.guard.home.title" (contextmenu)="__elementSelectionService.select('789712107',$event)" [ngStyle]="__elementSelectionService.getStyles('789712107')">Guards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-guard" [routerLink]="['/guard/new']" (contextmenu)="__elementSelectionService.select('1849253003',$event)" [ngStyle]="__elementSelectionService.getStyles('1849253003')">
            <fa-icon [icon]="'plus'" (contextmenu)="__elementSelectionService.select('118541955',$event)" [ngStyle]="__elementSelectionService.getStyles('118541955')"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="hospitalsystemApp.guard.home.createLabel" (contextmenu)="__elementSelectionService.select('27264854',$event)" [ngStyle]="__elementSelectionService.getStyles('27264854')">
            Create a new Guard
            </span>
        </button>
    </h2>
    <jhi-alert-error (contextmenu)="__elementSelectionService.select('1047148253',$event)" [ngStyle]="__elementSelectionService.getStyles('1047148253')"></jhi-alert-error>
    <jhi-alert (contextmenu)="__elementSelectionService.select('437512351',$event)" [ngStyle]="__elementSelectionService.getStyles('437512351')"></jhi-alert>
    <div class="row" (contextmenu)="__elementSelectionService.select('460736904',$event)" [ngStyle]="__elementSelectionService.getStyles('460736904')">
        <div class="col-sm-12" (contextmenu)="__elementSelectionService.select('443381511',$event)" [ngStyle]="__elementSelectionService.getStyles('443381511')">
            <form name="searchForm" class="form-inline" (contextmenu)="__elementSelectionService.select('1977513545',$event)" [ngStyle]="__elementSelectionService.getStyles('1977513545')">
                <div class="input-group w-100 mt-3" (contextmenu)="__elementSelectionService.select('1888239485',$event)" [ngStyle]="__elementSelectionService.getStyles('1888239485')">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hospitalsystemApp.guard.home.search' | translate }}" (contextmenu)="__elementSelectionService.select('1503593197',$event)" [ngStyle]="__elementSelectionService.getStyles('1503593197')">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)" (contextmenu)="__elementSelectionService.select('674993046',$event)" [ngStyle]="__elementSelectionService.getStyles('674993046')">
                        <fa-icon [icon]="'search'" (contextmenu)="__elementSelectionService.select('785499366',$event)" [ngStyle]="__elementSelectionService.getStyles('785499366')"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch" (contextmenu)="__elementSelectionService.select('1068986774',$event)" [ngStyle]="__elementSelectionService.getStyles('1068986774')">
                        <fa-icon [icon]="'trash-alt'" (contextmenu)="__elementSelectionService.select('513705191',$event)" [ngStyle]="__elementSelectionService.getStyles('513705191')"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br (contextmenu)="__elementSelectionService.select('1791820673',$event)" [ngStyle]="__elementSelectionService.getStyles('1791820673')">
    <div class="alert alert-warning" *ngIf="guards?.length === 0" (contextmenu)="__elementSelectionService.select('1243290826',$event)" [ngStyle]="__elementSelectionService.getStyles('1243290826')">
        <span jhiTranslate="hospitalsystemApp.guard.home.notFound" (contextmenu)="__elementSelectionService.select('1311047646',$event)" [ngStyle]="__elementSelectionService.getStyles('1311047646')">No guards found</span>
    </div>
    <div class="table-responsive" *ngIf="guards?.length &#62; 0" (contextmenu)="__elementSelectionService.select('611836737',$event)" [ngStyle]="__elementSelectionService.getStyles('611836737')">
        <table class="table table-striped" aria-describedby="page-heading" (contextmenu)="__elementSelectionService.select('639909189',$event)" [ngStyle]="__elementSelectionService.getStyles('639909189')">
            <thead (contextmenu)="__elementSelectionService.select('885757959',$event)" [ngStyle]="__elementSelectionService.getStyles('885757959')">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)" (contextmenu)="__elementSelectionService.select('1576557391',$event)" [ngStyle]="__elementSelectionService.getStyles('1576557391')">
            
            <th scope="col" jhiSortBy="date" (contextmenu)="__elementSelectionService.select('1175377498',$event)" [ngStyle]="__elementSelectionService.getStyles('1175377498')"><span jhiTranslate="hospitalsystemApp.guard.date" (contextmenu)="__elementSelectionService.select('1095177675',$event)" [ngStyle]="__elementSelectionService.getStyles('1095177675')">Date</span><fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('698660420',$event)" [ngStyle]="__elementSelectionService.getStyles('698660420')"></fa-icon></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('907649564',$event)" [ngStyle]="__elementSelectionService.getStyles('907649564')"><span jhiTranslate="hospitalsystemApp.guard.guardSchedule" (contextmenu)="__elementSelectionService.select('102047363',$event)" [ngStyle]="__elementSelectionService.getStyles('102047363')">Guard Schedule</span></th>
            
            <th scope="col" (contextmenu)="__elementSelectionService.select('2139466439',$event)" [ngStyle]="__elementSelectionService.getStyles('2139466439')"><span jhiTranslate="hospitalsystemApp.guard.doctor" (contextmenu)="__elementSelectionService.select('1931425253',$event)" [ngStyle]="__elementSelectionService.getStyles('1931425253')">Doctor</span></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('149778648',$event)" [ngStyle]="__elementSelectionService.getStyles('149778648')"></th>
            </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('639796800',$event)" [ngStyle]="__elementSelectionService.getStyles('639796800')">
            <tr *ngFor="let guard of guards ;trackBy: trackId" (contextmenu)="__elementSelectionService.select('1948505041',$event)" [ngStyle]="__elementSelectionService.getStyles('1948505041')">
                
                <td (contextmenu)="__elementSelectionService.select('2115596461',$event)" [ngStyle]="__elementSelectionService.getStyles('2115596461')">{{guard.date | date:'mediumDate'}}</td>
                <td (contextmenu)="__elementSelectionService.select('496088070',$event)" [ngStyle]="__elementSelectionService.getStyles('496088070')">
                    <div *ngIf="guard.guardSchedule" (contextmenu)="__elementSelectionService.select('791880050',$event)" [ngStyle]="__elementSelectionService.getStyles('791880050')">
                        <a [routerLink]="['/guard-schedule', guard.guardSchedule?.id, 'view' ]" (contextmenu)="__elementSelectionService.select('1172623902',$event)" [ngStyle]="__elementSelectionService.getStyles('1172623902')">{{guard.guardSchedule?.name}}</a>
                    </div>
                </td>
                
                <td (contextmenu)="__elementSelectionService.select('1884114455',$event)" [ngStyle]="__elementSelectionService.getStyles('1884114455')">
                    <div *ngIf="guard.doctor" (contextmenu)="__elementSelectionService.select('1626138012',$event)" [ngStyle]="__elementSelectionService.getStyles('1626138012')">
                        <a [routerLink]="['/doctor', guard.doctor?.id, 'view' ]" (contextmenu)="__elementSelectionService.select('1457676354',$event)" [ngStyle]="__elementSelectionService.getStyles('1457676354')">{{guard.doctor?.name}}</a>
                    </div>
                </td>
                <td class="text-right" (contextmenu)="__elementSelectionService.select('896875682',$event)" [ngStyle]="__elementSelectionService.getStyles('896875682')">
                    <div class="btn-group" (contextmenu)="__elementSelectionService.select('802349549',$event)" [ngStyle]="__elementSelectionService.getStyles('802349549')">
                        <button type="submit" [routerLink]="['/guard', guard.id, 'view' ]" class="btn btn-info btn-sm" (contextmenu)="__elementSelectionService.select('672473486',$event)" [ngStyle]="__elementSelectionService.getStyles('672473486')">
                            <fa-icon [icon]="'eye'" (contextmenu)="__elementSelectionService.select('1840297150',$event)" [ngStyle]="__elementSelectionService.getStyles('1840297150')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view" (contextmenu)="__elementSelectionService.select('1899758982',$event)" [ngStyle]="__elementSelectionService.getStyles('1899758982')">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/guard', guard.id, 'edit']" class="btn btn-primary btn-sm" (contextmenu)="__elementSelectionService.select('1230593989',$event)" [ngStyle]="__elementSelectionService.getStyles('1230593989')">
                            <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('1220611633',$event)" [ngStyle]="__elementSelectionService.getStyles('1220611633')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('540825299',$event)" [ngStyle]="__elementSelectionService.getStyles('540825299')">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/guard', { outlets: { popup: guard.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm" (contextmenu)="__elementSelectionService.select('834496359',$event)" [ngStyle]="__elementSelectionService.getStyles('834496359')">
                            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('840544738',$event)" [ngStyle]="__elementSelectionService.getStyles('840544738')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1927905558',$event)" [ngStyle]="__elementSelectionService.getStyles('1927905558')">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
