<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1787188886',$event)" [ngStyle]="__elementSelectionService.getStyles('1787188886')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('78567979',$event)" [ngStyle]="__elementSelectionService.getStyles('78567979')">
        <div *ngIf="guard" (contextmenu)="__elementSelectionService.select('1547964110',$event)" [ngStyle]="__elementSelectionService.getStyles('1547964110')">
            <h2 (contextmenu)="__elementSelectionService.select('956095211',$event)" [ngStyle]="__elementSelectionService.getStyles('956095211')"><span jhiTranslate="hospitalsystemApp.guard.detail.title" (contextmenu)="__elementSelectionService.select('303349637',$event)" [ngStyle]="__elementSelectionService.getStyles('303349637')">Guard</span> {{guard.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('1612267630',$event)" [ngStyle]="__elementSelectionService.getStyles('1612267630')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('483852509',$event)" [ngStyle]="__elementSelectionService.getStyles('483852509')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('1109572142',$event)" [ngStyle]="__elementSelectionService.getStyles('1109572142')">
                <dt (contextmenu)="__elementSelectionService.select('1971178872',$event)" [ngStyle]="__elementSelectionService.getStyles('1971178872')"><span jhiTranslate="hospitalsystemApp.guard.date" (contextmenu)="__elementSelectionService.select('1607334281',$event)" [ngStyle]="__elementSelectionService.getStyles('1607334281')">Date</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('2067319621',$event)" [ngStyle]="__elementSelectionService.getStyles('2067319621')">
                    <span (contextmenu)="__elementSelectionService.select('748486086',$event)" [ngStyle]="__elementSelectionService.getStyles('748486086')">{{guard.date}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('932307744',$event)" [ngStyle]="__elementSelectionService.getStyles('932307744')"><span jhiTranslate="hospitalsystemApp.guard.guardSchedule" (contextmenu)="__elementSelectionService.select('127948266',$event)" [ngStyle]="__elementSelectionService.getStyles('127948266')">Guard Schedule</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('981456056',$event)" [ngStyle]="__elementSelectionService.getStyles('981456056')">
                    <div *ngIf="guard.guardSchedule" (contextmenu)="__elementSelectionService.select('1908833532',$event)" [ngStyle]="__elementSelectionService.getStyles('1908833532')">
                        <a [routerLink]="['/guard-schedule', guard.guardSchedule?.id, 'view']" (contextmenu)="__elementSelectionService.select('1240865031',$event)" [ngStyle]="__elementSelectionService.getStyles('1240865031')">{{guard.guardSchedule?.name}}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1291586262',$event)" [ngStyle]="__elementSelectionService.getStyles('1291586262')"><span jhiTranslate="hospitalsystemApp.guard.doctorMedicalService" (contextmenu)="__elementSelectionService.select('140697061',$event)" [ngStyle]="__elementSelectionService.getStyles('140697061')">Doctor Medical Service</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1241608585',$event)" [ngStyle]="__elementSelectionService.getStyles('1241608585')">
                    <div *ngIf="guard.doctorMedicalService" (contextmenu)="__elementSelectionService.select('860256239',$event)" [ngStyle]="__elementSelectionService.getStyles('860256239')">
                        <a [routerLink]="['/medical-service', guard.doctorMedicalService?.id, 'view']" (contextmenu)="__elementSelectionService.select('532705771',$event)" [ngStyle]="__elementSelectionService.getStyles('532705771')">{{guard.doctorMedicalService?.name}}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('30611971',$event)" [ngStyle]="__elementSelectionService.getStyles('30611971')"><span jhiTranslate="hospitalsystemApp.guard.doctor" (contextmenu)="__elementSelectionService.select('1084206729',$event)" [ngStyle]="__elementSelectionService.getStyles('1084206729')">Doctor</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1088831610',$event)" [ngStyle]="__elementSelectionService.getStyles('1088831610')">
                    <div *ngIf="guard.doctor" (contextmenu)="__elementSelectionService.select('1546989220',$event)" [ngStyle]="__elementSelectionService.getStyles('1546989220')">
                        <a [routerLink]="['/doctor', guard.doctor?.id, 'view']" (contextmenu)="__elementSelectionService.select('1169110051',$event)" [ngStyle]="__elementSelectionService.getStyles('1169110051')">{{guard.doctor?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('2021208569',$event)" [ngStyle]="__elementSelectionService.getStyles('2021208569')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('183388956',$event)" [ngStyle]="__elementSelectionService.getStyles('183388956')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('2145060075',$event)" [ngStyle]="__elementSelectionService.getStyles('2145060075')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/guard', guard.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1139353887',$event)" [ngStyle]="__elementSelectionService.getStyles('1139353887')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('1924017762',$event)" [ngStyle]="__elementSelectionService.getStyles('1924017762')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('174075264',$event)" [ngStyle]="__elementSelectionService.getStyles('174075264')"> Edit</span>
            </button>
        </div>
    </div>
</div>
