<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1371793932',$event)" [ngStyle]="__elementSelectionService.getStyles('1371793932')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('361997427',$event)" [ngStyle]="__elementSelectionService.getStyles('361997427')">
        <div *ngIf="guard" (contextmenu)="__elementSelectionService.select('1531883335',$event)" [ngStyle]="__elementSelectionService.getStyles('1531883335')">
            <h2 (contextmenu)="__elementSelectionService.select('568071815',$event)" [ngStyle]="__elementSelectionService.getStyles('568071815')"><span jhiTranslate="hospitalsystemApp.guard.detail.title" (contextmenu)="__elementSelectionService.select('586436618',$event)" [ngStyle]="__elementSelectionService.getStyles('586436618')">Guard</span> {{guard.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('709675035',$event)" [ngStyle]="__elementSelectionService.getStyles('709675035')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('81165954',$event)" [ngStyle]="__elementSelectionService.getStyles('81165954')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('1174354097',$event)" [ngStyle]="__elementSelectionService.getStyles('1174354097')">
                <dt (contextmenu)="__elementSelectionService.select('1166754820',$event)" [ngStyle]="__elementSelectionService.getStyles('1166754820')"><span jhiTranslate="hospitalsystemApp.guard.date" (contextmenu)="__elementSelectionService.select('155930814',$event)" [ngStyle]="__elementSelectionService.getStyles('155930814')">Date</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1054739835',$event)" [ngStyle]="__elementSelectionService.getStyles('1054739835')">
                    <span (contextmenu)="__elementSelectionService.select('39354529',$event)" [ngStyle]="__elementSelectionService.getStyles('39354529')">{{guard.date}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('502030218',$event)" [ngStyle]="__elementSelectionService.getStyles('502030218')"><span jhiTranslate="hospitalsystemApp.guard.guardSchedule" (contextmenu)="__elementSelectionService.select('1324425769',$event)" [ngStyle]="__elementSelectionService.getStyles('1324425769')">Guard Schedule</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('9063257',$event)" [ngStyle]="__elementSelectionService.getStyles('9063257')">
                    <div *ngIf="guard.guardSchedule" (contextmenu)="__elementSelectionService.select('1183944289',$event)" [ngStyle]="__elementSelectionService.getStyles('1183944289')">
                        <a [routerLink]="['/guard-schedule', guard.guardSchedule?.id, 'view']" (contextmenu)="__elementSelectionService.select('964593974',$event)" [ngStyle]="__elementSelectionService.getStyles('964593974')">{{guard.guardSchedule?.name}}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('2119763034',$event)" [ngStyle]="__elementSelectionService.getStyles('2119763034')"><span jhiTranslate="hospitalsystemApp.guard.doctorMedicalService" (contextmenu)="__elementSelectionService.select('744179787',$event)" [ngStyle]="__elementSelectionService.getStyles('744179787')">Doctor Medical Service</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1727211815',$event)" [ngStyle]="__elementSelectionService.getStyles('1727211815')">
                    <div *ngIf="guard.doctorMedicalService" (contextmenu)="__elementSelectionService.select('722021366',$event)" [ngStyle]="__elementSelectionService.getStyles('722021366')">
                        <a [routerLink]="['/medical-service', guard.doctorMedicalService?.id, 'view']" (contextmenu)="__elementSelectionService.select('491032857',$event)" [ngStyle]="__elementSelectionService.getStyles('491032857')">{{guard.doctorMedicalService?.name}}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1806404586',$event)" [ngStyle]="__elementSelectionService.getStyles('1806404586')"><span jhiTranslate="hospitalsystemApp.guard.doctor" (contextmenu)="__elementSelectionService.select('351153577',$event)" [ngStyle]="__elementSelectionService.getStyles('351153577')">Doctor</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1985671769',$event)" [ngStyle]="__elementSelectionService.getStyles('1985671769')">
                    <div *ngIf="guard.doctor" (contextmenu)="__elementSelectionService.select('1328507346',$event)" [ngStyle]="__elementSelectionService.getStyles('1328507346')">
                        <a [routerLink]="['/doctor', guard.doctor?.id, 'view']" (contextmenu)="__elementSelectionService.select('2028756742',$event)" [ngStyle]="__elementSelectionService.getStyles('2028756742')">{{guard.doctor?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('495625943',$event)" [ngStyle]="__elementSelectionService.getStyles('495625943')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('1021531909',$event)" [ngStyle]="__elementSelectionService.getStyles('1021531909')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('137812146',$event)" [ngStyle]="__elementSelectionService.getStyles('137812146')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/guard', guard.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('314090205',$event)" [ngStyle]="__elementSelectionService.getStyles('314090205')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('1514934851',$event)" [ngStyle]="__elementSelectionService.getStyles('1514934851')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('2091986288',$event)" [ngStyle]="__elementSelectionService.getStyles('2091986288')"> Edit</span>
            </button>
        </div>
    </div>
</div>
