<div (contextmenu)="__elementSelectionService.select('1168034524',$event)" [ngStyle]="__elementSelectionService.getStyles('1168034524')"(click)='__elementSelectionService.clear()'>
    <h2 id="page-heading" (contextmenu)="__elementSelectionService.select('1479360232',$event)" [ngStyle]="__elementSelectionService.getStyles('1479360232')">
        <span jhiTranslate="hospitalsystemApp.guard.home.title" (contextmenu)="__elementSelectionService.select('1800849179',$event)" [ngStyle]="__elementSelectionService.getStyles('1800849179')">Guards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-guard" [routerLink]="['/guard/new']" (contextmenu)="__elementSelectionService.select('1340489309',$event)" [ngStyle]="__elementSelectionService.getStyles('1340489309')">
            <fa-icon [icon]="'plus'" (contextmenu)="__elementSelectionService.select('460686034',$event)" [ngStyle]="__elementSelectionService.getStyles('460686034')"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="hospitalsystemApp.guard.home.createLabel" (contextmenu)="__elementSelectionService.select('706622762',$event)" [ngStyle]="__elementSelectionService.getStyles('706622762')">
            Create a new Guard
            </span>
        </button>
    </h2>
    <jhi-alert-error (contextmenu)="__elementSelectionService.select('2007843181',$event)" [ngStyle]="__elementSelectionService.getStyles('2007843181')"></jhi-alert-error>
    <jhi-alert (contextmenu)="__elementSelectionService.select('155688211',$event)" [ngStyle]="__elementSelectionService.getStyles('155688211')"></jhi-alert>
    <div class="row" (contextmenu)="__elementSelectionService.select('1041493499',$event)" [ngStyle]="__elementSelectionService.getStyles('1041493499')">
        <div class="col-sm-12" (contextmenu)="__elementSelectionService.select('1702836342',$event)" [ngStyle]="__elementSelectionService.getStyles('1702836342')">
            <form name="searchForm" class="form-inline" (contextmenu)="__elementSelectionService.select('2017766301',$event)" [ngStyle]="__elementSelectionService.getStyles('2017766301')">
                <div class="input-group w-100 mt-3" (contextmenu)="__elementSelectionService.select('1306398339',$event)" [ngStyle]="__elementSelectionService.getStyles('1306398339')">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hospitalsystemApp.guard.home.search' | translate }}" (contextmenu)="__elementSelectionService.select('1812156150',$event)" [ngStyle]="__elementSelectionService.getStyles('1812156150')">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)" (contextmenu)="__elementSelectionService.select('1889757064',$event)" [ngStyle]="__elementSelectionService.getStyles('1889757064')">
                        <fa-icon [icon]="'search'" (contextmenu)="__elementSelectionService.select('770056770',$event)" [ngStyle]="__elementSelectionService.getStyles('770056770')"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch" (contextmenu)="__elementSelectionService.select('284265323',$event)" [ngStyle]="__elementSelectionService.getStyles('284265323')">
                        <fa-icon [icon]="'trash-alt'" (contextmenu)="__elementSelectionService.select('1718813565',$event)" [ngStyle]="__elementSelectionService.getStyles('1718813565')"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br (contextmenu)="__elementSelectionService.select('218605340',$event)" [ngStyle]="__elementSelectionService.getStyles('218605340')">
    <div class="alert alert-warning" *ngIf="guards?.length === 0" (contextmenu)="__elementSelectionService.select('292511948',$event)" [ngStyle]="__elementSelectionService.getStyles('292511948')">
        <span jhiTranslate="hospitalsystemApp.guard.home.notFound" (contextmenu)="__elementSelectionService.select('223939417',$event)" [ngStyle]="__elementSelectionService.getStyles('223939417')">No guards found</span>
    </div>
    <div class="table-responsive" *ngIf="guards?.length &#62; 0" (contextmenu)="__elementSelectionService.select('1934592356',$event)" [ngStyle]="__elementSelectionService.getStyles('1934592356')">
        <table class="table table-striped" aria-describedby="page-heading" (contextmenu)="__elementSelectionService.select('1128333142',$event)" [ngStyle]="__elementSelectionService.getStyles('1128333142')">
            <thead (contextmenu)="__elementSelectionService.select('700686066',$event)" [ngStyle]="__elementSelectionService.getStyles('700686066')">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)" (contextmenu)="__elementSelectionService.select('1812286288',$event)" [ngStyle]="__elementSelectionService.getStyles('1812286288')">
            
            <th scope="col" jhiSortBy="date" (contextmenu)="__elementSelectionService.select('1661922077',$event)" [ngStyle]="__elementSelectionService.getStyles('1661922077')"><span jhiTranslate="hospitalsystemApp.guard.date" (contextmenu)="__elementSelectionService.select('670044773',$event)" [ngStyle]="__elementSelectionService.getStyles('670044773')">Date</span><fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('309406823',$event)" [ngStyle]="__elementSelectionService.getStyles('309406823')"></fa-icon></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('1416145586',$event)" [ngStyle]="__elementSelectionService.getStyles('1416145586')"><span jhiTranslate="hospitalsystemApp.guard.guardSchedule" (contextmenu)="__elementSelectionService.select('1076552993',$event)" [ngStyle]="__elementSelectionService.getStyles('1076552993')">Guard Schedule</span></th>
            
            <th scope="col" (contextmenu)="__elementSelectionService.select('1743692923',$event)" [ngStyle]="__elementSelectionService.getStyles('1743692923')"><span jhiTranslate="hospitalsystemApp.guard.doctor" (contextmenu)="__elementSelectionService.select('2095558389',$event)" [ngStyle]="__elementSelectionService.getStyles('2095558389')">Doctor</span></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('1833674465',$event)" [ngStyle]="__elementSelectionService.getStyles('1833674465')"></th>
            </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('2061456772',$event)" [ngStyle]="__elementSelectionService.getStyles('2061456772')">
            <tr *ngFor="let guard of guards ;trackBy: trackId" (contextmenu)="__elementSelectionService.select('1744890840',$event)" [ngStyle]="__elementSelectionService.getStyles('1744890840')">
                
                <td (contextmenu)="__elementSelectionService.select('701591595',$event)" [ngStyle]="__elementSelectionService.getStyles('701591595')">{{guard.date | date:'mediumDate'}}</td>
                <td (contextmenu)="__elementSelectionService.select('421373790',$event)" [ngStyle]="__elementSelectionService.getStyles('421373790')">
                    <div *ngIf="guard.guardSchedule" (contextmenu)="__elementSelectionService.select('435073676',$event)" [ngStyle]="__elementSelectionService.getStyles('435073676')">
                        <a [routerLink]="['/guard-schedule', guard.guardSchedule?.id, 'view' ]" (contextmenu)="__elementSelectionService.select('1994376258',$event)" [ngStyle]="__elementSelectionService.getStyles('1994376258')">{{guard.guardSchedule?.name}}</a>
                    </div>
                </td>
                
                <td (contextmenu)="__elementSelectionService.select('1412280986',$event)" [ngStyle]="__elementSelectionService.getStyles('1412280986')">
                    <div *ngIf="guard.doctor" (contextmenu)="__elementSelectionService.select('545183766',$event)" [ngStyle]="__elementSelectionService.getStyles('545183766')">
                        <a [routerLink]="['/doctor', guard.doctor?.id, 'view' ]" (contextmenu)="__elementSelectionService.select('1281909831',$event)" [ngStyle]="__elementSelectionService.getStyles('1281909831')">{{guard.doctor?.name}}</a>
                    </div>
                </td>
                <td class="text-right" (contextmenu)="__elementSelectionService.select('1142772828',$event)" [ngStyle]="__elementSelectionService.getStyles('1142772828')">
                    <div class="btn-group" (contextmenu)="__elementSelectionService.select('2099087143',$event)" [ngStyle]="__elementSelectionService.getStyles('2099087143')">
                        <button type="submit" [routerLink]="['/guard', guard.id, 'view' ]" class="btn btn-info btn-sm" (contextmenu)="__elementSelectionService.select('737496826',$event)" [ngStyle]="__elementSelectionService.getStyles('737496826')">
                            <fa-icon [icon]="'eye'" (contextmenu)="__elementSelectionService.select('607145375',$event)" [ngStyle]="__elementSelectionService.getStyles('607145375')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view" (contextmenu)="__elementSelectionService.select('169951985',$event)" [ngStyle]="__elementSelectionService.getStyles('169951985')">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/guard', guard.id, 'edit']" class="btn btn-primary btn-sm" (contextmenu)="__elementSelectionService.select('454346797',$event)" [ngStyle]="__elementSelectionService.getStyles('454346797')">
                            <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('446154539',$event)" [ngStyle]="__elementSelectionService.getStyles('446154539')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1013792083',$event)" [ngStyle]="__elementSelectionService.getStyles('1013792083')">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/guard', { outlets: { popup: guard.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm" (contextmenu)="__elementSelectionService.select('1021036261',$event)" [ngStyle]="__elementSelectionService.getStyles('1021036261')">
                            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('28517619',$event)" [ngStyle]="__elementSelectionService.getStyles('28517619')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('624493937',$event)" [ngStyle]="__elementSelectionService.getStyles('624493937')">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
