<div (contextmenu)="__elementSelectionService.select('97661924',$event)" [ngStyle]="__elementSelectionService.getStyles('97661924')"(click)='__elementSelectionService.clear()'>
    <h2 id="page-heading" (contextmenu)="__elementSelectionService.select('1283098874',$event)" [ngStyle]="__elementSelectionService.getStyles('1283098874')">
        <span jhiTranslate="hospitalsystemApp.guard.home.title" (contextmenu)="__elementSelectionService.select('1487130498',$event)" [ngStyle]="__elementSelectionService.getStyles('1487130498')">Guards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-guard" [routerLink]="['/guard/new']" (contextmenu)="__elementSelectionService.select('1898229378',$event)" [ngStyle]="__elementSelectionService.getStyles('1898229378')">
            <fa-icon [icon]="'plus'" (contextmenu)="__elementSelectionService.select('1351296273',$event)" [ngStyle]="__elementSelectionService.getStyles('1351296273')"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="hospitalsystemApp.guard.home.createLabel" (contextmenu)="__elementSelectionService.select('1219381922',$event)" [ngStyle]="__elementSelectionService.getStyles('1219381922')">
            Create a new Guard
            </span>
        </button>
    </h2>
    <jhi-alert-error (contextmenu)="__elementSelectionService.select('238502890',$event)" [ngStyle]="__elementSelectionService.getStyles('238502890')"></jhi-alert-error>
    <jhi-alert (contextmenu)="__elementSelectionService.select('1513335824',$event)" [ngStyle]="__elementSelectionService.getStyles('1513335824')"></jhi-alert>
    <div class="row" (contextmenu)="__elementSelectionService.select('1402579434',$event)" [ngStyle]="__elementSelectionService.getStyles('1402579434')">
        <div class="col-sm-12" (contextmenu)="__elementSelectionService.select('1767375457',$event)" [ngStyle]="__elementSelectionService.getStyles('1767375457')">
            <form name="searchForm" class="form-inline" (contextmenu)="__elementSelectionService.select('1573139635',$event)" [ngStyle]="__elementSelectionService.getStyles('1573139635')">
                <div class="input-group w-100 mt-3" (contextmenu)="__elementSelectionService.select('441471031',$event)" [ngStyle]="__elementSelectionService.getStyles('441471031')">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hospitalsystemApp.guard.home.search' | translate }}" (contextmenu)="__elementSelectionService.select('68713582',$event)" [ngStyle]="__elementSelectionService.getStyles('68713582')">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)" (contextmenu)="__elementSelectionService.select('771370374',$event)" [ngStyle]="__elementSelectionService.getStyles('771370374')">
                        <fa-icon [icon]="'search'" (contextmenu)="__elementSelectionService.select('1365763366',$event)" [ngStyle]="__elementSelectionService.getStyles('1365763366')"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch" (contextmenu)="__elementSelectionService.select('1227802325',$event)" [ngStyle]="__elementSelectionService.getStyles('1227802325')">
                        <fa-icon [icon]="'trash-alt'" (contextmenu)="__elementSelectionService.select('244463762',$event)" [ngStyle]="__elementSelectionService.getStyles('244463762')"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br (contextmenu)="__elementSelectionService.select('1928901339',$event)" [ngStyle]="__elementSelectionService.getStyles('1928901339')">
    <div class="alert alert-warning" *ngIf="guards?.length === 0" (contextmenu)="__elementSelectionService.select('475543415',$event)" [ngStyle]="__elementSelectionService.getStyles('475543415')">
        <span jhiTranslate="hospitalsystemApp.guard.home.notFound" (contextmenu)="__elementSelectionService.select('595542599',$event)" [ngStyle]="__elementSelectionService.getStyles('595542599')">No guards found</span>
    </div>
    <div class="table-responsive" *ngIf="guards?.length &#62; 0" (contextmenu)="__elementSelectionService.select('1018607634',$event)" [ngStyle]="__elementSelectionService.getStyles('1018607634')">
        <table class="table table-striped" aria-describedby="page-heading" (contextmenu)="__elementSelectionService.select('200256309',$event)" [ngStyle]="__elementSelectionService.getStyles('200256309')">
            <thead (contextmenu)="__elementSelectionService.select('1456592560',$event)" [ngStyle]="__elementSelectionService.getStyles('1456592560')">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)" (contextmenu)="__elementSelectionService.select('258329431',$event)" [ngStyle]="__elementSelectionService.getStyles('258329431')">
            
            <th scope="col" jhiSortBy="date" (contextmenu)="__elementSelectionService.select('102401153',$event)" [ngStyle]="__elementSelectionService.getStyles('102401153')"><span jhiTranslate="hospitalsystemApp.guard.date" (contextmenu)="__elementSelectionService.select('1884954996',$event)" [ngStyle]="__elementSelectionService.getStyles('1884954996')">Date</span><fa-icon [icon]="'sort'" (contextmenu)="__elementSelectionService.select('686169497',$event)" [ngStyle]="__elementSelectionService.getStyles('686169497')"></fa-icon></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('158876833',$event)" [ngStyle]="__elementSelectionService.getStyles('158876833')"><span jhiTranslate="hospitalsystemApp.guard.guardSchedule" (contextmenu)="__elementSelectionService.select('1528100739',$event)" [ngStyle]="__elementSelectionService.getStyles('1528100739')">Guard Schedule</span></th>
            
            <th scope="col" (contextmenu)="__elementSelectionService.select('2061773844',$event)" [ngStyle]="__elementSelectionService.getStyles('2061773844')"><span jhiTranslate="hospitalsystemApp.guard.doctor" (contextmenu)="__elementSelectionService.select('1651960836',$event)" [ngStyle]="__elementSelectionService.getStyles('1651960836')">Doctor</span></th>
            <th scope="col" (contextmenu)="__elementSelectionService.select('702607783',$event)" [ngStyle]="__elementSelectionService.getStyles('702607783')"></th>
            </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('1437901815',$event)" [ngStyle]="__elementSelectionService.getStyles('1437901815')">
            <tr *ngFor="let guard of guards ;trackBy: trackId" (contextmenu)="__elementSelectionService.select('250323417',$event)" [ngStyle]="__elementSelectionService.getStyles('250323417')">
                
                <td (contextmenu)="__elementSelectionService.select('1529375436',$event)" [ngStyle]="__elementSelectionService.getStyles('1529375436')">{{guard.date | date:'mediumDate'}}</td>
                <td (contextmenu)="__elementSelectionService.select('1978385863',$event)" [ngStyle]="__elementSelectionService.getStyles('1978385863')">
                    <div *ngIf="guard.guardSchedule" (contextmenu)="__elementSelectionService.select('95447958',$event)" [ngStyle]="__elementSelectionService.getStyles('95447958')">
                        <a [routerLink]="['/guard-schedule', guard.guardSchedule?.id, 'view' ]" (contextmenu)="__elementSelectionService.select('1451681680',$event)" [ngStyle]="__elementSelectionService.getStyles('1451681680')">{{guard.guardSchedule?.name}}</a>
                    </div>
                </td>
                
                <td (contextmenu)="__elementSelectionService.select('1323338118',$event)" [ngStyle]="__elementSelectionService.getStyles('1323338118')">
                    <div *ngIf="guard.doctor" (contextmenu)="__elementSelectionService.select('1703848032',$event)" [ngStyle]="__elementSelectionService.getStyles('1703848032')">
                        <a [routerLink]="['/doctor', guard.doctor?.id, 'view' ]" (contextmenu)="__elementSelectionService.select('1675924380',$event)" [ngStyle]="__elementSelectionService.getStyles('1675924380')">{{guard.doctor?.name}}</a>
                    </div>
                </td>
                <td class="text-right" (contextmenu)="__elementSelectionService.select('46092823',$event)" [ngStyle]="__elementSelectionService.getStyles('46092823')">
                    <div class="btn-group" (contextmenu)="__elementSelectionService.select('1222199167',$event)" [ngStyle]="__elementSelectionService.getStyles('1222199167')">
                        <button type="submit" [routerLink]="['/guard', guard.id, 'view' ]" class="btn btn-info btn-sm" (contextmenu)="__elementSelectionService.select('1476672428',$event)" [ngStyle]="__elementSelectionService.getStyles('1476672428')">
                            <fa-icon [icon]="'eye'" (contextmenu)="__elementSelectionService.select('532360003',$event)" [ngStyle]="__elementSelectionService.getStyles('532360003')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view" (contextmenu)="__elementSelectionService.select('1735191881',$event)" [ngStyle]="__elementSelectionService.getStyles('1735191881')">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/guard', guard.id, 'edit']" class="btn btn-primary btn-sm" (contextmenu)="__elementSelectionService.select('1703717988',$event)" [ngStyle]="__elementSelectionService.getStyles('1703717988')">
                            <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('481047074',$event)" [ngStyle]="__elementSelectionService.getStyles('481047074')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1519117255',$event)" [ngStyle]="__elementSelectionService.getStyles('1519117255')">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/guard', { outlets: { popup: guard.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm" (contextmenu)="__elementSelectionService.select('1510824826',$event)" [ngStyle]="__elementSelectionService.getStyles('1510824826')">
                            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('1516385235',$event)" [ngStyle]="__elementSelectionService.getStyles('1516385235')"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('656553887',$event)" [ngStyle]="__elementSelectionService.getStyles('656553887')">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
