<div class="modal-header" (contextmenu)="__elementSelectionService.select('1854049036',$event)" [ngStyle]="__elementSelectionService.getStyles('1854049036')"(click)='__elementSelectionService.clear()'>
    <h4 class="modal-title" jhiTranslate="login.title" (contextmenu)="__elementSelectionService.select('1307054040',$event)" [ngStyle]="__elementSelectionService.getStyles('1307054040')">Sign in</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')" (contextmenu)="__elementSelectionService.select('1867703135',$event)" [ngStyle]="__elementSelectionService.getStyles('1867703135')"><span aria-hidden="true" (contextmenu)="__elementSelectionService.select('994046851',$event)" [ngStyle]="__elementSelectionService.getStyles('994046851')">x</span>
    </button>
</div>
<div class="modal-body" (contextmenu)="__elementSelectionService.select('339133895',$event)" [ngStyle]="__elementSelectionService.getStyles('339133895')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('339736976',$event)" [ngStyle]="__elementSelectionService.getStyles('339736976')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('430219776',$event)" [ngStyle]="__elementSelectionService.getStyles('430219776')">
            <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication" (contextmenu)="__elementSelectionService.select('1637151344',$event)" [ngStyle]="__elementSelectionService.getStyles('1637151344')">
                <strong (contextmenu)="__elementSelectionService.select('636728874',$event)" [ngStyle]="__elementSelectionService.getStyles('636728874')">Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1324034173',$event)" [ngStyle]="__elementSelectionService.getStyles('1324034173')">
            <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm" (contextmenu)="__elementSelectionService.select('1919104770',$event)" [ngStyle]="__elementSelectionService.getStyles('1919104770')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('883051596',$event)" [ngStyle]="__elementSelectionService.getStyles('883051596')">
                    <label class="username-label" for="username" jhiTranslate="global.form.username.label" (contextmenu)="__elementSelectionService.select('215547412',$event)" [ngStyle]="__elementSelectionService.getStyles('215547412')">Login</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" formControlName="username" (contextmenu)="__elementSelectionService.select('459769650',$event)" [ngStyle]="__elementSelectionService.getStyles('459769650')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1893165179',$event)" [ngStyle]="__elementSelectionService.getStyles('1893165179')">
                    <label for="password" jhiTranslate="login.form.password" (contextmenu)="__elementSelectionService.select('1454479873',$event)" [ngStyle]="__elementSelectionService.getStyles('1454479873')">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}" formControlName="password" (contextmenu)="__elementSelectionService.select('500360861',$event)" [ngStyle]="__elementSelectionService.getStyles('500360861')">
                </div>
                <div class="form-check" (contextmenu)="__elementSelectionService.select('975940610',$event)" [ngStyle]="__elementSelectionService.getStyles('975940610')">
                    <label class="form-check-label" for="rememberMe" (contextmenu)="__elementSelectionService.select('1911857036',$event)" [ngStyle]="__elementSelectionService.getStyles('1911857036')">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" (contextmenu)="__elementSelectionService.select('726626849',$event)" [ngStyle]="__elementSelectionService.getStyles('726626849')">
                        <span jhiTranslate="login.form.rememberme" (contextmenu)="__elementSelectionService.select('555982811',$event)" [ngStyle]="__elementSelectionService.getStyles('555982811')">Remember me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button" (contextmenu)="__elementSelectionService.select('1183808577',$event)" [ngStyle]="__elementSelectionService.getStyles('1183808577')">Sign in</button>
            </form>
            <p (contextmenu)="__elementSelectionService.select('332563427',$event)" [ngStyle]="__elementSelectionService.getStyles('332563427')"></p>
            <div class="alert alert-warning" (contextmenu)="__elementSelectionService.select('1130112450',$event)" [ngStyle]="__elementSelectionService.getStyles('1130112450')">
                <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot" (contextmenu)="__elementSelectionService.select('2117908277',$event)" [ngStyle]="__elementSelectionService.getStyles('2117908277')">Did you forget your password?</a>
            </div>
        </div>
    </div>
</div>
