<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="guard">
            <h2><span jhiTranslate="hospitalsystemApp.guard.detail.title">Guard</span> {{guard.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalsystemApp.guard.pay">Pay</span></dt>
                <dd>
                    <span>{{guard.pay}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.guard.date">Date</span></dt>
                <dd>
                    <span>{{guard.date}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/guard', guard.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
