<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-act-heading" jhiTranslate="hospitalsystemApp.act.home.createOrEditLabel">Create or edit a Act</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.patientName" for="field_patientName">Patient Name</label>
                    <input type="text" class="form-control" name="patientName" id="field_patientName"
                           formControlName="patientName"/>
                    <div *ngIf="editForm.get('patientName').invalid && (editForm.get('patientName').dirty || editForm.get('patientName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('patientName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.medicalService" for="field_medicalService">Medical Service</label>
                    <select class="form-control" id="field_medicalService" name="medicalService" formControlName="medicalService" (change)="onChangeService()">
                        <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected></option>
                        <option [ngValue]="medicalServiceOption.id === editForm.get('medicalService').value?.id ? editForm.get('medicalService').value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById">{{medicalServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medicalService').invalid && (editForm.get('medicalService').dirty || editForm.get('medicalService').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('medicalService').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.doctor" for="field_doctor">Doctor</label>
                    <select class="form-control" id="field_doctor" name="doctor" formControlName="doctor">
                        <option *ngIf="!editForm.get('doctor').value" [ngValue]="null" selected></option>
                        <option [ngValue]="doctorOption.id === editForm.get('doctor').value?.id ? editForm.get('doctor').value : doctorOption" *ngFor="let doctorOption of doctors; trackBy: trackDoctorById">{{doctorOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('doctor').invalid && (editForm.get('doctor').dirty || editForm.get('doctor').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('doctor').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.act.patient" for="field_patient">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patient">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('patient').value?.id ? editForm.get('patient').value : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.name}}</option>
                    </select>
                </div>
                
                 <div formArrayName="formMedicalServices">
                    <div *ngFor="let medicalService of formMedicalServices.controls; index as i">
                        <div class="form-group">
                            <label class="form-control-label"  for="field_medicalService"><span jhiTranslate="hospitalsystemApp.act.medicalService">Medical Service</span> {{i+1}}</label>
                            <select class="form-control" id="field_medicalService_{{i}}" name="medicalService" [formControlName]="i" (change)="onChangeAddedService(i)">
                                <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected></option>
                                <option [ngValue]="medicalServiceOption.id === editForm.get('formMedicalServices').at(i).value?.id ? editForm.get('formMedicalServices').at(i).value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById">{{medicalServiceOption.name}}</option>
                            </select>
                        </div>
                      </div>
                  </div>
                 <div formArrayName="formActypes">
                    <div *ngFor="let actype of formActypes.controls; index as i">
                      
                      <div class="form-group">
                        <label class="form-control-label" for="field_actype"><span jhiTranslate="hospitalsystemApp.act.actype">Act</span> {{i + 1}}</label>
                            <select class="form-control" id="field_actype_{{i}}" name="actype" [formControlName]="i" >
                                <option *ngIf="!editForm.get('formActypes').at(i).value" [ngValue]="null" selected></option>
                                <option [ngValue]="actypeOption.id === editForm.get('formActypes').at(i).value?.id ?  editForm.get('formActypes').at(i).value : actypeOption" *ngFor="let actypeOption of mactypes[i]; trackBy: trackActypeById">{{actypeOption.name}}</option>
                            </select>
                        </div>
                    </div>
                 </div>
            </div>
            <div>
                <button type="button" id="add-field" class="btn btn-success"  (click)="addCity()">
                    <fa-icon [icon]="'add'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.addactype">Add an Act</span>
                </button>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
