<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="act">
            <h2><span jhiTranslate="hospitalsystemApp.act.detail.title">Act</span> {{act.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalsystemApp.act.patientName">Patient Name</span></dt>
                <dd>
                    <span>{{act.patientName}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.act.medicalService">Medical Service</span></dt>
                <dd>
                    <div *ngIf="act.medicalService">
                        <a [routerLink]="['/medical-service', act.medicalService?.id, 'view']">{{act.medicalService?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.act.doctor">Doctor</span></dt>
                <dd>
                    <div *ngIf="act.doctor">
                        <a [routerLink]="['/doctor', act.doctor?.id, 'view']">{{act.doctor?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.act.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="act.patient">
                        <a [routerLink]="['/patient', act.patient?.id, 'view']">{{act.patient?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.act.receiptAct">Receipt Act</span></dt>
                <dd>
                    <div *ngIf="act.receiptAct">
                        <a [routerLink]="['/receipt-act', act.receiptAct?.id, 'view']">{{act.receiptAct?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.act.actypes">Actypes</span></dt>
                <dd>
                    <span *ngFor="let actypes of act.actypes; let last = last">
                        <a [routerLink]="['/actype', actypes?.id, 'view' ]">{{actypes.name}}</a>{{last ? '' : ', '}}
                    </span>                <dt><span jhiTranslate="hospitalsystemApp.act.paymentMethod">Payment Method</span></dt>
                <dd>
                    <div *ngIf="act.paymentMethod">
                        <a [routerLink]="['/payment-method', act.paymentMethod?.id, 'view']">{{act.paymentMethod?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/act', act.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
