<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('342101553',$event)" [ngStyle]="__elementSelectionService.getStyles('342101553')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1181095951',$event)" [ngStyle]="__elementSelectionService.getStyles('1181095951')">
        <div *ngIf="doctor" (contextmenu)="__elementSelectionService.select('1925677940',$event)" [ngStyle]="__elementSelectionService.getStyles('1925677940')">
            <h2 (contextmenu)="__elementSelectionService.select('816333988',$event)" [ngStyle]="__elementSelectionService.getStyles('816333988')"><span jhiTranslate="hospitalsystemApp.doctor.detail.title" (contextmenu)="__elementSelectionService.select('720461120',$event)" [ngStyle]="__elementSelectionService.getStyles('720461120')">Doctor</span> {{doctor.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('1545703025',$event)" [ngStyle]="__elementSelectionService.getStyles('1545703025')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('305359522',$event)" [ngStyle]="__elementSelectionService.getStyles('305359522')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('1615626532',$event)" [ngStyle]="__elementSelectionService.getStyles('1615626532')">
                <dt (contextmenu)="__elementSelectionService.select('1081596720',$event)" [ngStyle]="__elementSelectionService.getStyles('1081596720')"><span jhiTranslate="hospitalsystemApp.doctor.name" (contextmenu)="__elementSelectionService.select('284530505',$event)" [ngStyle]="__elementSelectionService.getStyles('284530505')">Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('421169551',$event)" [ngStyle]="__elementSelectionService.getStyles('421169551')">
                    <span (contextmenu)="__elementSelectionService.select('500923945',$event)" [ngStyle]="__elementSelectionService.getStyles('500923945')">{{doctor.name}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1661700345',$event)" [ngStyle]="__elementSelectionService.getStyles('1661700345')"><span jhiTranslate="hospitalsystemApp.doctor.firstname" (contextmenu)="__elementSelectionService.select('1610093582',$event)" [ngStyle]="__elementSelectionService.getStyles('1610093582')">Firstname</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('316909711',$event)" [ngStyle]="__elementSelectionService.getStyles('316909711')">
                    <span (contextmenu)="__elementSelectionService.select('1410311884',$event)" [ngStyle]="__elementSelectionService.getStyles('1410311884')">{{doctor.firstname}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1803329780',$event)" [ngStyle]="__elementSelectionService.getStyles('1803329780')"><span jhiTranslate="hospitalsystemApp.doctor.job" (contextmenu)="__elementSelectionService.select('1950061041',$event)" [ngStyle]="__elementSelectionService.getStyles('1950061041')">Job</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('2064902185',$event)" [ngStyle]="__elementSelectionService.getStyles('2064902185')">
                    <span (contextmenu)="__elementSelectionService.select('1375930433',$event)" [ngStyle]="__elementSelectionService.getStyles('1375930433')">{{doctor.job}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1559652853',$event)" [ngStyle]="__elementSelectionService.getStyles('1559652853')"><span jhiTranslate="hospitalsystemApp.doctor.specialist" (contextmenu)="__elementSelectionService.select('1961545603',$event)" [ngStyle]="__elementSelectionService.getStyles('1961545603')">Specialist</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('282862487',$event)" [ngStyle]="__elementSelectionService.getStyles('282862487')">
                    <span (contextmenu)="__elementSelectionService.select('1515679949',$event)" [ngStyle]="__elementSelectionService.getStyles('1515679949')">{{doctor.specialist}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('889258931',$event)" [ngStyle]="__elementSelectionService.getStyles('889258931')"><span jhiTranslate="hospitalsystemApp.doctor.address" (contextmenu)="__elementSelectionService.select('389370951',$event)" [ngStyle]="__elementSelectionService.getStyles('389370951')">Address</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1719930285',$event)" [ngStyle]="__elementSelectionService.getStyles('1719930285')">
                    <span (contextmenu)="__elementSelectionService.select('129288360',$event)" [ngStyle]="__elementSelectionService.getStyles('129288360')">{{doctor.address}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('974479222',$event)" [ngStyle]="__elementSelectionService.getStyles('974479222')"><span jhiTranslate="hospitalsystemApp.doctor.tel" (contextmenu)="__elementSelectionService.select('121611039',$event)" [ngStyle]="__elementSelectionService.getStyles('121611039')">Tel</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1099972400',$event)" [ngStyle]="__elementSelectionService.getStyles('1099972400')">
                    <span (contextmenu)="__elementSelectionService.select('1614831138',$event)" [ngStyle]="__elementSelectionService.getStyles('1614831138')">{{doctor.tel}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1883128755',$event)" [ngStyle]="__elementSelectionService.getStyles('1883128755')"><span jhiTranslate="hospitalsystemApp.doctor.medicalService" (contextmenu)="__elementSelectionService.select('174273008',$event)" [ngStyle]="__elementSelectionService.getStyles('174273008')">Medical Service</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1246422579',$event)" [ngStyle]="__elementSelectionService.getStyles('1246422579')">
                    <div *ngIf="doctor.medicalService" (contextmenu)="__elementSelectionService.select('672731158',$event)" [ngStyle]="__elementSelectionService.getStyles('672731158')">
                        <a [routerLink]="['/medical-service', doctor.medicalService?.id, 'view']" (contextmenu)="__elementSelectionService.select('716766589',$event)" [ngStyle]="__elementSelectionService.getStyles('716766589')">{{doctor.medicalService?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('960996715',$event)" [ngStyle]="__elementSelectionService.getStyles('960996715')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('606185230',$event)" [ngStyle]="__elementSelectionService.getStyles('606185230')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('1155045948',$event)" [ngStyle]="__elementSelectionService.getStyles('1155045948')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/doctor', doctor.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('694605007',$event)" [ngStyle]="__elementSelectionService.getStyles('694605007')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('755912821',$event)" [ngStyle]="__elementSelectionService.getStyles('755912821')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('71207693',$event)" [ngStyle]="__elementSelectionService.getStyles('71207693')"> Edit</span>
            </button>
        </div>
    </div>
</div>
