<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1556489696',$event)" [ngStyle]="__elementSelectionService.getStyles('1556489696')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1199911018',$event)" [ngStyle]="__elementSelectionService.getStyles('1199911018')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('713155679',$event)" [ngStyle]="__elementSelectionService.getStyles('713155679')">
            <h2 id="jhi-doctor-heading" jhiTranslate="hospitalsystemApp.doctor.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('1568503756',$event)" [ngStyle]="__elementSelectionService.getStyles('1568503756')">Create or edit a Doctor</h2>
            <div (contextmenu)="__elementSelectionService.select('241590515',$event)" [ngStyle]="__elementSelectionService.getStyles('241590515')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('1619920693',$event)" [ngStyle]="__elementSelectionService.getStyles('1619920693')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('1158194279',$event)" [ngStyle]="__elementSelectionService.getStyles('1158194279')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('1937598493',$event)" [ngStyle]="__elementSelectionService.getStyles('1937598493')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('1310850937',$event)" [ngStyle]="__elementSelectionService.getStyles('1310850937')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1577512487',$event)" [ngStyle]="__elementSelectionService.getStyles('1577512487')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.name" for="field_name" (contextmenu)="__elementSelectionService.select('1588412956',$event)" [ngStyle]="__elementSelectionService.getStyles('1588412956')">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" (contextmenu)="__elementSelectionService.select('1174991956',$event)" [ngStyle]="__elementSelectionService.getStyles('1174991956')">
                    <div *ngIf="editForm.get('name').invalid &#38;&#38; (editForm.get('name').dirty || editForm.get('name').touched)" (contextmenu)="__elementSelectionService.select('127074779',$event)" [ngStyle]="__elementSelectionService.getStyles('127074779')">
                        <small class="form-text text-danger" *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1846391000',$event)" [ngStyle]="__elementSelectionService.getStyles('1846391000')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1518641831',$event)" [ngStyle]="__elementSelectionService.getStyles('1518641831')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.firstname" for="field_firstname" (contextmenu)="__elementSelectionService.select('1538217975',$event)" [ngStyle]="__elementSelectionService.getStyles('1538217975')">Firstname</label>
                    <input type="text" class="form-control" name="firstname" id="field_firstname" formControlName="firstname" (contextmenu)="__elementSelectionService.select('1143801984',$event)" [ngStyle]="__elementSelectionService.getStyles('1143801984')">
                    <div *ngIf="editForm.get('firstname').invalid &#38;&#38; (editForm.get('firstname').dirty || editForm.get('firstname').touched)" (contextmenu)="__elementSelectionService.select('1202056109',$event)" [ngStyle]="__elementSelectionService.getStyles('1202056109')">
                        <small class="form-text text-danger" *ngIf="editForm.get('firstname').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('944502884',$event)" [ngStyle]="__elementSelectionService.getStyles('944502884')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('435818613',$event)" [ngStyle]="__elementSelectionService.getStyles('435818613')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.job" for="field_job" (contextmenu)="__elementSelectionService.select('893350594',$event)" [ngStyle]="__elementSelectionService.getStyles('893350594')">Job</label>
                    <input type="text" class="form-control" name="job" id="field_job" formControlName="job" (contextmenu)="__elementSelectionService.select('1563369291',$event)" [ngStyle]="__elementSelectionService.getStyles('1563369291')">
                    <div *ngIf="editForm.get('job').invalid &#38;&#38; (editForm.get('job').dirty || editForm.get('job').touched)" (contextmenu)="__elementSelectionService.select('977290322',$event)" [ngStyle]="__elementSelectionService.getStyles('977290322')">
                        <small class="form-text text-danger" *ngIf="editForm.get('job').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1945146071',$event)" [ngStyle]="__elementSelectionService.getStyles('1945146071')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1024939785',$event)" [ngStyle]="__elementSelectionService.getStyles('1024939785')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.specialist" for="field_specialist" (contextmenu)="__elementSelectionService.select('417841831',$event)" [ngStyle]="__elementSelectionService.getStyles('417841831')">Specialist</label>
                    <input type="checkbox" class="form-control" name="specialist" id="field_specialist" formControlName="specialist" (contextmenu)="__elementSelectionService.select('540899133',$event)" [ngStyle]="__elementSelectionService.getStyles('540899133')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1470902215',$event)" [ngStyle]="__elementSelectionService.getStyles('1470902215')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.address" for="field_address" (contextmenu)="__elementSelectionService.select('1350866212',$event)" [ngStyle]="__elementSelectionService.getStyles('1350866212')">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address" formControlName="address" (contextmenu)="__elementSelectionService.select('1984989033',$event)" [ngStyle]="__elementSelectionService.getStyles('1984989033')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1033863681',$event)" [ngStyle]="__elementSelectionService.getStyles('1033863681')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.tel" for="field_tel" (contextmenu)="__elementSelectionService.select('192630882',$event)" [ngStyle]="__elementSelectionService.getStyles('192630882')">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel" formControlName="tel" (contextmenu)="__elementSelectionService.select('2141378972',$event)" [ngStyle]="__elementSelectionService.getStyles('2141378972')">
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('230388430',$event)" [ngStyle]="__elementSelectionService.getStyles('230388430')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.medicalService" for="field_medicalService" (contextmenu)="__elementSelectionService.select('1282766578',$event)" [ngStyle]="__elementSelectionService.getStyles('1282766578')">Medical Service</label>
                    <select class="form-control" id="field_medicalService" name="medicalService" formControlName="medicalService" (contextmenu)="__elementSelectionService.select('501008222',$event)" [ngStyle]="__elementSelectionService.getStyles('501008222')">
                        <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('1960547136',$event)" [ngStyle]="__elementSelectionService.getStyles('1960547136')"></option>
                        <option [ngValue]="medicalServiceOption.id === editForm.get('medicalService').value?.id ? editForm.get('medicalService').value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById" (contextmenu)="__elementSelectionService.select('572568087',$event)" [ngStyle]="__elementSelectionService.getStyles('572568087')">{{medicalServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medicalService').invalid &#38;&#38; (editForm.get('medicalService').dirty || editForm.get('medicalService').touched)" (contextmenu)="__elementSelectionService.select('1157988935',$event)" [ngStyle]="__elementSelectionService.getStyles('1157988935')">
                    <small class="form-text text-danger" *ngIf="editForm.get('medicalService').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1041783694',$event)" [ngStyle]="__elementSelectionService.getStyles('1041783694')">
                        This field is required.
                    </small>
                </div>
            </div>
            <div (contextmenu)="__elementSelectionService.select('384933534',$event)" [ngStyle]="__elementSelectionService.getStyles('384933534')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('837166685',$event)" [ngStyle]="__elementSelectionService.getStyles('837166685')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1486396828',$event)" [ngStyle]="__elementSelectionService.getStyles('1486396828')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('606103850',$event)" [ngStyle]="__elementSelectionService.getStyles('606103850')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1052710494',$event)" [ngStyle]="__elementSelectionService.getStyles('1052710494')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('1055591194',$event)" [ngStyle]="__elementSelectionService.getStyles('1055591194')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('579015974',$event)" [ngStyle]="__elementSelectionService.getStyles('579015974')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
