<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1462524967',$event)" [ngStyle]="__elementSelectionService.getStyles('1462524967')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('175447574',$event)" [ngStyle]="__elementSelectionService.getStyles('175447574')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('1066247707',$event)" [ngStyle]="__elementSelectionService.getStyles('1066247707')">
            <h2 id="jhi-doctor-heading" jhiTranslate="hospitalsystemApp.doctor.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('1901416600',$event)" [ngStyle]="__elementSelectionService.getStyles('1901416600')">Create or edit a Doctor</h2>
            <div (contextmenu)="__elementSelectionService.select('522568301',$event)" [ngStyle]="__elementSelectionService.getStyles('522568301')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('1031989809',$event)" [ngStyle]="__elementSelectionService.getStyles('1031989809')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('1877815012',$event)" [ngStyle]="__elementSelectionService.getStyles('1877815012')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('879194641',$event)" [ngStyle]="__elementSelectionService.getStyles('879194641')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('90241114',$event)" [ngStyle]="__elementSelectionService.getStyles('90241114')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('798579109',$event)" [ngStyle]="__elementSelectionService.getStyles('798579109')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.name" for="field_name" (contextmenu)="__elementSelectionService.select('696637628',$event)" [ngStyle]="__elementSelectionService.getStyles('696637628')">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" (contextmenu)="__elementSelectionService.select('654168167',$event)" [ngStyle]="__elementSelectionService.getStyles('654168167')">
                    <div *ngIf="editForm.get('name').invalid &#38;&#38; (editForm.get('name').dirty || editForm.get('name').touched)" (contextmenu)="__elementSelectionService.select('618483402',$event)" [ngStyle]="__elementSelectionService.getStyles('618483402')">
                        <small class="form-text text-danger" *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1106014085',$event)" [ngStyle]="__elementSelectionService.getStyles('1106014085')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1185619772',$event)" [ngStyle]="__elementSelectionService.getStyles('1185619772')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.firstname" for="field_firstname" (contextmenu)="__elementSelectionService.select('245203302',$event)" [ngStyle]="__elementSelectionService.getStyles('245203302')">Firstname</label>
                    <input type="text" class="form-control" name="firstname" id="field_firstname" formControlName="firstname" (contextmenu)="__elementSelectionService.select('1090008417',$event)" [ngStyle]="__elementSelectionService.getStyles('1090008417')">
                    <div *ngIf="editForm.get('firstname').invalid &#38;&#38; (editForm.get('firstname').dirty || editForm.get('firstname').touched)" (contextmenu)="__elementSelectionService.select('1649081020',$event)" [ngStyle]="__elementSelectionService.getStyles('1649081020')">
                        <small class="form-text text-danger" *ngIf="editForm.get('firstname').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('2080787254',$event)" [ngStyle]="__elementSelectionService.getStyles('2080787254')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('510817121',$event)" [ngStyle]="__elementSelectionService.getStyles('510817121')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.job" for="field_job" (contextmenu)="__elementSelectionService.select('522198771',$event)" [ngStyle]="__elementSelectionService.getStyles('522198771')">Job</label>
                    <input type="text" class="form-control" name="job" id="field_job" formControlName="job" (contextmenu)="__elementSelectionService.select('705337521',$event)" [ngStyle]="__elementSelectionService.getStyles('705337521')">
                    <div *ngIf="editForm.get('job').invalid &#38;&#38; (editForm.get('job').dirty || editForm.get('job').touched)" (contextmenu)="__elementSelectionService.select('1687890237',$event)" [ngStyle]="__elementSelectionService.getStyles('1687890237')">
                        <small class="form-text text-danger" *ngIf="editForm.get('job').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1778366388',$event)" [ngStyle]="__elementSelectionService.getStyles('1778366388')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1983380478',$event)" [ngStyle]="__elementSelectionService.getStyles('1983380478')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.specialist" for="field_specialist" (contextmenu)="__elementSelectionService.select('134625945',$event)" [ngStyle]="__elementSelectionService.getStyles('134625945')">Specialist</label>
                    <input type="checkbox" class="form-control" name="specialist" id="field_specialist" formControlName="specialist" (contextmenu)="__elementSelectionService.select('896084069',$event)" [ngStyle]="__elementSelectionService.getStyles('896084069')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('557804395',$event)" [ngStyle]="__elementSelectionService.getStyles('557804395')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.address" for="field_address" (contextmenu)="__elementSelectionService.select('1755225273',$event)" [ngStyle]="__elementSelectionService.getStyles('1755225273')">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address" formControlName="address" (contextmenu)="__elementSelectionService.select('1366663617',$event)" [ngStyle]="__elementSelectionService.getStyles('1366663617')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('765694346',$event)" [ngStyle]="__elementSelectionService.getStyles('765694346')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.tel" for="field_tel" (contextmenu)="__elementSelectionService.select('2006827878',$event)" [ngStyle]="__elementSelectionService.getStyles('2006827878')">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel" formControlName="tel" (contextmenu)="__elementSelectionService.select('1811604088',$event)" [ngStyle]="__elementSelectionService.getStyles('1811604088')">
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('402472303',$event)" [ngStyle]="__elementSelectionService.getStyles('402472303')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.medicalService" for="field_medicalService" (contextmenu)="__elementSelectionService.select('652464603',$event)" [ngStyle]="__elementSelectionService.getStyles('652464603')">Medical Service</label>
                    <select class="form-control" id="field_medicalService" name="medicalService" formControlName="medicalService" (contextmenu)="__elementSelectionService.select('1073520786',$event)" [ngStyle]="__elementSelectionService.getStyles('1073520786')">
                        <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('61439031',$event)" [ngStyle]="__elementSelectionService.getStyles('61439031')"></option>
                        <option [ngValue]="medicalServiceOption.id === editForm.get('medicalService').value?.id ? editForm.get('medicalService').value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById" (contextmenu)="__elementSelectionService.select('2101423976',$event)" [ngStyle]="__elementSelectionService.getStyles('2101423976')">{{medicalServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medicalService').invalid &#38;&#38; (editForm.get('medicalService').dirty || editForm.get('medicalService').touched)" (contextmenu)="__elementSelectionService.select('1158960146',$event)" [ngStyle]="__elementSelectionService.getStyles('1158960146')">
                    <small class="form-text text-danger" *ngIf="editForm.get('medicalService').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('532055058',$event)" [ngStyle]="__elementSelectionService.getStyles('532055058')">
                        This field is required.
                    </small>
                </div>
            </div>
            <div (contextmenu)="__elementSelectionService.select('1471552279',$event)" [ngStyle]="__elementSelectionService.getStyles('1471552279')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('595088614',$event)" [ngStyle]="__elementSelectionService.getStyles('595088614')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1152065631',$event)" [ngStyle]="__elementSelectionService.getStyles('1152065631')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1863756492',$event)" [ngStyle]="__elementSelectionService.getStyles('1863756492')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('136276634',$event)" [ngStyle]="__elementSelectionService.getStyles('136276634')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('1763823643',$event)" [ngStyle]="__elementSelectionService.getStyles('1763823643')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('1955970232',$event)" [ngStyle]="__elementSelectionService.getStyles('1955970232')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
