<form name="deleteForm" (ngSubmit)="confirmDelete(doctor.id)" (contextmenu)="__elementSelectionService.select('532804924',$event)" [ngStyle]="__elementSelectionService.getStyles('532804924')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('1468900069',$event)" [ngStyle]="__elementSelectionService.getStyles('1468900069')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('1207293245',$event)" [ngStyle]="__elementSelectionService.getStyles('1207293245')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('1618462357',$event)" [ngStyle]="__elementSelectionService.getStyles('1618462357')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('379564743',$event)" [ngStyle]="__elementSelectionService.getStyles('379564743')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('742367355',$event)" [ngStyle]="__elementSelectionService.getStyles('742367355')"></jhi-alert-error>
        <p id="jhi-delete-doctor-heading" jhiTranslate="hospitalsystemApp.doctor.delete.question" [translateValues]="{id: doctor.id}" (contextmenu)="__elementSelectionService.select('1166722300',$event)" [ngStyle]="__elementSelectionService.getStyles('1166722300')">Are you sure you want to delete this Doctor?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('454554038',$event)" [ngStyle]="__elementSelectionService.getStyles('454554038')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('1895133593',$event)" [ngStyle]="__elementSelectionService.getStyles('1895133593')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('555232132',$event)" [ngStyle]="__elementSelectionService.getStyles('555232132')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('841393791',$event)" [ngStyle]="__elementSelectionService.getStyles('841393791')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-doctor" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('370699212',$event)" [ngStyle]="__elementSelectionService.getStyles('370699212')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('1295690031',$event)" [ngStyle]="__elementSelectionService.getStyles('1295690031')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('765390599',$event)" [ngStyle]="__elementSelectionService.getStyles('765390599')">Delete</span>
        </button>
    </div>
</form>
