<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('748889646',$event)" [ngStyle]="__elementSelectionService.getStyles('748889646')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1604158338',$event)" [ngStyle]="__elementSelectionService.getStyles('1604158338')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('1790598153',$event)" [ngStyle]="__elementSelectionService.getStyles('1790598153')">
            <h2 id="jhi-doctor-heading" jhiTranslate="hospitalsystemApp.doctor.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('501896994',$event)" [ngStyle]="__elementSelectionService.getStyles('501896994')">Create or edit a Doctor</h2>
            <div (contextmenu)="__elementSelectionService.select('1960241828',$event)" [ngStyle]="__elementSelectionService.getStyles('1960241828')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('1197794863',$event)" [ngStyle]="__elementSelectionService.getStyles('1197794863')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('2139533534',$event)" [ngStyle]="__elementSelectionService.getStyles('2139533534')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('815442763',$event)" [ngStyle]="__elementSelectionService.getStyles('815442763')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('1935336502',$event)" [ngStyle]="__elementSelectionService.getStyles('1935336502')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('334438892',$event)" [ngStyle]="__elementSelectionService.getStyles('334438892')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.name" for="field_name" (contextmenu)="__elementSelectionService.select('1504015119',$event)" [ngStyle]="__elementSelectionService.getStyles('1504015119')">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" (contextmenu)="__elementSelectionService.select('1015044995',$event)" [ngStyle]="__elementSelectionService.getStyles('1015044995')">
                    <div *ngIf="editForm.get('name').invalid &#38;&#38; (editForm.get('name').dirty || editForm.get('name').touched)" (contextmenu)="__elementSelectionService.select('408908657',$event)" [ngStyle]="__elementSelectionService.getStyles('408908657')">
                        <small class="form-text text-danger" *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1918222807',$event)" [ngStyle]="__elementSelectionService.getStyles('1918222807')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('10156441',$event)" [ngStyle]="__elementSelectionService.getStyles('10156441')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.firstname" for="field_firstname" (contextmenu)="__elementSelectionService.select('1056503370',$event)" [ngStyle]="__elementSelectionService.getStyles('1056503370')">Firstname</label>
                    <input type="text" class="form-control" name="firstname" id="field_firstname" formControlName="firstname" (contextmenu)="__elementSelectionService.select('1566563871',$event)" [ngStyle]="__elementSelectionService.getStyles('1566563871')">
                    <div *ngIf="editForm.get('firstname').invalid &#38;&#38; (editForm.get('firstname').dirty || editForm.get('firstname').touched)" (contextmenu)="__elementSelectionService.select('30992154',$event)" [ngStyle]="__elementSelectionService.getStyles('30992154')">
                        <small class="form-text text-danger" *ngIf="editForm.get('firstname').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('1457094793',$event)" [ngStyle]="__elementSelectionService.getStyles('1457094793')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('803890878',$event)" [ngStyle]="__elementSelectionService.getStyles('803890878')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.job" for="field_job" (contextmenu)="__elementSelectionService.select('208071290',$event)" [ngStyle]="__elementSelectionService.getStyles('208071290')">Job</label>
                    <input type="text" class="form-control" name="job" id="field_job" formControlName="job" (contextmenu)="__elementSelectionService.select('1245723867',$event)" [ngStyle]="__elementSelectionService.getStyles('1245723867')">
                    <div *ngIf="editForm.get('job').invalid &#38;&#38; (editForm.get('job').dirty || editForm.get('job').touched)" (contextmenu)="__elementSelectionService.select('1342648530',$event)" [ngStyle]="__elementSelectionService.getStyles('1342648530')">
                        <small class="form-text text-danger" *ngIf="editForm.get('job').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('748975098',$event)" [ngStyle]="__elementSelectionService.getStyles('748975098')">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('397048110',$event)" [ngStyle]="__elementSelectionService.getStyles('397048110')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.specialist" for="field_specialist" (contextmenu)="__elementSelectionService.select('1556560356',$event)" [ngStyle]="__elementSelectionService.getStyles('1556560356')">Specialist</label>
                    <input type="checkbox" class="form-control" name="specialist" id="field_specialist" formControlName="specialist" (contextmenu)="__elementSelectionService.select('892273422',$event)" [ngStyle]="__elementSelectionService.getStyles('892273422')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('974884338',$event)" [ngStyle]="__elementSelectionService.getStyles('974884338')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.address" for="field_address" (contextmenu)="__elementSelectionService.select('2117922966',$event)" [ngStyle]="__elementSelectionService.getStyles('2117922966')">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address" formControlName="address" (contextmenu)="__elementSelectionService.select('466747052',$event)" [ngStyle]="__elementSelectionService.getStyles('466747052')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1445706155',$event)" [ngStyle]="__elementSelectionService.getStyles('1445706155')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.tel" for="field_tel" (contextmenu)="__elementSelectionService.select('809093761',$event)" [ngStyle]="__elementSelectionService.getStyles('809093761')">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel" formControlName="tel" (contextmenu)="__elementSelectionService.select('697836624',$event)" [ngStyle]="__elementSelectionService.getStyles('697836624')">
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1026067281',$event)" [ngStyle]="__elementSelectionService.getStyles('1026067281')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.doctor.medicalService" for="field_medicalService" (contextmenu)="__elementSelectionService.select('910527422',$event)" [ngStyle]="__elementSelectionService.getStyles('910527422')">Medical Service</label>
                    <select class="form-control" id="field_medicalService" name="medicalService" formControlName="medicalService" (contextmenu)="__elementSelectionService.select('1213608501',$event)" [ngStyle]="__elementSelectionService.getStyles('1213608501')">
                        <option *ngIf="!editForm.get('medicalService').value" [ngValue]="null" selected (contextmenu)="__elementSelectionService.select('545535435',$event)" [ngStyle]="__elementSelectionService.getStyles('545535435')"></option>
                        <option [ngValue]="medicalServiceOption.id === editForm.get('medicalService').value?.id ? editForm.get('medicalService').value : medicalServiceOption" *ngFor="let medicalServiceOption of medicalservices; trackBy: trackMedicalServiceById" (contextmenu)="__elementSelectionService.select('1502564489',$event)" [ngStyle]="__elementSelectionService.getStyles('1502564489')">{{medicalServiceOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medicalService').invalid &#38;&#38; (editForm.get('medicalService').dirty || editForm.get('medicalService').touched)" (contextmenu)="__elementSelectionService.select('1124935805',$event)" [ngStyle]="__elementSelectionService.getStyles('1124935805')">
                    <small class="form-text text-danger" *ngIf="editForm.get('medicalService').errors.required" jhiTranslate="entity.validation.required" (contextmenu)="__elementSelectionService.select('984841651',$event)" [ngStyle]="__elementSelectionService.getStyles('984841651')">
                        This field is required.
                    </small>
                </div>
            </div>
            <div (contextmenu)="__elementSelectionService.select('991444291',$event)" [ngStyle]="__elementSelectionService.getStyles('991444291')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('414202289',$event)" [ngStyle]="__elementSelectionService.getStyles('414202289')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('852800538',$event)" [ngStyle]="__elementSelectionService.getStyles('852800538')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('321587478',$event)" [ngStyle]="__elementSelectionService.getStyles('321587478')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1772342293',$event)" [ngStyle]="__elementSelectionService.getStyles('1772342293')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('1883708705',$event)" [ngStyle]="__elementSelectionService.getStyles('1883708705')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('1738802007',$event)" [ngStyle]="__elementSelectionService.getStyles('1738802007')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
