<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="doctorPartPayment">
            <h2><span jhiTranslate="hospitalsystemApp.doctorPartPayment.detail.title">Doctor Part Payment</span> {{doctorPartPayment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalsystemApp.doctorPartPayment.total">Total</span></dt>
                <dd>
                    <span>{{doctorPartPayment.total}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.doctorPartPayment.reference">Reference</span></dt>
                <dd>
                    <span>{{doctorPartPayment.reference}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.doctorPartPayment.date">Date</span></dt>
                <dd>
                    <span>{{doctorPartPayment.date}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalsystemApp.doctorPartPayment.doctor">Doctor</span></dt>
                <dd>
                    <div *ngIf="doctorPartPayment.doctor">
                        <a [routerLink]="['/doctor', doctorPartPayment.doctor?.id, 'view']">{{doctorPartPayment.doctor?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/doctor-part-payment', doctorPartPayment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
