<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('733031364',$event)" [ngStyle]="__elementSelectionService.getStyles('733031364')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('950357837',$event)" [ngStyle]="__elementSelectionService.getStyles('950357837')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('451460246',$event)" [ngStyle]="__elementSelectionService.getStyles('451460246')">
            <h2 id="jhi-receipt-act-heading" jhiTranslate="hospitalsystemApp.receiptAct.home.createOrEditLabel" (contextmenu)="__elementSelectionService.select('1604551076',$event)" [ngStyle]="__elementSelectionService.getStyles('1604551076')">Create or edit a Receipt Act</h2>
            <div (contextmenu)="__elementSelectionService.select('668118717',$event)" [ngStyle]="__elementSelectionService.getStyles('668118717')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('899633709',$event)" [ngStyle]="__elementSelectionService.getStyles('899633709')"></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" (contextmenu)="__elementSelectionService.select('1791771652',$event)" [ngStyle]="__elementSelectionService.getStyles('1791771652')">
                    <label for="id" jhiTranslate="global.field.id" (contextmenu)="__elementSelectionService.select('698439256',$event)" [ngStyle]="__elementSelectionService.getStyles('698439256')">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('464827031',$event)" [ngStyle]="__elementSelectionService.getStyles('464827031')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1425380854',$event)" [ngStyle]="__elementSelectionService.getStyles('1425380854')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.receiptAct.total" for="field_total" (contextmenu)="__elementSelectionService.select('1553008392',$event)" [ngStyle]="__elementSelectionService.getStyles('1553008392')">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total" formControlName="total" readonly (contextmenu)="__elementSelectionService.select('2141292884',$event)" [ngStyle]="__elementSelectionService.getStyles('2141292884')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1103080509',$event)" [ngStyle]="__elementSelectionService.getStyles('1103080509')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.receiptAct.paid" for="field_paid" (contextmenu)="__elementSelectionService.select('966646745',$event)" [ngStyle]="__elementSelectionService.getStyles('966646745')">Paid</label>
                    <input type="checkbox" class="form-control" name="paid" id="field_paid" formControlName="paid" (contextmenu)="__elementSelectionService.select('1843409573',$event)" [ngStyle]="__elementSelectionService.getStyles('1843409573')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('511241572',$event)" [ngStyle]="__elementSelectionService.getStyles('511241572')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.receiptAct.paidDoctor" for="field_paidDoctor" (contextmenu)="__elementSelectionService.select('572155090',$event)" [ngStyle]="__elementSelectionService.getStyles('572155090')">Paid Doctor</label>
                    <input type="checkbox" class="form-control" name="paidDoctor" id="field_paidDoctor" formControlName="paidDoctor" (contextmenu)="__elementSelectionService.select('1972252763',$event)" [ngStyle]="__elementSelectionService.getStyles('1972252763')">
                </div>
                <div class="form-group" (contextmenu)="__elementSelectionService.select('420954453',$event)" [ngStyle]="__elementSelectionService.getStyles('420954453')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.receiptAct.date" for="field_date" (contextmenu)="__elementSelectionService.select('1079876830',$event)" [ngStyle]="__elementSelectionService.getStyles('1079876830')">Date</label>
                    <div class="input-group" (contextmenu)="__elementSelectionService.select('831544563',$event)" [ngStyle]="__elementSelectionService.getStyles('831544563')">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date" readonly (contextmenu)="__elementSelectionService.select('890809970',$event)" [ngStyle]="__elementSelectionService.getStyles('890809970')">
                        
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('380001389',$event)" [ngStyle]="__elementSelectionService.getStyles('380001389')">
                    <label class="form-control-label" jhiTranslate="hospitalsystemApp.receiptAct.act" for="field_act" (contextmenu)="__elementSelectionService.select('984717579',$event)" [ngStyle]="__elementSelectionService.getStyles('984717579')">Act</label>
                    <select class="form-control" id="field_act" name="act" formControlName="act" readonly (contextmenu)="__elementSelectionService.select('167062890',$event)" [ngStyle]="__elementSelectionService.getStyles('167062890')">
                        <option [ngValue]="null" (contextmenu)="__elementSelectionService.select('2037283096',$event)" [ngStyle]="__elementSelectionService.getStyles('2037283096')"></option>
                        <option [ngValue]="actOption.id === editForm.get('act').value?.id ? editForm.get('act').value : actOption" *ngFor="let actOption of acts; trackBy: trackActById" (contextmenu)="__elementSelectionService.select('1569658732',$event)" [ngStyle]="__elementSelectionService.getStyles('1569658732')">{{actOption.id}}</option>
                    </select>
                </div>
            </div>
            <div (contextmenu)="__elementSelectionService.select('1799398423',$event)" [ngStyle]="__elementSelectionService.getStyles('1799398423')">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('1266571880',$event)" [ngStyle]="__elementSelectionService.getStyles('1266571880')">
                    <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1095912614',$event)" [ngStyle]="__elementSelectionService.getStyles('1095912614')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1682118551',$event)" [ngStyle]="__elementSelectionService.getStyles('1682118551')">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('181237524',$event)" [ngStyle]="__elementSelectionService.getStyles('181237524')">
                    <fa-icon [icon]="'save'" (contextmenu)="__elementSelectionService.select('869908799',$event)" [ngStyle]="__elementSelectionService.getStyles('869908799')"></fa-icon>&#160;<span jhiTranslate="entity.action.save" (contextmenu)="__elementSelectionService.select('1623039134',$event)" [ngStyle]="__elementSelectionService.getStyles('1623039134')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
