<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1973512559',$event)" [ngStyle]="__elementSelectionService.getStyles('1973512559')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('346126617',$event)" [ngStyle]="__elementSelectionService.getStyles('346126617')">
        <div *ngIf="receiptAct" (contextmenu)="__elementSelectionService.select('1781891315',$event)" [ngStyle]="__elementSelectionService.getStyles('1781891315')">
            <h2 (contextmenu)="__elementSelectionService.select('1573644950',$event)" [ngStyle]="__elementSelectionService.getStyles('1573644950')"><span jhiTranslate="hospitalsystemApp.receiptAct.detail.title" (contextmenu)="__elementSelectionService.select('638366631',$event)" [ngStyle]="__elementSelectionService.getStyles('638366631')">Receipt Act</span> {{receiptAct.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('964325326',$event)" [ngStyle]="__elementSelectionService.getStyles('964325326')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('2140029450',$event)" [ngStyle]="__elementSelectionService.getStyles('2140029450')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('2098436151',$event)" [ngStyle]="__elementSelectionService.getStyles('2098436151')">
                <dt (contextmenu)="__elementSelectionService.select('1052876217',$event)" [ngStyle]="__elementSelectionService.getStyles('1052876217')"><span jhiTranslate="hospitalsystemApp.receiptAct.total" (contextmenu)="__elementSelectionService.select('1412403632',$event)" [ngStyle]="__elementSelectionService.getStyles('1412403632')">Total</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1497110317',$event)" [ngStyle]="__elementSelectionService.getStyles('1497110317')">
                    <span (contextmenu)="__elementSelectionService.select('948960797',$event)" [ngStyle]="__elementSelectionService.getStyles('948960797')">{{receiptAct.total}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('168923360',$event)" [ngStyle]="__elementSelectionService.getStyles('168923360')"><span jhiTranslate="hospitalsystemApp.receiptAct.paid" (contextmenu)="__elementSelectionService.select('580592131',$event)" [ngStyle]="__elementSelectionService.getStyles('580592131')">Paid</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('455597058',$event)" [ngStyle]="__elementSelectionService.getStyles('455597058')">
                    <span (contextmenu)="__elementSelectionService.select('1553970797',$event)" [ngStyle]="__elementSelectionService.getStyles('1553970797')">{{receiptAct.paid}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1519365006',$event)" [ngStyle]="__elementSelectionService.getStyles('1519365006')"><span jhiTranslate="hospitalsystemApp.receiptAct.paidDoctor" (contextmenu)="__elementSelectionService.select('570364390',$event)" [ngStyle]="__elementSelectionService.getStyles('570364390')">Paid Doctor</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('69013015',$event)" [ngStyle]="__elementSelectionService.getStyles('69013015')">
                    <span (contextmenu)="__elementSelectionService.select('621866023',$event)" [ngStyle]="__elementSelectionService.getStyles('621866023')">{{receiptAct.paidDoctor}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('48558288',$event)" [ngStyle]="__elementSelectionService.getStyles('48558288')"><span jhiTranslate="hospitalsystemApp.receiptAct.date" (contextmenu)="__elementSelectionService.select('1540206923',$event)" [ngStyle]="__elementSelectionService.getStyles('1540206923')">Date</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('936145299',$event)" [ngStyle]="__elementSelectionService.getStyles('936145299')">
                    <span (contextmenu)="__elementSelectionService.select('362791577',$event)" [ngStyle]="__elementSelectionService.getStyles('362791577')">{{receiptAct.date}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('811123338',$event)" [ngStyle]="__elementSelectionService.getStyles('811123338')"><span jhiTranslate="hospitalsystemApp.receiptAct.act" (contextmenu)="__elementSelectionService.select('111766051',$event)" [ngStyle]="__elementSelectionService.getStyles('111766051')">Act</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1379783564',$event)" [ngStyle]="__elementSelectionService.getStyles('1379783564')">
                    <div *ngIf="receiptAct.act" (contextmenu)="__elementSelectionService.select('970807384',$event)" [ngStyle]="__elementSelectionService.getStyles('970807384')">
                        <a [routerLink]="['/act', receiptAct.act?.id, 'view']" (contextmenu)="__elementSelectionService.select('1332183419',$event)" [ngStyle]="__elementSelectionService.getStyles('1332183419')">{{receiptAct.act?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('38933190',$event)" [ngStyle]="__elementSelectionService.getStyles('38933190')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('1045364915',$event)" [ngStyle]="__elementSelectionService.getStyles('1045364915')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('1837338810',$event)" [ngStyle]="__elementSelectionService.getStyles('1837338810')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/receipt-act', receiptAct.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('505194536',$event)" [ngStyle]="__elementSelectionService.getStyles('505194536')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('206200079',$event)" [ngStyle]="__elementSelectionService.getStyles('206200079')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1254526637',$event)" [ngStyle]="__elementSelectionService.getStyles('1254526637')"> Edit</span>
            </button>
        </div>
    </div>
</div>
