<form name="deleteForm" (ngSubmit)="confirmDelete(receiptAct.id)" (contextmenu)="__elementSelectionService.select('1336129386',$event)" [ngStyle]="__elementSelectionService.getStyles('1336129386')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('1733936758',$event)" [ngStyle]="__elementSelectionService.getStyles('1733936758')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('890447120',$event)" [ngStyle]="__elementSelectionService.getStyles('890447120')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('2016673057',$event)" [ngStyle]="__elementSelectionService.getStyles('2016673057')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('1267567099',$event)" [ngStyle]="__elementSelectionService.getStyles('1267567099')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('1657703562',$event)" [ngStyle]="__elementSelectionService.getStyles('1657703562')"></jhi-alert-error>
        <p id="jhi-delete-receiptAct-heading" jhiTranslate="hospitalsystemApp.receiptAct.delete.question" [translateValues]="{id: receiptAct.id}" (contextmenu)="__elementSelectionService.select('1322847846',$event)" [ngStyle]="__elementSelectionService.getStyles('1322847846')">Are you sure you want to delete this Receipt Act?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('694433897',$event)" [ngStyle]="__elementSelectionService.getStyles('694433897')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('234995439',$event)" [ngStyle]="__elementSelectionService.getStyles('234995439')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('406702457',$event)" [ngStyle]="__elementSelectionService.getStyles('406702457')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('512839206',$event)" [ngStyle]="__elementSelectionService.getStyles('512839206')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-receiptAct" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('381586157',$event)" [ngStyle]="__elementSelectionService.getStyles('381586157')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('357283859',$event)" [ngStyle]="__elementSelectionService.getStyles('357283859')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1665912258',$event)" [ngStyle]="__elementSelectionService.getStyles('1665912258')">Delete</span>
        </button>
    </div>
</form>
