<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('2129886266',$event)" [ngStyle]="__elementSelectionService.getStyles('2129886266')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('2110169198',$event)" [ngStyle]="__elementSelectionService.getStyles('2110169198')">
        <div *ngIf="receiptAct" (contextmenu)="__elementSelectionService.select('414253376',$event)" [ngStyle]="__elementSelectionService.getStyles('414253376')">
            <h2 (contextmenu)="__elementSelectionService.select('710973310',$event)" [ngStyle]="__elementSelectionService.getStyles('710973310')"><span jhiTranslate="hospitalsystemApp.receiptAct.detail.title" (contextmenu)="__elementSelectionService.select('2002200052',$event)" [ngStyle]="__elementSelectionService.getStyles('2002200052')">Receipt Act</span> {{receiptAct.id}}</h2>
            <hr (contextmenu)="__elementSelectionService.select('1062874784',$event)" [ngStyle]="__elementSelectionService.getStyles('1062874784')">
            <jhi-alert-error (contextmenu)="__elementSelectionService.select('804360970',$event)" [ngStyle]="__elementSelectionService.getStyles('804360970')"></jhi-alert-error>
            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('25438957',$event)" [ngStyle]="__elementSelectionService.getStyles('25438957')">
                <dt (contextmenu)="__elementSelectionService.select('1337116588',$event)" [ngStyle]="__elementSelectionService.getStyles('1337116588')"><span jhiTranslate="hospitalsystemApp.receiptAct.total" (contextmenu)="__elementSelectionService.select('561242068',$event)" [ngStyle]="__elementSelectionService.getStyles('561242068')">Total</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('45707571',$event)" [ngStyle]="__elementSelectionService.getStyles('45707571')">
                    <span (contextmenu)="__elementSelectionService.select('583725259',$event)" [ngStyle]="__elementSelectionService.getStyles('583725259')">{{receiptAct.total}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('2065489049',$event)" [ngStyle]="__elementSelectionService.getStyles('2065489049')"><span jhiTranslate="hospitalsystemApp.receiptAct.paid" (contextmenu)="__elementSelectionService.select('1143873873',$event)" [ngStyle]="__elementSelectionService.getStyles('1143873873')">Paid</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('223862798',$event)" [ngStyle]="__elementSelectionService.getStyles('223862798')">
                    <span (contextmenu)="__elementSelectionService.select('2020480455',$event)" [ngStyle]="__elementSelectionService.getStyles('2020480455')">{{receiptAct.paid}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1695278663',$event)" [ngStyle]="__elementSelectionService.getStyles('1695278663')"><span jhiTranslate="hospitalsystemApp.receiptAct.paidDoctor" (contextmenu)="__elementSelectionService.select('1352296222',$event)" [ngStyle]="__elementSelectionService.getStyles('1352296222')">Paid Doctor</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1660926611',$event)" [ngStyle]="__elementSelectionService.getStyles('1660926611')">
                    <span (contextmenu)="__elementSelectionService.select('1790397222',$event)" [ngStyle]="__elementSelectionService.getStyles('1790397222')">{{receiptAct.paidDoctor}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1354015209',$event)" [ngStyle]="__elementSelectionService.getStyles('1354015209')"><span jhiTranslate="hospitalsystemApp.receiptAct.date" (contextmenu)="__elementSelectionService.select('1393925750',$event)" [ngStyle]="__elementSelectionService.getStyles('1393925750')">Date</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1277271461',$event)" [ngStyle]="__elementSelectionService.getStyles('1277271461')">
                    <span (contextmenu)="__elementSelectionService.select('471794044',$event)" [ngStyle]="__elementSelectionService.getStyles('471794044')">{{receiptAct.date}}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1766932735',$event)" [ngStyle]="__elementSelectionService.getStyles('1766932735')"><span jhiTranslate="hospitalsystemApp.receiptAct.act" (contextmenu)="__elementSelectionService.select('373851533',$event)" [ngStyle]="__elementSelectionService.getStyles('373851533')">Act</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1455746644',$event)" [ngStyle]="__elementSelectionService.getStyles('1455746644')">
                    <div *ngIf="receiptAct.act" (contextmenu)="__elementSelectionService.select('850657553',$event)" [ngStyle]="__elementSelectionService.getStyles('850657553')">
                        <a [routerLink]="['/act', receiptAct.act?.id, 'view']" (contextmenu)="__elementSelectionService.select('1359083776',$event)" [ngStyle]="__elementSelectionService.getStyles('1359083776')">{{receiptAct.act?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('62356032',$event)" [ngStyle]="__elementSelectionService.getStyles('62356032')">
                <fa-icon [icon]="'arrow-left'" (contextmenu)="__elementSelectionService.select('1928368684',$event)" [ngStyle]="__elementSelectionService.getStyles('1928368684')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('1616816618',$event)" [ngStyle]="__elementSelectionService.getStyles('1616816618')"> Back</span>
            </button>

            <button type="button" [routerLink]="['/receipt-act', receiptAct.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1053398296',$event)" [ngStyle]="__elementSelectionService.getStyles('1053398296')">
                <fa-icon [icon]="'pencil-alt'" (contextmenu)="__elementSelectionService.select('110398971',$event)" [ngStyle]="__elementSelectionService.getStyles('110398971')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1879252727',$event)" [ngStyle]="__elementSelectionService.getStyles('1879252727')"> Edit</span>
            </button>
        </div>
    </div>
</div>
