<form name="deleteForm" (ngSubmit)="confirmDelete(receiptAct.id)" (contextmenu)="__elementSelectionService.select('1035892873',$event)" [ngStyle]="__elementSelectionService.getStyles('1035892873')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('198129077',$event)" [ngStyle]="__elementSelectionService.getStyles('198129077')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('1165717109',$event)" [ngStyle]="__elementSelectionService.getStyles('1165717109')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('491551459',$event)" [ngStyle]="__elementSelectionService.getStyles('491551459')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('202715695',$event)" [ngStyle]="__elementSelectionService.getStyles('202715695')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('2122701957',$event)" [ngStyle]="__elementSelectionService.getStyles('2122701957')"></jhi-alert-error>
        <p id="jhi-delete-receiptAct-heading" jhiTranslate="hospitalsystemApp.receiptAct.delete.question" [translateValues]="{id: receiptAct.id}" (contextmenu)="__elementSelectionService.select('1611865574',$event)" [ngStyle]="__elementSelectionService.getStyles('1611865574')">Are you sure you want to delete this Receipt Act?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('519501925',$event)" [ngStyle]="__elementSelectionService.getStyles('519501925')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('995567070',$event)" [ngStyle]="__elementSelectionService.getStyles('995567070')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('1801889733',$event)" [ngStyle]="__elementSelectionService.getStyles('1801889733')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('333605730',$event)" [ngStyle]="__elementSelectionService.getStyles('333605730')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-receiptAct" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('989764779',$event)" [ngStyle]="__elementSelectionService.getStyles('989764779')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('948250623',$event)" [ngStyle]="__elementSelectionService.getStyles('948250623')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1711531941',$event)" [ngStyle]="__elementSelectionService.getStyles('1711531941')">Delete</span>
        </button>
    </div>
</form>
