<form name="deleteForm" (ngSubmit)="confirmDelete(receiptAct.id)" (contextmenu)="__elementSelectionService.select('1224086282',$event)" [ngStyle]="__elementSelectionService.getStyles('1224086282')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('1943349319',$event)" [ngStyle]="__elementSelectionService.getStyles('1943349319')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('197331828',$event)" [ngStyle]="__elementSelectionService.getStyles('197331828')">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" (contextmenu)="__elementSelectionService.select('568271543',$event)" [ngStyle]="__elementSelectionService.getStyles('568271543')">&#215;</button>
    </div>
    <div class="modal-body" (contextmenu)="__elementSelectionService.select('1508481753',$event)" [ngStyle]="__elementSelectionService.getStyles('1508481753')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('61085363',$event)" [ngStyle]="__elementSelectionService.getStyles('61085363')"></jhi-alert-error>
        <p id="jhi-delete-receiptAct-heading" jhiTranslate="hospitalsystemApp.receiptAct.delete.question" [translateValues]="{id: receiptAct.id}" (contextmenu)="__elementSelectionService.select('271529240',$event)" [ngStyle]="__elementSelectionService.getStyles('271529240')">Are you sure you want to delete this Receipt Act?</p>
    </div>
    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('1211987760',$event)" [ngStyle]="__elementSelectionService.getStyles('1211987760')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" (contextmenu)="__elementSelectionService.select('1561793468',$event)" [ngStyle]="__elementSelectionService.getStyles('1561793468')">
            <fa-icon [icon]="'ban'" (contextmenu)="__elementSelectionService.select('2124777251',$event)" [ngStyle]="__elementSelectionService.getStyles('2124777251')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('399239706',$event)" [ngStyle]="__elementSelectionService.getStyles('399239706')">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-receiptAct" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('887921444',$event)" [ngStyle]="__elementSelectionService.getStyles('887921444')">
            <fa-icon [icon]="'times'" (contextmenu)="__elementSelectionService.select('1367602422',$event)" [ngStyle]="__elementSelectionService.getStyles('1367602422')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('63831418',$event)" [ngStyle]="__elementSelectionService.getStyles('63831418')">Delete</span>
        </button>
    </div>
</form>
